<p class="raidmenu">
<a href="/" data-flexmenu="system">System</a> 
<a href="/" data-flexmenu="network">Network</a> 
<a href="/freenas/disk/management/disks/" data-flexmenu="disk">Disk</a>
<a href="/freenas/access/" data-flexmenu="access">Access</a>
<a href="/" data-flexmenu="services">Services</a> 
<a href="/password_change/">Account</a> 
{% if user.is_authenticated %}
<a href="/freenas/logout/">Log Out</a>
{% else %}
<a href="/freenas/login/">Log In</a></p>
{% endif %}
</p>

<ul id="system" class="flexdropdownmenu">
<li><a href="/freenas/system/general/setup/">General Setup</a></li>
<li><a href="/freenas/system/advanced/">Advanced</a>
<ul>
    <li><a href="/freenas/system/advanced/email/">E-Mail</a></li>
    <li><a href="/freenas/system/advanced/proxy/">Proxy</a></li>
<!--
    <li><a href="/freenas/system/advanced/swap/">Swap</a></li>
-->
    <li><a href="/freenas/system/advanced/commandscripts/">Command Scripts</a>
     <ul>
        <li><a href="/freenas/system/advanced/commandscripts/add/">Add</a></li>
    </ul>
    </li>
    <li><a href="/freenas/system/advanced/cronjobs/">Cron job</a>
     <ul>
        <li><a href="/freenas/system/advanced/cronjobs/add/">Add</a></li>
    </ul>
    </li>
    <li><a href="/freenas/system/advanced/rcconf/">rc.conf</a>
     <ul>
         <li><a href="/freenas/system/advanced/rcconf/edit/">edit</a></li>
    </ul>
    </li>
    <li><a href="/freenas/system/advanced/sysctlconf/">sysctl.conf</a>
     <ul>
         <li><a href="/freenas/system/advanced/sysctlconf/edit/">edit</a></li>
    </ul>
    </li>
</ul>
</li>
<li><a href="/">System Information</a></li>
<li><a href="#" onClick="RebootAlert()">Reboot FreeNAS</a></li>
<li><a href="#" onClick="ShutdownAlert()">Shutdown FreeNAS</a></li>
</ul>

<ul id="network" class="flexdropdownmenu">
<li><a href="/freenas/network/interfaces/">Network Interfaces</a></li>
<li><a href="/freenas/network/vlan/">VLAN</a>
<ul>
    <li><a href="/freenas/network/vlan/add/">Add</a></li>
</ul>
</li>
<li><a href="/freenas/network/lagg/">LAGG</a>
<ul>
    <li><a href="/freenas/network/lagg/add/">Add</a></li>
</ul>
</li>
<li><a href="/freenas/network/staticroutes/">Static Routes</a>
</li>
</ul>

<ul id="disk" class="flexdropdownmenu">
<li><a href="/freenas/disk/management/disks/add/">Add Disk</a></li>
<li><a href="/freenas/disk/management/groups/add/">Group Disks</a></li>
<li><a href="/freenas/disk/management/volumes/create/">Create Volume</a></li>
<li><a href="/freenas/disk/management/volumes/">Volumes</a></li>
<li><a href="/freenas/disk/management/groups/">Groups</a></li>
</ul>

<ul id="access" class="flexdropdownmenu">
<li><a href="/freenas/access/ldap/">LDAP</a></li>
<li><a href="/freenas/access/active_directory/">Active Directory</a></li>
</ul>

<ul id="services" class="flexdropdownmenu">
<li><a href="/freenas/services/cifs/">CIFS/SMB</a>
<ul>
<li><a href="/freenas/services/cifs/shares/">View Shares</a></li>
<li><a href="/freenas/services/cifs/shares/add/">Add Share</a></li>
</ul>
</li>
<li><a href="/freenas/services/ftp/">FTP</a></li>
<li><a href="/freenas/services/tftp/">TFTP</a></li>
<li><a href="/freenas/services/ssh/">SSH</a></li>
<li><a href="/freenas/services/nfs/">NFS</a>
<ul>
<li><a href="/freenas/services/nfs/shares/">View Shares</a></li>
<li><a href="/freenas/services/nfs/shares/add/">Add Share</a></li>
</ul>
</li>
<li><a href="/freenas/services/afp/">AFP</a>
<ul>
<li><a href="/freenas/services/afp/shares/">View Shares</a></li>
<li><a href="/freenas/services/afp/shares/add/">Add Share</a></li>
</ul>
</li>
<li><a href="/freenas/services/rsync/">RSYNC</a>
<ul>
<li><a href="/freenas/services/rsync/clientjobs/">Client jobs</a></li>
<li><a href="/freenas/services/rsync/localjobs/">Local jobs</a></li>
</ul>
</li>
<li><a href="/freenas/services/unison/">Unison</a>
<li><a href="/freenas/services/iscsi/">iSCSI Target</a>
<li><a href="/freenas/services/dyndns/">Dynamic DNS</a>
<li><a href="/freenas/services/snmp/">SNMP</a>
<li><a href="/freenas/services/ups/">UPS</a>
<li><a href="/freenas/services/webserver/">Webserver</a>
<li><a href="/freenas/services/bittorrent/">Bit Torrent</a>
</ul>

