@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.systeminfo {
  line-height: 200%;
}

.systeminfo .col-md-2 {
  font-weight: bold;
}
