<div data-dojo-type="freeadmin.RRDControl" href="{% url reporting_generate %}" plugin="cpu-0"></div>

<div data-dojo-type="freeadmin.RRDControl" href="{% url reporting_generate %}" plugin="memory"></div>

<div data-dojo-type="freeadmin.RRDControl" href="{% url reporting_generate %}" plugin="load"></div>

<div data-dojo-type="freeadmin.RRDControl" href="{% url reporting_generate %}" plugin="processes"></div>

<div data-dojo-type="freeadmin.RRDControl" href="{% url reporting_generate %}" plugin="swap"></div>
