<div data-dojo-type="dijit.layout.TabContainer" data-dojo-props="nested:true, title: '{% trans "Reporting"|escapejs %}', doLayout: true" style="width: 100%;">

  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "CPU" %}', href: '{% url "reporting_cpu" %}', refreshOnShow: true"></div>

  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Disk" %}', href: '{% url "reporting_disk" %}', refreshOnShow: true"></div>

  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Memory" %}', href: '{% url "reporting_memory" %}', refreshOnShow: true"></div>

  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Network" %}', href: '{% url "reporting_network" %}', refreshOnShow: true"></div>

  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "NFS" %}', href: '{% url "reporting_nfs_stats" %}', refreshOnShow: true"></div>

  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Partition" %}', href: '{% url "reporting_partition" %}', refreshOnShow: true"></div>

  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "System" %}', href: '{% url "reporting_system" %}', refreshOnShow: true"></div>

  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Target" %}', href: '{% url "reporting_target" %}', refreshOnShow: true"></div>

  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "UPS" %}', href: '{% url "reporting_ups_stats" %}', refreshOnShow: true"></div>

  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "ZFS" %}', href: '{% url "reporting_zfs" %}', refreshOnShow: true"></div>

</div>
