# Use this as a template JSON file.  This
# is used to configure the test scripts. 
# Add/change the values based on your test environment.

{
    "vm_name": "vm2", 
    "username": "root", 
    "url": "http://XXXXXXXX", 
    "ip": "XXXXXXXX", 
    "disk_img": "/tmp/some_disk.img", 
    "disks": [
        "/tmp/disk12.img", 
        "/tmp/disk13.img"
    ], 
    "iso": "/tmp/FreeNAS.iso", 
    "upgrade_file": "/mnt/Dev/releng/TrueNAS-9.2.1-ALPHA-20140115/TrueNAS-9.2.1-ALPHA-1f87859-x64.GUI_Upgrade.txz",
    "password": "XXXXXXXX",
    "tap": "tap0", 
    "bridge": "bridge0", 
    "interface": "em0"
}
