{
    "vm_name": "vm2", 
    "username": "root", 
    "url": "http://XXXXXXXX", 
    "ip": "XXXXXXXX", 
    "disk_img": "/tmp/some_disk.img", 
    "disks": [
        "/tmp/disk12.img", 
        "/tmp/disk13.img"
    ], 
    "iso": "/tmp/FreeNAS.iso", 
    "upgrade_file": "/mnt/Dev/releng/FreeNAS-9.2.1-ALPHA-20140115/FreeNAS-9.2.1-ALPHA-1f87859-x64.GUI_Upgrade.txz",
    "password": "XXXXXXXX",
    "tap": "tap0", 
    "bridge": "bridge0", 
    "interface": "em0",
    "mac": "58:9c:fc:00:00:00"
}
