[Desktop Entry]
Type=Application
Version=0.9.4
Encoding=UTF-8
Icon=mplayer
Exec=gmplayer
Categories=Application;Audio;AudioVideo;
StartupNotify=false
Name=MPlayer
Name[ca]=MPlayer
Name[da]=MPlayer
Name[en_GB]=MPlayer
Name[en_ZA]=MPlayer
Name[es]=MPlayer
Name[fr_CA]=MPlayer
Name[hr]=MPlayer
Name[id]=MPlayer
Name[nl]=MPlayer
Name[pl]=MPlayer
Name[pt_BR]=MPlayer
Name[ru]=MPlayer
Name[uk]=MPlayer
Comment=High performance media player
Comment[ca]=Reproductor de medis d'alt rendiment
Comment[da]=Medieafspiller med høj ydelse
Comment[en_GB]=High performance media player
Comment[en_ZA]=High performance media player
Comment[es]=Reproductor de medios de alto rendimiento
Comment[fr_CA]=Lecteur multimédia à haute performance
Comment[hr]=Visoko djelotvoran izvođač medija
Comment[id]=Pemutar mutimedia berkinerja tinggi
Comment[nl]=Hoge prestaties media player 
Comment[pl]=Wysoce wydajny odtwarzacz mediów
Comment[pt_BR]=Reprodutor de mídia de alta performance
Comment[ru]=Высоко производительный медиа проигрыватель
Comment[uk]=Швидкісний медіа-програвач
