[Desktop Entry]
Version=0.6
Type=Application
Exec=hp-toolbox
Icon=/usr/local/share/hplip/data/images/128x128/hp_logo.png
Terminal=false
Categories=Application;Utility;
X-KDE-StartupNotify=false
StartupNotify=false
Name=HP Device Manager
Name[fr_CA]=Gestionnaire de périphérique HP
GenericName=HP Device Manager
GenericName[fr_CA]=Gestionnaire de périphérique HP
Comment=View device status, ink levels and perform maintenance.
Comment[ar]=عرض حالة الجهاز، مستويات الحبر و إجراء الصيانة.
Comment[bg]=Преглед на статуса на устройството, нивата на мастилата и поддръжка.
Comment[ca]=Reviseu l'estat del dispositiu, nivells de tinta i faci el manteniment
Comment[da]=Se enhedsstatus, blækniveau og udfør vedligeholdelse
Comment[el]=Προβολή κατάστασης της συσκευής, επίπεδα μελανιού και εκτέλεση συντήρησης.
Comment[en_GB]=View device status, ink levels and perform maintenance.
Comment[en_ZA]=View device status, ink levels and perform maintenance.
Comment[es]=Revise el estado del dispositivo, los niveles de tinta y realice el mantenimiento.
Comment[fa]=وضعیت دستگاه و میزان جوهر را مشاهده کنید و تعمیر و نگهداری انجام دهید.
Comment[fr]=Etat du périphérique, niveaux d'encre et opérations de maintenance
Comment[fr_CA]=Etat du périphérique, niveaux d'encre et opérations de maintenance
Comment[hr]=Pogledaj stanje uređaja, nivo tinte i obavi održavanje.
Comment[hu]=Eszközállapot és tintaszint felmérése, karbantartás
Comment[id]=Melihat kondisi perangkat, level tinta dan melakukan pemeliharaan.
Comment[it]=Controlla lo stato della periferica, i livelli di inchiostro e la manutenzione
Comment[ja]=インク残量の確認やメンテナンスを行います。
Comment[nl]=Bekijk apparaatstatus, inktniveau's en voer onderhoud uit.
Comment[pl]=Podgląd statusu urządzenia, poziomu tuszu i kontroli stanu urządzenia.
Comment[pt_BR]=Exibir o status do dispositivo, níveis de tinta e realizar a manutenção.
Comment[ru]=Просмотр состояния устройства, уровня чернил и выполнить техническое обслуживание.
Comment[sk]=Zobraziť stav zariadenia, množstvo atramentu a vykonať údržbu.
Comment[sl]=Oglejte si stanje naprave, polnost kartuš in izvedite vzdrževalna dela
Comment[tr]=Cihazın durumunu, mürekkep seviyesini kontrol et ve bakımını yap.
Comment[uk]=Переглянути стан пристрою, рівень чорнил, та виконати сервісне обслуговування.
Comment[zh_TW]=檢視裝置狀態與墨水剩餘量並進行維護
