[Desktop Entry]
Encoding=UTF-8
Exec=ibus-daemon --xim
Icon=ibus
Terminal=false
Type=Application
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
X-KDE-autostart-after=panel
Categories=System;
Name=IBus
Name[af]=IBus
Name[ar]=IBus
Name[as]=IBus
Name[bg]=IBus
Name[bn_IN]=IBus
Name[ca]=IBus
Name[da]=IBus
Name[de]=IBus
Name[el]=IBus
Name[en_GB]=IBus
Name[en_ZA]=IBus
Name[es]=IBus
Name[fa]=IBus
Name[fr]=IBus
Name[fr_CA]=IBus
Name[gu]=IBus
Name[hi]=IBus
Name[hr]=IBus
Name[hu]=iBus
Name[id]=IBus
Name[it]=IBus
Name[ja]=IBus
Name[kn]=IBus
Name[ko]=IBus
Name[ml]=IBus
Name[mr]=IBus
Name[nl]=IBus
Name[or]=IBus
Name[pa]=IBus
Name[pl]=IBus
Name[pt_BR]=IBus
Name[ro]=IBus
Name[ru]=IBus
Name[sk]=IBUs
Name[sl]=IBus
Name[sr@latin]=IBus
Name[sr]=IBus
Name[ta]=IBus
Name[te]=IBus
Name[tr]=IBus
Name[uk]=IBus
Name[vi]=IBus
Name[zh_CN]=IBus
Name[zh_HK]=IBus
Name[zh_TW]=IBus
GenericName=IBus input method framework
GenericName[ar]=إطار إطرق الإدخال IBUS
GenericName[as]=IBus input method framework
GenericName[bn_IN]=IBus ইনপুট পদ্ধতির পরিকাঠামো
GenericName[ca]=Entorn de mètodes d'entrada IBus
GenericName[da]=IBus-ramme for inddatametode
GenericName[de]=IBus-Eingabemethode-Framework
GenericName[es]=Marco de trabajo para métodos de entrada IBus
GenericName[fr]=Framework de méthode d'entrée IBus
GenericName[fr_CA]=Gestionnaire de méthode d'entrée IBus
GenericName[gu]=IBus ઇનપુટ પદ્દતિ ફ્રેમવર્ક
GenericName[hi]=IBus इनपुट विधि फ्रेमवर्क
GenericName[hu]=IBus bevitel eljárás keretrendszer
GenericName[ja]=IBus インプットメソッドフレームワーク
GenericName[kn]=IBus ಇನ್‌ಪುಟ್ ವಿಧಾನದ ಫ್ರೇಮ್‌ವರ್ಕ್
GenericName[ko]=IBus 입력 방식 프레임워크  
GenericName[ml]=IBus ഇന്‍പുട്ട് മെഥേഡ് ആകൃതി
GenericName[mr]=IBus इन्पुट पद्धती मांडणी
GenericName[or]=IBus ନିବେଶ ପ୍ରଣାଳୀ ଫ୍ରେମୱର୍କ
GenericName[pa]=IBus ਇੰਪੁੱਟ ਢੰਗ ਫਰੇਮਵਰਕ
GenericName[pl]=Struktura metody wprowadzania iBus
GenericName[ru]=Система методов ввода IBus
GenericName[sr@latin]=IBus radni okvir metode unosa
GenericName[sr]=IBus радни оквир методе уноса
GenericName[ta]=IBus உள்ளீடு முறை ஃபிரேம்வொர்க்
GenericName[te]=IBus ఇన్పుట్ పద్దతి ఆకృతి
GenericName[vi]=Bộ gõ IBus
GenericName[zh_CN]=IBus 输入法框架
GenericName[zh_HK]=IBus輸入法框架
GenericName[zh_TW]=IBus輸入法框架
Comment=IBus input method framework
Comment[ar]=إطار إطرق الإدخال IBUS
Comment[as]=IBus input method framework
Comment[bn_IN]=IBus ইনপুট পদ্ধতির পরিকাঠামো
Comment[ca]=Entorn de mètodes d'entrada IBus
Comment[da]=IBus-ramme for inddatametode
Comment[de]=IBus-Eingabemethode-Framework
Comment[es]=Marco de trabajo para métodos de entrada IBus
Comment[fr]=Framework de méthode d'entrée IBus
Comment[fr_CA]=Gestionnaire de méthode d'entrée IBus
Comment[gu]=IBus ઇનપુટ પદ્દતિ ફ્રેમવર્ક
Comment[hi]=IBus इनपुट विधि फ्रेमवर्क
Comment[hu]=IBus bevitel eljárás keretrendszer
Comment[ja]=IBus インプットメソッドフレームワーク
Comment[kn]=IBus ಇನ್‌ಪುಟ್ ವಿಧಾನದ ಫ್ರೇಮ್‌ವರ್ಕ್
Comment[ko]=IBus 입력 방식 프레임워크  
Comment[ml]=IBus ഇന്‍പുട്ട് മെഥേഡ് ആകൃതി
Comment[mr]=IBus इन्पुट पद्धती मांडणी
Comment[or]=IBus ନିବେଶ ପ୍ରଣାଳୀ ଫ୍ରେମୱର୍କ
Comment[pa]=IBus ਇੰਪੁੱਟ ਢੰਗ ਫਰੇਮਵਰਕ
Comment[pl]=Struktura metody wprowadzania iBus
Comment[ru]=Система методов ввода IBus
Comment[sr@latin]=IBus radni okvir metode unosa
Comment[sr]=IBus радни оквир методе уноса
Comment[ta]=IBus உள்ளீடு முறை ஃபிரேம்வொர்க்
Comment[te]=IBus ఇన్పుట్ పద్దతి ఆకృతి
Comment[vi]=Bộ gõ IBus
Comment[zh_CN]=IBus 输入法框架
Comment[zh_HK]=IBus輸入法框架
Comment[zh_TW]=IBus輸入法框架
