[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/usr/local/share/pcbsd/scripts/mythtv.sh
TryExec=mythfrontend
Icon=/usr/local/share/pcbsd/icons/mythtv.png
StartupNotify=true
Type=Application
Categories=AudioVideo;Video;
Name=MythTV
Name[ca]=MythTV
Name[da]=MythTV
Name[en_GB]=MythTV
Name[en_ZA]=MythTV
Name[es]=MythTV
Name[fr_CA]=MythTV
Name[hr]=MythTV
Name[id]=MythTV
Name[nl]=MythTV
Name[pl]=MythTV
Name[pt_BR]=MythTV
Name[ru]=MythTV
Name[uk]=MythTV
GenericName=MythTV
GenericName[ca]=MythTV
GenericName[da]=MythTV
GenericName[en_GB]=MythTV
GenericName[en_ZA]=MythTV
GenericName[es]=MythTV
GenericName[fr_CA]=MythTV
GenericName[hr]=MythTV
GenericName[id]=MythTV
GenericName[nl]=MythTV
GenericName[pl]=MythTV
GenericName[pt_BR]=MythTV
GenericName[ru]=MythTV
GenericName[uk]=MythTV
