[Desktop Entry]
Encoding=UTF-8
Name=Printing
Name[ar]=الطباعة
Name[as]=মুদ্ৰণ কৰা কাৰ্য্য
Name[bg]=Печатане
Name[bn]=প্রিন্ট করা হচ্ছে
Name[bn_IN]=প্রিন্ট ব্যবস্থা
Name[bs]=Ispisivanje
Name[ca]=Impressió
Name[cs]=Tisk
Name[cy]=Yn argraffu
Name[da]=Udskrift
Name[de]=Drucken
Name[el]=Εκτύπωση
Name[en_GB]=Printing
Name[es]=Impresión
Name[et]=Trükkimine
Name[fa]=در حال چاپ
Name[fi]=Tulostus
Name[fr]=Impression
Name[gu]=છાપન
Name[he]=הדפסה
Name[hi]=छपाई कर रहा है
Name[hr]=Ispisivanje
Name[hu]=Nyomtató
Name[id]=Mencetak
Name[is]=Prenta
Name[it]=Stampa
Name[ja]=印刷
Name[kn]=ಮುದ್ರಣ
Name[ko]=인쇄
Name[lv]=Drukāšana
Name[mai]=छापि रहल अछि
Name[mk]=Печатам
Name[ml]=പ്രിന്റ് ചെയ്യുന്നു
Name[mr]=मुद्रण
Name[ms]=Mencetak
Name[nb]=Skrivere
Name[nl]=Afdrukken
Name[nn]=Skriv ut
Name[or]=ମୁଦ୍ରଣ କରୁଅଛି
Name[pa]=ਛਾਪਣਾ
Name[pl]=Drukowanie
Name[pt]=Impressão
Name[pt_BR]=Impressão
Name[ro]=Tipărire
Name[ru]=Печать
Name[si]=මුද්‍රණය කරමින්
Name[sk]=Tlač
Name[sl]=Tiskanje
Name[sr]=Штампање
Name[sr@latin]=Štampanje
Name[sv]=Utskrifter
Name[ta]=அச்சிடுதல்
Name[te]=ముద్రించు
Name[th]=เครื่องพิมพ์
Name[tr]=Yazdırma
Name[uk]=Друк
Name[vi]=In ấn
Name[zh_CN]=打印
Name[zh_TW]=列印
Comment=Configure printers
Comment[ar]=اضبط الطابعات
Comment[as]=মুদ্ৰকৰ বিন্যাস কৰক
Comment[bg]=Настройка на принтерите
Comment[bn_IN]=প্রিন্টার কনফিগার করুন
Comment[bs]=Konfiguriranje pisača
Comment[ca]=Configuració d'impressores
Comment[cs]=Nastavit tiskárny
Comment[da]=Indstil printere
Comment[de]=Drucker konfigurieren
Comment[el]=Ρύθμιση εκτυπωτών
Comment[en_GB]=Configure printers
Comment[es]=Configurar impresoras
Comment[et]=Printerite seadistamine
Comment[fi]=Muokkaa tulostimien asetuksia
Comment[fr]=Configurer les imprimantes
Comment[gu]=પ્રિન્ટરો રૂપરેખાંકિત કરો
Comment[he]=הגדרת מדפסות
Comment[hi]=मुद्रक विन्यस्त करें
Comment[hr]=Konfiguriranje pisača
Comment[hu]=Nyomtatók beállítása
Comment[is]=Stilla prentara
Comment[it]=Configura le stampanti
Comment[ja]=プリンターの設定
Comment[kn]=ಮುದ್ರಕವನ್ನು ಸ್ವರೂಪಿಸು
Comment[ko]=프린터 설정
Comment[lv]=Printeru iestatīšana
Comment[mai]=मुद्रक विन्यस्त करू
Comment[ml]=പ്രിന്ററുകള്‍ സജ്ജമാക്കുക
Comment[mr]=मुद्रक व्यूहरचित करा
Comment[ms]=Tetapkan pencetak
Comment[nb]=Konfigurer skrivere
Comment[nl]=Printers configureren
Comment[nn]=Set opp skrivarar
Comment[or]=ମୁଦ୍ରଣୀ ମାନଙ୍କୁ ବିନ୍ଯାସ କରନ୍ତୁ
Comment[pa]=ਪ੍ਰਿੰਟਰ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja drukarek
Comment[pt]=Configurar as impressoras
Comment[pt_BR]=Configure impressoras
Comment[ro]=Configurează imprimantele
Comment[ru]=Настроить принтеры
Comment[si]=මුද්‍රකයන් මානකරන්න
Comment[sk]=Konfigurovať tlačiarne
Comment[sr]=Подешавање штампача
Comment[sr@latin]=Podešavanje štampača
Comment[sv]=Konfigurera skrivare
Comment[ta]=அச்சடிப்பிகளை கட்டமைக்கவும்
Comment[te]=ముద్రకాలను ఆకృతీకరించు
Comment[th]=ตั้งค่าเครื่องพิมพ์
Comment[uk]=Налаштовування принтерів
Comment[vi]=Cấu hình máy in
Comment[zh_CN]=配置打印机
Comment[zh_TW]=設定印表機
Exec=pc-su system-config-printer
Terminal=false
Type=Application
Icon=printer
StartupNotify=true
X-Desktop-File-Install-Version=0.18
Categories=GTK;Printing;HardwareSettings;Settings;System;
