[Desktop Entry]
Comment[en_US]=
Comment=
Exec=gvim
Icon=/usr/local/share/pcbsd/icons/gvim.png
MimeType=
Path=
StartupNotify=true
Type=Application
Categories=Utility;
Name=Vim
Name[af]=Vim
Name[bg]=Vim
Name[ca]=Vim
Name[da]=Vim
Name[de]=Vim
Name[en_GB]=Vim
Name[en_US]=Vim
Name[en_ZA]=Vim
Name[es]=Vim
Name[fr]=Vim
Name[fr_CA]=Vim
Name[hr]=Vim
Name[hu]=Vim
Name[id]=Vim
Name[it]=Vim
Name[ja]=Vim
Name[nl]=Vim
Name[pl]=Vim
Name[pt_BR]=Vim
Name[ro]=Vim
Name[ru]=Vim
Name[sk]=Vim
Name[sl]=Vim
Name[tr]=Vim
Name[uk]=Vim
Name[zh_CN]=Vim
Name[zh_TW]=Vim
GenericName=Vim Editor
GenericName[af]=Vim Editor
GenericName[bg]=Vim Редактора
GenericName[ca]=L'editor Vim
GenericName[da]=Vimredigering
GenericName[de]=Vim Editor
GenericName[en_GB]=Vim Editor
GenericName[en_US]=Vim Editor
GenericName[en_ZA]=Vim Editor
GenericName[es]=Editor Vim
GenericName[fr]=Éditeur Vim
GenericName[fr_CA]=Éditeur Vim
GenericName[hr]=Vim Uređivač
GenericName[hu]=Vim szerkesztőprogram
GenericName[id]=Editor Vim
GenericName[it]=Editor Vim
GenericName[ja]=Vim エディター
GenericName[nl]=Vim Editor
GenericName[pl]=Edytor Vim
GenericName[pt_BR]=Editor Vim
GenericName[ro]=Vim Edtior
GenericName[ru]=Редактор Vim
GenericName[sk]=Vim editor
GenericName[sl]=Urejevalnik Vim
GenericName[tr]=Vim Editörü
GenericName[uk]=Редактор Vim
GenericName[zh_CN]=Vim 编辑器
GenericName[zh_TW]=Vim編輯器
