// Compilation instructions: stylus -u nib -c [-w] laboratory.styl

@import url("//fonts.googleapis.com/css?family=Open+Sans:100,400,300,700");
@import 'nib/vendor';
@import 'variables';
@import 'base';
@import 'overrides';
@import 'columnsPane';
@import 'featuresPane';
@import 'result';
