<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
        <name replace-wildcards="yes">Samba Shares on %h</name> ## Display Name
        <service>
                <type>_smb._tcp</type>
                <port>139</port>
        </service>
        <service>                                       
                <type>_device-info._tcp</type>             
                <port>0</port>                             
                <txt-record>model=Xserve</txt-record>       
        </service>
</service-group>
