<div dojoType="dijit.MenuBar" id="navMenu">
    {% if user.is_authenticated %}
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/'" class="menu_icon{% if focused_tab == "system" %} dijitMenuItemSelected{% endif %}">
	<img src="/media/images/ui/menu/system.png">
	<br />
	<span>System</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/network/'" class="menu_icon{% if focused_tab == "network" %} dijitMenuItemSelected{% endif %}">
	<img src="/media/images/ui/menu/network.png">
	<br />
	<span>Network</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/storage/'" class="menu_icon{% if focused_tab == "storage" %} dijitMenuItemSelected{% endif %}">
	<img src="/media/images/ui/menu/storage.png">
	<br />
	<span>Storage</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/sharing/'" class="menu_icon{% if focused_tab == "sharing" %} dijitMenuItemSelected{% endif %}">
	<img src="/media/images/ui/menu/sharing.png">
	<br />
	<span>Sharing</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/services/'" class="menu_icon{% if focused_tab == "services" %} dijitMenuItemSelected{% endif %}">
	<img src="/media/images/ui/menu/services.png">
	<br />
	<span>Services</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/logout/'" class="menu_icon" style="float:right;">
	<img src="/media/images/ui/menu/logout.png">
	<br />
	<span>Log Out</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/'" class="menu_icon{% if focused_tab == "account" %} dijitMenuItemSelected{% endif %}" style="float:right;">
	<img src="/media/images/ui/menu/account.png">
	<br />
	<span>Account</span>
    </div>
    {% else %}
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/login/'" class="menu_icon" style="font-weight:bold;">
	<img src="/media/images/ui/menu/login.png">
	<br />
	<span>Log In</span>
    </div>
    {% endif %}
</div>
