#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh $@

# Override the build step if necessary
override_dh_auto_build:
	virtualenv --system-site-packages virtualenv
	virtualenv/bin/pip install -r _requirements.txt
	virtualenv/bin/python3 generate_docs.py dist
	dh_auto_build

override_dh_auto_install:
	mkdir -p debian/middlewared-docs/usr/share/middlewared
	mv dist debian/middlewared-docs//usr/share/middlewared/docs
