{% extends "freeadmin/generic_form.html" %}
{% block oklabel %}{% trans "Save" %}{% endblock %}

{% block form %}
{{ block.super }}
{% endblock %}

{% load freeadmin %}
{% block extra_buttons %}
{{ block.super }}
<button id="btn_{% cls_name form %}_DirectoryServiceCache" data-dojo-type="dijit.form.Button">
    {% trans "Rebuild Directory Service Cache" %}
    <script type="dojo/event" data-dojo-event="onClick" data-dojo-args="e">
        rebuildDirectoryServiceCache('{% url "directoryservice_clearcache" %}', this);
    </script>
</button>
{% endblock %}
