{% extends "freeadmin/generic_model_edit.html" %}
{% load freeadmin %}

{% block post_form %}
{% if not instance.ldap_has_samba_schema and instance.ldap_enable %}

    <div>
    <span style="color:red;font-weight:bold;">
    <pre>

    Notice: samba extensions not detected. CIFS authentication to LDAP disabled.
    </pre>
    </span>
    </div>
{% endif %}
{{ block.super }}
{% endblock %}

{% block buttons_extra %}
{{ block.super }}
<button id="btn_{% cls_name form %}_DirectoryServiceCache" data-dojo-type="dijit.form.Button">
    {% trans "Rebuild Directory Service Cache" %}
    <script type="dojo/event" data-dojo-event="onClick" data-dojo-args="e">
        rebuildDirectoryServiceCache('{% url "directoryservice_clearcache" %}', this);
    </script>
</button>
{% endblock %}
