*.pyc
*.swp
*.mo
*.o
*.iso
__pycache__
*.xml
.cache
.coverage
.pytest_cache
/tests/auto_config.py
/tests/config.py
.DS_Store
.idea/
.vscode/
/docs/build/
/src/middlewared/build/
/src/middlewared/dist/
/src/middlewared/middlewared.egg-info/
/tests/artifacts/
/tests/config.cfg
