*.pyc
*.swp
*.mo
*.o
*.iso
__pycache__
*.xml
*.pyc
.cache
.pytest_cache
/tests/auto_config.py
/tests/config.py
.DS_Store
.idea/
.vscode/
/docs/build/
/src/middlewared/build/
/src/middlewared/dist/
/src/middlewared/middlewared.egg-info/
/tests/artifacts/
/tests/test-report.txt
/tests/test-report.xml
/tests/testfile.txt
/tests/config.cfg
