{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<form action="." method="post">{% csrf_token %}
<table>
{{ form }}
</table>
<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
<br />
<br />
<input  type="submit" value="{% ifequal step step_count %}Save!{% else %}Next &raquo;{% endifequal %}" class="default" name="_save" />
<p>Step {{ step }} of {{ step_count }}</p>
</form>
<br />
<br />
{% else %}
    <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>
{% endif %}

{% endblock %}

