[Desktop Entry]
Name=Netscape plugin viewer
Type=Service
Icon=netscape
Comment=Netscape plugin viewer
X-KDE-Library=libnsplugin
InitialPreference=0
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-BrowserView-PluginsInfo=nsplugins/pluginsinfo
MimeType=application/x-shockwave-flash;application/futuresplash;
