.dj_ie .dojoxGridRtl .dojoxGridHeader table {
	float:none;
}
.dojoxGridRtl .dojoxGridCell {
	text-align:right;
}
.dj_ie8 .dojoxGridRtl .dojoxGridCell {
	border-left: none;
}
.dojoxGridRtl .dojoxGridArrowButtonNode {
	float:left;
}
.dojoxGridRtl .dojoxGridNestedSort, 
.dojoxGridRtl .dojoxGridUnarySort {
	text-align: right;
}
.dojoxGridRtl .dojoxGridSortWrapper {
	left: 0;
	right: auto;
}
.dojoxGridRtl .dojoxGridCell .dojoxGridHeaderCellSelectRegion {
	float: right;
	text-align: right;
	padding-right:4px;
}
.dojoxGridRtl .dojoxGridSortSeparatorOn,
.dojoxGridRtl .dojoxGridNestedSortWrapper,
.dojoxGridRtl .dojoxGridUnarySortWrapper {
	float: right;
}
.dojoxGridRtl .dojoxGridLoading, 
.dojoxGridRtl .dojoxGridError,
.dojoxGridRtl .dojoxGridNoData {
	background-position:right;
	padding-right:25px;
	padding-left:0px;
}
