#rebootDialog_underlay { background-color:#000; }
#shutdownDialog_underlay { background-color:#FD0000; }
#top_dialog_underlay { background-color:#000; }
table.srv tr,td{
    padding:8px;
}


table.srv img{
    cursor:pointer;
}
img.srv {
    cursor:pointer;
}

span.required {
    font-weight:bold;
    color:#5C7990;
}
table.config {
    margin-top:24px;
}
.config th{
    color:#ff0000;
}
.config td{
    padding-right:16px;
}
.dijitContentPane {
    padding:0px !important;
    padding-bottom:4px !important;
}
.odd {
    background: #cccccc;
}
.odd td {
    padding-left:10px;
}
.even td {
    padding-left:10px;
}
table.grid {
    margin-top:24px;
}
.grid thead td{
    color:#50575F;
    font-weight:bold;
    line-height:10px;
    padding-right:10px;
}
.grid tbody{
    font-size:10px;
    padding:10px;
}
p.btn {
    padding:10px;
}
#breadcrumbs {
    float:left;
    vertical-align:bottom;
    margin:8px;
    padding:4px;
    border-bottom:1px dashed #C5C5C5;
}

.breadcrumbs_item {
    float:left;
    margin-right:2px;
}
.breadcrumbs_item a{
    font-weight:bold;
    margin-right:2px;
}

#srv div.services {
    width: 145px;
    height: 145px;
    border-right: 1px solid #c5c5c5;
    border-bottom: 1px solid #c2c2c2;
    text-align:left;
    float: left;
    margin:8px;
    background: #f5f5f5;
    overflow:auto;
}
#srv div.p {
    padding:2px;
}
#cp div {
    width: 125px;
    height: 125px;
    border: 1px solid #000;
    text-align:center;
    float: left;
    margin:8px;
    overflow:auto;
}
#sub-menu {
    float:right;
    margin:8px;
    padding:4px;
    border:1px solid #C5C5C5;
    background:#fff;
}
.sub-menu_item {
    float:left;
}
.sub-menu_item a{
    font-weight:bold;
    margin-right:6px;
}


#sidepanel {
    margin:8px;
}

.icons {
width:130px;
position:relative;
float:left;
text-align:left;
}
.label {
    border-bottom:1px solid #C5C5C5;
    border-left:1px solid #C5C5C5;
    border-right:1px dotted #C5C5C5;
    font-weight:bold;
    color:#50575F;
    line-height:24px;
    padding-left:16px;
    width:135px
}
.descr {
    border-bottom:1px dotted #C5C5C5;
    border-right:1px solid #C5C5C5;
    line-height:24px;
    padding:4px
}
html, body, #mainDiv {
      width: 100%; height: 100%;
        border: 0; padding: 0; margin: 0;
    }

.raidmenu {
    background:transparent;
    padding-bottom:14px;
    font-size:14px;
    font-weight:bold;
    height:40px;
    line-height:40px;
    text-shadow:0 -1px 1px #000000;
    font-family:Arial,Helvetica,sans-serif;
}
.raidmenu a {

    color:#EDF0F1;
    padding-right:18px;
}
/*
 * FORM 
 */

 .errorlist {
    color:#ff0000;
    list-style-type: none;
    padding-left:0px;
    font-weight: bold;
}
 .errorlist li{
     list-style-type: none;
     padding-left:0px;
     text-decoration:bold;
}
table.ix {
    width:100%;
}

tr.ix, td.ix{
    vertical-align:text-top;
    line-height:26px;
    border-bottom:1px solid #ddd;
}

 td.ix {
    padding:6px;
    background-color:#f7f7f7;
    color:#000;
}
 th{
    color: #000;
    width:170px;
    padding:6px;
    background-color:#d6d6d6;
}

.cifs_text_class radio{
    color:#ff0000;
    background-color:#000;

}

/**/





.centeredImage
    {
    text-align:center;
    display:block !important;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;

    }



/* Read More button style */
.read {
	width:95px;
	height:22px;


	
	}
	.read a { color:#336C9A;line-height:22px;text-indent:10px;font-weight:bold;font-size:85%; }
	
.readmore {
	background:#f6f6f6 url('/freenas/media/images/ix/readmore.jpg')
no-repeat 0 0;
	width:95px;
	
	
	}
.readmore:hover {
	background:#f6f6f6 url('/freenas/media/images/ix/readmore_ro.jpg')
no-repeat 0 0;
	width:95px;

	}



/* Product Specification Table Styling */
.spectable-header {
	line-height:32px;
	font-size:15px;
	padding-left:8px;
	font-weight:bold;
	color:#333;
	border:1px solid #c5c5c5;
	background:#f2f2f2;
	}
.spectable-header:hover { background:#f8f8f8; }

.spectable-label {
	line-height:24px;
	width:135px;
	padding-left:16px;
	font-weight:bold;
	border-right:1px dotted #c5c5c5;
	border-left:1px solid #c5c5c5;
	border-bottom:1px solid #c5c5c5;
	background:#f4f4f4;
	}
.spectable-label:hover {  background:#f8f8f8; }
.spectable-body {
	line-height:24px;
	font-weight:none;
	padding:4px;
	border-bottom:1px dotted #c5c5c5;
	border-right:1px solid #c5c5c5;
	background:#fff;
	}


.spectable-body:hover {

}

