/*
 * global CSS
 */

/* readmore button */
p.readmore { overflow: hidden; }
div.module p.readmore {	margin-bottom: 0px; }

#page a.readmore {
	display: block;
	width: 100px;
	height: 20px;
	background: transparent url(/freenas/media/images/readmore.png) 0 0
no-repeat;
	float: left;
	line-height: 20px;
	text-indent: 10px;
	font-size: 90%;
	text-decoration: none;
	text-shadow: 0px -1px 1px #ffffff, 0px 2px 2px #b4b4b4;
}

#page a.readmore:link,
#page a.readmore:visited { color: #505050; }

#page a.readmore:hover {
	background: transparent url(/freenas/media/images/readmore.png) 0 -25px
no-repeat;
	color: #000000;
	text-shadow: 0px 1px 1px #ffffff, 0px 2px 2px #969696;
}
