/*
 * global bug fixes
 */

/* reset forcing vertical scrollbar */
body { overflow: visible; }

/* italics bug */
/* http://www.positioniseverything.net/explorer/italicbug-ie.html */
* html body * { overflow: visible; }
* html iframe, * html frame { overflow: auto; }
* html frameset { overflow: hidden; }

* html textarea { overflow: scroll; overflow-x: hidden; }
* html input { overflow: hidden; }

/* guillotine bug */
/* http://www.positioniseverything.net/explorer/guillotine.html */
* html body a, * html body a:hover { background-color: transparent; }

/* list-numbering bug */
body ol li { display: list-item; }

/* helper to force layout */
.ie6-zoom {	zoom: 1; }

/*
 * reset
 */
 
hr { color: #c8c8c8; }

 
q { font-style: normal; }
blockquote { font-style: normal; }

/*
 * layout
 */

div#top,
div#bottom { zoom: 1; }

div#footer {
	zoom: 1;
}

 

#main #main-shift { zoom: 1; }

 

div#maintop,
div#contenttop,
div#contentbottom,
div#mainbottom { zoom: 1; }

 

#content #content-shift { zoom: 1; }

 

.floatbox { zoom: 1; }

/* double float-margin bug */
/* http://www.positioniseverything.net/explorer/doubled-margin.html */
* html .float-left { display: inline; }
* html .float-right { display: inline; }

.width15 { width: 14.9%; }
.width18 { width: 17.9%; }
.width20 { width: 19.9%; }
.width23 { width: 22.9%; }
.width25 { width: 24.9%; }
.width33 { width: 32.9%; }
.width34 { width: 33.9%; }
.width35 { width: 34.9%; }
.width40 { width: 39.9%; }
.width45 { width: 44.9%; }
.width50 { width: 49.9%; }
.width54 { width: 53.9%; }
.width65 { width: 64.9%; }
.width75 { width: 74.9%; }

 
#breadcrumbs { width: 120%; }
#breadcrumbs a { cursor: pointer }
#breadcrumbs .box-2 { background-position: 100% -24px; }
#breadcrumbs .box-3 { background-position: 0 -49px; }

 

 
#menubar div.menubar-2 { background-position: 100% -79px; }
#menubar div.menubar-3 { background-position: 0 -159px; }

#banner {
	right: -140px;
	width: 120px;
}

 
div.main-wrapper-1 { zoom: 1; }

div.main-wrapper-t3,
div.main-wrapper-b3 { overflow: hidden; }

div.main-wrapper-t2 { background-position: 100% -14px; }
div.main-wrapper-b1 { background-position: 0 -29px; }
div.main-wrapper-b2 { background-position: 100% -44px; }

/*
 * menus
 */

/* topmenu */
#toolbar ul.menu,
#footer ul.menu { white-space: nowrap; }

#toolbar .menu li,
#footer .menu li,
#toolbar .menu li a,
#footer .menu li a { display: inline; }

/* menu */
#menu span { cursor: pointer; }

#menu li.active .level1 span.bg { background-position: 100% -44px; }

 
div#menu div.fancy { width: 0px; }

div#menu div.fancy div.fancy-3 {
	overflow: hidden;
	zoom :1;
}

 
#menu li.hovered .dropdown { left: -3px; }

#menu .dropdown,
#menu .dropdown-3 { zoom: 1; }

#menu .dropdown-t3,
#menu .dropdown-b3 { overflow: hidden; }

#menu li.level2 {
	float: left;
	width: 100%;
	zoom: 1;
}

#menu .group-box1,
#menu .group-box5 {
	zoom: 1;
	overflow: hidden;
}

#menu .group-box5 .hovered { background: none; }
#menu .group-box5 .hovered .hover-box2 { background: none; }

#menu .sub { width: 44.9%; }

#menu li.level3 { zoom: 1; }

#menu a.level3 span.bg,
#menu span.level3 span.bg { zoom: 1; }

 
#menu .dropdown-t2 { background-position: 100% -10px; }
#menu .dropdown-t3 { background-position: 0 -49px; }
#menu .dropdown-b1 { background-position: 0 -21px; }
#menu .dropdown-b2 { background-position: 100% -35px; }
#menu .dropdown-b3 { background-position: 0 -60px;}

/* sub menu */
.mod-menu ul.menu span { cursor: pointer; }

div.mod-rider ul.menu li.level1 { height: 30px; }

div.mod-header ul.menu a.level1,
div.mod-header ul.menu span.level1 { zoom: 1; }

/*
 * modules
 */

div.module {
	zoom: 1;  
}

div.module div.badge-top { background-position: 0 -39px; }
div.module div.badge-pick { background-position: 0 -79px; }

 
#toolbar div.module {
	width: 0px;
	white-space: nowrap;
}

#headerbar div.module { width: 0px; }

#toolbar div.mod-blank,
#headerbar div.mod-blank { overflow: visible; }

/* rider */
div.mod-rider { overflow: hidden; }

div.mod-rider div.module,
div.mod-rider div.box-1 { zoom: 1; }

div.mod-rider div.box-t1,
div.mod-rider div.box-t2,
div.mod-rider div.box-b1,
div.mod-rider div.box-b2 { overflow: hidden; }

div.mod-rider h3.header { width: 100%; }

div.mod-rider div.box-b1 { background-position: 0 -29px; }
#right div.mod-rider div.box-t1 { background-position: 100% -14px; }
#right div.mod-rider div.box-b1 { background-position: 100% -44px; }

/* rounded */
div.mod-rounded { overflow: hidden; }

div.mod-rounded div.module,
div.mod-rounded div.box-1,
div.mod-rounded div.box-2 { zoom: 1; }

div.mod-rounded div.box-t3,
div.mod-rounded div.box-b3 { overflow: hidden; }

div.mod-rounded div.box-t2 { background-position: 100% -19px; }
div.mod-rounded div.box-t3 { background-position: 0 -79px; }
div.mod-rounded div.box-b1 { background-position: 0 -39px; }
div.mod-rounded div.box-b2 { background-position: 100% -59px; }
div.mod-rounded div.box-b3 { background-position: 0 -99px; }
div.mod-rounded span.header-2 { background-position: 100% -41px; }
div.mod-rounded span.header-3 { background-position: 100% -83px; }

/* header */
div.mod-header span.header-2 { background-position: 100% -35px; }
div.mod-header span.header-3 { background-position: 0 -71px; }

/* polaroid */
div.mod-polaroid div.box-2 { zoom: 1; }

div.mod-polaroid div.badge-tape { top: 0px; }

div.mod-polaroid div.box-b3 { overflow: hidden; }

div.mod-polaroid div.box-3 {
	font-style: normal;  
}

div.mod-polaroid div.box-b2 { background-position: 100% -4px; }
div.mod-polaroid div.box-b3 { background-position: 0 -9px; }

div.mod-polaroid div.badge-new { top: 13px; }
div.mod-polaroid div.badge-top { top: 13px; }
div.mod-polaroid div.badge-pick { top: 13px; }

/* postit */
div.mod-postit div.box-2 { zoom: 1; }

div.mod-postit div.box-b3 { overflow: hidden; }

div.mod-postit div.box-2 {
	font-style: normal;  
}

div.mod-postit div.box-b2 { background-position: 100% -39px; }
div.mod-postit div.box-b3 { background-position: 0 -79px; }

/* tab */
div.mod-tab div.box-2,
div.mod-tab div.box-3,
div.mod-tab div.box-4 {	zoom: 1; }

div.mod-tab h3.header {
	width: 0px;
	white-space: nowrap;
}

div.mod-tab span.header-1,
div.mod-tab span.header-2 { overflow: hidden; }

div.mod-tab span.header-2 { background-position: 100% -34px; }

div.mod-tab h3.header span.icon { display: none; }

/*
 * joomla
 */

div.joomla div.headline { zoom: 1; }

div.joomla div.icons { width: 55px; }

div.joomla div.item,
div.joomla div.item-bg { zoom: 1; }

.default-search div.hovered input { color: #000000; }
.default-search div.searchbox input.focused { color: #000000; }

a.readmore { cursor: pointer; }

a.readmore:hover {
	background-position: 0 -24px;
	text-decoration: none;
}

/*
 * typography
 */

ul.arrow li,
ul.checkbox li,
ul.check li,
ul.star li { zoom: 1; }

ol.disc { padding: 0px 0px 0px 50px; }

ol.disc li {
	padding-left: 5px;
	margin: 0px 0px 5px 0px;
}

hr.dotted {
	background: none;
	border: dotted 1px #c8c8c8;
}

p.dropcap:first-letter { line-height: 100%; }

/*
 * extensions
 */

#header div.single div.yoo-tweet {
	width: 400px;
}

#page div.blank-h div.yoo-scroller div.back {
	position: absolute;
	left: 0px;
}

#page div.blank-h div.yoo-scroller div.forward {
	position: absolute;
	right: 0px;
}

#page div.blank-h div.yoo-scroller div.scrollbar {
	position: absolute;
	left: 21px;
}
