# Setup some extra PATH variables
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/games:/usr/local/sbin:/usr/local/bin:$HOME/bin; export PATH

XDG_DATA_DIRS="/share:/usr/share:/usr/pbi/share:/usr/local/share"
export XDG_DATA_DIRS

XDG_CONFIG_DIRS="/usr/local/etc/xdg:/usr/pbi/etc/xdg"
export XDG_CONFIG_DIRS

# Check for any specific PC-BSD apps we need to start at login
for i in `ls /usr/local/share/pcbsd/xstartup/*`
do
	# Run some task in the background to run in parallel
	if [ $i = "/usr/local/share/pcbsd/xstartup/enable-ibus.sh" ] ; then
		# Cannot work "VARIABLE=value ; export VARIABLE" in the
		# fork(2)ed script.
		if [ -x "${i}" ] ; then . ${i}
		fi
	else
		if [ -x "${i}" ] ; then (. ${i}) & 
		fi
	fi
done
