#!/bin/sh

PBIPATH=$(dirname $0)

PHP_FPM="${PBIPATH}/sbin/php-fpm"
PHP_FPM_CONF="${PBIPATH}/php-fpm.conf"
PHP_FPM_PID="/var/run/php-fpm-minidlna.pid"

control_start() {

	local ip port tmp
	ip=$1
	port=$2

	tmp=$(mktemp -t php)
	sed -e "s/^listen = *.*/listen = $ip:$port/" -e "s,^pid .*,pid = ${PHP_FPM_PID}," ${PHP_FPM_CONF} > ${tmp}
	mv ${tmp} ${PHP_FPM_CONF}

	${PHP_FPM} -y ${PHP_FPM_CONF}

    chown www:www "${PBIPATH}/.oauth" > /dev/null 2>&1

	return $?

}

control_status() {

	pgrep -F "${PHP_FPM_PID}"
	return $?

}

control_stop() {

	pkill -F "${PHP_FPM_PID}"
	return $?

}

main() {

	local action=$1
	shift 1

	eval "control_${action} $*"

	exit $?

}

main $*
