<table class="srv">
   <tr>
       <td>
           <strong>{% trans "AFP" %}</strong>
       </td>
       <td>
       <img id="afp_toggle" name="afp_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% if srv_mw.afp == 'RUNNING' %}on{% else %}off{% endif %}.png" onClick="toggle_service(this)">
       </td>
       <td>
           <img id="afp_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "AFP Settings"|escapejs %}', '{{ afp.get_edit_url }}');" title="{% trans "AFP Settings" %}">
       </td>
   </tr>
   <tr>
       <td>
           <strong>{% trans "CIFS" %}</strong>
       </td>
       <td>
       <img id="cifs_toggle" name="cifs_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% if srv_mw.cifs == 'RUNNING' %}on{% else %}off{% endif %}.png" onClick="toggle_service(this)">
       </td>
       <td>
           <img id="cifs_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "CIFS Settings"|escapejs %}', '{{ cifs.get_edit_url }}');" title="{% trans "CIFS Settings" %}">
       </td>
   </tr>
   <tr>
       <td>
           <strong>{% trans "Domain Controller" %}</strong>
       </td>
       <td>
       <img id="domaincontroller_toggle" name="domaincontroller_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% for s in srv %}{% if s.srv_service == "domaincontroller" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" {% if domaincontroller.onclick_enable == 'enable' %} onClick="toggle_service(this)" {% endif %}>
       </td>
       <td>
           <img id="domaincontroller_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "Domain Controller Settings"|force_escape|force_escape %}', '{{ domaincontroller.get_edit_url }}');" title="{% trans "Domain Controller Settings" %}">
       </td>
   </tr>
  <tr>
       <td>
           <strong>{% trans "Dynamic DNS" %}</strong>
       </td>
       <td>
       <img id="dynamicdns_toggle" name="dynamicdns_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% if srv_mw.dyndns == 'RUNNING' %}on{% else %}off{% endif %}.png" onClick="toggle_service(this)">
       </td>
       <td>
           <img id="dynamicdns_settings"
           src="{{ STATIC_URL }}images/ui/buttons/settings.png"
           onClick="editObject('{% trans "Dynamic DNS Settings"|escapejs %}', '{{ dynamicdns.get_edit_url }}');" title="{% trans "Dynamic DNS Settings" %}">
       </td>
   </tr>
   <tr>
       <td>
           <strong>{% trans "FTP" %}</strong>
       </td>
       <td>
       <img id="ftp_toggle" name="ftp_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% if srv_mw.ftp == 'RUNNING' %}on{% else %}off{% endif %}.png" onClick="toggle_service(this)">
       </td>
       <td>
           <img id="ftp_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "FTP Settings"|force_escape|force_escape %}', '{{ ftp.get_edit_url }}');" title="{% trans "FTP Settings" %}">
       </td>
   </tr>
   <tr>
       <td>
           <strong>{% trans "IPFS" %}</strong>
       </td>
       <td>
       <img id="ipfs_toggle" name="ipfs_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% if srv_mw.ipfs == 'RUNNING' %}on{% else %}off{% endif %}.png" onClick="toggle_service(this)">
       </td>
       <td>
           <img id="ipfs_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "IPFS Settings"|escapejs %}', '{{ ipfs.get_edit_url }}');" title="{% trans "IPFS Settings" %}">
       </td>
   </tr>
  <tr>
       <td>
           <strong>{% trans "iSCSI" %}</strong>
       </td>
       <td>
       <img id="iscsitarget_toggle" name="iscsitarget_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% for s  in srv %}{% if s.srv_service == "iscsitarget" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
       </td>
       <td>
           <img id="ctl_settings"
           src="{{ STATIC_URL }}images/ui/buttons/settings.png"
           onClick="Menu.openISCSI();" title="{% trans "ISCSI Settings" %}">
       </td>
   </tr>
   <tr>
       <td>
           <strong>{% trans "LLDP" %}</strong>
       </td>
       <td>
               <img id="lldp_toggle" name="lldp_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% for s  in srv %}{% if s.srv_service == "lldp" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
       </td>
       <td>
           <img id="lldp_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "LLDP Settings"|escapejs %}', '{{ lldp.get_edit_url }}');" title="{% trans "LLDP Settings" %}">
       </td>
   </tr>
   <tr>
       <td>
           <strong>{% trans "NFS" %}</strong>
       </td>
       <td>
               <img id="nfs_toggle" name="nfs_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% if srv_mw.nfs == 'RUNNING' %}on{% else %}off{% endif %}.png" onClick="toggle_service(this)">
       </td>
       <td>
           <img id="nfs_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "NFS Settings"|force_escape|force_escape %}', '{{ nfs.get_edit_url }}');" title="{% trans "NFS Settings" %}">
       </td>
   </tr>
   <tr>
       <td>
           <strong>{% trans "Riak" %}</strong>
       </td>
       <td colspan="2">
       <img id="riak_toggle" name="riak_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% if srv_mw.riak == 'RUNNING' %}on{% else %}off{% endif %}.png" onClick="toggle_service(this)">
       </td>
   </tr>
   <tr>
       <td>
           <strong>{% trans "Stanchion" %}</strong>
       </td>
       <td colspan="2">
       <img id="stanchion_toggle" name="stanchion_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% if srv_mw.stanchion == 'RUNNING' %}on{% else %}off{% endif %}.png" onClick="toggle_service(this)">
       </td>
   </tr>
   <tr>
       <td>
           <strong>{% trans "Riak CS" %}</strong>
       </td>
       <td colspan="2">
       <img id="riak_cs_toggle" name="riak_cs_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% if srv_mw.riak_cs == 'RUNNING' %}on{% else %}off{% endif %}.png" onClick="toggle_service(this)">
       </td>
   </tr>
   <tr>
       <td>
           <strong>{% trans "SWIFT" %}</strong>
       </td>
       <td colspan="2">
       <img id="swift_toggle" name="swift_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% if srv_mw.swift == 'RUNNING' %}on{% else %}off{% endif %}.png" onClick="toggle_service(this)">
       </td>
   </tr>
   <tr>
       <td>
           <strong>{% trans "GlusterD" %}</strong>
       </td>
       <td colspan="2">
       <img id="glusterd_toggle" name="glusterd_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% if srv_mw.glusterd == 'RUNNING' %}on{% else %}off{% endif %}.png" onClick="toggle_service(this)">
       </td>
   </tr>
   <tr>
       <td>
           <strong>{% trans "Rsync" %}</strong>
       </td>
       <td>
       <img id="rsync_toggle" name="rsync_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% if srv_mw.rsyncd == 'RUNNING' %}on{% else %}off{% endif %}.png" onClick="toggle_service(this)">
       </td>
       <td>
           <img id="rsync_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "Rsync Settings"|escapejs %}', '{{ rsyncd.get_edit_url }}');" title="{% trans "Rsync Settings" %}">
       </td>
   </tr>
   <tr>
       <td>
           <strong>{% trans "S.M.A.R.T." %}</strong>
       </td>
       <td>
            <img id="smartd_toggle" name="smartd_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% if srv_mw.smartd == 'RUNNING' %}on{% else %}off{% endif %}.png" onClick="toggle_service(this)">
       </td>
       <td>
           <img id="smartd_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "S.M.A.R.T. Settings"|escapejs %}', '{{ smart.get_edit_url }}');" title="{% trans "S.M.A.R.T. Settings" %}">
       </td>
   </tr>
   <tr>
       <td>
           <strong>{% trans "SNMP" %}</strong>
       </td>
       <td>
       <img id="snmp_toggle" name="snmp_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% if srv_mw.snmp == 'RUNNING' %}on{% else %}off{% endif %}.png" onClick="toggle_service(this)">
       </td>
       <td>
           <img id="snmp_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "SNMP Settings"|escapejs %}', '{{ snmp.get_edit_url }}');" title="{% trans "SNMP Settings" %}">
       </td>
   </tr>
   <tr>
       <td>
           <strong>{% trans "SSH" %}</strong>
       </td>
       <td>
       <img id="ssh_toggle" name="ssh_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% if srv_mw.sshd == 'RUNNING' %}on{% else %}off{% endif %}.png" onClick="toggle_service(this)">
       </td>
       <td>
           <img id="ssh_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "SSH Settings"|escapejs %}', '{{ ssh.get_edit_url }}');" title="{% trans "SSH Settings" %}">
       </td>
   </tr>
   <tr>
       <td>
           <strong>{% trans "TFTP" %}</strong>
       </td>
       <td>
       <img id="tftp_toggle" name="tftp_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% if srv_mw.tftpd == 'RUNNING' %}on{% else %}off{% endif %}.png" onClick="toggle_service(this)">
       </td>
       <td>
           <img id="tftp_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "TFTP Settings"|escapejs %}', '{{ tftp.get_edit_url }}');" title="{% trans "TFTP Settings" %}">
       </td>
  </tr>
  <tr>
       <td>
           <strong>{% trans "UPS" %}</strong>
       </td>
       <td>
            <img id="ups_toggle" name="ups_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% for s  in srv %}{% if s.srv_service == "ups" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
       </td>
       <td>
           <img id="ups_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "UPS Settings"|force_escape|force_escape %}', '{{ ups.get_edit_url }}');" title="{% trans "UPS Settings" %}">
       </td>
  </tr>
  <!-- Adding the WebDAV toggle here -->
  <tr>
       <td>
           <strong>{% trans "WebDAV" %}</strong>
       </td>
       <td>
            <img id="webdav_toggle" name="webdav_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% for s  in srv %}{% if s.srv_service == "webdav" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
       </td>
       <td>
           <img id="webdav_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "WebDAV Settings"|force_escape|force_escape %}', '{{ webdav.get_edit_url }}');" title="{% trans "WebDAV Settings" %}">
       </td>
  </tr>
</table>
