<div data-dojo-type="dijit.layout.ContentPane">
  <p>
      {% blocktrans %}Would you like to enable this service?{% endblocktrans %}
  </p>
  <button id="btn_ServicesEnable_Ok" data-dojo-type="dijit.form.Button">
    {% trans "Yes" %}
    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
      Menu.openServices(null, '{{ svc|escapejs }}');
      var svc = dojo.byId("{{ svc }}_toggle");
      if(svc)
        toggle_service(svc);
      cancelDialog(this);
    </script>
  </button>
  <button id="btn_ServicesEnable_Cancel" data-dojo-type="dijit.form.Button">
    {% trans "No" %}
    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
      cancelDialog(this);
    </script>
  </button>
</div>
