{% load i18n %}
{% block dojango_content %}
<div dojoType="dijit.layout.ContentPane" title="{% trans "Services" %}" doLayout="false">
   <table class="srv">
       <tr>
           <td>
               <strong>{% trans "AFP" %}</strong>
           </td>
           <td>
   	    <img id="afp_toggle" name="afp_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% for s  in srv %}{% if s.srv_service == "afp" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
           </td>
           <td>
               <img id="afp_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "AFP Settings" %}', '{% url freeadmin_model_edit app="services", model="AFP",oid=afp.id %}');" title="{% trans "AFP Settings" %}">
           </td>
       </tr>
           <tr>
           <td>
               <strong>{% trans "Active Directory" %}</strong>
           </td>
           <td>
   	    <img id="ad_toggle" name="ad_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% for s  in srv %}{% if s.srv_service == "activedirectory" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
           </td>
           <td>
               <img id="ad_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "ActiveDirectory Settings" %}', '{% url freeadmin_model_edit app="services", model="ActiveDirectory",oid=activedirectory.id %}');" title="{% trans "Active Directory Settings" %}">
           </td>
       </tr>
       <tr>
           <td>
               <strong>{% trans "CIFS" %}</strong>
           </td>
           <td>
   	    <img id="cifs_toggle" name="cifs_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% for s  in srv %}{% if s.srv_service == "cifs" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
           </td>
           <td>
               <img id="cifs_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "CIFS Settings" %}', '{% url freeadmin_model_edit app="services",model="CIFS",oid=cifs.id %}');" title="{% trans "CIFS Settings" %}">
           </td>
       </tr>
      <tr>
           <td>
               <strong>{% trans "Dynamic DNS" %}</strong>
           </td>
           <td>
   	    <img id="dynamicdns_toggle" name="dynamicdns_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% for s  in srv %}{% if s.srv_service == "dynamicdns" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
           </td>
           <td>
               <img id="dynamicdns_settings"
               src="{{ STATIC_URL }}images/ui/buttons/settings.png"
               onClick="editObject('{% trans "Dynamic DNS Settings" %}', '{% url freeadmin_model_edit app="services",model="DynamicDNS",oid=dynamicdns.id %}');" title="{% trans "Dynamic DNS Settings" %}">
           </td>
       </tr>
       <tr>
           <td>
               <strong>{% trans "FTP" %}</strong>
           </td>
           <td>
   	    <img id="ftp_toggle" name="ftp_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% for s  in srv %}{% if s.srv_service == "ftp" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
           </td>
           <td>
               <img id="ftp_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "FTP Settings" %}', '{% url freeadmin_model_edit app="services", model="FTP",oid=ftp.id %}');" title="{% trans "FTP Settings" %}">
           </td>
       </tr>
       <tr>
           <td>
               <strong>{% trans "LDAP" %}</strong>
           </td>
           <td>
   	    <img id="ldap_toggle" name="ldap_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% for s  in srv %}{% if s.srv_service == "ldap" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
           </td>
           <td>
               <img id="ldap_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "LDAP Settings" %}', '{% url freeadmin_model_edit app="services", model="LDAP",oid=ldap.id %}');" title="{% trans "LDAP Settings" %}">
           </td>
       </tr>
       <tr>
           <td>
               <strong>{% trans "NFS" %}</strong>
           </td>
           <td>
   	            <img id="nfs_toggle" name="nfs_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% for s  in srv %}{% if s.srv_service == "nfs" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
           </td>
           <td>
               <img id="nfs_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "NFS Settings" %}', '{% url freeadmin_model_edit app="services", model="NFS",oid=nfs.id %}');" title="{% trans "NFS Settings" %}">
           </td>
       </tr>
      <tr>
           <td>
               <strong>{% trans "SNMP" %}</strong>
           </td>
           <td>
   	    <img id="snmp_toggle" name="snmp_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% for s  in srv %}{% if s.srv_service == "snmp" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
           </td>
           <td>
               <img id="snmp_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "SNMP Settings" %}', '{% url freeadmin_model_edit app="services",model="SNMP",oid=snmp.id %}');" title="{% trans "SNMP Settings" %}">
           </td>
       </tr> 
       <tr>
           <td>
               <strong>{% trans "SSH" %}</strong>
           </td>
           <td>
   	    <img id="ssh_toggle" name="ssh_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% for s  in srv %}{% if s.srv_service == "ssh" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
           </td>
           <td>
               <img id="ssh_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "SSH Settings" %}', '{% url freeadmin_model_edit app="services", model="SSH",oid=ssh.id %}');" title="{% trans "SSH Settings" %}">
           </td>
       </tr>
       <tr>
           <td>
               <strong>{% trans "TFTP" %}</strong>
           </td>
           <td>
   	    <img id="tftp_toggle" name="tftp_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% for s  in srv %}{% if s.srv_service == "tftp" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
           </td>
           <td>
               <img id="tftp_settings" src="{{ STATIC_URL }}images/ui/buttons/settings.png" onClick="editObject('{% trans "TFTP Settings" %}', '{% url freeadmin_model_edit app="services", model="TFTP",oid=tftp.id %}');" title="{% trans "TFTP Settings" %}">
           </td>
       </tr>
      <tr>
           <td>
               <strong>{% trans "iSCSI" %}</strong>
           </td>
           <td>
   	    <img id="iscsitarget_toggle" name="iscsitarget_toggle" src="{{ STATIC_URL }}images/ui/buttons/{% for s  in srv %}{% if s.srv_service == "iscsitarget" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
           </td>
           <td>
               <img id="istgt_settings"
               src="{{ STATIC_URL }}images/ui/buttons/settings.png"
               onClick="Menu.openISCSI();" title="{% trans "ISCSI Settings" %}">
           </td>
       </tr>
    </table>
{% endblock %}
