<div data-dojo-type="dijit.layout.TabContainer" data-dojo-props="nested:true, doLayout:true" id="tab_services">
  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Core"|escapejs %}'
  {% if focus_form == "services.services" %}, selected: true{% endif %},
  href: '{% url "services_core" %}',
  doLayout: false,
  {% if toggleCore %}toggleCore: '{{ toggleCore|escapejs }}',{% endif %}
  refreshOnShow: true" class="objrefresh data_services_services" id="servicesTab_Core">
    <script type="dojo/event" data-dojo-event="onLoad" data-dojo-args="data">
      var me = this;
      require(["dojo/dom"], function(dom) {
        if(me.toggleCore) {
          var svc = dom.byId(me.toggleCore + "_toggle");
          toggle_service(svc);
          me.toggleCore = null;
        }
      });
    </script>
  </div>
  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Plugins"|escapejs %}'
  {% if focus_form == "services.Plugins" %}, selected: true{% endif %},
  href: '{% url "services_plugins" %}',
  doLayout: false,
  refreshOnShow: true" class="objrefresh data_services_Plugins" id="servicesTab_Plugins">
  </div>
</div>
