{% load i18n %}
 <table class="grid">
     <thead class="header">
 <tr>
     <td>{% trans "Target" %}</td>
     <td>{% trans "Alias" %}</td>
     <td>{% trans "Type" %}</td>
     <td></td>
 </tr>
     </thead>
     {% for t in target_list %}
     <tr class="{% cycle 'odd' 'even' %}" id="{{ t.id }}">
         <td>{{ t.iscsi_target_name }}</td>
         <td>{{ t.iscsi_target_alias }}</td>
         <td>{{ t.iscsi_target_type }}</td>
         <td>
              <button dojoType="dijit.form.Button" type="button">
                  {% trans "Edit" %}
              <script type="dojo/method" event="onClick" args="evt">
                  editObject('{% trans "Edit" %}', '{% url freeadmin_model_edit app="services", model="iSCSITarget",oid=t.id %}', [this,]);
              </script>
              </button>
              <button dojoType="dijit.form.Button" type="button">
                  {% trans "Delete" %}
              <script type="dojo/method" event="onClick" args="evt">
                  editObject('{% trans "Delete" %}', '{% url freeadmin_model_delete app="services",model="iSCSITarget",oid=t.id %}', [this,]);
              </script>
              </button>

         </td>
     </tr>
     {% empty %}
     <tr>
         <td colspan="4">{% trans "No targets defined" %}</td>
     </tr>
     {% endfor %}
     </table>
     <p class="btn">
         <button id="tgt_button" dojoType="dijit.form.Button" type="button">
             {% trans "Add Target" %}
             <script type="dojo/method" event="onClick" args="evt">
                 addObject('{% trans "Add Target" %}', '{% url freeadmin_model_add app="services",model="iSCSITarget" %}', [this,]);
         </script>
         </button>
         </p>
