{% load i18n %}
<table class="grid">
        <thead class="header">
        <tr>
            <td>{% trans "Extent" %}</td>
            <td>{% trans "Type" %}</td>
            <td>{% trans "Path" %}</td>
            <td></td>
        </tr>
        </thead>
    {% for e in extent_device_list %}
    <tr class="{% cycle 'odd' 'even' %}" id="{{ e.id }}">
        <td>{{ e.iscsi_target_extent_name }}</td>
        <td>{{ e.iscsi_target_extent_type }}</td>
        <td>{{ e.get_device }}</td>
        <td>
            <button data-dojo-type="dijit.form.Button" type="button">
                {% trans "Edit" %}
            <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                editObject('{% trans "Edit"|force_escape|force_escape %}', '{% url freeadmin_model_edit app="services",model="iSCSITargetExtent",oid=e.id,mf="iSCSITargetDeviceExtentForm" %}', [this,]);
            </script>
            </button>
            <button data-dojo-type="dijit.form.Button" type="button">
                {% trans "Delete" %}
            <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                editObject('{% trans "Delete"|force_escape|force_escape %}', '{% url freeadmin_model_delete app="services",model="iSCSITargetExtent",oid=e.id %}', [this,]);
            </script>
            </button>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">{% trans "No targets defined" %}</td>
    </tr>
    {% endfor %}
    </table>
              <p class="btn">
        <button id="fe_button" data-dojo-type="dijit.form.Button" type="button">
            {% trans "Add Extent" %}
            <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                addObject('{% trans "Add Extent"|force_escape|force_escape %}', '{% url freeadmin_model_add app="services",model="iSCSITargetExtent",mf="iSCSITargetDeviceExtentForm" %}', [this,]);
        </script>
        </button>
        </p>
