{% load i18n %}
<table class="grid">
   <thead class="header">
		<tr>
                    <td>{% trans "Group ID" %}</td>
                    <td>{% trans "Initiators" %}</td>
                    <td>{% trans "Authorized Network" %}</td>
                    <td>{% trans "Comment" %}</td>
	            <td></td>
		</tr>
	        </thead>
        {% for ai in auth_initiator_list %}
        <tr class="{% cycle 'odd' 'even' %}" id="{{ ai.id }}">
            <td>{{ ai.iscsi_target_initiator_tag }}</td>
            <td>{{ ai.iscsi_target_initiator_initiators }}</td>
            <td>{{ ai.iscsi_target_initiator_auth_network }}</td>
            <td>{{ ai.iscsi_target_initiator_comment }}</td>
            <td>
                <button data-dojo-type="dijit.form.Button" type="button">
                    {% trans "Edit" %}
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    editObject('{% trans "Edit"|force_escape|force_escape %}', '{% url freeadmin_model_edit app="services",model="iSCSITargetAuthorizedInitiator",oid=ai.id %}', [this,]);
                </script>
                </button>
                <button data-dojo-type="dijit.form.Button" type="button">
                    {% trans "Delete" %}
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    editObject('{% trans "Delete"|force_escape|force_escape %}', '{% url freeadmin_model_delete app="services",model="iSCSITargetAuthorizedInitiator",oid=ai.id %}', [this,]);
                </script>
                </button>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">{% trans "No targets defined" %}</td>
        </tr>
        {% endfor %}
        </table>

            <p class="btn">
            <button id="access_button" data-dojo-type="dijit.form.Button" type="button">
                {% trans "Add Authorized Initiator" %}
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    addObject('{% trans "Add Authorized Initiator"|force_escape|force_escape %}', '{% url freeadmin_model_add app="services",model="iSCSITargetAuthorizedInitiator" %}', [this,]);
            </script>
            </button>
            </p>
