{% load i18n %}
<table class="grid">
  <thead class="header">
  		<tr>
                    <td>{% trans "Group ID" %}</td>
                    <td>{% trans "Listen" %}</td>
                    <td>{% trans "Comment" %}</td>
              <td></td>
  		</tr>
  	        </thead>
          {% for p in iscsiportal_list %}
          <tr class="{% cycle 'odd' 'even' %}" id="{{ p.id }}">
              <td>{{ p.iscsi_target_portal_tag }}</td>
              <td>{{ p.iscsi_target_portal_listen }}</td>
              <td>{{ p.iscsi_target_portal_comment }}</td>
              <td>
                  <button data-dojo-type="dijit.form.Button" type="button">
                      {% trans "Edit" %}
                  <script type="dojo/method" event="onClick" args="evt">
                      editObject('{% trans "Edit Portal"|force_escape %}', '{% url freeadmin_model_edit app="services",model="iSCSITargetPortal",oid=p.id %}', [this,]);
                  </script>
                  </button>
                  <button data-dojo-type="dijit.form.Button" type="button">
                      {% trans "Delete" %}
                  <script type="dojo/method" event="onClick" args="evt">
                      editObject('{% trans "Delete Portal"|force_escape %}', '{% url freeadmin_model_delete app="services",model="iSCSITargetPortal",oid=p.id %}', [this,]);
                  </script>
                  </button>
              </td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="4">{% trans "No targets defined" %}</td>
          </tr>
          {% endfor %}
          </table>
           <p class="btn">
           <button id="portal_button" data-dojo-type="dijit.form.Button" type="button">
               {% trans "Add Portal" %}
               <script type="dojo/method" event="onClick" args="evt">
                   addObject('{% trans "Add Portal"|force_escape %}', '{% url freeadmin_model_add app="services",model="iSCSITargetPortal" %}', [this,]);
           </script>
           </button>
           </p>
