{% load i18n %}
<table class="grid">
        <thead class="header">
   	<tr>
            <td>{% trans "Target" %}</td>
            <td>{% trans "Extent" %}</td>
            <td>{% trans "LUN" %}</td>
   	</tr>
           </thead>
    {% for tte in asctarget_list %}
    <tr class="{% cycle 'odd' 'even' %}" id="{{ tte.id }}">
        <td>{{ tte.iscsi_target }}</td>
        <td>{{ tte.iscsi_extent }}</td>
        <td>{{ tte.iscsi_target_lun }}</td>
        <td>
            <button dojoType="dijit.form.Button" type="button">
                {% trans "Edit" %}
            <script type="dojo/method" event="onClick" args="evt">
                editObject('{% trans "Edit" %}', '{% url freeadmin_model_edit app="services",model="iSCSITargetToExtent",oid=tte.id %}', [this,]);
            </script>
            </button>
            <button dojoType="dijit.form.Button" type="button">
                {% trans "Delete" %}
            <script type="dojo/method" event="onClick" args="evt">
                editObject('{% trans "Delete" %}', '{% url freeadmin_model_delete app="services",model="iSCSITargetToExtent",oid=tte.id %}', [this,]);
            </script>
            </button>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="9">{% trans "No targets defined" %}</td>
    </tr>
    {% endfor %}
    </table>
     <p class="btn">
        <button id="et_button" dojoType="dijit.form.Button" type="button">
            {% trans "Add Extent to Target" %}
            <script type="dojo/method" event="onClick" args="evt">
                addObject('{% trans "Add Extent To Target" %}', '{% url freeadmin_model_add app="services",model="iSCSITargetToExtent" %}', [this,]);
        </script>
        </button>
     </p>
