<div data-dojo-type="dijit.layout.ContentPane">
    <h1>{% trans "Netdata Information" %}</h1>
    <p>
        {% blocktrans %}
            Configurable settings for Netdata are not yet exposed.
        {% endblocktrans %}
    </p>
    {% if started %}
        <button id="btn_A_Close" data-dojo-type="dijit.form.Button"type="button">
            {% trans "Take me to Netdata UI" %}
            <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                window.open('/netdata/', '_blank')
            </script>
        </button>
    {% else %}
        <p>
            {% blocktrans %}
                Service has not been started yet. Start the service first.
            {% endblocktrans %}
        </p>
    {% endif %}
</div>
