{% extends "freeadmin/generic_model_edit.html" %}
{% block buttons_extra %}
{{ block.super }}
            <button data-dojo-type="dijit.form.Button" >
                <script type="dojo/event" data-dojo-event="onClick" data-dojo-args="e">
                    var dialog = getDialog(this);
                    dialog.hide();
                    editScaryObject('{% trans "Delete Plugins Jail"|force_escape|force_escape %}', '{% url freeadmin_model_delete app=app,model=model,oid=oid %}', [this,]);
                </script>
                {% trans "Delete" %}
            </button>
{% endblock %}
