{% extends "freeadmin/generic_model_edit.html" %}
{% block buttons_extra %}
{{ block.super }}
            <button data-dojo-type="dijit.form.Button" >
                <script type="dojo/event" data-dojo-event="onClick" data-dojo-args="e">
                    var dialog = getDialog(this);
                    dialog.hide();
                    var refreshNodes = [];
                    var query = dojo.byId("plugins_settings");
                    if(query)
                        refreshNodes.push(query);
                    editScaryObject('{% trans "Delete Plugins Jail"|force_escape|force_escape %}', '{% url freeadmin_model_delete app=app,model=model,oid=oid %}', refreshNodes);
                </script>
                {% trans "Delete" %}
            </button>
            <button data-dojo-type="dijit.form.Button" type="button">
                {% trans "Import Plugins Jail" %}
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    cancelDialog(this);
                    addObject('{% trans "Import Plugins Jail"|force_escape|force_escape %}', '{% url plugins_jail_import %}');
                </script>
            </button>
            <button data-dojo-type="dijit.form.Button" type="button">
                {% trans "Update Plugins Jail" %}
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    cancelDialog(this);
                    addObject('{% trans "Update Plugins Jail"|force_escape|force_escape %}', '{% url plugins_jail_update%}');
                </script>
            </button>
{% endblock %}
