{% if jail_configured %}

<button data-dojo-type="dijit.form.Button">
    <img src="{{ STATIC_URL }}images/ui/buttons/add_volumes.png" />
    <p>{% trans "Install Plugin" %}</p>
    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
        addObject('{% trans "Install Plugin"|force_escape|force_escape %}', '{% url "plugin_install" %}', [this,]);
    </script>
</button>


<button data-dojo-type="dijit.form.Button">
    <p>{% trans "View Mount Points" %}</p>
    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
        viewModel('{% trans "View Mount Points"|force_escape|force_escape %}', '{% url "freeadmin_plugins_nullmountpoint_datagrid" %}', 'services.Plugins.management.NullMountPoint.View');
    </script>
</button>

{% else %}

    <div>
    <p style="margin:10px;"><span style="color: red;">{% trans "ATTENTION: The plugins service is not running, several functionalities have been disabled." %}</span></p>
    </div>

{% endif %}

<table class="grid">
    <thead class="header">
        <tr>
            <td>{% trans "Plugin name" %}</td>
            <td>{% trans "Version" %}</td>
            <td>{% trans "PBI" %}</td>
            <td>{% trans "Service status" %}</td>
            <td>{% trans "Actions" %}</td>
        </tr>
    </thead>
{% for p in plugins %}
      <tr>
           <td>
               {{ p.plugin_name|capfirst }}
           </td>
           <td>
               {{ p.plugin_version }}
           </td>
           <td>
               {{ p.plugin_pbiname }}
           </td>
           <td>
                <img src="{{ STATIC_URL }}images/ui/buttons/{% if p.service.status == "RUNNING" %}on{% else %}off{% endif %}.png" onClick="togglePluginService(this, '{{ p.plugin_name|escapejs }}')" status="{% if p.service.status == "RUNNING" %}on{% else %}off{% endif %}" style="cursor: pointer;">
           </td>
           <td>
                {% if jail_configured %}
                <button data-dojo-type="dijit.form.Button" type="button">
                  {% trans "Update" %}
                  <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                      editObject('{% trans "Update plugin"|force_escape|force_escape %}', '{% url "plugin_update" plugin_id=p.id %}', [this,]);
                  </script>
                </button>
                <button data-dojo-type="dijit.form.Button" type="button">
                  {% trans "Delete" %}
                  <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                      editObject('{% trans "Delete plugin"|force_escape|force_escape %}', '{% url "plugin_delete" plugin_id=p.id %}', [this,]);
                  </script>
                </button>
                {% endif %}
           </td>
      </tr>
{% empty %}
      <tr>
        <td colspan="5">
            {% trans "No available plugins services" %}
        </td>
      </tr>
{% endfor %}
</table>
