{% load i18n %}
<table class="grid">
    <thead class="header">
    <tr>
        <td>{% trans "Name" %}</td>
        <td>{% trans "Comment" %}</td>
        <td>{% trans "Path" %}</td>
        <td>{% trans "Available actions" %}</td>
    </tr>
    </thead>
    {% for r in rsyncmod_list %}
    <tr class="{% cycle 'odd' 'even' %}" id="{{ r.id }}">
        <td>{{ r.rsyncmod_name }}</td>
        <td>{{ r.rsyncmod_comment }}</td>
        <td>{{ r.rsyncmod_path }}</td>
        <td>
             <button data-dojo-type="dijit.form.Button" type="button">
                 {% trans "Edit" %}
             <script type="dojo/method" event="onClick" args="evt">
                 editObject('{% trans "Edit"|force_escape %}', '{{ r.get_edit_url }}', [this,]);
             </script>
             </button>
             <button data-dojo-type="dijit.form.Button" type="button">
                 {% trans "Delete" %}
             <script type="dojo/method" event="onClick" args="evt">
                 editObject('{% trans "Delete"|force_escape %}', '{{ r.get_delete_url }}', [this,]);
             </script>
             </button>

        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">{% trans "No rsync modules defined" %}</td>
    </tr>
    {% endfor %}
    </table>
    <p class="btn">
        <button id="tgt_button" data-dojo-type="dijit.form.Button" type="button">
            {% trans "Add Rsync Module" %}
            <script type="dojo/method" event="onClick" args="evt">
                addObject('{% trans "Add Rsync Module"|force_escape %}', '{% url freeadmin_model_add app="services",model="RsyncMod" %}', [this,]);
        </script>
        </button>
        </p>
