<ng-template [ngTemplateOutlet]="templateTop" [ngTemplateOutletContext]="this"></ng-template>

<alert *ngIf="success" type="success">Successfully updated.</alert>
<alert *ngIf="error" type="danger"><span [innerHTML]="error"></span></alert>
<ba-card>
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" [ngBusy]="busy">

    <dynamic-form-bootstrap-control #component *ngFor="let controlModel of conf.formModel" [group]="formGroup" [model]="controlModel"
      [hasErrorMessaging]="controlModel.hasErrorMessages">
    </dynamic-form-bootstrap-control>
    <button class="btn btn-primary" type="submit">Update</button>
    <span *ngFor="let custBtn of conf.custActions">
      <button class="btn btn-primary" type="button" (click)="custBtn['function']()">{{custBtn.name}}</button>
    </span>
    <button *ngIf="conf.route_delete" class="btn btn-danger" type="button" (click)="gotoDelete()">Delete</button>

  </form>
</ba-card>
