#!/usr/bin/env python3.6

###########################################################################
# FreeNAS specific settings
###########################################################################

## Set this be the network information assigned to the bridged interface
# BRIDGEIP = ""
# BRIDGENETMASK = ""
# BRIDGEGW = ""
# BRIDGEDNS = ""
# BRIDGEHOST = ""
# BRIDGEHOST_B = ""
# BRIDGEDOMAIN = ""

## Set the account information for dns testing we do with noip.com
## If this is NOT set, the test will be skipped
# NOIPUSERNAME = ""
# NOIPPASSWORD = ""
# NOIPHOST = ""

## Set this to the IP address to use in VirtualBox for testing
# FNASTESTIP = ""

## Set this to the information to use for testing jails
# JAILIP = ""
# JAILNETMASK = ""
# JAILGW = ""

## Set this to be the AD information for joining an Active Directory
# ADUSERNAME = ""
# ADPASSWORD = ""

## Set this information to use for testing AFP/OSX filesharing
# OSX_HOST = ""
# OSX_USERNAME = ""
# OSX_PASSWORD = "" # Leave this unset to default to SSH keys

## Set this information to test filesharing and others on BSD
# BSD_HOST = ""
# BSD_USERNAME = ""
# BSD_PASSWORD = "" # Leave this unset to default to SSH keys

## Set this to be the information required for testing LDAP
# LDAPHOSTNAME = ""
# LDAPBASEDN = ""
# LDAPBINDDN = ""
# LDAPBINDPASSWORD = ""
