boto3
junitparser
pytest
pytest-dependency
pytest-rerunfailures
pytest-timeout
requests
setuptools>=61.0
websocket-client>=1.4.2
wheel
cython-iscsi @ git+https://github.com/truenas/cython-iscsi.git@tester
PYSCSI @ git+https://github.com/truenas/python-scsi.git@tester
zeroconf
pyotp
