boto3
dnspython
junitparser
pytest
pytest-dependency
pytest-rerunfailures
pytest-timeout
pytest-timestamper
pytz
pyvmomi==7.0.3
requests
websocket-client>=1.4.2
pyotp
cython-iscsi @ git+https://github.com/truenas/cython-iscsi.git@tester
PYSCSI @ git+https://github.com/truenas/python-scsi.git@tester
pysnmp
zeroconf
