<div data-dojo-type="dijit.layout.TabContainer" style="width:100%;" id="tab_tasks" data-dojo-props="doLayout:true, nested: true" title="{% trans "Tasks" %}">

    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Cloud Sync"|escapejs %}', doLayout:false, refreshOnShow: true{% if tab == "tasks.CloudSync.View" %}, selected:true{% endif %}, href: '{% url "freeadmin_tasks_cloudsync_datagrid" %}'" tab="tasks.CloudSync.View" class="objrefresh data_tasks_CloudSync">
    </div>

    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Cron Jobs"|escapejs %}', doLayout:false, refreshOnShow: true{% if tab == "tasks.CronJob.View" %}, selected:true{% endif %}, href: '{% url "freeadmin_tasks_cronjob_datagrid" %}'" tab="tasks.CronJob.View" class="objrefresh data_tasks_CronJob">
    </div>

    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Init/Shutdown Scripts"|escapejs %}', doLayout:false, refreshOnShow: true{% if tab == "tasks.InitShutdown.View" %}, selected:true{% endif %}, href: '{% url "freeadmin_tasks_initshutdown_datagrid" %}'" tab="tasks.InitShutdown.View" class="objrefresh data_tasks_InitShutdown">
    </div>

    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Rsync Tasks"|escapejs %}', doLayout:false, refreshOnShow: true{% if tab == "tasks.Rsync.View" %}, selected:true{% endif %}, href: '{% url "freeadmin_tasks_rsync_datagrid" %}'" tab="tasks.Rsync.View" class="objrefresh data_tasks_Rsync">
    </div>

    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "S.M.A.R.T. Tests"|escapejs %}', doLayout:false, refreshOnShow: true{% if tab == "tasks.SMARTTest.View" %}, selected:true{% endif %}, href: '{% url "freeadmin_tasks_smarttest_datagrid" %}'" tab="tasks.SMARTTest.View" class="objrefresh data_tasks_SMARTTest">
    </div>

</div>
