[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/gimp
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/gimp.png
MimeType=application/x-gimp
X-KDE-StartupNotify=true
Categories=Qt;Graphics;
Name=gimp
Name[ca]=gimp
Name[da]=Gimp
Name[en_GB]=gimp
Name[en_ZA]=gimp
Name[es]=gimp
Name[fr]=gimp
Name[fr_CA]=gimp
Name[hr]=gimp
Name[hu]=gimp képszerkesztő
Name[id]=gimp
Name[it]=gimp
Name[nl]=gimp
Name[pl]=Gimp
Name[pt_BR]=gimp
Name[ru]=gimp
Name[sk]=gimp
Name[tr]=gimp
Name[uk]=gimp
GenericName=Gimp
GenericName[ca]=GImp
GenericName[da]=Gimp
GenericName[en_GB]=Gimp
GenericName[en_ZA]=Gimp
GenericName[es]=Gimp
GenericName[fr]=Gimp
GenericName[fr_CA]=Gimp
GenericName[hr]=Gimp
GenericName[hu]=Gimp képszerkesztő
GenericName[id]=Gimp
GenericName[it]=Gimp
GenericName[nl]=Gimp
GenericName[pl]=Gimp
GenericName[pt_BR]=Gimp
GenericName[ru]=Gimp
GenericName[sk]=Gimp
GenericName[tr]=Gimp
GenericName[uk]=Gimp
