{% extends "base.html" %}

{% block content %}

<div dojoType="dijit.layout.TabContainer" style="width:100%;height:400px;">
        <div dojoType="dijit.layout.ContentPane" title="Disk Groups">
<table>
    <tr>
        <td style="background:#cfcfcf;"><strong>Group</strong></td>
        <td style="background:#cfcfcf;"><strong>Type</strong></td>
        <td style="background:#cfcfcf;"></td>
    </tr>
{% for group in object_list %}
    <tr>
        <td> <a href="{{ group.id }}">{{ group.name }}</a></td>
        <td> {{ group.type }}</td>
        <td>
        <a href="/freenas/disk/management/groups/delete/{{ group.id }}/">Delete?</a>
            </td>
{% endfor %}
    </tr>
</table>
</div>
    <div dojoType="dijit.layout.ContentPane" title="Add Disk">
            <a href="/freenas/disk/management/disks/add/" alt="Add Disk">Add Disk</a>
        </div>
        <div dojoType="dijit.layout.ContentPane" title="Group Disks">
            <a href="/freenas/disk/management/groups/add/" alt="Group Disk">Group      Disks</a>
        </div>
        <div dojoType="dijit.layout.ContentPane" title="Create a Volume">
            <a href="/freenas/disk/management/volumes/create/" alt="Create a           Volume">Create a Volume</a>
        </div>

</div>

{% endblock %}
