{% extends "new-base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="button">
<div class="icons"><a href="/freenas/disk/wizard/add_disk/"><img src="/freenas/media/images/ui/disk-add.png"></a><br /><strong>Add Disks</strong></div>
<div class="icons"><a href="/freenas/disk/management/groups/"><img src="/freenas/media/images/ui/disk-group.png"></a><br /><strong>Group Disks</strong></div>
<div class="icons"><a href="/freenas/disk/wizard/create_volume/"><img src="/freenas/media/images/ui/create.png"></a><br /><strong>Create Volume</strong></div>
</div>

          {% else %}
                  <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>

{% endif %}
                          {% endblock %}
