{% extends "base.html" %}

{% block content %}

<h1>Disk Groups</h1>
<table>
    <tr>
        <td style="background:#cfcfcf;"><strong>Group</strong></td>
        <td style="background:#cfcfcf;"><strong>Type</strong></td>
        <td style="background:#cfcfcf;"></td>
    </tr>
{% for group in object_list %}
    <tr>
        <td> <a href="{{ group.id }}">{{ group.name }}</a></td>
        <td> {{ group.type }}</td>
        <td>
        <a href="/freenas/disk/management/groups/delete/{{ group.id }}/">Delete?</a>
            </td>
{% endfor %}
    </tr>
</table>


{% endblock %}
