{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}

<div dojoType="dijit.layout.TabContainer" style="width:100%;height:400px;">
        <div dojoType="dijit.layout.ContentPane" title="Active Disks">
<table>
    <tr>
        <td width="150px" style="background:#cfcfcf;"><strong>Disk Name</strong></td>
        <td width="50px" style="background:#cfcfcf;"><strong>Disk</strong></td>
        <td width="25px" style="background:#cfcfcf;"></td>
    </tr>
{% for disk in object_list %}
    <tr>
        <td>
<a href="{{ disk.id }}">{% autoescape off %}{{ disk.name }}{% endautoescape %}</a>

        <td> {{ disk.disks }}</td>
        <td>
<a href="/freenas/disk/management/disks/delete/{{ disk.id }}/">Delete?</a>
            </td>
    </tr>
{% endfor %}
</table>
    </div>
        <div dojoType="dijit.layout.ContentPane" title="Add Disk">
            <a href="/freenas/disk/management/disks/add/" alt="Add Disk">Add Disk</a>
        </div>
        <div dojoType="dijit.layout.ContentPane" title="Group Disks">
            <a href="/freenas/disk/management/groups/add/" alt="Group Disk">Group Disks</a>
        </div>
        <div dojoType="dijit.layout.ContentPane" title="Create a Volume">
            <a href="/freenas/disk/management/volumes/create/" alt="Create a Volume">Create a Volume</a>
        </div>
</div>
{% else %}
<p>Welcome. Please <a href="/freenas/login/">log in</a>.</ p>
{% endif %}
{% endblock %}
