{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<form action="." method="post">{% csrf_token %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;height:300px;">
    <div dojoType="dijit.layout.ContentPane" title="Add a Disk">
<table>
    <tr>
        <td style="padding-right:25px;">
            <strong>Name:</strong>
        </td>
        <td>
            {{ form.name }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Disks:</strong>
        </td>
        <td>
            {{ form.disks }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Description:</strong>
        </td>
        <td>
            {{ form.description }}
        </td>
    </tr>
</table>
<br />
</div>
    <div dojoType="dijit.layout.ContentPane" title="Advanced Options">
<table>
    <tr>
        <td valign="top">
            <strong>Disk Order:</strong>
        </td>
        <td>
            {{ form.sort_order }}
        </td>
    </tr>
    <tr>
        <td valign="top">
            <strong>Transfer Mode:</strong>
        </td>
        <td>
            {{ form.transfermode }}
        </td>
    </tr>
    <tr>
        <td valign="top">
            <strong>Standby:</strong>
        </td>
        <td>
            {{ form.hddstandby }}
        </td>
    </tr>
    <tr>
        <td valign="top">
            <strong>Power Management:</strong>
        </td>
        <td>
            {{ form.advpowermgmt }}
        </td>
    </tr>
    <tr>
        <td valign="top">
            <strong>Acoustic Level:</strong>
        </td>
        <td>
            {{ form.acousticlevel }}
        </td>
    </tr>
    <tr>
        <td valign="top">
            <strong>S.M.A.R.T.:</strong>
        </td>
        <td>
            {{ form.togglesmart }}
        </td>
    </tr>
    <tr>
        <td valign="top">
            <strong>S.M.A.R.T. Options:</strong>
        </td>
        <td>
            {{ form.smartoptions }}
        </td>
    </tr>
</table>
    </div>
</div>
<button dojoType="dijit.form.Button" type="submit">Add</button>
</form>
{% else %}
    <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>
{% endif %}

{% endblock %}

