{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}

<h1>System Disks</h1>
<h2>Active Disks</h2>
<table>
    <tr>
        <td width="150px" style="background:#cfcfcf;"><strong>Disk Name</strong></td>
        <td width="50px" style="background:#cfcfcf;"><strong>Disk</strong></td>
        <td width="25px" style="background:#cfcfcf;"></td>
    </tr>
{% for disk in object_list %}
    <tr>
        <td>
<a href="{{ disk.id }}">{% autoescape off %}{{ disk.name }}{% endautoescape %}</a>

        <td> {{ disk.disks }}</td>
        <td>
<a href="/freenas/disk/management/disks/delete/{{ disk.id }}/">Delete?</a>
            </td>
    </tr>
{% endfor %}
</table>

{% else %}
<p>Welcome. Please <a href="/freenas/login/">log in</a>.</ p>
{% endif %}
{% endblock %}
