{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;" dolayout="false">
    <div dojoType="dijit.layout.ContentPane" title="Active">
<table>
    <tr>
        <td style="padding-right:25px;">
            <strong>Disks</strong>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Volumes</strong>
        </td>
        <td>
        </td>
    </tr>
</table>
</table>
    </div>

    <div dojoType="dijit.layout.ContentPane" title="Add Disks">
<form action="." method="post">{% csrf_token %}
<table>
    <tr>
        <td style="padding-right:25px;">
            <strong>Disk Name</strong>
        </td>
        <td>
            {{ disk.disk_name }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Disk</strong>
        </td>
        <td>
            {{ disk.disks }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Description</strong>
        </td>
        <td>
            {{ disk.description }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Transfer Mode</strong>
        </td>
        <td>
            {{ disk.transfermode }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Hard Drive Standby</strong>
        </td>
        <td>
            {{ disk.hddstandby }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Advanced Power Management</strong>
        </td>
        <td>
            {{ disk.advpowermgmt }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Acoustic Level</strong>
        </td>
        <td>
            {{ disk.acousticlevel }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>S.M.A.R.T.</strong>
        </td>
        <td>
            {{ disk.togglesmart }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>S.M.A.R.T.</strong>
        </td>
        <td>
            {{ disk.smartoptions }}
        </td>
    </tr>
</table>
<button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Add!</button>
</form>
</div>


    <div dojoType="dijit.layout.ContentPane" title="Group Disks">
<form action="." method="post">{% csrf_token %}
<table>
    <tr>
        <td style="padding-right:25px;">
            <strong>Group Name</strong>
        </td>
        <td>
            {{ diskgroup.group_name }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Members</strong>
        </td>
        <td>
            {{ diskgroup.members }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Type</strong>
        </td>
        <td>
            {{ diskgroup.group_type }}
        </td>
    </tr>
</table>
<button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Group!</button>
</form>
</div>


    <div dojoType="dijit.layout.ContentPane" title="Create Shares">
<form action="." method="post">{% csrf_token %}
<table>
    <tr>
        <td style="padding-right:25px;">
            <strong>Volume Name</strong>
        </td>
        <td>
            {{ volume.vol_name }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Type</strong>
        </td>
        <td>
            {{ volume.vol_type }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Disk Groups</strong>
        </td>
        <td>
            {{ volume.groups }}
        </td>
    </tr>
</table>
<button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Create!</button>
</form>
</div>
             



<br />
</div>
{% else %}
    <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>
{% endif %}

{% endblock %}

