.debug-panel {
  .flex-flow( column nowrap );
  .flex-display( flex );
  height    : 350px;
  font-size : 9.5pt;

  // TODO: #7908
  & > div {
    .flex-flow( column nowrap );
    .flex-display( flex );
  }

  .tab-content {
    .flex( 1 );
    .flex-flow( row nowrap );
    .flex-display( flex );
  }

  .tab-pane {
    .flex( 1 0 100% );
    .flex-display( flex );
    padding : 5px;
  }

  .panel-body {
    padding: 10px 0;
  }
}

.debug-content-flex-wrapper {
    .flex( 1 );
    .flex-display( flex );
}

.debug-heading {
  text-transform : uppercase;
  color          : rgb(175, 175, 175);
  padding        : 0;
  font-size      : 9pt;
}

.debug-column {
  .flex-flow( column nowrap );
  .flex-display( flex );
}

.debug-column-content {
  .flex( 1 );
  overflow : auto;
  margin   : 0;
}

.debug-monospace-content {
  background: rgb(62, 62, 62);
  color: rgb(215, 215, 215);
  font-weight: 200;
  font-family: "Source Code Pro", "Menlo", monospace;
}

.debug-list-item {
  display: block;
  cursor: default;
  padding: 4px 25px;
  color: #333;

  &:hover {
    background: #F1F1F1;
    text-decoration: none;
    color: darken( @brand-info, 10% );
  }
}