// Network Config
.network-config {
  border-top  : 1px solid #e7e7e7;
  margin-top  : 20px;
  padding-top : 20px;
}

// Network Interface
.network-interface {
  overflow: auto;

  .flex-display(flex);
  .flex-flow(column);
  .flex(1);

  .panel {
    .flex-display(flex);
    .flex-flow(row);
    .flex(1);
  }

  // This is only for the list of aliases for a given interface.
  .aliasDisplayList {
    .flex-display(flex);
    .flex-flow(row);
    .flex(1);

    .aliasDisplayItem {
      width: 100%;

      .flex-display(flex);
      .flex-flow(row);
      .flex(1);

      .aliasItemIP {
        .flex(1 1 auto);
      }

      .aliasItemNetmask {
        .flex (1 1 auto);
      }
    }
  }
}
