.viewer {
}

.viewer-detail {
  .nav-pills {
    .primary-text {
      color : @gray-dark;
    }
    .secondary-text {
      color : @gray-light;
    }
      .primary-text
    , .secondary-text {
      display       : block;
      overflow      : hidden;
      white-space   : nowrap;
      text-overflow : ellipsis;
    }
    .active {
        .primary-text
      , .secondary-text {
        color : white;
      }
    }
    &> li > a {
      color         : @gray-dark;
      border-radius : 0;
      &.active {
        background-color : @brand-info;
        &:hover {
          background-color : lighten(@brand-info, 5%)
        }
      }
    }
  }
  .well {
    padding : 0;
  }
}

.viewer-icon {
}

.viewer-table {
}

.user-icon {
  display        : table-cell;
  height         : 100px;
  width          : 100px;
  vertical-align : middle;
  border-radius  : 50%;
  color          : white;
  text-align     : center;
  font-size      : 3em;
  font-weight    : 100;
}