{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<h1>Services - RSYNC</h1>
<h2>Local Job</h2>
    <form action="." method="post" id="cronjob">
<table>
    <tr>
        <td style="padding-right:25px;">
    </tr>
    <tr>
        <td>
            <strong>Source share:</strong>
        </td>
        <td>
            {{ form.sourceshare }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Destination share:</strong>
        </td>
        <td>
            {{ form.destinationshare }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Who:</strong>
        </td>
        <td>
            {{ form.who }}
        </td>
    </tr>
    <tr>
        <td valign="top">
            <strong>Description:</strong>
        </td>
        <td>
            {{ form.description }}
            <br /><br />
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <strong>Minutes:</strong>
        </td>
        <td style="padding-left:25px;">
            <strong>Hours:</strong>
        </td>
        <td style="padding-left:25px;">
            <strong>Days:</strong>
        </td>
        <td style="padding-left:25px;">
            <strong>Months:</strong>
        </td>
        <td style="padding-left:25px;">
            <strong>Weekdays:</strong>
        </td>
    </tr>
        <tr>
        <td>
            {{ form.ToggleMinutes }}
            <br />
            {{ form.Minutes1 }}
            {{ form.Minutes2 }}
            {{ form.Minutes3 }}
            {{ form.Minutes4 }}
        </td>
        <td style="padding-left:25px;">
            {{ form.ToggleHours }}
            <br />
            {{ form.Hours1 }}
            {{ form.Hours2 }}
        </td>
        <td style="padding-left:25px;">
            {{ form.ToggleDays }}
            <br />
            {{ form.Days1 }}
            {{ form.Days2 }}
        </td>
        <td style="padding-left:25px;">
            {{ form.ToggleMonths }}
            <br />
            {{ form.Months }}
        </td>
        <td style="padding-left:25px;" valign="top">
            {{ form.ToggleWeekdays }}
            <br />
            {{ form.Weekdays }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Recursive:</strong>
        </td>
        <td>
            {{ form.recursive }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Times:</strong>
        </td>
        <td>
            {{ form.times }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Compress:</strong>
        </td>
        <td>
            {{ form.compress }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Archive:</strong>
        </td>
        <td>
            {{ form.archive }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Delete:</strong>
        </td>
        <td>
            {{ form.delete }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Quiet:</strong>
        </td>
        <td>
            {{ form.quiet }}
        </td>
    </tr>

    <tr>
        <td>
            <strong>Preserve Permissions:</strong>
        </td>
        <td>
            {{ form.preserveperms }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Extended Attributes</strong>
        </td>
        <td>
            {{ form.extattr }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Extra options:</strong>
        </td>
        <td>
            {{ form.options }}
        </td>
    </tr>

</table>
        <input type="submit" value="Save" />
    </form>
          {% else %}
                  <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>

{% endif %}
                          {% endblock %}
