{% extends "freeadmin/generic_model_add.html" %}
{% block post_form %}

<script type="dojo/on" data-dojo-event="submit" data-dojo-args="e">

    /* 
     * XXX HACK XXX
     *
     * This is terrible! One day we will rejoice and have a universal
     * progress mechanism! Until then, crazy hacks!
     *
     * XXX HACK XXX
     */
/*
    var progressurl = '/jails/progress/';
    var jail_type = get_jail_type();
    var parts = jail_type.split("-");
    if (parts.length > 1 && parts[0] == 'linux') {
        progressurl = '/jails/linuxprogress/';
    }
*/

    doSubmit({
       form: this,
       event: e,
       url: '{{ request.path }}',
       progressurl: '/jails/linuxprogress/',
       //progressurl: progressurl,
       progresstype: 'jail'
    });
</script>

<script type="dojo/method">
addToStack(function() {
    jail_nat_toggle();
    jail_vnet_toggle();
});
</script>

{% endblock %}
