{% extends "freeadmin/generic_model_edit.html" %}

{% block post_form %}
{{ block.super }}

<script type="dojo/method">
addToStack(function() {
    jc_ipv4_dhcp_toggle();
    jc_ipv6_autoconf_toggle();
});
</script>

<script type="dojo/method">
require(["dojo/on", "dojo/_base/array"], function(on, array){
    on(dojo.doc, "DOMNodeInserted", function(evt){
        var id = dojo.attr(evt.target, "id");
        if (id == "widget_id_jc_collectionurl") {
            processStack();
        }
    });
});
</script>

{% endblock %}
