<div data-dojo-type="dijit.layout.ContentPane">
	{% if url_vnc %}
    		<h1>{% trans "VNC access via Web" %}</h1>
    	<p>
        	{% blocktrans %}
            		A new page will be open and connected to the vnc server.
        	{% endblocktrans %}
    	</p>
    <button id="btn_A_Close" data-dojo-type="dijit.form.Button"type="button">
        {% trans "Connect" %}
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
            window.open("{{ url_vnc }}", '_blank')
        </script>
    </button>
	{% else %}
    		<h1>{% trans "Web VNC disabled" %}</h1>
    	<p>
        	{% blocktrans %}
            		Enable <b>VNC Web</b> on VNC device and restart your VM.
        	{% endblocktrans %}
    	</p>
	{% endif %}
</div>
