<p>{% trans "To file a bug on FreeNAS, please fill in the fields below or visit " %} <a href="http://bugs.freenas.org" target="_blank">http://bugs.freenas.org</a>.</p>
<p>{% trans "For enterprise-grade storage solutions and support, please visit" %} <a href="http://www.ixsystems.com/storage/" target="_blank">http://www.ixsystems.com/storage/</a>.</p>

<div data-dojo-type="freeadmin/SupportTicket" data-dojo-props="url: '{% url "support_ticket" %}', softwareName: '{{ sw_name }}'{% if error_message %}, errorMessage: '{{ error_message|escapejs }}'{% endif %}{% if initial %}, initial: '{{ initial|escapejs }}'{% endif %}, progressUrl: '{% url "support_ticket_progress" %}'"></div>
