alabaster==0.7.16
babel==2.16.0
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
dataclasses-json==0.6.7
docutils==0.19
enum-compat==0.0.3
idna==3.10
imagesize==1.4.1
Jinja2==3.1.4
json-schema-for-humans==1.4.1
markdown2==2.5.1
MarkupSafe==2.1.5
marshmallow==3.23.1
mypy-extensions==1.0.0
packaging==24.1
Pygments==2.18.0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==5.3.0
sphinxbootstrap4theme==0.6.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
typing-inspect==0.9.0
typing_extensions==4.12.2
urllib3==2.2.3
