.tundra .dijitSliderRtl .dijitSliderProgressBarH,
.tundra .dijitSliderRtl .dijitSliderRemainingBarH,
.tundra .dijitSliderRtl .dijitSliderLeftBumper,
.tundra .dijitSliderRtl .dijitSliderRightBumper,
.tundra .dijitSliderRtl .dijitSliderTopBumper {
	background-position: top right;
}
.tundra .dijitSliderRtl .dijitSliderProgressBarV,
.tundra .dijitSliderRtl .dijitSliderRemainingBarV,
.tundra .dijitSliderRtl .dijitSliderBottomBumper {
	background-position: bottom right;
}
.tundra .dijitSliderRtl .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}
.tundra .dijitSliderRtl .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}
.tundra .dijitSliderRtl .dijitSliderIncrementIconH {
	background-position: -7px 0px;
}
.tundra .dijitSliderRtl .dijitSliderDecrementIconH {
	background-position: -14px 0px;
}
