
.claro .dijitBorderContainer {
	border: 1px #b5bcc7 solid;
	padding: 5px;
}
.claro .dijitSplitContainer-child,
.claro .dijitBorderContainer-child {
	
	border: 1px #b5bcc7 solid;
}
.claro .dijitBorderContainer-dijitTabContainerTop,
.claro .dijitBorderContainer-dijitTabContainerBottom,
.claro .dijitBorderContainer-dijitTabContainerLeft,
.claro .dijitBorderContainer-dijitTabContainerRight,
.claro .dijitBorderContainer-dijitAccordionContainer {
	
	 border: none;
}
.claro .dijitBorderContainer-dijitBorderContainer {
	
	border: 1px #c0ccdf solid;
	padding: 5px;
}
.claro .dijitSplitterH,
.claro .dijitGutterH {
	background:none;
	border:0;
	height:5px;
}
.claro .dijitSplitterH .dijitSplitterThumb {
	background:#dde2e9 none;
	height:1px;
	top:2px;
	width:19px;
}
.claro .dijitSplitterV,
.claro .dijitGutterV {
	background:none;
	border:0;
	width:5px;
	margin: 0;
}
.claro .dijitSplitterV .dijitSplitterThumb {
	background:#dde2e9 none;
	height:19px;
	left:2px;
	width:1px;
	margin: 0;
}
.claro .dijitSplitterHHover {
	font-size: 1px;
	background: url("images/splitterHorizontalHover.png") no-repeat center top;
}
.claro .dijitSplitterHHover .dijitSplitterThumb {
	background:#769dc0 none;
}
.claro .dijitSplitterVHover {
	font-size: 1px;
	background: url("images/splitterVerticalHover.png") no-repeat center left;
}
.claro .dijitSplitterVHover .dijitSplitterThumb {
	background:#769dc0 none;
}
.dj_ie6 .dijitSplitterHHover,
.dj_ie6 .claro .dijitSplitterVHover {
	background-color:#cfe9ff;
	background-image:none;
}
.claro .dijitSplitterHActive {
	font-size: 1px;
	background-color:#abd4fb;
	border-top:blue;
}
.claro .dijitSplitterVActive {
	font-size: 1px;
	background-color:#abd4fb;
}
