{% extends "freeadmin/generic_model_edit.html" %}
{% load freeadmin %}

{% block buttons_extra %}
            <button id="btn_{% cls_name form %}_Debug" data-dojo-type="dijit.form.Button" type="button">
                {% trans "Save Debug" %}
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    window.location='{% url "system_debug" %}';
                </script>
            </button>
            <button id="btn_{% cls_name form %}_FwUpdate" data-dojo-type="dijit.form.Button" type="button">
                {% trans "Firmware Update" %}
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    addObject('{% trans "Firmware Update"|force_escape|force_escape %}', '{% url "system_firmwizard" %}');
                </script>
            </button>
            <button id="btn_{% cls_name form %}_Backup" data-dojo-type="dijit.form.Button" type="button">
                {% trans "Backup" %}
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    editObject('{% trans "Backup"|force_escape|force_escape %}', '{% url "system_backup" %}');
                </script>
            </button>
{% endblock %}
