{% extends "freeadmin/generic_form.html" %}
{% block onSubmit %}
    doSubmit({
        form: this,
        event: e,
        url: '{% block formpost %}{{ request.path }}?label={{ label }}{% endblock %}',
        confirm: conf,
        longRunning: true,
        progressbar: {
            steps: [
                {"label": gettext("Attaching disk")}
            ],
            poolUrl: '{% url "system_bootenv_pool_attach_progress" %}',
            fileUpload: false
        }
    });
{% endblock %}
{% block oklabel %}{% trans "Attach Disk" %}{% endblock %}
