{% extends "freeadmin/generic_form.html" %}

{% block onSubmit %}
doSubmit({
    form: this,
    event: e,
    url: '{% block formpost %}{{ request.path }}?ids={{ ids }}{% endblock %}',
    progressbar: {
        poolUrl: '{% url "system_bootenv_deletebulk_progress" %}',
	steps: [
	  {"label": gettext("Deleting")}
        ],
	mode: 'single',
	fileUpload: false
    }
});
{% endblock %}

{% block form %}
<tr><td colspan="2">{% blocktrans with name=name %}Are you sure you want to delete the following boot environments?{% endblocktrans %}<br />{% for name in names %}{{ name }}<br />{% endfor %}</td></tr>
{{ form }}
{% endblock %}

{% block cancellabel %}{% trans "No" %}{% endblock %}
