{% extends "freeadmin/generic_model_datagrid.html" %}
{% block actions_static_buttons %}
      <button id="datagridBtn_{{ module_name }}_Import" data-dojo-type="dijit.form.Button" type="button">
          {% blocktrans with name=verbose_name %}Import CA{% endblocktrans %}
      <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
          editObject('{% trans "Import"|escapejs %} {{ verbose_name }}', '{% url "CA_import" %}', [this,]);
      </script>
      </button>

      <button id="datagridBtn_{{ module_name }}_CreateInternal" data-dojo-type="dijit.form.Button" type="button">
          {% blocktrans with name=verbose_name %}Create Internal CA{% endblocktrans %}
      <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
          editObject('{% trans "Create Internal CA"|escapejs %}', '{% url "CA_create_internal" %}', [this,]);
      </script>
      </button>

      <button id="datagridBtn_{{ module_name }}_CreateIntermediate" data-dojo-type="dijit.form.Button" type="button">
          {% blocktrans with name=verbose_name %}Create Intermediate CA{% endblocktrans %}
      <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
          editObject('{% trans "Create Intermediate CA"|escapejs %}', '{% url "CA_create_intermediate" %}', [this,]);
      </script>
      </button>

{% endblock %}
