{% extends "freeadmin/generic_model_datagrid.html" %}
{% block actions_static_buttons %}
      <button id="datagridBtn_{{ module_name }}_Import" data-dojo-type="dijit.form.Button" type="button">
          {% blocktrans with name=verbose_name %}Import Certificate{% endblocktrans %}
      <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
          editObject('{% trans "Import"|escapejs %} {{ verbose_name }}', '{% url "certificate_import" %}', [this,]);
      </script>
      </button>

      <button id="datagridBtn_{{ module_name }}_ImportCSR" data-dojo-type="dijit.form.Button" type="button">
          {% blocktrans with name=verbose_name %}Import Certificate Signing Request{% endblocktrans %}
      <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
          editObject('{% trans "Import CSR"|escapejs %} {{ verbose_name }}', '{% url "certificate_import_csr" %}', [this,]);
      </script>
      </button>

      <button id="datagridBtn_{{ module_name }}_CreateInternal" data-dojo-type="dijit.form.Button" type="button">
          {% blocktrans with name=verbose_name %}Create Internal Certificate{% endblocktrans %}
      <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
          editObject('{% trans "Create Internal Certificate"|escapejs %}', '{% url "certificate_create_internal" %}', [this,]);
      </script>
      </button>

      <button id="datagridBtn_{{ module_name }}_CreateCSR" data-dojo-type="dijit.form.Button" type="button">
          {% blocktrans with name=verbose_name %}Create Certificate Signing Request{% endblocktrans %}
      <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
          editObject('{% trans "Create Certificate Signing Request"|escapejs %}', '{% url "certificate_create_CSR" %}', [this,]);
      </script>
      </button>

{% endblock %}
