{% extends "freeadmin/generic_model_add.html" %}
{% block post_form %}
{{ block.super }}
<script type="dojo/method">
addToStack(function() {
    credentialsProvider('id_provider', 'cloud-credentials-attribute');
});
</script>
{% endblock %}

{% block buttons_extra %}
<button id="btn_Fake" data-dojo-type="dijit.form.Button" type="button">
<script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
    form = getForm(this);
    doSubmit({
        form: form,
        event: evt,
        url: '{{ request.path }}',
        extraKey: "verify",
        extraValue: "1",
        });
</script>
{% trans "Verify credentials" %}
</button>
{% endblock %}
