{% load i18n %}
<form data-dojo-type="dijit.form.Form" enctype="multipart/form-data" id="uploadconfigform" name="uploadconfigform" method="post">
<script type="dojo/event" data-dojo-event="onSubmit" data-dojo-args="e">
    formSubmit(this, e, '{% url system_configupload %}');
</script>
        <table class="config">
            {% if form.non_field_errors %}
                <tr>
                    <td colspan="2">
                        {{  form.non_field_errors }}
                    </td>
                </tr>
            {% endif %}
            {% for field in form %}
            <input data-dojo-type="dijit.form.TextBox" type="hidden" data-dojo-props="type: 'hidden'" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                <tr>
                    <td>
                        <label for="{{ field.auto_id }}">
                            {% if field.field.required %}
                                <span class="required">{{ field.label }}</span>
                            {% else %}
                                {{ field.label }}
                            {% endif %}
                        </label>
                    </td>
                    <td>
                         {{ field }}
                         {{ field.errors }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p class="btn">
            <button class="submitform" data-dojo-type="dijit.form.Button" type="submit" data-dojo-props="type:'submit'">
                {% trans "Update" %}
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    this.set('label', '{% trans "Please wait..."|force_escape|force_escape %}');
                </script>
            </button>
            <button data-dojo-type="dijit.form.Button" class="cancelform">
                {% trans "Cancel" %}
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    cancelDialog(this);
                </script>
            </button>
        </p>
    </form>
