{% load freeadmin %}
<form data-dojo-type="dijit.form.Form" id="form_{% cls_name form %}" {% if form and form.is_multipart %}enctype="multipart/form-data" {% endif %}method="POST">
    <script type="dojo/event" data-dojo-event="onSubmit" data-dojo-args="e">
doSubmit({
    form: this,
    event: e,
    url: '{{ request.path }}',
    progressbar: true
});
    </script>
<table class="form">
    {% csrf_token %}
    {% if failover_down %}
        <tr><td style="color: red">Standby node is not available. The debug is going to contain data from the active node only. </td></tr>
    {%endif%}
   <tr><td>Are you sure you want to save debug? This operation might take a while.</td></tr>
</table>
    {% block buttons %}
    <button id="btn_SaveDebug_Ok" data-dojo-type="dijit.form.Button" type="submit" data-dojo-props="type:'submit'" class="submitform">
        {% trans "OK" %}
    </button>
    <button id="btn_SaveDebug_Cancel" data-dojo-type="dijit.form.Button" type="button">
        {% trans "Cancel" %}
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
            cancelDialog(this);
        </script>
    </button>
    {% endblock %}
</form>
