{% extends "freeadmin/generic_model_edit.html" %}
{% load i18n %}
{% block buttons_extra %}
            <button data-dojo-type="dijit.form.Button"> 
                <script type="dojo/event" data-dojo-event="onClick" data-dojo-args="e">
                    var sendbtn = this;
                    this.set('disabled', true);
                    form = getForm(this);
                    data = form.get('value');
                    formSubmit(form, e, '{% url system_testmail %}{% if inline %}?inline=true{% endif %}');
                </script>
            {% trans "Send Test Mail" %}
            </button>

{% endblock %}
{% block buttons %}
    <tr>
        <td>
        {% trans "HINT: Test e-mails are sent to root user. To configure it use Users -> root -> Change E-mail" %}
        </td>
    </tr>
{{ block.super }}
{% endblock %}
