{% extends "freeadmin/generic_model_edit.html" %}
{% load i18n %}
{% block buttons_extra %}
            <button dojoType="dijit.form.Button"> 
                <script type="dojo/event" event="onClick" args="e">
                    var sendbtn = this;
                    this.set('disabled', true);
                    dojo.xhrPost( {
                        url: '{% url system_testmail %}',
                        handleAs: 'json',
                        load: function(data) { 
                            sendbtn.set('disabled', false);
                            if(data) {
                                setMessage("Your test email has been sent!");
                            } else {
                                setMessage("Your test email could not be sent!", "error");
                            }
                        },
                     });
                </script>
            {% trans "Send Test Mail" %}
            </button>
{% endblock %}
