<form dojoType="dijit.form.Form" enctype="multipart/form-data" id="firmwareform", name="firmwareform" method="post">
    <script type="dojo/event" event="onSubmit" args="e">
            dojo.stopEvent(e); // prevent the default submit
            //dijit.byId("submitform").set('disabled', true);
            var qry = dojo.query('.saved', this.domNode)[0];
            if(qry) dojo.style(qry, 'display', 'none');

            var qry = dojo.query('.submitform', this.domNode)[0];
            dijit.byNode(qry).set('disabled', true);

            //var rnode = dojo.query(".objrefresh").first();
            //var rnode = dojo.query(this.domNode).parents(".objrefresh").first();
            var rnode = dijit.getEnclosingWidget(this.domNode.parentNode);
            if(!rnode) rnode = dijit.byId("edit_dialog");

            //var newData = this.get("value");
            dojo.io.iframe.send( {
                url: '{% url system_firmware %}',
                method: 'post',
                form: "firmwareform",
                //content: newData,
                handleAs: 'text',
                handle: function(data) { console.log(data); rnode.set('content', data); return data; },
                error: function(data) { alert("error"); }
             });

         </script>
        <table class="config">
            {% for field in firmware %}
                <tr>
                    <td>
                        <label for="{{ field.auto_id }}">
                            {% if field.field.required %}
                                <span class="required">{{ field.label }}</span>
                            {% else %}
                                {{ field.label }}
                            {% endif %}
                        </label>
                    </td>
                    <td>
                         {{ field }}
                         {{ field.errors }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p class="btn">
		<button class="submitform" dojoType="dijit.form.Button" type="submit" onClick="this.set('label', 'Please wait...');"> Update </button>
        </p>
    </form>
