<div data-dojo-type="dijit.layout.TabContainer" style="width:100%;" id="tab_systemsettings" data-dojo-props="doLayout:true, nested: true" title="{% trans "Settings" %}">
    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "System Info" %}', doLayout:false, refreshOnShow: true{% if focus_form == "sysinfo" %}, selected:true{% endif %}, href: '{% url "system_info" %}'" tab="system.SysInfo" class="objrefresh">
    </div>
    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "General" %}', doLayout:false, refreshOnShow: true{% if focus_form == "settings" %}, selected:true{% endif %}, href: '{{ settings.get_edit_url }}?inline=true'" tab="system.General" class="objrefresh">
    </div>
    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Advanced" %}', doLayout:false {% if focus_form == "advanced" %},selected: true{% endif %}, href: '{{ advanced.get_edit_url }}?inline=true', parseOnLoad: true, refreshOnShow: true" tab="system.Advanced" class="objrefresh">
    </div>
    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Email" %}', doLayout:false {% if focus_form == "email" %}, selected:true{% endif %}, href: '{{ email.get_edit_url }}?inline=true', refreshOnShow: true" tab="system.Email" class="objrefresh">
    </div>
    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "SSL" %}', doLayout:false {% if focus_form == "ssl" %}, selected:true{% endif %}, href: '{{ ssl.get_edit_url }}?inline=true', refreshOnShow: true" tab="system.SSL" class="objrefresh">
    </div>
    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "System Dataset" %}', doLayout:false {% if focus_form == "systemdataset" %},selected: true{% endif %}, href: '{{ systemdataset.get_edit_url }}?inline=true', parseOnLoad: true, refreshOnShow: true" tab="system.SystemDataset" class="objrefresh">
    </div>
    <!--
    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Registration" %}', doLayout:false {% if focus_form == "registration" %}, selected:true{% endif %}, href: '{% if registration %}{% url "freeadmin_system_registration_edit" oid=registration.id %}{% else %}{% url "freeadmin_system_registration_add" %}{% endif %}?inline=true', refreshOnShow: true" class="objrefresh">
    </div>
    -->
</div>
