{% extends "base.html" %}

{% block dojango_header_extra %}
<script type="text/javascript">
    refreshImgs = function() {

        dojo.query(".chart > img").forEach(function(e) { 
            e.src = new String(e.src).split('?')[0] + '?' + new Date().getTime();
        });
        setTimeout(refreshImgs, 300000);
    }
    dojo.addOnLoad(function() {
            setTimeout(refreshImgs, 300000);

            rebootDlg = dijit.byId("rebootDialog");
            dojo.connect(dijit.byId("reboot_button"), "onClick", rebootDlg, "show");

            shutdownDlg = dijit.byId("shutdownDialog");
            dojo.connect(dijit.byId("shutdown_button"), "onClick", shutdownDlg, "show");
            });
</script>
{% endblock %}


{% block dojango_content %}
<script language="JavaScript">
    var time = null
    function reload() {
        window.location = '/'
    }
    //-->
</script>

</head>
<body  onload="timer=setTimeout('reload()',300000)">
    <div dojoType="dijit.layout.ContentPane">
        {% include "system/submenu.html" %}
        <h1>{{ freenas_build }}</h1>
    </div>
<div dojoType="dijit.layout.TabContainer" style="width:100%;" doLayout="false">
    <div dojoType="dijit.layout.ContentPane" title="Settings" {% if focus_form == "settings" %} selected="true"{% endif %}>
            <h3>System Settings</h3>
        <form action="/system/settings/" method="post">{% csrf_token %}
            <table class="config">
                {% for field in settings %}
                <tr>
                    <td>
                        <label for="{{ field.auto_id }}_label">
                            {% if field.field.required %}
                                <span class="required">{{ field.label }}</span>
                            {% else %}
                                {{ field.label }}
                            {% endif %}
                        </label>
                    </td>
                    <td>
                        {{ field }}
                    </td>
                </tr>
            {% endfor %}
            </table>
            <button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Save Settings</button>
        </form>
        <br />
        <br />
    </div>

    <div dojoType="dijit.layout.ContentPane" title="Advanced" {% if focus_form == "advanced" %} selected="true"{% endif %}>
            <h3>Advanced Settings</h3>
        <form action="/system/advanced/" method="post">{% csrf_token %}
        <table class="config">
                {% for field in advanced %}
                <tr>
                    <td>
                        <label for="{{ field.auto_id }}">
                            {% if field.field.required %}
                                <span class="required">{{ field.label }}</span>
                            {% else %}
                                {{ field.label }}
                            {% endif %}
                        </label>
                    </td>
                    <td>
                        {{ field }}
                        {{ field.errors }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p class="btn">
            <button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Save Settings</button>
        </p>
    </form>
        <br />
        <br />
    </div>
    <div dojoType="dijit.layout.TabContainer" nested="true" style="width:100%;" title="Reporting" {% if focus_form == "system" %} selected="true"{% endif %} doLayout="false">
        <div dojoType="dijit.layout.ContentPane" title="System Information" doLayout="false">
            <h3>System Information</h3>
            <br />
            <table>
                <tr>
                    <td class="label"><strong>Hostname:</strong></td>
                    <td class="descr">{{ hostname }}</td>
                </tr>
                <tr>
                    <td class="label"><strong>OS Version:</strong></td>
                    <td class="descr">{{ uname1 }} {{ uname2 }}</td>
                </tr>
                <tr>
                    <td class="label"><strong>Platform:</strong></td>
                    <td class="descr">{{ platform }}</td>
                </tr>
                <tr>
                    <td class="label"><strong>System Time:</strong></td>
                    <td class="descr">{{ date }}</td>
                </tr>
                <tr>
                    <td class="label"><strong>Uptime:</strong></td>
                    <td class="descr">{{ uptime }}</td>
                </tr>
                <tr>
                    <td class="label"><strong>Load Average:</strong></td>
                    <td class="descr">{{ loadavg }}</td>
                </tr>
                <tr>
                    <td class="label"><strong>FreeNAS Build:</strong></td>
                    <td class="descr">{{ freenas_build }}</td>
                </tr>
            </table>
        </div>
        {% if graphs.hourly %} 
        <div dojoType="dijit.layout.ContentPane" title="Hourly" {% if focus_form == "system" %} selected="true"{% endif %}>
            <h3>Hourly Graphs</h3>
            <div id="reports">
            {% for hourly in graphs.hourly %}
                {% for img in hourly %}
                <div class="chart">
                    <img src="/reporting/graphs/hourly/{{ img }}">
                </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if graphs.daily %} 
        <div dojoType="dijit.layout.ContentPane" title="Daily">
            <h3>Daily Graphs</h3>
            <div id="reports">
            {% for daily in graphs.daily %}
                {% for img in daily %}
                <div class="chart">
                    <img src="/reporting/graphs/daily/{{ img }}">
                </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if graphs.weekly %} 
        <div dojoType="dijit.layout.ContentPane" title="Weekly">
            <h3>Weekly Graphs</h3>
            <div id="reports">
            {% for weekly in graphs.weekly %}
                {% for img in weekly %}
                <div class="chart">
                    <img src="/reporting/graphs/weekly/{{ img }}">
                </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if graphs.monthly %} 
        <div dojoType="dijit.layout.ContentPane" title="Monthly">
            <h3>Monthly Graphs</h3>
            <div id="reports">
            {% for monthly in graphs.monthly %}
                {% for img in monthly %}
                <div class="chart">
                    <img src="/reporting/graphs/monthly/{{ img }}">
                </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if graphs.yearly %} 
        <div dojoType="dijit.layout.ContentPane" title="Yearly">
            <h3>Yearly Graphs</h3>
            <div id="reports">
            {% for yearly in graphs.yearly %}
                {% for img in yearly %}
                <div class="chart">
                    <img src="/reporting/graphs/yearly/{{ img }}">
                </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
