{% extends "base.html" %}

{% block dojango_header_extra %}
<script type="text/javascript">
    dojo.addOnLoad(function() {
            rebootDlg = dijit.byId("rebootDialog");
            dojo.connect(dijit.byId("reboot_button"), "onClick", rebootDlg, "show");
            });
    dojo.addOnLoad(function() {
            shutdownDlg = dijit.byId("shutdownDialog");
            dojo.connect(dijit.byId("shutdown_button"), "onClick", shutdownDlg, "show");
            });
</script>
{% endblock %}

{% block content %}
<div dojoType="dijit.MenuBar" id="navMenu">

            <div dojoType="dijit.MenuBarItem" onClick="window.location='/'" class="menu_icon dijitMenuItemSelected">
        <img src="/freenas/media/images/ui/system.png">
        <br />
                <div>
                    System 
                </div>
            </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/network/'" class="menu_icon">
        <img src="/freenas/media/images/ui/network.png">
        <br />
        <span>
            Network 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/storage/'" class="menu_icon ">
        <img src="/freenas/media/images/ui/storage.png">
        <br />
        <span>
            Storage 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/sharing/'" class="menu_icon">
        <img src="/freenas/media/images/ui/sharing.png">
        <br />
        <span>
            Sharing
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/services/'" class="menu_icon">
        <img src="/freenas/media/images/ui/services.png">
        <br />
        <span>
            Services
        </span>
    </div>


    {% if user.is_authenticated %}
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/logout/'" class="menu_icon" style="float:right;">
        <img src="/freenas/media/images/ui/logout.png">
        <br />
        <span>
            Log Out 
        </span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/'" class="menu_icon" style="float:right;">
        <img src="/freenas/media/images/ui/account.png">
        <br />
        <span>
            Account 
        </span>
    </div>
    {% else %}

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/login/'" class="menu_icon" style="font-weight:bold;">
        <img src="/freenas/media/images/ui/login.png">
        <br />
        <span>
            Log In
        </span>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block dojango_content %}
    <div dojoType="dijit.layout.ContentPane">
        {% include "system/submenu.html" %}
        <h1>{{ freenas_build }}</h1>
    </div>
<div dojoType="dijit.layout.TabContainer" style="width:100%;" doLayout="false">
    <div dojoType="dijit.layout.ContentPane" title="Settings" {% if focus_form == "settings" %} selected="true"{% endif %}>
            <h3>System Settings</h3>
        <form action="/system/settings/" method="post">{% csrf_token %}
            <table class="config">
                {% for field in settings %}
                <tr>
                    <td>
                        <label for="{{ field.auto_id }}_label">
                            {% if field.field.required %}
                                <span class="required">{{ field.label }}</span>
                            {% else %}
                                {{ field.label }}
                            {% endif %}
                        </label>
                    </td>
                    <td>
                        {{ field }}
                    </td>
                </tr>
            {% endfor %}
            </table>
            <button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Save Settings</button>
        </form>
        <br />
        <br />
    </div>

    <div dojoType="dijit.layout.ContentPane" title="Advanced" {% if focus_form == "advanced" %} selected="true"{% endif %}>
            <h3>Advanced Settings</h3>
        <form action="/system/advanced/" method="post">{% csrf_token %}
        <table class="config">
                {% for field in advanced %}
                <tr>
                    <td>
                        <label for="{{ field.auto_id }}">
                            {% if field.field.required %}
                                <span class="required">{{ field.label }}</span>
                            {% else %}
                                {{ field.label }}
                            {% endif %}
                        </label>
                    </td>
                    <td>
                        {{ field }}
                        {{ field.errors }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p class="btn">
            <button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Save Settings</button>
        </p>
    </form>
        <br />
        <br />
    </div>
        <div dojoType="dijit.layout.ContentPane" title="System Information" doLayout="false">
            <h3>System Information</h3>
            <br />
            <table>
                <tr>
                    <td class="label"><strong>Hostname:</strong></td>
                    <td class="descr">{{ hostname }}</td>
                </tr>
                <tr>
                    <td class="label"><strong>OS Version:</strong></td>
                    <td class="descr">{{ uname1 }} {{ uname2 }}</td>
                </tr>
                <tr>
                    <td class="label"><strong>Platform:</strong></td>
                    <td class="descr">{{ platform }}</td>
                </tr>
                <tr>
                    <td class="label"><strong>System Time:</strong></td>
                    <td class="descr">{{ date }}</td>
                </tr>
                <tr>
                    <td class="label"><strong>Uptime:</strong></td>
                    <td class="descr">{{ uptime }}</td>
                </tr>
                <tr>
                    <td class="label"><strong>Load Average:</strong></td>
                    <td class="descr">{{ loadavg }}</td>
                </tr>
                <tr>
                    <td class="label"><strong>FreeNAS Build:</strong></td>
                    <td class="descr">{{ freenas_build }}</td>
                </tr>
            </table>
    </div>
</div>
{% endblock %}
