{% extends "freeadmin/generic_model_add.html" %}
{% block buttons %}
    <tr><td colspan="2">
        <button id="btn_{{ verbose_name }}_Add" class="submitform" data-dojo-type="dijit.form.Button" data-dojo-props="type: 'submit'">
            <script type="dojo/method">
                {{ extra_js }}
            </script>
            {% trans "OK" %}
        </button>
        <button id="btn_{{ verbose_name }}_Cancel" data-dojo-type="dijit.form.Button" class="cancelform">
            {% trans "Reset" %}
            <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                form = getForm(this);
                form.reset();
            </script>
        </button>
        {% with form.advanced_fields as advfields %}
        {% include "freeadmin/advanced_btn.html" %}
        {% endwith %}
        {% block buttons_extra %}
        {% endblock %}
    </td></tr>
{% endblock %}
