{% load i18n %}
    <div dojoType="dijit.layout.TabContainer" nested="true" style="width:100%;" title="{% trans "Reporting" %}" {% if focus_form == "system" %} selected="true"{% endif %} doLayout="true">
        {% if graphs.hourly %}
        <div dojoType="dijit.layout.ContentPane" nested="true" title="{% trans "Hourly" %}" {% if focus_form == "system" %} selected="true"{% endif %} style="overflow-y:scroll;">
            <h3>{% trans "Hourly Graphs" %}</h3>
            <div id="reports">
            {% for hourly in graphs.hourly %}
                {% for img in hourly %}
                <div class="chart">
                    <img src="/reporting/graphs/hourly/{{ img }}">
                </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if graphs.daily %}
        <div dojoType="dijit.layout.ContentPane" title="{% trans "Daily" %}">
            <h3>{% trans "Daily Graphs" %}</h3>
            <div id="reports">
            {% for daily in graphs.daily %}
                {% for img in daily %}
                <div class="chart">
                    <img src="/reporting/graphs/daily/{{ img }}">
                </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if graphs.weekly %}
        <div dojoType="dijit.layout.ContentPane" title="{% trans "Weekly" %}">
            <h3>{% trans "Weekly Graphs" %}</h3>
            <div id="reports">
            {% for weekly in graphs.weekly %}
                {% for img in weekly %}
                <div class="chart">
                    <img src="/reporting/graphs/weekly/{{ img }}">
                </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if graphs.monthly %}
        <div dojoType="dijit.layout.ContentPane" title="{% trans "Monthly" %}">
            <h3>{% trans "Monthly Graphs" %}</h3>
            <div id="reports">
            {% for monthly in graphs.monthly %}
                {% for img in monthly %}
                <div class="chart">
                    <img src="/reporting/graphs/monthly/{{ img }}">
                </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if graphs.yearly %}
        <div dojoType="dijit.layout.ContentPane" title="{% trans "Yearly" %}">
            <h3>{% trans "Yearly Graphs" %}</h3>
            <div id="reports">
            {% for yearly in graphs.yearly %}
                {% for img in yearly %}
                <div class="chart">
                    <img src="/reporting/graphs/yearly/{{ img }}">
                </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
