<div dojoType="dijit.layout.TabContainer" style="width:100%;" doLayout="false" title="Settings" nested="true">
    <div dojoType="dijit.layout.ContentPane" title="General" {% if focus_form == "settings" %} selected="true"{% endif %} href="{% url freeadmin_model_edit app="system", model="Settings",oid=settings %}?inline=true" class="objrefresh">
    </div>

    <div dojoType="dijit.layout.ContentPane" title="Advanced" {% if focus_form == "advanced" %} selected="true"{% endif %} href="{% url freeadmin_model_edit app="system",model="Advanced",oid=advanced %}?inline=true" class="objrefresh" parseOnLoad="true">
    </div>

    <div dojoType="dijit.layout.ContentPane" title="Email" {% if focus_form == "email" %} selected="true"{% endif %} href="{% url freeadmin_model_edit app="system", model="Email",oid=email %}?inline=true" class="objrefresh">
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Firmware Update" {% if focus_form == "settings" %} selected="true"{% endif %} href="{% url system_firmware %}?inline=true" class="objrefresh">
    </div>
</div>
