{% extends "freeadmin/generic_model_edit.html" %}
{% load freeadmin %}

{% block buttons_extra %}
    <button id="btn_{% cls_name form %}_Restore" data-dojo-type="dijit.form.Button" type="button">
        {% trans "Factory Restore" %}
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
            editObject('{% trans "Restore Config"|force_escape|force_escape %}', '{% url "system_configrestore" %}');
        </script>
    </button>
    <button id="btn_{% cls_name form %}_SvCfg" data-dojo-type="dijit.form.Button">
        {% trans "Save Config" %}
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
            editObject('{% trans "Save Config"|escapejs %}', '{% url "system_configsave" %}');
        </script>
    </button>
    <button id="btn_{% cls_name form %}_UpCfg" data-dojo-type="dijit.form.Button" type="button">
        {% trans "Upload Config" %}
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
            editScaryObject('{% trans "Upload Config"|force_escape|force_escape %}', '{% url "system_configupload" %}');
        </script>
    </button>
    <button id="btn_{% cls_name form %}_NTPServers" data-dojo-type="dijit.form.Button" type="button">
        {% trans "NTP Servers" %}
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
            viewModel('{% trans "NTP Servers"|escapejs %}', '{% url "freeadmin_system_ntpserver_datagrid" %}');
        </script>
    </button>
{% endblock %}
