{% load i18n %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;" doLayout="true" title="{% trans "Settings" %}" nested="true">
    <div dojoType="dijit.layout.ContentPane" title="{% trans "General" %}" {% if focus_form == "settings" %} selected="true"{% endif %} href="{% url freeadmin_model_edit app="system", model="Settings",oid=settings %}?inline=true" class="objrefresh" refreshOnShow="true">
    </div>
    <div dojoType="dijit.layout.ContentPane" title="{% trans "Advanced" %}" {% if focus_form == "advanced" %} selected="true"{% endif %} href="{% url freeadmin_model_edit app="system",model="Advanced",oid=advanced %}?inline=true" class="objrefresh" parseOnLoad="true" refreshOnShow="true">
    </div>
    <div dojoType="dijit.layout.ContentPane" title="{% trans "Email" %}" {% if focus_form == "email" %} selected="true"{% endif %} href="{% url freeadmin_model_edit app="system", model="Email",oid=email %}?inline=true" class="objrefresh" refreshOnShow="true">
    </div>
    <div dojoType="dijit.layout.ContentPane" title="{% trans "SSL" %}" {% if focus_form == "ssl" %} selected="true"{% endif %} href="{% url freeadmin_model_edit app="system", model="SSL",oid=ssl%}?inline=true" class="objrefresh" refreshOnShow="true">
    </div>
    <div dojoType="dijit.layout.ContentPane" title="{% trans "Firmware Update" %}" {% if focus_form == "firmware" %} selected="true"{% endif %} href="{% url system_firmwizard %}" id=" firmwareup" class="objrefresh" refreshOnShow="true">
    </div>
    <div dojoType="dijit.layout.ContentPane" title="{% trans "Apply Service Pack" %}" href="{% url system_spwizard %}" id="applysp" class="objrefresh" refreshOnShow="true">
    </div>
    <div dojoType="dijit.layout.ContentPane" title="{% trans "Config" %}" {% if focus_form == "config" %} selected="true"{% endif %} href="{% url system_config %}" id="settingsconfig" class="objrefresh" refreshOnShow="true">
    </div>
</div>
