{% extends "freeadmin/generic_form.html" %}
{% block form %}
<h3>{% trans "Warning!" %}</h3>
<p>{% trans "Some storage pools are doing resilver/scrub, are you really sure you want to proceed with <strong>SHUTDOWN</strong>?" %}</p>
{% endblock %}
{% block buttons %}
<button id="btn_Shutdown_Ok" data-dojo-type="dijit.form.Button" type="button">
    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
    cancelDialog(this);
    </script>
    {% trans "Cancel" %}
</button>
<button id="btn_Shutdown_Cancel" data-dojo-type="dijit.form.Button" type="submit">
    {% trans "Shutdown" %}
</button>
{% endblock %}
