{% load i18n %}
<h1>System Information</h1>
<table>
    <tr>
        <th>{% trans "Hostname" %}</th>
        <td class="descr">{{ hostname }}</td>
    </tr>
    <tr>
        <th>{% trans "FreeNAS Build" %}</th>
        <td class="descr">{{ freenas_build }}</td>
    </tr>
    <tr>
        <th>{% trans "Platform" %}</th>
        <td class="descr">{{ platform }}</td>
    </tr>
    <tr>
        <th>{% trans "Memory" %}</th>
        <td class="descr">{{ physmem }}</td>
    </tr>
    <tr>
        <th>{% trans "System Time" %}</th>
        <td class="descr">{{ date }}</td>
    </tr>
    <tr>
        <th>{% trans "Uptime" %}</th>
        <td class="descr">{{ uptime }}</td>
    </tr>
    <tr>
        <th>{% trans "Load Average" %}</th>
        <td class="descr">{{ loadavg }}</td>
    </tr>
    <tr>
        <th>{% trans "OS Version" %}</th>
        <td class="descr">{{ uname1 }} {{ uname2 }}</td>
    </tr>
</table>
