<div data-dojo-type="freeadmin/Update" data-dojo-props=
	'initial:{
		trainUrl: "{% url "api_upgrade_trains" api_name="v1.0" resource_name="system/update" %}",
		autoCheck: {% if update.upd_autocheck %}true{% else %}false{% endif %}
	},
	updateUrl: "{% url "system_update_save" %}",
	manualUrl: "{% url "system_manualupdate" %}",
	checkUrl: "{% url "system_update_check" %}",
	verifyUrl: "{% url "system_update_verify" %}",
	applyUrl: "{% url "system_update_apply" %}",
	updateServer: "{{ updateserver|escapejs }}",
	currentTrain: "{{ update.get_system_train|escapejs }}"'>
</div>
