{% extends "freeadmin/generic_model_edit.html" %}
{%load freeadmin %}

{% block buttons_extra %}
            <button id="btn_{% cls_name form %}_Check" data-dojo-type="dijit.form.Button">
                <script type="dojo/event" data-dojo-event="onClick" data-dojo-args="e">
                    editObject('{% trans "Check for Updates"|escapejs %}', '{% url "system_upgrade" %}', [this, ]);
                </script>
            {% trans "Check for Updates" %}
            </button>

            <button id="btn_{% cls_name form %}_FwUpdate" data-dojo-type="dijit.form.Button" type="button">
                {% trans "Manual Update" %}
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    editObject('{% trans "Manual Update"|escapejs %}', '{% url "system_manualupdate" %}');
                </script>
            </button>
{% endblock %}
