{% load freeadmin %}<div data-dojo-type="dijit.layout.ContentPane" class="objrefresh" doLayout="false">
  <h1>{% blocktrans with step=wizard.steps.step1 step_count=wizard.steps.count %}Step {{ step }} of {{ step_count }}{% endblocktrans %}</h1>
  <form data-dojo-type="dijit.form.Form" action="." enctype="multipart/form-data" method="post">{% csrf_token %}
    <script type="dojo/event" event="onSubmit" args="e">
      {% block onSubmit %}
      doSubmit({
        form: this,
        event: e,
        url: '{{ request.path }}'
      });
      {% endblock %}
    </script>
  <table class="form">
    {% block form %}
    {% dojo_render wizard.management_form %}
    {% admin_form wizard.form %}
    {% endblock %}
    <tr>
      <td colspan="2">
        <button class="submitform" data-dojo-type="dijit.form.Button" type="submit" data-dojo-props="type:'submit'">
          {% trans "Apply Update" %}
          <script type="dojo/method" event="onClick" args="evt">
            this.set('label', '{% trans "Please wait..."|escapejs %}');
          </script>
        </button>
      </td>
    </tr>
  </table>
  </form>
</div>
