--- rel/vars.config.orig	2015-03-23 18:52:47.000000000 +1100
+++ rel/vars.config	2015-09-24 15:04:54.707161521 +1000
@@ -2,11 +2,12 @@
 %% ex: ft=erlang ts=4 sw=4 et
 
 %% Platform-specific installation paths
-{platform_bin_dir,  "./bin"}.
-{platform_data_dir, "./data"}.
-{platform_etc_dir,  "./etc"}.
-{platform_lib_dir,  "./lib"}.
-{platform_log_dir,  "./log"}.
+{platform_base_dir, "%%PREFIX%%/lib/stanchion"}.
+{platform_bin_dir,  "%%PREFIX%%/sbin"}.
+{platform_etc_dir,  "%%PREFIX%%/etc/stanchion"}.
+{platform_lib_dir,  "%%PREFIX%%/lib/stanchion/lib"}.
+{platform_data_dir, "/var/db/stanchion"}.
+{platform_log_dir,  "/var/log/stanchion"}.
 
 %%
 %% etc/app.config
@@ -29,14 +30,14 @@
 %% bin/stanchion
 %%
 {data_dir,           "{{target_dir}}/data"}.
-{runner_script_dir,  "\`cd \\`dirname $0\\` && /bin/pwd\`"}.
-{runner_base_dir,    "{{runner_script_dir}}/.."}.
-{runner_etc_dir,     "$RUNNER_BASE_DIR/etc"}.
-{runner_log_dir,     "$RUNNER_BASE_DIR/log"}.
-{runner_lib_dir,     "$RUNNER_BASE_DIR/lib"}.
-{runner_patch_dir,   "$RUNNER_BASE_DIR/lib/basho-patches"}.
-{pipe_dir,           "/tmp/$RUNNER_BASE_DIR/"}.
-{runner_user,        ""}.
+{runner_script_dir,  "{{platform_bin_dir}}"}.
+{runner_base_dir,    "{{platform_base_dir}}"}.
+{runner_etc_dir,     "{{platform_etc_dir}}"}.
+{runner_log_dir,     "{{platform_log_dir}}"}.
+{runner_lib_dir,     "{{platform_lib_dir}}"}.
+{runner_patch_dir,   "{{platform_lib_dir}}/basho-patches"}.
+{pipe_dir,           "/tmp/stanchion"}.
+{runner_user,        "stanchion"}.
 {runner_wait_process, "stanchion_server_sup"}.
 
 %% lager
