{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;" doLayout="False">
<div dojoType="dijit.layout.ContentPane" title="LDAP">
    <form action="/access/" method="post">{% csrf_token %}
        <table>
            {{ ldap.errors }}
            {{ ldap }}
                  </table>
        <button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Save Configuration</button>
    </form>
</div>
        


<div dojoType="dijit.layout.ContentPane" title="Active Directory">
    <form action="/access/" method="post">{% csrf_token %}
        <table>
            {{ activedirectory.errors }}
            {{ activedirectory }}
                 </table>
        <button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Save Configuration</button>
    </form>
</div>
        

<br />
</div>
{% else %}
    <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>
{% endif %}

{% endblock %}

