{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;height:400px;">
        <div dojoType="dijit.layout.ContentPane" title="Access">

<h2><a href="/freenas/access/ldap/">LDAP</a></h2>
<h2><a href="/freenas/access/ldap/">Active Directory</a></h2>
</div></div>

          {% else %}
                  <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>

{% endif %}
                          {% endblock %}
