<div id="report_interface_hold" data-dojo-type="dijit/layout/ContentPane">
    <script type="dojo/method">

    iface_switch = function() {
      series_sub(this.get("data-url"), 'interface_sub_', this.get("data-header"), this.get("data-newtitle"), '{{ sub_types_str|escapejs }}');
      chart_switch('#interface_sub', '#interface_main')
    }

    require([
      "dojo/dom-style",
      "dojo/domReady!"
      ], function(style) {
      style.set("interface_sub", "display", "none");
      style.set("interface_sub", "opacity", "1");
    });
  //$('#interface_sub').hide();
  {% for target, name in target_dict.iteritems %}
    series_chart('{% url "ana_tg_network" target "if_octets" %}', 'interface{{ forloop.counter0 }}', '{% filter escapejs %}{% blocktrans with iname=name %}Interface {{ iname }} Utilization{% endblocktrans %}{% endfilter %}');
  {% endfor %}
    </script>
</div>

<div style="width: 250px; margin: 2px; float:left">
  <div style="width: 250px; margin: 2px">
    <h2>{% trans "Available Network Interfaces" %}:</h2>
    <input data-dojo-type="dijit/form/RadioButton" type="radio" name="network" value="{{ name }}" onClick="chart_switch('#interface_main', '#interface_sub')" checked/> {% trans "All" %} <br />
    {% for target, name in target_dict.iteritems %}
      <input data-dojo-type="dijit/form/RadioButton" type="radio" name="network" value="{{ name }}" data-newtitle="{% filter escapejs %}{% blocktrans with iname=name %}Interface {{ iname }}{% endblocktrans %}{% endfilter %}" data-header="{{ target|title }}" data-url="{% url "ana_tg_network" target %}" onClick="iface_switch" />
      {{ name }}<br />
    {% endfor %}

  </div>
  <div style="width: 250px; margin: 2px">
    <h2>{% trans "Time period" %}:</h2>
    <p class="btn">
      <button data-dojo-type="dijit.form.Button" type="button">
        {% trans "Day" %}
        <script type="dojo/method" event="onClick" args="evt">
        chart_switch('#interface_main', '#interface_sub')
        chart_update('{% url "ana_tg_network" %}', 'interface', '{{ target_str }}', 'day', 1, 'Interface');
        </script>
      </button>

      <button data-dojo-type="dijit.form.Button" type="button">
        {% trans "Week" %}
        <script type="dojo/method" event="onClick" args="evt">
        chart_switch('#interface_main', '#interface_sub')
        chart_update('{% url "ana_tg_network" %}', 'interface', '{{ target_str }}', 'day', 7, 'Interface');
        </script>
      </button>

      <button data-dojo-type="dijit.form.Button" type="button">
        {% trans "Month" %}
        <script type="dojo/method" event="onClick" args="evt">
        chart_switch('#interface_main', '#interface_sub')
        chart_update('{% url "ana_tg_network" %}', 'interface', '{{ target_str }}', 'day', 31, 'Interface');
        </script>
      </button>

      <button data-dojo-type="dijit.form.Button" type="button">
        {% trans "Year" %}
        <script type="dojo/method" event="onClick" args="evt">
        chart_switch('#interface_main', '#interface_sub')
        chart_update('{% url "ana_tg_network" %}', 'interface', '{{ target_str }}', 'day', 365, 'Interface');
        </script>
      </button>
    </p>
  </div>
</div>

<div style="width: 675px; float:left">
  <div id='interface_main' style="width: 675px;">
    {% for target, name in target_dict.iteritems %}
      <div id="interface{{ forloop.counter0 }}" style="width: 700px; height: 300px; margin: 0 auto"></div>
    {% endfor %}
  </div>
  <div id='interface_sub' style="width: 675px;">
    {% for s_type in sub_types %}
      <div id="interface_sub_{{ s_type }}" style="width: 700px; height: 300px; margin: 0 auto"></div>
    {% endfor %}
  </div>
</div>
