<div data-dojo-type="dijit/layout/ContentPane">
  <script type="dojo/method">
    {% for vol in volumes %}
      storage_pie('{% url "ana_rt_storage_pie" volume=vol.vol_name %}', 'storagePie{{ vol.id }}');
    {% endfor %}
  </script>
</div>

{% for vol in volumes %}
<div style="margin-bottom: 10px;">
<div style="width: 400px; margin: 0 auto; float:left">
  <h2>{% blocktrans with name=vol.vol_name %}{{ name}}: General Pool Information{% endblocktrans %}</h2>
  <table class="grid" width='380'>
    <thead class="ghead">
      <td>{% trans "Name" %}</td>
      <td>{% trans "Avail" %}</td>
      <td>{% trans "Used" %}</td>
      <td>{% trans "Refer" %}</td>
      <td>{% trans "Mount Point" %}</td>
    </thead>
    <tbody>
    {% for name, dataset in vol.get_datasets_with_root.items %}
      <tr class="{% cycle 'odd' 'even' %}" onClick="z_tank({{ vol.id }}, '{% url "ana_zfs_info_pie" volume=dataset.full_name %}', '{% url "ana_zfs_info" volume=dataset.full_name %}');">
        <td>{{ dataset.full_name }}</td>
        <td>{{ dataset.avail }}</td>
        <td>{{ dataset.used }}</td>
        <td>{{ dataset.refer }}</td>
        <td>{{ dataset.mountpoint }}</td>
      </tr>
    {% endfor %}
    {% for name, zvol in vol.get_zvols.items %}
      <tr class="{% cycle 'odd' 'even' %}" onClick="z_tank({{ vol.id }}, '{% url "ana_zfs_info_pie" volume=name %}', '{% url "ana_zfs_info" volume=name %}');">
        <td>{{ name }}</td>
        <td>{{ zvol.avail }}</td>
        <td>{{ zvol.used }}</td>
        <td>{{ zvol.refer }}</td>
        <td>-</td>
      </tr>
    {% endfor %}
   </tbody>
   </table>

<div id="tank{{ vol.id }}" style="display: none;">
  <h2>{% blocktrans with name=vol.vol_name %}{{ name}}: Detailed Information{% endblocktrans %}</h2>
  <table class="grid" width='380'>
      <thead class="ghead">
      <td>{% trans "Dataset" %}: <span class="partition_name"></span></td>
      <td>{% trans "Details" %}</td>
      </thead>
      <tbody id='tank_body{{ vol.id }}'></tbody>
  </table>
</div>

</div>

<div id="storagePie{{ vol.id }}" style="width: 650px; height: 400px; margin: 0 auto; margin-bottom: 8px; float: left"></div>
<div id="tankPie{{ vol.id }}" style="display: none; width: 650px; height: 400px; margin: 0 auto; float: left"></div>
<div style="clear: both;"></div>
</div>
{% endfor %}
