<div data-dojo-type="dijit/layout/ContentPane">
    <script type="dojo/method">

    {% for s_type in sub_types %}
    series_chart('{% url "ana_tg_zfs_arc" s_type %}', 'zfs_arc{{ s_type }}', '{% filter escapejs %}{% blocktrans with iname=s_type %}ZFS ARC {{ iname }} Utilization{% endblocktrans %}{% endfilter %}');
    {% endfor %}
    </script>
</div>

<div style="width: 250px; margin: 2px; float:left">
  <div style="width: 250px; margin: 2px">
    <h2>{% trans "Time period" %}:</h2>
    <p class="btn">
      <button data-dojo-type="dijit.form.Button" type="button">
        {% trans "Day" %}
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
        {% for s_type in sub_types %}
        series_chart('{% url "ana_tg_zfs_arc" s_type %}day/1/', 'zfs_arc{{ s_type }}', '{% filter escapejs %}{% blocktrans with iname=s_type %}ZFS ARC {{ iname }} Utilization{% endblocktrans %}{% endfilter %}');
        {% endfor %}
        </script>
      </button>

      <button data-dojo-type="dijit.form.Button" type="button">
        {% trans "Week" %}
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
        {% for s_type in sub_types %}
        series_chart('{% url "ana_tg_zfs_arc" s_type %}day/7/', 'zfs_arc{{ s_type }}', '{% filter escapejs %}{% blocktrans with iname=s_type %}ZFS ARC {{ iname }} Utilization{% endblocktrans %}{% endfilter %}');
        {% endfor %}
        </script>
      </button>

      <button data-dojo-type="dijit.form.Button" type="button">
        {% trans "Month" %}
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
        {% for s_type in sub_types %}
        series_chart('{% url "ana_tg_zfs_arc" s_type %}day/31/', 'zfs_arc{{ s_type }}', '{% filter escapejs %}{% blocktrans with iname=s_type %}ZFS ARC {{ iname }} Utilization{% endblocktrans %}{% endfilter %}');
        {% endfor %}
        </script>
      </button>

      <button data-dojo-type="dijit.form.Button" type="button">
        {% trans "Year" %}
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
        {% for s_type in sub_types %}
        series_chart('{% url "ana_tg_zfs_arc" s_type %}day/365/', 'zfs_arc{{ s_type }}', '{% filter escapejs %}{% blocktrans with iname=s_type %}ZFS ARC {{ iname }} Utilization{% endblocktrans %}{% endfilter %}');
        {% endfor %}
        </script>
      </button>
    </p>
  </div>
</div>

<div style="width: 675px; float:left">
  <div style="width: 675px;">
    {% for s_type in sub_types %}
      <div id="zfs_arc{{ s_type }}" style="width: 700px; height: 300px; margin: 0 auto"></div>
    {% endfor %}
  </div>
</div>
<div style="clear:both;"></div>

<h2>{% trans "System Information" %}</h2>

<table class="grid" width="700px">
    <thead class="ghead">
        <td>{% trans "Property" %}</td>
        <td>{% trans "Value" %}</td>
    </thead>
	<tbody>
	    <tr>
		<td width='300px'>{% trans "Active" %}</td>
		<td>{{ arc_summ.system_memory.active.num }}&nbsp;&nbsp;{{ arc_summ.system_memory.active.per }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Wired" %}</td>
		<td>{{ arc_summ.system_memory.wired.num }}&nbsp;&nbsp;{{ arc_summ.system_memory.wired.per }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Free" %}</td>
		<td>{{ arc_summ.system_memory.free.num }}&nbsp;&nbsp;{{ arc_summ.system_memory.free.per }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Inactive" %}</td>
		<td>{{ arc_summ.system_memory.inact.num }}&nbsp;&nbsp;{{ arc_summ.system_memory.inact.per }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Cache" %}</td>
		<td>{{ arc_summ.system_memory.cache.num }}&nbsp;&nbsp;{{ arc_summ.system_memory.cache.per }}</td>
	    </tr>
    	    <tr>
		<td>{% trans "Gap" %}</td>
		<td>{{ arc_summ.system_memory.gap.num }}&nbsp;&nbsp;{{ arc_summ.system_memory.gap.per }}</td>
	    </tr>
	    <tr style="background-color: #DDDDDD; color: #ffffff">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	    </tr>
	    <tr>
		<td>{% trans "Real Installed" %}</td>
		<td>{{ arc_summ.system_memory.real_installed }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Real Available" %}</td>
		<td>{{ arc_summ.system_memory.real_available.num }}&nbsp;&nbsp;{{ arc_summ.system_memory.real_available.per }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Real Managed" %}</td>
		<td>{{ arc_summ.system_memory.real_managed.num }}&nbsp;&nbsp;{{ arc_summ.system_memory.real_managed.per }}</td>
	    </tr>
	    <tr style="background-color: #DDDDDD; color: #ffffff">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	    </tr>
    	    <tr>
		<td>{% trans "Logical Total" %}</td>
		<td>{{ arc_summ.system_memory.logical_total }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Logical Used" %}</td>
		<td>{{ arc_summ.system_memory.logical_used.num }}&nbsp;&nbsp;{{ arc_summ.system_memory.logical_used.per }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Logical Free" %}</td>
		<td>{{ arc_summ.system_memory.logical_free.num }}&nbsp;&nbsp;{{ arc_summ.system_memory.logical_free.per }}</td>
	    </tr>	    
       </tbody>
 </table>
 
 <h2>{% trans "ARC Summary" %} ({{ arc_summ.arc_summary.health }})</h2>

<table class="grid" width="700px">
    <thead class="ghead">
        <td>{% trans "Property" %}</td>
        <td>{% trans "Value" %}</td>
    </thead>
	<tbody>
	    <tr>
		<td width='300'>{% trans "Storage Pool Version" %}</td>
		<td>{{ arc_summ.arc_summary.storage_pool_ver }}</td>
	    </tr>
	    <tr>
		<td>{% trans "File System Version" %}</td>
		<td>{{ arc_summ.arc_summary.filesystem_ver }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Memory Throttle Count" %}</td>
		<td>{{ arc_summ.arc_summary.memory_throttle_count }}</td>
	    </tr>
       </tbody>
 </table>
 
  <h2>{% trans "ARC Miscellaneous" %}</h2>

<table class="grid" width="700px">
    <thead class="ghead">
        <td>{% trans "Property" %}</td>
        <td>{% trans "Value" %}</td>
    </thead>
	<tbody>
	    <tr>
		<td width='300'>{% trans "Deleted" %}</td>
		<td>{{ arc_summ.arc_summary.arc_misc.deleted }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Recycle Misses" %}</td>
		<td>{{ arc_summ.arc_summary.arc_misc.recycle_miss }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Mutex Misses" %}</td>
		<td>{{ arc_summ.arc_summary.arc_misc.mutex_miss }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Evict Skips" %}</td>
		<td>{{ arc_summ.arc_summary.arc_misc.evict_skips }}</td>
	    </tr>
       </tbody>
 </table>
 

<h2>{% trans "ARC Size" %}</h2>

<table class="grid" width="700px">
    <thead class="ghead">
        <td>{% trans "Property" %}</td>
        <td>{% trans "Value" %}</td>
    </thead>
	<tbody>
	    <tr>
		<td width='300'>{% trans "Arc Size" %}:</td>
		<td>{{ arc_summ.arc_summary.arc_sizing.arc_size.num }} {{ arc_summ.arc_summary.arc_sizing.arc_size.per }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Target Size: (Adaptive)" %}</td>
		<td>{{ arc_summ.arc_summary.arc_sizing.target_size.num }} {{ arc_summ.arc_summary.arc_sizing.target_size.per }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Min Size: (Hard Limit)" %}</td>
		<td>{{ arc_summ.arc_summary.arc_sizing.target_min_size.num }} {{ arc_summ.arc_summary.arc_sizing.target_min_size.per }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Max Size: (High Water)" %}</td>
		<td>{{ arc_summ.arc_summary.arc_sizing.target_max_size.num }} {{ arc_summ.arc_summary.arc_sizing.target_max_size.per }}</td>
	    </tr>
       </tbody>
 </table>
 
 
<h2>{% trans "ARC Size Breakdown" %}</h2>

<table class="grid" width="700px">
    <thead class="ghead">
        <td>{% trans "Property" %}</td>
        <td>{% trans "Value" %}</td>
    </thead>
	<tbody>
	    <tr>
		<td width='300'>{% trans "Recently Used Cache Size" %}</td>
		<td>{{ arc_summ.arc_summary.arc_size_break.frequently_used_cache_size.num }} {{ arc_summ.arc_summary.arc_size_break.frequently_used_cache_size.per }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Frequently Used Cache Size" %}</td>
		<td>{{ arc_summ.arc_summary.arc_size_break.recently_used_cache_size.num }} {{ arc_summ.arc_summary.arc_size_break.recently_used_cache_size.per }}</td>
	    </tr>
       </tbody>
 </table>
 
 <h2>{% trans "ARC Hash Breakdown" %}</h2>

<table class="grid" width="700px">
    <thead class="ghead">
        <td>{% trans "Property" %}</td>
        <td>{% trans "Value" %}</td>
    </thead>
	<tbody>
	    <tr>
		<td width="300">{% trans "Elements Max" %}:</td>
		<td>{{ arc_summ.arc_summary.arc_hash_break.elements_max }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Elements Current" %}</td>
		<td>{{ arc_summ.arc_summary.arc_hash_break.elements_current.num }} {{ arc_summ.arc_summary.arc_hash_break.elements_current.per }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Collisions" %}</td>
		<td>{{ arc_summ.arc_summary.arc_hash_break.collisions }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Chain Max" %}</td>
		<td>{{ arc_summ.arc_summary.arc_hash_break.chain_max }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Chains" %}</td>
		<td>{{ arc_summ.arc_summary.arc_hash_break.chains }}</td>
	    </tr>
       </tbody>
 </table>
 
 
  <h2>{% trans "ARC Efficiency" %}</h2>

<table class="grid" width="700px">
    <thead class="ghead">
        <td>{% trans "Property" %}</td>
        <td>{% trans "Value" %}</td>
    </thead>
	<tbody>
	    <tr>
		<td width='300'>{% trans "Total accesses" %}:</td>
		<td>{{ arc_summ.arc_efficiency.total_accesses }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Cache Hit Ratio" %}:</td>
		<td>{{ arc_summ.arc_efficiency.cache_hit_ratio.num }} {{ arc_summ.arc_efficiency.cache_hit_ratio.per }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Cache Miss Ratio" %}:</td>
		<td>{{ arc_summ.arc_efficiency.cache_miss_ratio.num }} {{ arc_summ.arc_efficiency.cache_miss_ratio.per }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Actual Hit Ratio" %}:</td>
		<td>{{ arc_summ.arc_efficiency.actual_hit_ratio.num }} {{ arc_summ.arc_efficiency.actual_hit_ratio.per }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Data Demand Efficiency" %}:</td>
		<td>{{ arc_summ.arc_efficiency.data_demand_efficiency.num }} {{ arc_summ.arc_efficiency.data_demand_efficiency.per }}</td>
	    </tr>
	    <tr>
		<td></td>
		<td>
		    <table width="500px">
			<thead class="ghead">
				<td>{% trans "CACHE HITS BY CACHE LIST" %}</td>
				<td></td>
			     </thead>
			<tbody>
			    <tr width="300px">
				<td>{% trans "Most Recently Used" %}:</td>
				<td>{{ arc_summ.arc_efficiency.most_recently_used.num }} {{ arc_summ.arc_efficiency.most_recently_used.per }}</td>
			    </tr>
			    <tr>
				<td>{% trans "Most Frequently Used" %}:</td>
				<td>{{ arc_summ.arc_efficiency.most_frequently_used.num }} {{ arc_summ.arc_efficiency.most_frequently_used.per }}</td>
			    </tr>
			    <tr>
				<td>{% trans "Most Recently Used Ghost" %}:</td>
				<td>{{ arc_summ.arc_efficiency.most_recently_used_ghost.num }} {{ arc_summ.arc_efficiency.most_recently_used_ghost.per }}</td>
			    </tr>
			    <tr>
				<td>{% trans "Most Frequently Used Ghost" %}:</td>
				<td>{{ arc_summ.arc_efficiency.most_frequently_used_ghost.num }} {{ arc_summ.arc_efficiency.most_frequently_used_ghost.per }}</td>
			    </tr>
			</tbody>
		    </table>	
		</td>
	    </tr>
	    
	    <tr>
		<td></td>
		<td>
		    <table width="500px">
			<thead class="ghead">
				<td colspan=2>{% trans "CACHE HITS BY DATA TYPE" %}</td>
			    </thead>
			<tbody>
			    <tr>
				<td>{% trans "Demand Data" %}:</td>
				<td>{{ arc_summ.arc_efficiency.cache_hits_by_data_type.demand_data.num }} {{ arc_summ.arc_efficiency.cache_hits_by_data_type.demand_data.per }}</td>
			    </tr>
			    <tr>
				<td>{% trans "Prefetch Data" %}:</td>
				<td>{{ arc_summ.arc_efficiency.cache_hits_by_data_type.prefetch_data.num }} {{ arc_summ.arc_efficiency.cache_hits_by_data_type.prefetch_data.per }}</td>
			    </tr>
			    <tr>
				<td>{% trans "Demand Metadata" %}:</td>
				<td>{{ arc_summ.arc_efficiency.cache_hits_by_data_type.demand_metadata.num }} {{ arc_summ.arc_efficiency.cache_hits_by_data_type.demand_metadata.per }}</td>
			    </tr>
			    <tr>
				<td>{% trans "Prefetch Metadata" %}:</td>
				<td>{{ arc_summ.arc_efficiency.cache_hits_by_data_type.prefetch_metadata.num }} {{ arc_summ.arc_efficiency.cache_hits_by_data_type.prefetch_metadata.per }}</td>
			    </tr>
			</tbody>
		    </table>	
		</td>
	    </tr>	    
	    	    <tr>
		<td></td>
		<td>
		    <table width="500px">
			<thead class="ghead">
				<td colspan=2>{% trans "CACHE MISSES BY DATA TYPE" %}</td>
			    </thead>
			<tbody>
			    <tr>
				<td>{% trans "Demand Data" %}:</td>
				<td>{{ arc_summ.arc_efficiency.cache_misses_by_data_type.demand_data.num }} {{ arc_summ.arc_efficiency.cache_misses_by_data_type.demand_data.per }}</td>
			    </tr>
			    <tr>
				<td>{% trans "Prefetch Data" %}:</td>
				<td>{{ arc_summ.arc_efficiency.cache_misses_by_data_type.prefetch_data.num }} {{ arc_summ.arc_efficiency.cache_misses_by_data_type.prefetch_data.per }}</td>
			    </tr>
			    <tr>
				<td>{% trans "Demand Metadata" %}:</td>
				<td>{{ arc_summ.arc_efficiency.cache_misses_by_data_type.demand_metadata.num }} {{ arc_summ.arc_efficiency.cache_misses_by_data_type.demand_metadata.per }}</td>
			    </tr>
			    <tr>
				<td>{% trans "Prefetch Metadata" %}:</td>
				<td>{{ arc_summ.arc_efficiency.cache_misses_by_data_type.prefetch_metadata.num }} {{ arc_summ.arc_efficiency.cache_misses_by_data_type.prefetch_metadata.per }}</td>
			    </tr>
			</tbody>
		    </table>	
		</td>
	    </tr>
       </tbody>
 </table>

{% if arc_summ.l2_arc_summary.l2_size > 0 and arc_summ.l2_arc_summary.l2_access_total > 0 %}
 <h2>{% trans "L2 ARC Summary" %}</h2>

<table class="grid" width="700px">
    <thead class="ghead">
        <td>{% trans "Property" %}</td>
        <td>{% trans "Value" %}</td>
    </thead>
	<tbody>
	    <tr>
		<td width='300'>{% trans "Passed Headroom" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.passed_headroom }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Tried Lock Failures" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.tried_lock_failure }}</td>
	    </tr>
	    <tr>
		<td>{% trans "IO In Progress" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.io_in_progress }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Low Memory Aborts" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.low_memory_aborts }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Free on Write" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.free_on_write }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Writes While Full" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.writes_while_full }}</td>
	    </tr>
	    <tr>
		<td>{% trans "R/W Clashes" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.rw_clashes }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Bad Checksums" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.bad_checksums }}</td>
	    </tr>
	    <tr>
		<td>{% trans "IO Errors" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.io_errors }}</td>
	    </tr>
	    <tr>
		<td>{% trans "SPA Mismatch" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.spa_mismatch }}</td>
	    </tr>
       </tbody>
 </table>
 
 
 <h2>{% trans "L2 ARC Size" %}</h2>

<table class="grid" width="700px">
    <thead class="ghead">
        <td>{% trans "Property" %}</td>
        <td>{% trans "Value" %}</td>
    </thead>
	<tbody>
	    <tr>
		<td width='300'>{% trans "Adaptive" %}</td>
		<td>{{ arc_summ.l2_arc_summary.l2_arc_size.adative }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Head Size" %}</td>
		<td>{{ arc_summ.l2_arc_summary.l2_arc_size.head_size.num }} {{ arc_summ.l2_arc_summary.l2_arc_size.head_size.per }}</td>
	    </tr>
       </tbody>
 </table>
 
  <h2>{% trans "L2 ARC Breakdown" %}</h2>

<table class="grid" width="700px">
    <thead class="ghead">
        <td>{% trans "Property" %}</td>
        <td>{% trans "Value" %}</td>
    </thead>
	<tbody>
	    <tr>
		<td width='300'>{% trans "Breakdown" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.l2_arc_breakdown.value }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Hit Ratio" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.l2_arc_breakdown.hit_ratio.num }} {{ arc_summ.l2_arc_summary.l2_arc_breakdown.hit_ratio.per }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Miss Ratio" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.l2_arc_breakdown.miss_ratio.num }} {{ arc_summ.l2_arc_summary.l2_arc_breakdown.miss_ratio.per }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Feeds" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.l2_arc_breakdown.feeds }}</td>
	    </tr>
       </tbody>
 </table>
 
  <h2>{% trans "L2 ARC Buffer" %}</h2>

<table class="grid" width="700px">
    <thead class="ghead">
        <td>{% trans "Property" %}</td>
        <td>{% trans "Value" %}</td>
    </thead>
	<tbody>
	    <tr>
		<td width='300'>{% trans "Bytes Scanned" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.l2_arc_buffer.bytes_scanned }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Buffer Iterations" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.l2_arc_buffer.buffer_iterations }}</td>
	    </tr>
	    <tr>
		<td>{% trans "List Iterations" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.l2_arc_buffer.list_iterations }}</td>
	    </tr>
	    <tr>
		<td>{% trans "NULL List Iterations" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.l2_arc_buffer.null_list_iterations }}</td>
	    </tr>
       </tbody>
 </table>
 
 
 <h2>{% trans "L2 ARC Writes" %}</h2>

<table class="grid" width="700px">
    <thead class="ghead">
        <td>{% trans "Property" %}</td>
        <td>{% trans "Value" %}</td>
    </thead>
	<tbody>
	    <tr>
		<td width='300'>{% trans "Writes Sent" %}:</td>
		<td>{{ arc_summ.l2_arc_summary.l2_arc_writes.writes_sent.num }} {{ arc_summ.l2_arc_summary.l2_arc_writes.writes_sent.per }}</td>
	    </tr>
       </tbody>
 </table>

{% endif %}

{% if arc_summ.dmu_summary.zfetch_access_total > 0 %}

<h2>{% trans "DMU Summary" %}</h2>

<table class="grid" width="700px">
    <thead class="ghead">
        <td>{% trans "Property" %}</td>
        <td>{% trans "Value" %}</td>
    </thead>
	<tbody>
	    <tr>
		<td width='300'>{% trans "File Level Prefetch Health" %}:</td>
		<td>{{ arc_summ.dmu_summary.file_level_prefetch.health }}</td>
	    </tr>
	    <tr>
	    <td></td>
	    <td>
		<table>
		    <thead class="ghead">
			<td>{% trans "Efficiency" %}: {{ arc_summ.dmu_summary.dmu.efficiency.value }}</td>
			<td></td>
			</thead>
		    <tbody>
		    <tr>
			<td>{% trans "Hit Ratio" %}</td>
			<td> {{ arc_summ.dmu_summary.dmu.efficiency.hit_ratio.num }} {{ arc_summ.dmu_summary.dmu.efficiency.hit_ratio.per }} </td>
		    </tr>
		    <tr>
			<td>{% trans "Miss Ratio" %}</td>
			<td> {{ arc_summ.dmu_summary.dmu.efficiency.miss_ratio.num }} {{ arc_summ.dmu_summary.dmu.efficiency.miss_ratio.per }} </td>
		    </tr>
	
		    </tbody>
		</table>
		</td>
	    </tr>
	    <tr>
		<td></td>
		<td>
		<table>
		    <thead class="ghead">
			<td>{% trans "Colinear" %}: {{ arc_summ.dmu_summary.dmu.colinear.value }}</td>
			<td></td>
			</thead>
		    <tbody>
		    <tr>
			<td>{% trans "Hit Ratio" %}</td>
			<td> {{ arc_summ.dmu_summary.dmu.colinear.hit_ratio.num }} {{ arc_summ.dmu_summary.dmu.colinear.hit_ratio.per }} </td>
		    </tr>
		    <tr>
			<td>{% trans "Miss Ratio" %}</td>
			<td> {{ arc_summ.dmu_summary.dmu.colinear.miss_ratio.num }} {{ arc_summ.dmu_summary.dmu.colinear.miss_ratio.per }} </td>
		    </tr>
	
		    </tbody>
		</table>
		</td>
	    </tr>
	    <tr>
		<td></td>
		<td>
		<table>
		    <thead class="ghead">
			<td>{% trans "Stride" %}: {{ arc_summ.dmu_summary.dmu.stride.value }}</td>
			<td></td>
			</thead>
		    <tbody>
		    <tr>
			<td>{% trans "Hit Ratio" %}</td>
			<td> {{ arc_summ.dmu_summary.dmu.stride.hit_ratio.num }} {{ arc_summ.dmu_summary.dmu.stride.hit_ratio.per }} </td>
		    </tr>
		    <tr>
			<td>{% trans "Miss Ratio" %}</td>
			<td> {{ arc_summ.dmu_summary.dmu.stride.miss_ratio.num }} {{ arc_summ.dmu_summary.dmu.stride.miss_ratio.per }} </td>
		    </tr>
	
		    </tbody>
		</table>
		</td>
	    </tr>
       </tbody>
 </table>


<h2>{% trans "DMU Miscellaneous" %}</h2>

<table class="grid" width="700px">
    <thead class="ghead">
        <td>{% trans "Property" %}</td>
        <td>{% trans "Value" %}</td>
    </thead>
	<tbody>
	    <tr>
		<td width='300'>{% trans "Status" %}</td>
		<td>{{ arc_summ.dmu_summary.dmu_misc.status }}</td>
	    </tr>
	    <tr>
		<td></td>
		<td>
		<table>
		    <thead class="ghead">
			<td>{% trans "Reclaim" %}: {{ arc_summ.dmu_summary.dmu_misc.reclaim.value }}</td>
			<td></td>
			</thead>
		    <tbody>
		    <tr>
			<td>{% trans "Successes" %}</td>
			<td> {{ arc_summ.dmu_summary.dmu_misc.reclaim.successes.num }} {{ arc_summ.dmu_summary.dmu_misc.reclaim.successes.per }} </td>
		    </tr>
		    <tr>
			<td>{% trans "Failure" %}</td>
			<td> {{ arc_summ.dmu_summary.dmu_misc.reclaim.failure.num }} {{ arc_summ.dmu_summary.dmu_misc.reclaim.failure.per }} </td>
		    </tr>
	
		    </tbody>
		</table>
		</td>
	    </tr>
	    <tr>
		<td></td>
		<td>
		<table>
		    <thead class="ghead">
			<td>{% trans "Streams" %}: {{ arc_summ.dmu_summary.dmu_misc.streams.value }}</td>
			<td></td>
			</thead>
		    <tbody>
		    <tr>
			<td>{% trans "Plus Resets" %}</td>
			<td> {{ arc_summ.dmu_summary.dmu_misc.streams.plus_resets.num }} {{ arc_summ.dmu_summary.dmu_misc.streams.plus_resets.per }} </td>
		    </tr>
		    <tr>
			<td>{% trans "Neg Resets" %}</td>
			<td> {{ arc_summ.dmu_summary.dmu_misc.streams.neg_resets.num }} {{ arc_summ.dmu_summary.dmu_misc.streams.neg_resets.per }} </td>
		    </tr>
		    <tr>
			<td>{% trans "Bogus" %}</td>
			<td> {{ arc_summ.dmu_summary.dmu_misc.streams.bogus }}</td>
		    </tr>
	
		    </tbody>
		</table>
		</td>
	    </tr>

       </tbody>
 </table>

{% endif %}

{% if arc_summ.vdev_summary.vdev_cache %}

<h2>{% trans "VDEV Summary" %}</h2>

<table class="grid" width="700px">
    <thead class="ghead">
        <td>{% trans "Property" %}</td>
        <td>{% trans "Value" %}</td>
    </thead>
	<tbody>
	    <tr>
		<td width='300'>{% trans "Summary" %}</td>
		<td>{{ arc_summ.vdev_summary.vdev_cache.summary }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Hit Ratio" %}</td>
		<td>{{ arc_summ.vdev_summary.vdev_cache.hit_ratio.per }} {{ arc_summ.vdev_summary.vdev_cache.hit_ratio.num }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Miss Ratio" %}</td>
		<td>{{ arc_summ.vdev_summary.vdev_cache.miss_ratio.per }} {{ arc_summ.vdev_summary.vdev_cache.miss_ratio.num }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Delegations" %}</td>
		<td>{{ arc_summ.vdev_summary.vdev_cache.delegations.per }} {{ arc_summ.vdev_summary.vdev_cache.delegations.num }}</td>
	    </tr>

       </tbody>
 </table>
{% endif %}
 
 <h2>{% trans "ZFS Tunable (sysctl)" %}</h2>

<table class="grid" width="700px">
    <thead class="ghead">
        <td>{% trans "Property" %}</td>
        <td>{% trans "Value" %}</td>
	<td>{% trans "Description" %}</td>
    </thead>
	<tbody>
	{% for k, v in zfs_tunable_sysctl.items %}
	    <tr>
		<td width='300'>{{ k }}:</td>
		<td>{{ v.num }}</td>
		<td>{{ v.desc }}</td>
	    </tr>
	{% endfor %}
       </tbody>
 </table>
 
 
