
.claro .dijitComboButtonRtl .dijitStretch {
	-moz-border-radius: 0px 4px 4px 0px;
	-webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 0px;	
}
.claro .dijitComboButtonRtl .dijitArrowButton {
	-moz-border-radius:  4px 0px 0px  4px;
	-webkit-border-top-left-radius:4px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:4px;
	padding:3px 0px 4px;
	border-left-width: 1px;
	border-right-width: 0px;
}
