<aside class="al-sidebar" (mouseleave)="hoverElemTop=outOfArea" sidebarResize>
  <ul id="al-sidebar-list" class="al-sidebar-list" baSlimScroll [baSlimScrollOptions]="{height: menuHeight}">
    <ba-menu-item
      [menuItem]="item"
      (itemHover)="hoverItem($event)"
      (toggleSubMenu)="toggleSubMenu($event)"
      *ngFor="let item of menuItems"></ba-menu-item>
  </ul>

  <div class="dropup" class="power-button">
  	<button class="dropdown-toggle power-button" data-toggle="dropdown">
  		<i class="ion-power power-button-icon"></i>
  	</button>
 
  	<ul class="dropup-menu power-dropdown-menu">
  		<li class="dropdown-item">AA</li>
  		<li class="dropdown-item">BB</li>
  	</ul>
  </div>

  <div class="sidebar-hover-elem" [ngStyle]="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}"
       [ngClass]="{'show-hover-elem': showHoverElem }"></div>
</aside>
