{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<h1>System Information</h1>
<div class="label"><strong>Hostname:</strong></div><div class="descr"> {{ hostname }}</div>
<div class="label"><strong>OS Version:</strong></div><div class="descr"> {{ uname1 }} {{ uname2 }}</div>
<div class="label"><strong>Platform:</strong></div><div class="descr"> {{ platform }}</div>
<div class="label"><strong>System Time:</strong></div><div class="descr"> {{ date }}</div>
<div class="label"><strong>Uptime:</strong></div><div class="descr"> {{ uptime }}</div>
<div class="label"><strong>Load Average:</strong></div><div class="descr"> {{ loadavg }}</div>
<div class="label"><strong>System:</strong></div><div class="descr"<strong><a href='/freenas/status/processes'>Process Information</a></strong></div>
<div class="label"><strong>FreeNAS Build:</strong></div><div class="descr"> {{ freenas_build }}</div>
<br />
</div>
<div>
</div>
{% else %} 
    <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>
{% endif %}   
{% endblock %}
