{% extends "base.html" %}

{% block dojango_content %}
<script type="text/javascript">
    require([
        "dojo/ready",
        "dojo/parser",
        "dojo/fx/easing",
        "dijit/_base/manager",
	"dijit/form/TextBox",
        "dijit/layout/BorderContainer",
        "dijit/layout/ContentPane",
        "dijit/layout/TabContainer",
        "dijit/Dialog",
        "dijit/MenuBar",
        "dijit/MenuBarItem"
        ], function(ready) {
        ready(function() {
              dijit.byId("login").show();
        });
    });
</script>
<!-- THIS IS A LOGIN WEBPAGE -->
<div data-dojo-type="dijit.layout.TabContainer" style="width:100%;" data-dojo-props="doLayout: false, region: 'center'">
{% if form.errors %}
<script type="dojo/method">
    dojo.addOnLoad(function() {
        var easingArea = dojo.byId("login");
        var easingCoords = dojo.coords(easingArea);
        dojo.animateProperty({
             node: dojo.byId("login"),
             easing: dojo.fx.easing["elasticInOut"],
             duration: 1000,
              properties: {
                    left: easingCoords.x-5,
                    top:easingCoords.y-5
              }
           }).play();
    });
</script>
<p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

{% if user.is_authenticated %}
<p>{% blocktrans with user.username as username %}Welcome, {{ username }}. Thanks for logging in.{% endblocktrans %}</p>
{% else %} 
<div id="login" data-dojo-type="dijit.Dialog" data-dojo-props="title: '{% blocktrans with sw_login_version=sw_login_version sw_name=sw_name %}Welcome to {{ sw_name }}&trade; {{ sw_login_version }}{% endblocktrans %}'">
<form action="." method="post">{% csrf_token %}
<table>
 {{ form }}
</table>
<button data-dojo-type="dijit.form.Button" type="submit" data-dojo-props="type:'submit'">{% trans "Log In" %}</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>
    </div>
{% endif %}
</div>
{% endblock %}
