{% extends "base.html" %}


{% block title %}{% trans "Logged Out" %}{% endblock %}

{% block dojango_content %}
<script type="text/javascript">

    require([
        "dojo/ready",
        "dojo/parser",
        "dijit/_base/manager",
        "dijit/layout/BorderContainer",
        "dijit/layout/ContentPane",
        "dijit/layout/TabContainer",
        "dijit/MenuBar",
        "dijit/MenuBarItem",
        ], function(ready) {

    });

</script>
<div data-dojo-type="dijit.layout.TabContainer" style="width:100%;" data-dojo-props="doLayout: false, region: 'center'">
    <p><span class="alert">{% trans "You are now logged out." %} <a href="/account/login/">{% trans "Log back in" %}</a>.</span></p>
</div>
{% endblock %}

