{% extends "base.html" %}
{% load i18n %}
{% block dojango_content %}
<div dojoType="dijit.MenuBar" id="navMenu">

            <div dojoType="dijit.MenuBarItem" onClick="window.location='/'" class="menu_icon">
        <img src="/freenas/media/images/ui/system.png">
        <br />
                <div>
                    System 
                </div>
            </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/network/'" class="menu_icon">
        <img src="/freenas/media/images/ui/network.png">
        <br />
        <span>
            Network 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/storage/'" class="menu_icon ">
        <img src="/freenas/media/images/ui/storage.png">
        <br />
        <span>
            Storage 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/sharing/'" class="menu_icon">
        <img src="/freenas/media/images/ui/sharing.png">
        <br />
        <span>
            Sharing
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/services/'" class="menu_icon">
        <img src="/freenas/media/images/ui/services.png">
        <br />
        <span>
            Services
        </span>
    </div>


    {% if user.is_authenticated %}
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/logout/'" class="menu_icon" style="float:right;">
        <img src="/freenas/media/images/ui/logout.png">
        <br />
        <span>
            Log Out 
        </span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/'" class="menu_icon dijitMenuItemSelected" style="float:right;">
        <img src="/freenas/media/images/ui/account.png">
        <br />
        <span>
            Account 
        </span>
    </div>
    {% else %}

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/login/'" class="menu_icon" style="font-weight:bold;">
        <img src="/freenas/media/images/ui/login.png">
        <br />
        <span>
            Log In
        </span>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block dojango_content %}
<script type="text/javascript">
      var  pwAlert = function () {
          dijit.byId("pwDlg").show();
      }
</script>

<script language="JavaScript">
    var time = null
    function redirect() {
        window.location = '/account/'
        }
        //-->
</script>
<body onload="pwAlert();timer=setTimeout('redirect()',4000)">

<div id="pwDlg" dojoType="dijit.Dialog" title="Password Changed!">
    <h3>{% trans 'Success!' %}</h3>
    <p>{% trans 'Your password was changed.' %}</p>
</div>
{% endblock %}
