{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}
{% block dojango_content %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;height:400px;">
    <div dojoType="dijit.layout.ContentPane" title="Change Admin Password">


<div>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}


<p>{% trans "Please enter your old password, and then enter your new password twice to verify it is typed in correctly." %}</p>



<form action="." method="post">{% csrf_token %}
<table>
    
<fieldset style="border:none;">

    <tr>
        <td class="label">
<div class="form-row">
    {{ form.old_password.errors }}
    <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>
    </td><td class="descr"> {{ form.old_password }}
</div>
</td></tr>
<tr>
    <td class="label">
<div class="form-row">
    {{ form.new_password1.errors }}
    <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>
    </td><td class="descr">  {{ form.new_password1 }}
</div>
</td></tr>
<tr>
    <td class="label">

<div class="form-row">
{{ form.new_password2.errors }}
<label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>
</td><td class="descr">{{ form.new_password2 }}
</div>
</td></tr>


</fieldset>
</table>
<div class="submit-row">
    <button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Change Password</  button>
    </form>

</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form>
</div></div>

{% endblock %}
