[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/firefox3
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/firefox.png
X-KDE-StartupNotify=true
Name=FireFox
Name[ca]=FireFox
Name[da]=FireFox
Name[en_GB]=FireFox
Name[en_ZA]=FireFox
Name[es]=FireFox
Name[fr]=Firefox
Name[fr_CA]=Firefox
Name[hr]=FireFox
Name[hu]=FireFox internetböngésző
Name[id]=FireFox
Name[it]=Firefox
Name[nl]=FireFox
Name[pl]=Firefox
Name[pt_BR]=FireFox
Name[ru]=FireFox
Name[sk]=FireFox
Name[tr]=Firefox
Name[uk]=FireFox
GenericName=FireFox
GenericName[ca]=FireFox
GenericName[da]=FireFox
GenericName[en_GB]=FireFox
GenericName[en_ZA]=FireFox
GenericName[es]=FireFox
GenericName[fr]=Firefox
GenericName[fr_CA]=Firefox
GenericName[hr]=FireFox
GenericName[hu]=FireFox internetböngésző
GenericName[id]=FireFox
GenericName[it]=Firefox
GenericName[nl]=FireFox
GenericName[pl]=Firefox
GenericName[pt_BR]=FireFox
GenericName[ru]=FireFox
GenericName[sk]=FireFox
GenericName[tr]=Firefox
GenericName[uk]=FireFox
