{% extends "base.html" %}

{% block content %}
<div style="float:left;">
    <h1>Network</h1>
</div>
{% endblock %}
{% block dojango_content %}
{% if user.is_authenticated %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;" doLayout="False">
<div dojoType="dijit.layout.ContentPane" title="Global Configuration">
<form action="global/configuration/" method="post">{% csrf_token %}
 <table>
     {{ globalconfiguration }}
    </table>
<button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Save Configuration</button>
</form>
</div>
<div dojoType="dijit.layout.ContentPane" title="Interfaces">
<form action="global/int/" method="post">{% csrf_token %}
 <table>
     {{ interfaces }}
    </table>
<button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Save Configuration</button>
</form>
</div>

<div dojoType="dijit.layout.ContentPane" title="VLAN">
<form action="global/vlan/" method="post">{% csrf_token %}
    <table>
        {{ vlan }}
    </table>
<button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Add!</button>
</form>
</div>

<div dojoType="dijit.layout.ContentPane" title="LAGG">
<form action="global/lagg/" method="post">{% csrf_token %}
    <table>
        {{ lagg }}
         </table>
<button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Add!</button>
</form>
</div>

<div dojoType="dijit.layout.ContentPane" title="Static Routes">
<form action="global/sr/" method="post">{% csrf_token %}
    <table>
        {{ staticroute }}
    </table>
<button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Add!</button>
</form>
</div>
            
<br />
</div>
{% else %}
    <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>
{% endif %}

{% endblock %}

