{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;height:300px;">
        <div dojoType="dijit.layout.ContentPane" title="Network Interfaces">
            <form action="." method="post">
                <table>
                    <tr><td>
                            {{ form.as_table }}
                    </tr></td>
                </table>
                <br />
                <button dojoType="dijit.form.Button" type="submit">Add Interface</button>
            </form>
        </div>
</div>
{% else %}
<span class="info"><p>Welcome. Please log in.</p>
    <form method="post" action=".">{% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="Log-in" />
        <input type="hidden" name="next" value="{{ next }}" />
       </span>
    </form>
{% endif %}
{% endblock %}
