{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}

<div dojoType="dijit.layout.TabContainer" style="width:100%;height:400px;">
        <div dojoType="dijit.layout.ContentPane" title="Active Static Routes">
<br />
<br />
<table>
    <tr>
        <td width="150px" style="background:#cfcfcf;"><strong>Interface</strong></td>
        <td width="50px" style="background:#cfcfcf;"><strong>Destination</strong></td>
        <td width="25px" style="background:#cfcfcf;"></td>
    </tr>
{% for route in object_list %}
    <tr>
        <td>
<a href="{{ route.id }}">{% autoescape off %}{{ route.destination }}{% endautoescape %}</a>

        <td> {{ route.interface }}</td>
        <td>
<a href="/freenas/network/staticroutes/delete/{{ route.id }}/">Delete?</a>
            </td>
    </tr>
{% endfor %}
</table>
</div>
        <div dojoType="dijit.layout.ContentPane" title="Add Static Route">
<a href="/freenas/network/staticroutes/add/" alt="Add Static Route">Add Route</a>
</div>
</div>

{% else %}
<p>Welcome. Please <a href="/freenas/login/">log in</a>.</ p>
{% endif %}
{% endblock %}
