<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr">
<head>
    <title>{% if hostname %}{{ hostname }} - {% endif %}{{ sw_version }}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style type="text/css">
    @import "{{ DOJANGO.DOJO_URL }}/resources/dojo.css?cache={{ cache_hash }}";
    @import "{{ DOJANGO.DIJIT_URL }}/themes/claro/claro.css?cache={{ cache_hash }}";
    @import "{{ STATIC_URL }}/lib/js/dgrid/css/skins/claro.css?cache={{ cache_hash }}";
</style>
<script type="text/javascript">
    var dojoConfig = {
        has: {
          "dojo-undef-api": true
        },
        isDebug:true,
        parseOnLoad:true,
        baseUrl:"{{ DOJANGO.DOJO_URL }}",
        async: true,
        cacheBust: '{{ cache_hash }}',
        packages: [
        {name: "freeadmin", location: "../../../../../static/lib/js/freeadmin"},
        {name: "dgrid", location: "../../../../../static/lib/js/dgrid"},
        {name: "xstyle", location: "../../../../../static/lib/js/xstyle"},
        {name: "put-selector", location: "../../../../../static/lib/js/put-selector"}
        ]
    };
    var CSRFToken = '{{ csrf_token }}';
</script>

<script type="text/javascript" src="{{ DOJANGO.DOJO_URL }}/dojo.js?cache={{ cache_hash }}">
{% for js in js_hook %}
<script type="text/javascript" src="{{ STATIC_URL }}{{ js }}?cache={{ cache_hash }}">
{% endfor %}
</script>
    <link rel="stylesheet" href="{{ DOJANGO.DIJIT_URL }}/themes/claro/document.css?cache={{ cache_hash }}" />
    <link rel="stylesheet" href="{{ DOJANGO.DOJOX_URL }}/form/resources/FileInput.css?cache={{ cache_hash }}" />
    <link rel="stylesheet" href="{{ DOJANGO.DOJOX_URL }}/form/resources/CheckedMultiSelect.css?cache={{ cache_hash }}" />
    <link rel="stylesheet" href="{{ DOJANGO.DOJOX_URL }}/form/resources/BusyButton.css?cache={{ cache_hash }}" />
    <link rel="stylesheet" href="{{ DOJANGO.DOJOX_URL }}/layout/resources/ExpandoPane.css?cache={{ cache_hash }}" />
    <link rel="stylesheet" href="{{ DOJANGO.DOJOX_URL }}/grid/resources/claroGrid.css?cache={{ cache_hash }}" type="text/css" />
    <link rel="stylesheet" href="{{ DOJANGO.DOJOX_URL }}/grid/enhanced/resources/EnhancedGrid.css?cache={{ cache_hash }}" type="text/css" />
    <link rel="stylesheet" href="{{ DOJANGO.DOJOX_URL }}/layout/resources/ResizeHandle.css?cache={{ cache_hash }}" type="text/css" />
    <link rel="stylesheet" href="{{ DOJANGO.DOJOX_URL }}/widget/Toaster/Toaster.css?cache={{ cache_hash }}" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/template.css?cache={{ cache_hash }}" type="text/css" />
    <link href="{{ STATIC_URL }}favicon.ico" rel="shortcut icon" type="image/x-icon" />
{% block dojango_header_extra %}{% endblock %}
</head>
<body class="{{ DOJANGO.THEME }}">
    <div data-dojo-type="dijit.layout.BorderContainer" id="outerLayout" data-dojo-props="gutters: false">
        <div data-dojo-type="dijit.layout.ContentPane" id="topLayout" data-dojo-props="region: 'top'">
            <div id="page-header">
                 <div>
                     <a href="/" title="{{ sw_name }}&trade;"><img src="{{ STATIC_URL }}images/ui/{{ sw_name|lower }}-logo.png?cache={{ cache_hash }}" alt="{{ sw_name }}&trade;" style="padding-left:10px;"/></a>
                 </div>
            </div>
            {% block menubar %}
            {% include "menubar.html" %}
            {% endblock %}
        </div>
{% block dojango_content %}
        <div data-dojo-type="dijit.layout.BorderContainer" id="interLayout" data-dojo-props="region:'left', gutters:false, splitter:true">
            <div data-dojo-type="dijit.layout.ContentPane" id="colexpand" data-dojo-props="region:'top'">
                <a href="javascript:void(0);" onClick="dijit.byId('fntree').expandAll()">{% trans "expand all" %}</a> &nbsp;
                <a href="javascript:void(0);" onClick="dijit.byId('fntree').collapseAll()">{% trans "collapse all" %}</a>
            </div>
            <div data-dojo-type="dijit.layout.ContentPane" id="menupane"
                data-dojo-props="region:'center'">
            </div>
        </div>
        <div data-dojo-type="dijit.layout.TabContainer" data-dojo-props="region:'center'" id="content">
        </div>
{% endblock %}
        <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'bottom'" id="footerLayout">
	     {% csrf_token %}
             {% block footer %}
             {% include "footer.html" %}
             {% endblock %}
        </div>
    </div>
</body>
</html>
