<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb"
dir="ltr" >
<head>
<link rel="stylesheet" type="text/css" href="flexdropdown.css" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

<script type="text/javascript" src="flexdropdown.js">

/***********************************************
* Flex Level Drop Down Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for this script and 100s more
***********************************************/

</script>
<link href="/freenas/media/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="/freenas/media/css/template.css"
type="text/css" />

  <link rel="stylesheet" href="/freenas/media/css/variations/blue.css"
type="text/css" />
  <link rel="stylesheet" href="/freenas/media/css/custom.css"
type="text/css" />

</head>

<body id="page" class="yoopage">

	<div id="absolute">
		
	</div>


	<div id="page-header" align="center">
		<div class="page-header-1">
			<div class="page-header-2">
				<div class="page-header-3">
					

						<div id="header" class="wrapper800">
		
							<div id="toolbar">
							
								
								<div id="date">
									
								</div>
								
							
								
								<div class="left">
									
								
								</div>
								
								
								
								<div class="right">
									
								</div>
							
								
							</div>
							
							<div id="headerbar">
							
								
								<div class="left">
								
								</div>
								
								
								
								<div class="right">
									
								</div>
								
								
							</div>
			
							
							<div id="logo">
                                <img src="/freenas/media/images/freenas-logo.png" border="0" alt="FreeNAS">
							</div>
							
							
<div align="center">
<div class="wrapper800" style="text-align:left !important;">
							<div id="menu">
                                
							</div></div></div>
							
			
							
							<div id="search">
							</div>
							
				
							
							<div id="banner">
							</div>
							
			
						</div>
						<!-- header end -->

					</div></div>
			
		</div>
	</div>


<div align="center">
	<div id="page-top" class="wrapper800">
		<div class="page-top-1">
		

				<div id="top">
		                     
					
					<div class="topblock width100 float-left">
					
					</div>
				
	               	                
                                      
				</div>
				<!-- top end -->

			</div>
		</div>
	</div>
	
<div class="wrapper"><div align="center">
<div class="wrapper800" style="text-align:left !important;">
	<div id="page-middle">
		<div class="page-middle-1">
			<div class="page-middle-2">
				<div class="wrapper">

					<div id="middle">
										<div id="breadcrumbs">
	
									
	
										</div>
										
						<div id="middle-expand">
						
							<div id="main">
								<div id="main-shift">
								
									
								
							
						  <div class="main-wrapper-1">
								
										
								
										<div id="maintop">
										
							
										</div>
										<!-- maintop end -->
									

										<div id="mainmiddle">
											<div id="mainmiddle-expand">
											
												<div id="content">
													<div id="content-shift">
													
										
		
														<div id="contenttop">
										
                                            <a href="/merlin/wand">Quick Set-up Wizard</a> | <a href="/freenas/">System Information</a> | <a href="/freenas/status_process/">Processes Information</a>
	
    {% block content %}{% endblock %}
    {% block footer %}
    {% endblock %}

				
										
			<!-- contenttop end -->
										
			
	
														<div class="floatbox">
										
			
										
			</div>
							
										
			
														<div id="contentbottom">
										
				
														</div>
														<!-- mainbottom end -->
										
			
													
													</div>
												</div>
												<!-- content end -->
												
										
	
												<div id="contentleft">
										
		
												</div>
										
	
												
										
	
												<div id="contentright">
										
		
												</div>
									
	
												
											</div>
										</div>
										<!-- mainmiddle end -->

										
										<div id="mainbottom">
									
	
										</div>
										<!-- mainbottom end -->
										
								
									</div>
								
									<div class="main-wrapper-b1">
										<div class="main-wrapper-b2">
											<div class="main-wrapper-b3"></div>
										</div>
									</div>
								
								</div>
							</div>
							
							
							<div id="left">
								
							</div>
							
							
							
							<div id="right">
								
							</div>
							
							
						</div>
					</div>
		
					
					<div id="bottom">
							
						
						
						
						<div class="bottomblock width100 float-left">
							
						</div>
					
									
					</div>
					<!-- bottom end -->
					

				</div>
			</div>
		</div>
	</div>
</div></div>
	<div id="page-footer">
		<div class="wrapper">

			<div id="footer">
<p>FreeNAS &copy; 2005-2010 <a href="http://www.ixsystems.com" target="_blank" title="iXsystems, Inc.">iXsystems, Inc.</a> All rights reserved.   </p>			
            
<br />
<p align="center"><img src="/freenas/media/images/ix/ix_logo.png" border="0" alt="iXsystems, Inc."></p>
			</div>
			<!-- footer end -->

		</div>
	</div>
</div>

</body>
</html>
