<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr" >
<head>
    <title>FreeNAS 8 (alpha)</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    {% include "dojango/include.html" %}
<link href="/freenas/media/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="/freenas/media/css/template.css" type="text/css" />
{% block dojango_header_extra %}{% endblock %}
{% if errform %}
<script type="text/javascript">
      var err  = function () {
          dijit.byId("{{ errform }}").show();
      }
</script>
{% endif %}
</head>
<body  class="{{ DOJANGO.THEME }}" {% if errform %}onLoad="err()")"{% else %}{% endif %}>
<div dojoType="dijit.layout.BorderContainer" style="width: 100%; height: 100%;" gutters="false">
    <div dojoType="dijit.layout.ContentPane" region="top" gutters="false">
                <div id="page-header">
                <div id="logo">
                    <a href="/" title="FreeNAS"><img src="/freenas/media/images/ui/freenas-logo.png" alt="FreeNAS"></a>
                </div>
                </div>
                {% block content %}
<div dojoType="dijit.MenuBar" id="navMenu">

            <div dojoType="dijit.MenuBarItem" onClick="window.location='/'">
                <div>
                    System 
                </div>
            </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/network/'">
        <span>
            Network 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/storage/'">
        <span>
            Storage 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/sharing/'">
        <span>
            Sharing
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/services/'">
        <span>
            Services
        </span>
    </div>


    {% if user.is_authenticated %}
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/logout/'" style="position:relative;float:right;font-weight:bold;">
        <span>
            Log Out 
        </span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/password_change/'">
        <span>
            Account 
        </span>
    </div>
    {% else %}

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/login/'" style="position:relative;float:right;font-weight:bold;">
        <span>
            Log In
        </span>
    </div>
    {% endif %}
</div>


                {% endblock %}
    </div>

    <div dojoType="dijit.layout.ContentPane" region="center">
                {% block dojango_content %}
                {% endblock %}
            {% block footer %}
            {% include "footer.html" %}
            {% endblock %}
    </div>

</div>
</body>
</html>
