<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr" >
<head>
<script type="text/javascript">
      var bsdgroupShow  = function () {
          dijit.byId("bsdgroupDlg").show();
      }
</script>
    <title>{{ freenas_version }}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    {% include "dojango/include.html" %}
<link href="{{ STATIC_URL }}favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/template.css" type="text/css" />
{% block dojango_header_extra %}{% endblock %}
</head>
<body  class="{{ DOJANGO.THEME }}" onLoad="bsdgroupShow();">

  <!--[if !IE 7]>
        <style type="text/css">
            #wrap {display:table;height:100%}
        </style>
    <![endif]-->

    <div id="wrap">
    <div id="main" data-dojo-type="dijit.layout.BorderContainer"> 
		<div data-dojo-type="dijit.layout.ContentPane" region:"top", style:"height: 100px;"' gutters="false">
                <div id="page-header">
                    <div>
                        <a href="/" title="FreeNAS"><img src="{{ STATIC_URL }}images/ui/freenas-logo.png" alt="FreeNAS" /></a>
                    </div>
                </div>
        {% block content %}
        <div dojoType="dijit.MenuBar" id="navMenu">
            <div dojoType="dijit.MenuBarItem" onClick="window.location='/'">
                <div>
                    System 
                </div>
            </div>
        <div dojoType="dijit.MenuBarItem" onClick="window.location='/network/'">
            <span>
                Network 
            </span>
        </div>
        <div dojoType="dijit.MenuBarItem" onClick="window.location='/storage/'">
            <span>
                Storage 
            </span>
        </div>

        <div dojoType="dijit.MenuBarItem" onClick="window.location='/sharing/'">
            <span>
                Sharing
            </span>
        </div>

        <div dojoType="dijit.MenuBarItem" onClick="window.location='/services/'">
            <span>
                Services
            </span>
        </div>
    {% if user.is_authenticated %}
        <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/logout/'" style="position:relative;float:right;font-weight:bold;">
            <span>
                Log Out 
            </span>
        </div>
        <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/'" class="dijitMenuItemSelected">
            <span>
                Account 
            </span>
        </div>
    {% else %}
        <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/login/'" style="position:relative;float:right;font-weight:bold;">
            <span>
                Log In
            </span>
        </div>
    {% endif %}
    {% endblock %}
	</div>
		<div data-dojo-type="dijit.layout.ContentPane" region:"center", style:"padding: 10px;"'>
            {% block dojango_content %}
            {% endblock %}
		</div>
	</div>
</div>
	<div id="footer" data-dojo-type="dijit.layout.ContentPane" region:"bottom", style:"height: 100px;background: #464C53 !important; ", splitter:true'>
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
	</div>



</body>
</html>
