<div class="footer-block" style="margin-top:30px;margin-left:10px;"> FreeNAS &copy; 2011 <a href="http://www.ixsystems.com" target="_blank" title="iXsystems, Inc.">iXsystems, Inc.</a>  All rights reserved. </div>
<div class="footer-block" style="text-align:center;;margin-top:10px;margin-left:100px;">
</div>
<div class="footer-block" style="padding:0px !important;float:right !important;"><a href="http://www.ixsystems.com" target="_blank" title="iXsystems"><img src="/freenas/media/ix/ix_logo.png" border="0" alt="iXsystems" align="right" /></a></div>
