<div data-dojo-type="dijit.layout.BorderContainer" id="footer" data-dojo-props="gutters:false, baseClass: 'NoGutter'">
<div data-dojo-type="dijit.layout.ContentPane" id="footerPane" data-dojo-props="region:'left'">
{{ sw_name }}&reg; &copy; 2017 <a href="http://www.ixsystems.com" target="_blank" title="iXsystems, Inc.">iXsystems, Inc.</a>
</div>
<div data-dojo-type="dijit.layout.ContentPane" id="footerMessages" data-dojo-props="region:'center'">
<pre class="message" id="msg_output" onClick="dijit.byId('log_dialog').show();"></pre>
</div>
</div>
