<div dojoType="dijit.layout.BorderContainer" id="footer" style="width:100%; " gutters="false">
<div dojoType="dijit.layout.ContentPane" style="color:#ccc;margin-left:15px;margin-top:35px;width:225px;overflow:hidden;" region="left">
FreeNAS &copy; 2011 <a href="http://www.ixsystems.com" target="_blank" title="iXsystems, Inc.">iXsystems, Inc.</a>
</div>
<div dojoType="dijit.layout.ContentPane" style="margin-left:auto;margin-right:auto;display:block;width:80%;overflow:hidden;" region="center">
{% if consolemsg %}
<pre class="message" id="msg_output" onClick="dijit.byId('log_dialog').show();"></pre>
<script type="text/javascript" src="/media/lib/js/msg.js"></script>
{% endif %}
</div>
<div dojoType="dijit.layout.ContentPane" style="width:125px;overflow:hidden;" region="right">
<img src="/freenas/media/ix/ix_logo.png" border="0" alt="iXsystems" align="right" /></a>
</div>
</div>
