{% load i18n %}
<div dojoType="dijit.MenuBar" id="navMenu" style="position:relative;">
    {% if user.is_authenticated %}
    <div style="position:absolute;left: 400px; min-width:250px;opacity:0.6;" id="messages"></div>
    <div dojoType="dijit.MenuBarItem" onClick="Menu.openSystem();" class="menu_icon{% if focused_tab == "system" %} dijitMenuItemSelected{% endif %}">
	<img src="{{ STATIC_URL }}images/ui/menu/system.png">
	<br />
        <span>{% trans "System" %}</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="Menu.openNetwork();" class="menu_icon{% if focused_tab == "network" %} dijitMenuItemSelected{% endif %}">
	<img src="{{ STATIC_URL }}images/ui/menu/network.png">
	<br />
        <span>{% trans "Network" %}</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="Menu.openStorage();" class="menu_icon{% if focused_tab == "storage" %} dijitMenuItemSelected{% endif %}">
	<img src="{{ STATIC_URL }}images/ui/menu/storage.png">
	<br />
        <span>{% trans "Storage" %}</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="Menu.openSharing();" class="menu_icon{% if focused_tab == "sharing" %} dijitMenuItemSelected{% endif %}">
	<img src="{{ STATIC_URL }}images/ui/menu/sharing.png">
	<br />
        <span>{% trans "Sharing" %}</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="Menu.openServices();" class="menu_icon{% if focused_tab == "services" %} dijitMenuItemSelected{% endif %}">
	<img src="{{ STATIC_URL }}images/ui/menu/services.png">
	<br />
        <span>{% trans "Services" %}</span>
    </div>
    <div dojoType="dijit.MenuBarItem" id="alert_status" class=" alert " style="margin-left:25px !important;" >
        <p>Alert</p>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/logout/'" class="menu_icon" style="float:right;">
	<img src="{{ STATIC_URL }}images/ui/menu/logout.png">
	<br />
        <span>{% trans "Log Out" %}</span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="dijit.byId('helpDialog').show();" class="menu_icon{% if focused_tab == "help" %} dijitMenuItemSelected{% endif %}" style="float:right;">
	<img src="{{ STATIC_URL }}images/ui/menu/help.png">
	<br />
        <span>{% trans "Help" %}</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="Menu.openAccount();" class="menu_icon{% if focused_tab == "account" %} dijitMenuItemSelected{% endif %}" style="float:right;">
	<img src="{{ STATIC_URL }}images/ui/menu/account.png">
	<br />
        <span>{% trans "Account" %}</span>
    </div>

    {% else %}
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/login/'" class="menu_icon" style="font-weight:bold;">
	<img src="{{ STATIC_URL }}images/ui/menu/login.png">
	<br />
        <span>{% trans "Log In" %}</span>
    </div>
    {% endif %}
</div>
