<div dojoType="dijit.MenuBar" id="navMenu">

            <div dojoType="dijit.MenuBarItem" onClick="window.location='/'">
                <div>
                    Status 
                </div>
            </div>

    <div dojoType="dijit.PopupMenuBarItem">
        <span>
            System 
        </span>
        <div dojoType="dijit.Menu" id="systemMenu">
            <div dojoType="dijit.MenuItem" onClick="window.location='/freenas/system/general/setup/'">
                Settings 
            </div>
            <div dojoType="dijit.MenuItem" onClick="window.location='/freenas/system/advanced/'">
                Advanced 
            </div>
            <div dojoType="dijit.MenuItem" onClick="window.location='/'">
                Information 
            </div>
            <div dojoType="dijit.MenuItem" onClick="RebootAlert()">
                Reboot FreeNAS
            </div>
            <div dojoType="dijit.MenuItem" onClick="ShutdownAlert()">
                Shutdown FreeNAS
            </div>
        </div>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/freenas/network/'">
        <span>
            Network 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/freenas/disk/management/'">
        <span>
            Storage 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/freenas/access/'">
        <span>
            Access 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/freenas/shares/'">
        <span>
            Shares
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/freenas/services/'">
        <span>
            Services
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/password_change/'">
        <span>
            Account 
        </span>
    </div>

    {% if user.is_authenticated %}
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/freenas/logout/'" style="position:relative;float:right;font-weight:bold;">
        <span>
            Log Out 
        </span>
    </div>
    {% else %}

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/freenas/login/'" style="position:relative;float:right;font-weight:bold;">
        <span>
            Log In
        </span>
    </div>
    {% endif %}
</div>


