<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr">
<head>
<script type="text/javascript">
      var wizShow  = function () {
          dijit.byId("wiz").show();
      }
</script>
    <title>FreeNAS 8 BETA</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    {% include "dojango/include.html" %}
<link href="/freenas/media/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="/freenas/media/css/template.css" type="text/css" />
{% block dojango_header_extra %}{% endblock %}
</head>
<body  class="{{ DOJANGO.THEME }}" onLoad="wizShow();">
   <!--[if !IE 7]>
        <style type="text/css">
            #wrap {display:table;height:100%}
        </style>
    <![endif]-->

    <div id="wrap">
    <div id="main" data-dojo-type="dijit.layout.BorderContainer"> 
		<div data-dojo-type="dijit.layout.ContentPane" region:"top", style:"height: 100px;"' gutters="false">
                <div id="page-header">
                    <div style="padding:18px;">
                        <a href="/" title="FreeNAS"><img src="/freenas/media/images/ui/freenas-logo.png" alt="FreeNAS" /></a>
                    </div>
                </div>
		{% block menubar %}
		{% include "common/menubar.html" %}
                {% endblock %}
	</div>
		<div data-dojo-type="dijit.layout.ContentPane" region:"center", style:"padding: 10px;"'>
            {% block dojango_content %}
            {% endblock %}
		</div>
	</div>
</div>
	<div id="footer" data-dojo-type="dijit.layout.ContentPane" region:"bottom", style:"height: 100px;background: #464C53 !important; ", splitter:true'>
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
	</div>
</body>
</html>
