.claro .dijitCalendarRtl .dijitCalendarIncrease{
	background-position: 0px 0px;
}
.claro .dijitCalendarRtl .dijitCalendarDecrease {
	background-position: -18px 0px;
}
.claro .dijitCalendarRtl .dijitCalendarArrowHover .dijitCalendarIncrease {
	background-position: -36px 0px;
}
.claro .dijitCalendarRtl .dijitCalendarArrowHover .dijitCalendarDecrease {
	background-position: -55px 0px;
}
.claro .dijitCalendarRtl .dijitCalendarArrowActive .dijitCalendarIncrease {
	background-position: -72px 0px;
}
.claro .dijitCalendarRtl .dijitCalendarArrowActive .dijitCalendarDecrease {
	background-position: -91px 0px;
}
