
.claro .dijitAccordionContainer {
	border:none;
}
.claro .dijitAccordionInnerContainer {
	background-color: #e6e6e7;	
	border:solid 1px #b5bcc7;
	margin-bottom:1px;
	-webkit-transition-property:background-color,border;
 	-webkit-transition-duration:.3s;
	-webkit-transition-timing-function:linear;
}
.claro .dijitAccordionTitle {
	background-color: transparent;	
	background-image: url("images/accordion.png");
	background-position:0px 0px;
	background-repeat:repeat-x;
	padding: 5px 7px 2px 7px;
	min-height:17px;
	color:#4a4a4a;
}
.dj_ie6 .claro .dijitAccordionTitle {
	background-image: none;
}
.claro .dijitAccordionContainer .dijitAccordionContainer-child {
	background-color:#fff;
	
	border:1px solid #92bce1 !important;
	margin: 0px 2px 2px;
	padding: 9px;
}
.claro .dijitAccordionInnerContainerActive {
	border:1px solid #769DC0;
	background-color:#7dbefa;
	-webkit-transition-duration:.1s;
}
.claro .dijitAccordionInnerContainerActive .dijitAccordionTitle {
	background-position:0px -136px;
	color:#000;
}
.claro .dijitAccordionInnerContainerSelected {
	border-color:#92bce1;
	background-color: #cde8ff;
}
.claro .dijitAccordionInnerContainerSelected .dijitAccordionTitle {
	color:#000;
	background-position: 0 0;	
}
.claro .dijitAccordionInnerContainerHover dijitAccordionTitle {
	
	color:#000;
}
.claro .dijitAccordionInnerContainerHover,
.claro .dijitAccordionInnerContainerSelectedActive {
	border:1px solid #769DC0;
	background-color:#9dcfff;
	-webkit-transition-duration:.2s;
}
.claro .dijitAccordionInnerContainerSelectedHover .dijitAccordionContainer-child,
.claro .dijitAccordionInnerContainerSelectedActive .dijitAccordionContainer-child {
	background-color:#ffffff;
	border:1px solid #769DC0 !important;
	-webkit-box-shadow:inset 0px 0px 3px rgba(0, 0, 0, .25);
	-moz-box-shadow:inset 0px 0px 3px rgba(0, 0, 0, .25);
}
