{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;" doLayout="False">
        <div dojoType="dijit.layout.ContentPane" title="Active Shares">
<form action="." method="post">{% csrf_token %}
    <table>
        <tr>
            <td>
                <h4>Share Types</h4>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Windows:</strong>
            </td>
            <td>
<form action="." method="post">{% csrf_token %}
                {{ cifs.toggleCIFS }}
<button dojoType="dijit.form.Button" type="submit">Toggle</button>
</form>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Apple:</strong>
            </td>
            <td>
<form action="." method="post">{% csrf_token %}
                {{ afp.toggleAFP }}
<button dojoType="dijit.form.Button" type="submit">Toggle</button>
</form>
            </td>
        </tr>
        <tr>
            <td>
                <strong>UNIX:</strong>
            </td>
            <td>
<form action="." method="post">{% csrf_token %}
                {{ nfs.toggleNFS }}
<button dojoType="dijit.form.Button" type="submit">Toggle</button>
</form>
            </td>
        </tr>
    </table>
    <h4>Mount Points</h4>
    <table>
<form action="." method="post">{% csrf_token %}
        <tr>
            <td>
                <strong>Volume</strong>
            </td>
            <td>
                {{ mountpoint.volumeid }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Options</strong>
            </td>
            <td>
                {{ mountpoint.mountoptions }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Read-Only</strong>
            </td>
            <td>
                {{ mountpoint.sharero }}
            </td>
        </tr>
    </table>
<button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Save Mount Point</button>
</form>
        </div>
        <div dojoType="dijit.layout.ContentPane" title="Windows">
<form action="." method="post">{% csrf_token %}
                    <table>
                        <tr>
                            <td style="padding-right:25px;">
                                <strong>Netbios Name:</strong>
                            </td>
                        <td>
                            {{ cifs.netbiosname }}
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right:25px;">
                            <strong>Workgroup:</strong>
                        </td>
                        <td>
                            {{ cifs.workgroup }}
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right:25px;">
                            <strong>Description:</strong>
                        </td>
                        <td>
                            {{ cifs.cifs_description }}
                        </td>
                    </tr>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>DOS Charset:</strong>
                    </td>
                    <td>
                        {{ cifs.doscharset }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>UNIX Charset:</strong>
                    </td>
                    <td>
                        {{ cifs.unixcharset }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>Log Level:</strong>
                    </td>
                    <td>
                        {{ cifs.loglevel }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>Local Master:</strong>
                    </td>
                    <td>
                        {{ cifs.localmaster }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>Time Server:</strong>
                    </td>
                    <td>
                        {{ cifs.timeserver }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>Guest:</strong>
                    </td>
                    <td>
                        {{ cifs.guest }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>File Mask:</strong>
                    </td>
                    <td>
                        {{ cifs.cifs_filemask }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>Directory Mask:</strong>
                    </td>
                    <td>
                        {{ cifs.cifs_dirmask }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>Send Buffer:</strong>
                    </td>
                    <td>
                        {{ cifs.sendbuffer }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>Receive Buffer:</strong>
                    </td>
                    <td>
                        {{ cifs.recbuffer }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>Large Read/Write:</strong>
                    </td>
                    <td>
                        {{ cifs.largerw }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>Send File:</strong>
                    </td>
                    <td>
                        {{ cifs.sendfile }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>EA Support:</strong>
                    </td>
                    <td>
                        {{ cifs.easupport }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>DOS Attributes:</strong>
                    </td>
                    <td>
                        {{ cifs.dosattr }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>NULL Password:</strong>
                    </td>
                    <td>
                        {{ cifs.nullpw }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>Global Samba Parameters:</strong>
                    </td>
                    <td>
                        {{ cifs.smb_options }}
                    </td>
                </tr>
            </table>
<button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Save Configuration</button>
</form>
    </div>
        
        <div dojoType="dijit.layout.ContentPane" title="Apple">
<form action="." method="post">{% csrf_token %}
            <table>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>Name:</strong>
                    </td>
                    <td>
                        {{ afp.name }}
                    </td>
                </tr>
            </table>
<button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Save Configuration</button>
</form>
        </div>
        
        <div dojoType="dijit.layout.ContentPane" title="UNIX">
<form action="." method="post">{% csrf_token %}
     <table>
                <tr>
                    <td style="padding-right:25px;">
                        <strong>Servers:</strong>
                    </td>
                    <td>
                        {{ nfs.servers }}
                    </td>
                </tr>
            </table>
<button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Save Configuration</button>
</form>
        </div>

<br />
</div>
{% else %}
    <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>
{% endif %}

{% endblock %}

