{% load i18n %}
<form data-dojo-type="dijit.form.Form">
    <script type="dojo/event" data-dojo-event="onSubmit" data-dojo-args="e">
        formSubmit(this, e,  '{% url storage_autoimport %}');
    </script>
    <table>
        <tr>
            <td>
                {% trans "Disk" %}
            </td>
            <td>
                {{ form.volume_disks.errors }}
            <select data-dojo-type="dijit.form.Select" id="wizarddisks" name="volume_disks" size="4">
                {% for e in form.volume_disks.field.choices %}
                <option value="{{ e.0 }}" {% if e.0 in disks %}selected="selected"{% endif %}>{{ e.1 }}</option>
                {% empty %}
                {% endfor %}
            </select>
            </td>
        </tr>
    </table>
        <button data-dojo-type="dijit.form.Button" type="submit" data-dojo-props="type:'submit'" class="submitform">
    <script type="dojo/method">
    </script>
    {% trans "Import Volume" %}<br />
        </button>
        <button data-dojo-type="dijit.form.Button" type="button" class="cancelform">
            {% trans "Cancel" %}
            <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                cancelDialog(this);
            </script>
        </button>
</form>
