{% load i18n %}
<form data-dojo-type="dijit.form.Form">
    <script type="dojo/event" data-dojo-event="onSubmit" data-dojo-args="e">
        formSubmit(this, e,  '{% url storage_clonesnap snapshot=snapshot %}');
    </script>
    <table>
        {{ form }}
    </table>
        <button data-dojo-type="dijit.form.Button" data-dojo-props="type: 'submit'" class="submitform">
            {% trans "Clone Snapshot" %}
        </button>
        <button data-dojo-type="dijit.form.Button" type="button" class="cancelform">
            {% trans "Cancel" %}
            <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                cancelDialog(this);
            </script>
        </button>
</form>
