{% load i18n %}
<div dojoType="dojo.data.ItemFileReadStore" jsId="store1" url="{% url storage_datagrid_disks_json %}" >
    </div>
</span>
<table dojoType="dojox.grid.DataGrid" store="store1"
clientSort="true" style="width: 100%; height: 100%;" rowSelector="25px">
    <script type="dojo/method" data-dojo-event="onRowDblClick" data-dojo-args="evt">
        var item = this.selection.getSelected()[0];
        editObject('{%trans "Edit Disk"|force_escape|force_escape %}', '{% url freeadmin_model_view app=app,model=model %}edit/'+item.id+'/?deletable=false', [this,]);
    </script>
    <thead>
        <tr>
            <th field="edit" formatter="buttongrid">{% trans "Edit" %}</th>
        {% for field in fields %}
        <th field="{{ field.1 }}" width="{{ field.2 }}px">{{ field.0 }}</th>
        {% endfor %}
        </tr>
    </thead>
</table>
