{% load i18n %}
<form data-dojo-type="dijit.form.Form">
<script type="dojo/event" data-dojo-event="onSubmit" data-dojo-args="e">
    formSubmit(this, e, '{% url storage_disk_detach vid=vid object_id=object_id %}');
</script>
<table> 
    <tr><td>{{ disk.disk_name }}: {% trans "Are you sure you want to detach?" %}</td></tr>
    <tr>
        <td>
            <button id="submitform" data-dojo-type="dijit.form.Button" type="submit" data-dojo-props="type:'submit'">
                {% trans "Yes" %}
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    this.set('label', '{% trans "Please wait..."|force_escape|force_escape %}');
                </script>
            </button>
            <button data-dojo-type="dijit.form.Button" onClick="cancelDialog(this);">{% trans "Cancel" %}</button>
        </td>
    </tr>
</table>
</form>
