{% load i18n freeadmin %}
<form data-dojo-type="dijit.form.Form">
    <script type="dojo/event" event="onSubmit" args="e">
        formSubmit(this, e,  '{% url storage_disk_replacement vid=vid,object_id=object_id %}');
    </script>
    <table>
    <tr>
    <td colspan="2">
    {% trans "Replacing disk" %} <strong>{{ fromdisk.identifier_to_device }}</strong>
    </td>
    </tr>
        {{ form }}
    </table>
        <button data-dojo-type="dijit.form.Button" type="submit" class="submitform">
    {% trans "Replace disk" %}<br />
        </button>
        <button data-dojo-type="dijit.form.Button" type="button" class="cancelform">
            {% trans "Cancel" %}
            <script type="dojo/method" event="onClick" args="evt">
                cancelDialog(this);
            </script>
        </button>
</form>
