{% extends "base.html" %}
{% block dojango_header_extra %}
{% endblock %} 
{% block content %}
{% include "storage/common/menubar.html" %}
{% endblock %}
{% block dojango_content %}
{% if user.is_authenticated %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;" dolayout="false">
    <div dojoType="dijit.layout.ContentPane" title="Edit {{ object }}">
        <form action="/storage/disks/edit/{{ object.id }}/" method="post">{% csrf_token %}
            <table>
                {{ form }}
            </table>
            <button dojoType="dijit.form.Button" type="submit">Update {{ object }}</button>
    </div>
</div>
{% else %}
    <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>
{% endif %}

{% endblock %}

