{% extends "freeadmin/generic_form.html" %}
{% load freeadmin %}
{% block form %}
    <tr><td><strong>{{ devname }}</strong>: {% trans "Are you sure you want to wipe?" %}</td></tr>
    {% admin_form form %}
{% endblock %}
{% block oklabel %}{% trans "Yes" %}{% endblock %}
{% block onSubmit %}
doSubmit({
    form: this,
    event: e,
    url: '{{ request.path }}',
    progressbar: {
      steps: [
         {"label": gettext("Wiping Disk")},
      ],
      poolUrl: '/storage/disks/wipe/{{ devname }}/progress/',
      mode: 'single',
      fileUpload: false
    }
});
{% endblock %}
