	<h5>
	    {% if mp_list %}
	    Active Volumes: <strong>{{ mp_list|length }}</strong>
	    {% else %}
	    There are no active volumes.
	    {% endif %}
	</h5>
	<table class="grid">
	    <thead class="ghead">
		<td>Volume</td>
		<td>Path</td>
		<td>Used</td>
		<td>Available</td>
		<td>Size</td>
		<td>Available actions</td>
	    </thead>
	    <tbody>
		{% for m in mp_list %}
		<tr class="{% cycle 'odd' 'even' %}" id="{{ m.id }}">
		    <td>
			{{ m.mp_volume.vol_name }}
		    </td>
		    <td>
			{{ m.mp_path }}
		    </td>
		    <td>
			{{ m.used_si }} ({{ m.used_pct }})
		    </td>
		    <td>
			{{ m.avail_si }}
		    </td>
		    <td>
			{{ m.total_si }}
		    </td>
		    <td>
			{% if m.mp_ischild %}
            <button dojoType="dijit.form.Button" type="button"
                onClick="editObject('Remove Dataset', '{% url storage_dataset_delete object_id=m.id %}', [this,]);">Remove dataset</button>
			{% else %}
            <button dojoType="dijit.form.Button" type="button"
                onClick="editObject('Delete Volume', '{% url freeadmin_model_delete app="storage",model="Volume",oid=m.mp_volume.id %}', [this,]);">Delete Volume</button>
            <button dojoType="dijit.form.Button" type="button">
                View Disks
                <script type="dojo/method" event="onClick" args="evt">
                viewModel('View Disks', '{% url storage_datagrid_disks vid=m.mp_volume.id %}');
                </script>
            </button>
			{% endif %}
            <button dojoType="dijit.form.Button" type="button"
                onClick="editObject('Change Permissions', '{% url storage_mp_permission object_id=m.id %}', [this,]);">Change Permissions</button>
		    </td>
		</tr>
		{% empty %}
		<tr>
		    <td colspan="3">No volumes defined</td>
		</tr>
		{% endfor %}
	    </tbody>
	</table>
	<div style="padding:12px;">
        <button dojoType="dijit.form.Button" type="button" >
           Add Volume 
            <script type="dojo/method" event="onClick" args="evt">
                volumeWizard('Add Volume', '{% url storage_wizard %}', [this,]);
            </script>
        </button>
        <button dojoType="dijit.form.Button" type="button" >
            Add Dataset
            <script type="dojo/method" event="onClick" args="evt">
                addObject('Add Dataset', '{% url storage_dataset %}', [this,]);
            </script>
        </button>
	</div>

