{% extends "base.html" %}
{% block dojango_header_extra %}
<script type="text/javascript">
    function toggle_service(obj) {
        obj.src = '/services/toggle/' + obj.name + '/';
        }
</script>

<script type="text/javascript" src="/freenas/media/lib/js/test.json"></script>
<script type="text/javascript">
  dojo.addOnLoad(function() {
    var unitFilesystemId = null;
    var unitTypeId = null;
    var unitGroupId = null;
		new dijit.form.FilteringSelect({
			store: new dojo.data.ItemFileReadStore({
				data: filesystems
			}),
			autoComplete: true,
			style: "width: 150px;",
			required: false,
			id: "filesystem",
            onChange: function(filesystem) 
                {
                    unitFilesystemId = filesystem;
                    dijit.byId('type').query = {filesystemId: filesystem};
                }
            }, "filesystem");
        
		new dijit.form.FilteringSelect({
			store: new dojo.data.ItemFileReadStore({
				data: types
			}),
			autoComplete: true,
			style: "width: 150px;",
			required: false,
			id: "type",
             onChange: function(type) 
                {
                    unitTypeId = type;
                    dijit.byId('disk').query = {typeId: type};
                },
            }, "type");

        new dijit.form.FilteringSelect({
			store: new dojo.data.ItemFileReadStore({
				data: disks
			}),
			autoComplete: true,
			style: "width: 150px;",
			required: false,
			id: "disk",
            }, "disk");
      	});
</script>
{% endblock %} 
{% block dojango_content %}
{% if user.is_authenticated %}
{% include "storage/common/volume_list.html" %}
{% else %}
    <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>
{% endif %}

{% endblock %}

