{% extends "freeadmin/generic_form.html" %}
{% block form %}
  {% if standby_offline %}
    <tr><td colspan="2"><p>
    {% trans "You cannot rekey volume while standby node is down!" %}
    </p></td></tr>
  {% else %}
    <tr><td colspan="2"><p>
        {% trans "You are about to re-key the encryption" %}<br/>
        {% if volume.vol_encrypt == 2 %}
            <span style="color: red">{% trans "Remember to create a new passphrase as this action removes the current passphrase" %}</span>
        {% endif %}
    </p></td></tr>
    {{ block.super }}
  {% endif %}
{% endblock %}
{% block oklabel %}{% trans "Continue" %}{% endblock %}
{% block buttons %}
  {% if standby_offline %}
    <button id="btn_ReKey_Cancel" data-dojo-type="dijit.form.Button" type="button">
        {% trans "OK" %}
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
            cancelDialog(this);
        </script>
    </button>

  {% else %}
  {{ block.super }}
  {% endif %}
{% endblock %}
