{% load i18n %}
    <button id="addReplBtn" data-dojo-type="dijit.form.Button" type="button">
    <img src="{{ STATIC_URL }}images/ui/buttons/add_replication.png" />
    <p>{% trans "Add Replication" %}</p>
    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
        volumeWizard('{% trans "Add Replication"|force_escape|force_escape %}', '{% url freeadmin_model_add app='storage',model='Replication' %}', [this,]);
    </script>
    </button>
    <button id="viewReplBtn" data-dojo-type="dijit.form.Button" type="button">
    <p>{% trans "View Public Key" %}</p>
    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
        volumeWizard('{% trans "View Public Key"|force_escape|force_escape %}', '{% url storage_replications_key %}', [this,]);
    </script>
    </button>
    <div>
    <p style="margin:10px;"><span style="color: red;">{% trans "ATTENTION: A periodic snapshot of a given ZFS filesystem/volume is required to create a replication task" %}</span></p>
    </div>
<table class="grid">
    <thead class="ghead">
	    <td>{% trans "Filesystem/Volume" %}</td>
	    <td>{% trans "Last snapshot" %}</td>
	    <td>{% trans "Remote Host" %}</td>
	    <td>{% trans "Remote ZFS filesystem" %}</td>
	<td>{% trans "Available actions" %}</td>
    </thead>
    <tbody>
	{% for repl in zfsrepl_list %}
	<tr class="{% cycle 'odd' 'even' %}">
	    <td>{{ repl.repl_filesystem }}</td>
	    <td>{{ repl.repl_lastsnpashot }}</td>
	    <td>{{ repl.repl_remote }}</td>
	    <td>{{ repl.repl_zfs }}</td>
	    <td>
                <button id="delRepl{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" data-dojo-type="dijit.form.Button" type="button">
                    <img src="{{ STATIC_URL }}images/ui/buttons/delete_replication.png" />
                    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                        editObject('{% trans "Delete Replication"|force_escape|force_escape %}', '{% url freeadmin_model_delete app='storage' model='Replication' oid=repl.id %}', [this,]);
                    </script>
                </button>
                <div data-dojo-type="dijit.Tooltip" connectId="delRepl{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" position="above">
                    <strong>{% trans "Delete Replication" %}</strong>
                </div>
                <button id="editRepl{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" data-dojo-type="dijit.form.Button" type="button">
                    <img src="{{ STATIC_URL }}images/ui/buttons/edit_replication.png" />
                    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                        editObject('{% trans "Edit Replication"|force_escape|force_escape %}', '{% url freeadmin_model_edit app='storage' model='Replication' oid=repl.id %}', [this,]);
                    </script>
                </button>
                <div data-dojo-type="dijit.Tooltip" connectId="editRepl{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" position="above">
                    <strong>{% trans "Edit Replication" %}</strong>
                </div>
	    </td>
    </tr>
    {% empty %}
	<tr>
	    <td colspan="5">{% trans "No ZFS replication available" %}</td>
	</tr>
    {% endfor %}
    </tbody>
</table>
