<div id="sub-menu">
    <p align="center"><strong>Mock-up</strong></p>
    <div class="sub-menu_item">
        <button id="createbtn" dojoType="dijit.form.Button" type="button">
            Create 
        </button>
    </div>
    <div class="sub-menu_item">
        <button id="modbtn" dojoType="dijit.form.Button" type="button">
            Modify
        </button>
    </div>
    <div class="sub-menu_item">
        <button id="delbtn" dojoType="dijit.form.Button" type="button">
            Delete 
        </button>
    </div>
</div>
