{% extends "freeadmin/generic_model_datagrid.html" %}
{% block actions_static_buttons %}
<button id="periodicSnapBtn" data-dojo-type="dijit.form.Button" type="button">
        <img src="{{ STATIC_URL }}images/ui/buttons/create_periodic_snapshot.png">
        <br />
        <p>{% trans "Add Periodic Snapshot" %}</p>

    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
        addObject('{% trans "Periodic Snapshots"|escapejs %}', '{% url freeadmin_storage_task_add %}', [this,]);
    </script>
</button>
{% endblock %}
