<div id="gridContainer4" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="doLayout: true">
<script type="dojo/method">

    var store = new dojo.data.ItemFileReadStore({
        url: "{% url storage_volume_status_json vid=volume.id %}",
        urlPreventCache: true,
        });

    var treeModel = new dijit.tree.ForestStoreModel({
        store: store,
        rootLabel: 'Pool',
        query: { 'type': 'root' },
        childrenAttrs: ['children']
    });

    actions = function(v) {
        var content = new dijit.layout.ContentPane({});
        var gridhtml = dijit.getEnclosingWidget(dojo.byId(this.id));

        var json = dojo.fromJson(v);
        if(json == undefined) return content;

        if(json.edit_url) {
            var b = new dijit.form.Button({label: gettext("Edit")});
            dojo.connect(b, 'onClick', function(){ editObject(gettext('Edit Disk'), json.edit_url, [gridhtml,]); });
            content.domNode.appendChild(b.domNode);
        }

        if(json.replace_url) {
            var b2 = new dijit.form.Button({label: gettext("Replace")});
            dojo.connect(b2, 'onClick', function(){ editObject(gettext('Disk Replacement'), json.replace_url, [gridhtml,]); });
            content.domNode.appendChild(b2.domNode);
        }
        if(json.detach_url) {
            var b3 = new dijit.form.Button({label: gettext("Detach")});
            dojo.connect(b3, 'onClick', function(){ editObject(gettext('Disk Detach'), json.detach_url, [gridhtml,]); });
            content.domNode.appendChild(b3.domNode);
        }

        if(json.offline_url) {
            var b4 = new dijit.form.Button({label: gettext("Offline")});
            dojo.connect(b4, 'onClick', function(){ editObject(gettext('Offline Disk'), json.offline_url, [gridhtml,]); });
            content.domNode.appendChild(b4.domNode);
        }

        if(json.remove_url) {
            var b5 = new dijit.form.Button({label: gettext("Remove")});
            dojo.connect(b5, 'onClick', function(){ editObject(gettext('Remove Disk'), json.remove_url, [gridhtml,]); });
            content.domNode.appendChild(b5.domNode);
        }

        return content;
    };

    var struc = [
        { field: "name", name: "Name", width: "auto" },
        { field: "status", name: "Status", width: "auto" },
        { field: "actions", name: "Available Actions", width: "auto", formatter: actions },
        ];

    // create a new grid:
    var grid4 = new dojox.grid.TreeGrid({
        treeModel: treeModel,
        rowSelector: true,
        defaultOpen: true,
        structure: struc
        },
        document.createElement('div'));

    container = dojo.byId("gridContainer4");
    dojo.html._emptyNode(container);
    container.appendChild(grid4.domNode);
    grid4.startup();
</script>
</div>
