{% extends "freeadmin/generic_form.html" %}
{% block onSubmit %}
  doSubmit({
      form: this,
      event: e,
      url: '{% url "storage_detach" vid=volume.id %}',
      progressbar: true
      });
{%endblock %}
{% block form %}
    {% if used %}
    <tr>
        <td colspan="2">
            {% blocktrans with used=used %}You have {{ used }} of used space within this volume{% endblocktrans %}
        </td>
    </tr>
    {% endif %}
{% if services %}
    <tr>
        <td colspan="2">
        <p>{% trans "ATTENTION - Currently the following services depend on this volume: " %}<strong>{{ services.keys|join:", " }}</strong></p>
        </td>
    </tr>
{% endif %}
{% if volume.vol_encrypt > 0 %}
    <tr>
        <td colspan="2">
        {% url "storage_volume_key_download" object_id=volume.id as downloadkey %}
        <p>{% blocktrans with url=downloadkey %}This is an encrypted volume, make sure to <a href="{{ url }}" target="_blank">download</a> the key so you can be able to import it in the future{% endblocktrans %}</p>
        </td>
    </tr>
{% endif %}
{{ block.super }}
<tr><td><strong>{{ volume.vol_name}}</strong>: {% trans "Are you sure you want to detach?" %}</td></tr>
{% endblock %}
{% block oklabel %}{% trans "Yes" %}{% endblock %}
