{% extends "base.html" %}
{% block dojango_header_extra %}
<script type="text/javascript" src="/freenas/media/lib/js/test.json"></script>
<script type="text/javascript">
  dojo.addOnLoad(function() {
    var unitFilesystemId = null;
    var unitTypeId = null;
    var unitGroupId = null;
		new dijit.form.FilteringSelect({
			store: new dojo.data.ItemFileReadStore({
				data: filesystems
			}),
			autoComplete: true,
			style: "width: 150px;",
			required: false,
			id: "filesystem",
            onChange: function(filesystem) 
                {
                    unitFilesystemId = filesystem;
                    dijit.byId('type').query = {filesystemId: filesystem};
                }
            }, "filesystem");
        
		new dijit.form.FilteringSelect({
			store: new dojo.data.ItemFileReadStore({
				data: types
			}),
			autoComplete: true,
			style: "width: 150px;",
			required: false,
			id: "type",
             onChange: function(type) 
                {
                    unitTypeId = type;
                    dijit.byId('disk').query = {typeId: type};
                },
            }, "type");

        new dijit.form.FilteringSelect({
			store: new dojo.data.ItemFileReadStore({
				data: disks
			}),
			autoComplete: true,
			style: "width: 150px;",
			required: false,
			id: "disk",
            }, "disk");
      	});
</script>
{% endblock %} 
{% block dojango_content %}
{% if user.is_authenticated %}
<div dojoType="dijit.layout.TabContainer" doLayout="false">
    <div dojoType="dijit.layout.ContentPane" title="Disks in {{ volume.vol_fstype }} volume {{ volume.vol_name }}">
        <h5>
                  {% if disk_list %}
                  Disks in volume: <strong>{{ disk_list|length }}</strong>
                  {% else %}
                  <h5>The volume have no disks.</h5>
                  {% endif %}
        </h5>
                  <table class="grid">
	            <thead class="ghead">
                    <td>Name</td>
	            <td>Description</td>
	            <td>Available actions</td>
	        </thead>
                <tbody>
                {% for d in disk_list %}
                <tr class="{% cycle 'odd' 'even' %}" id="{{ d.id }}">
                    <td>
                        {{ d.disk_name }}
                    </td>
                    <td>
                        {{ d.disk_description }}
                    </td>
                    <td>
                        <button dojoType="dijit.form.Button" type="button" onClick="window.location='/storage/disk/edit/{{ d.id }}/'">Edit</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No disks defined</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
    </div>
</div>

</div>
{% else %}
    <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>
{% endif %}
{% endblock %}

