{% extends "freeadmin/generic_model_datagrid.html" %}
{% block actions_static_buttons %}

    <button id="newVolumeBtn" data-dojo-type="dijit.form.Button">
    <p>{% trans "Volume Manager" %}</p>
    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
        commonDialog({
	  style: "max-width: 75%;max-height:70%;background-color:white;overflow:auto;",
	  name: '{% trans "Volume Manager"|escapejs %}',
	  url: '{% url "storage_volumemanager" %}',
	  nodes: [this,]
	});
    </script>
    </button>

    <button id="ImportDiskBtn" data-dojo-type="dijit.form.Button" type="button">
        <p>{% trans "Import Disk" %}</p>
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
            volumeWizard('{% trans "Import Disk"|escapejs %}', '{% url "storage_import" %}', [this,]);
        </script>
    </button>

    <button id="ImportVolBtn" data-dojo-type="dijit.form.Button">
        <p>{% trans "Import Volume" %}</p>
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
            volumeWizard('{% trans "Import Volume"|escapejs %}', '{% url "storage_autoimport" %}', [this,]);
        </script>
    </button>

    <button id="viewDisksBtn" data-dojo-type="dijit.form.Button" type="button">
        <p>{% trans "View Disks" %}</p>
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
            viewModel('{% trans "View Disks"|escapejs %}', '{% url "freeadmin_storage_disk_datagrid" %}');
        </script>
    </button>

    {% if has_multipath %}
    <button id="viewMultipathBtn" data-dojo-type="dijit.form.Button" type="button">
        <p>{% trans "View Multipaths" %}</p>
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
            viewModel('{% trans "View Multipaths"|force_escape %}', '{% url "storage_multipath_status" %}');
        </script>
    </button>
    {% endif %}

{% endblock %}
