{% load i18n %}
    <button id="addVolumeBtn" dojoType="dijit.form.Button" type="button">
    <img src="{{ STATIC_URL }}images/ui/buttons/add_volumes.png">
    <p>{% trans "Create Volume" %}</p>
    <script type="dojo/method" event="onClick" args="evt">
        volumeWizard('{% trans "Create Volume"|force_escape %}', '{% url storage_wizard %}', [this,]);
    </script>
    </button>

{% if en_dataset %}
    <button id="datasetBtn" dojoType="dijit.form.Button" type="button">
        <img src="{{ STATIC_URL }}images/ui/buttons/add_dataset.png">
        <p>{% trans "Create ZFS Dataset" %}</p>
        <script type="dojo/method" event="onClick" args="evt">
            addObject('{% trans "Create ZFS Dataset"|force_escape %}', '{% url storage_dataset %}', [this,]);
        </script>
    </button>

    <button id="zvolBtn" dojoType="dijit.form.Button" type="button">
        <img src="{{ STATIC_URL }}images/ui/buttons/add_dataset.png">
        <p>{% trans "Create ZFS Volume" %}</p>
        <script type="dojo/method" event="onClick" args="evt">
            addObject('{% trans "Create ZFS Volume"|force_escape %}', '{% url storage_zvol %}', [this,]);
        </script>
    </button>
{% endif %}

    <button id="importVolBtn" dojoType="dijit.form.Button" type="button">
        <img src="{{ STATIC_URL }}images/ui/buttons/import_volume.png">
        <p>{% trans "Import Volume" %}</p>
        <script type="dojo/method" event="onClick" args="evt">
            volumeWizard('{% trans "Import Volume"|force_escape %}', '{% url storage_import %}', [this,]);
        </script>
    </button>

    <button id="autoImportVolBtn" dojoType="dijit.form.Button" type="button">
        <img src="{{ STATIC_URL }}images/ui/buttons/auto_import_volume.png">
        <p>{% trans "Auto Import Volume" %}</p>
        <script type="dojo/method" event="onClick" args="evt">
            volumeWizard('{% trans "Auto Import Volume"|force_escape %}', '{% url storage_autoimport %}', [this,]);
        </script>
    </button>

    <h5>
        {% if mp_list %}
            {% trans "Active Volumes" %}: <strong>{{ mp_list|length }}</strong>
        {% else %}
            {% trans "There are no active volumes." %}
        {% endif %}
    </h5>

    <table class="grid">
        <thead class="ghead">
        <td>{% trans "Volume" %}</td>
        <td>{% trans "Path" %}</td>
        <td>{% trans "Used" %}</td>
        <td>{% trans "Available" %}</td>
        <td>{% trans "Size" %}</td>
        <td>{% trans "Status" %}</td>
        <td>{% trans "Available actions" %}</td>
        </thead>
    <tbody>
    {% for volname, zvols in zvols.items %}
        {% for zvol, attrs in zvols.items %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ volname }}</td>
            <td>/dev/zvol/{{ zvol }}</td>
            <td>-</td>
            <td>-</td>
            <td>{{ attrs.volsize }}</td>
            <td>-</td>
            <td>
                <button id="delZVolBtn{{ forloop.counter }}" dojoType="dijit.form.Button" type="button">
                    <img src="{{ STATIC_URL }}images/ui/buttons/remove_volume.png" width="18px" height="18px">
                    <script type="dojo/method" event="onClick" args="evt">
                        editScaryObject('{% trans "Destroy ZFS Volume"|force_escape %}', '{% url storage_zvol_delete name=zvol %}', [this,]);
                    </script>
                </button>
                <div dojoType="dijit.Tooltip" connectId="delZVolBtn{{ forloop.counter }}" position="above">
                    <strong>{% trans "Destroy ZFS Volume" %}</strong>
                </div>
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
	{% for m in mp_list %}
	<tr class="{% cycle 'odd' 'even' %}" id="{{ m.id }}">
	    <td>
		{{ m.mp_volume.vol_name }}
	    </td>
	    <td>
		{{ m.mp_path }}
	    </td>
	    <td>
		{{ m.used_si }} ({{ m.used_pct }})
	    </td>
	    <td>
		{{ m.avail_si }}
	    </td>
	    <td>
		{{ m.total_si }}
	    </td>
	    <td>
		{{ m.status }}
	    </td>
	    <td>

{% if m.mp_ischild %}
    <button id="delDSBtn{{ m.id }}" dojoType="dijit.form.Button" type="button">
        <img src="{{ STATIC_URL }}images/ui/buttons/remove_dataset.png">
        <script type="dojo/method" event="onClick" args="evt">
            editScaryObject('{% trans "Destroy Dataset"|force_escape %}', '{% url storage_dataset_delete object_id=m.id %}', [this,]);
        </script>
    </button>
    <div dojoType="dijit.Tooltip" connectId="delDSBtn{{ m.id }}" position="above">
        <strong>{% trans "Destroy Dataset" %}</strong>
    </div>
    <button id="editDataBtn{{ m.id }}" dojoType="dijit.form.Button" type="button">
        <img src="{{ STATIC_URL }}images/ui/buttons/settings.png" />
        <script type="dojo/method" event="onClick" args="evt">
            editObject('{% trans "Edit ZFS Options"|force_escape %}', '{% url storage_dataset_edit object_id=m.id %}', [this,]);
        </script>
    </button>
    <div dojoType="dijit.Tooltip" connectId="editDataBtn{{ m.id }}" position="above">
        <strong>{% trans "Edit ZFS Options" %}</strong>
    </div>
{% else %}
    <button id="delVolBtn{{ m.id }}" dojoType="dijit.form.Button" type="button">
        <img src="{{ STATIC_URL }}images/ui/buttons/remove_volume.png" width="18px" height="18px">
        <script type="dojo/method" event="onClick" args="evt">
            editScaryObject('{% trans "Destroy Volume"|force_escape %}', '{% url freeadmin_model_delete app="storage",model="Volume",oid=m.mp_volume.id %}', [this,]);
        </script>
    </button>
    <div dojoType="dijit.Tooltip" connectId="delVolBtn{{ m.id }}" position="above">
        <strong>{% trans "Destroy Volume" %}</strong>
    </div>
    {% if m.mp_volume.vol_fstype == 'ZFS' %}
    <button id="editVolBtn{{ m.id }}" dojoType="dijit.form.Button" type="button">
        <img src="{{ STATIC_URL }}images/ui/buttons/settings.png" />
        <script type="dojo/method" event="onClick" args="evt">
            editObject('{% trans "Edit ZFS Options"|force_escape %}', '{% url storage_volume_edit object_id=m.id %}', [this,]);
        </script>
    </button>
    <div dojoType="dijit.Tooltip" connectId="editVolBtn{{ m.id }}" position="above">
        <strong>{% trans "Edit ZFS Options" %}</strong>
    </div>
    {% endif %}
{% endif %}
    <button id="permBtn{{ m.id }}" dojoType="dijit.form.Button" type="button">
        <img src="{{ STATIC_URL }}images/ui/buttons/permissions.png" width="18px" height="18px">
        <script type="dojo/method" event="onClick" args="evt">
            editObject('{% trans "Change Permissions"|force_escape %}', '{% url storage_mp_permission object_id=m.id %}', [this,]);
        </script>
    </button>
    <div dojoType="dijit.Tooltip" connectId="permBtn{{ m.id }}" position="above">
        <strong>{% trans "Change Permissions" %}</strong>
    </div>
{% if m.mp_volume.vol_fstype == 'ZFS' %}
    <button id="snapBtn{{ m.id }}" dojoType="dijit.form.Button" type="button">
        <img src="{{ STATIC_URL }}images/ui/buttons/create_snapshot.png" width="18px" height="18px">
        <script type="dojo/method" event="onClick" args="evt">
            editObject('{% trans "Create Snapshot"|force_escape %}', '{% url storage_manualsnap path=m.mp_path %}', [this,]);
        </script>
    </button>
    <div dojoType="dijit.Tooltip" connectId="snapBtn{{ m.id }}" position="above">
        <strong>{% trans "Create Snapshot" %}</strong>
    </div>
{% endif %}
{% if not m.mp_ischild %}
    <button id="viewDisksBtn{{ m.id }}" dojoType="dijit.form.Button" type="button">
        <img src="{{ STATIC_URL }}images/ui/buttons/view_all_disks.png" width="18px" height="18px">
        <script type="dojo/method" event="onClick" args="evt">
            viewModel('{% trans "View Disks"|force_escape %}', '{% url storage_datagrid_disks vid=m.mp_volume.id %}');
        </script>
    </button>
    <div dojoType="dijit.Tooltip" connectId="viewDisksBtn{{ m.id }}" position="above">
        <strong>{% trans "View Disks" %}</strong>
    </div>
    <button id="exptBtn{{ m.id }}" dojoType="dijit.form.Button" type="button">
        Export
        <script type="dojo/method" event="onClick" args="evt">
            editObject('{% trans "Export Volume"|force_escape %}', '{% url storage_export vid=m.mp_volume.id %}', [this,]);
        </script>
    </button>
    <div dojoType="dijit.Tooltip" connectId="snapBtn{{ m.id }}" position="above">
        <strong>{% trans "Export Volume" %}</strong>
    </div>
{% endif %}
	    </td>
	</tr>
	{% empty %}
	<tr>
            <td colspan="7">{% trans "No volumes defined" %}</td>
	</tr>
	{% endfor %}
    </tbody>
</table>
