{% extends "freeadmin/generic_form.html" %}
{% block onSubmit %}
  doSubmit({
      form: this,
      event: e,
      url: '{% url "storage_detach" vid=volume.id %}',
      progressbar: true,
      confirm: conf
      });
{%endblock %}
{% block form %}
  {% if standby_offline %}
    <tr><td colspan="2"><p>
    {% trans "You cannot detach volume while standby node is down!" %}
    </p></td></tr>
  {% else %}

    {% if used %}
    <tr>
        <td colspan="2">
            {% blocktrans with used=used %}You have {{ used }} of used space within this volume{% endblocktrans %}
        </td>
    </tr>
    {% endif %}
    {% if attachments %}
    <tr>
        <td colspan="2">
            WARNING: The following services depend on <b>{{ volume.vol_name }}</b> and will be disrupted when the volume is detached:
            <ul style="margin: 0;">
                {% for service in attachments %}
                    <li>
                        <strong>{{ service.type }}</strong><br>
                        <ul style="margin: 0;">
                            {% for attachment in service.attachments %}
                                <li>{{ attachment }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endif %}
{% if volume.vol_encrypt > 0 %}
    <tr>
        <td colspan="2">
        {% url "storage_volume_key_download" object_id=volume.id as downloadkey %}
        <p>{% blocktrans with url=downloadkey %}This is an encrypted volume, make sure to <a href="{{ url }}" target="_blank">download</a> the key so you can be able to import it in the future{% endblocktrans %}</p>
        </td>
    </tr>
{% endif %}
{{ block.super }}
<tr><td><strong>{{ volume.vol_name}}</strong>: {% trans "Are you sure you want to detach?" %}</td></tr>
  {% endif %}
{% endblock %}
{% block oklabel %}{% trans "Yes" %}{% endblock %}
{% block buttons %}
  {% if standby_offline %}
    <button id="btn_Detach_Cancel" data-dojo-type="dijit.form.Button" type="button">
        {% trans "OK" %}
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
            cancelDialog(this);
        </script>
    </button>

  {% else %}
  {{ block.super }}
  {% endif %}
{% endblock %}
