{% extends "freeadmin/generic_model_datagrid.html" %}
{% block actions_static_pane %}
  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'top', splitter: false" style="background-color: white;height: 60px; margin: 7px;" doLayout="false">
    <strong>Scrub</strong><br />
    <p style="padding: 3px;">{% trans "Status" %}: {{ pool.scrub.status_verbose }}</p>
    {% if pool.scrub.status == "IN_PROGRESS" %}
    <p style="padding: 3px;">
      {% if pool.scrub.progress %}{% trans "Progress" %}: {{ pool.scrub.progress }}% &nbsp; &nbsp; {% endif %}
      {% if pool.scrub.scanned %}{% trans "Scan" %}: {% blocktrans with scanned=pool.scrub.scanned total=pool.scrub.total %}{{ scanned }} out of {{ total }}{% endblocktrans %} &nbsp; &nbsp; {% endif %}
    </p>
    {% endif %}
    {% if pool.scrub.status == "COMPLETED" %}
    <p style="padding: 3px;">
      {% if pool.scrub.errors %}{% trans "Errors" %}: {{ pool.scrub.errors }} &nbsp; &nbsp; {% endif %}
      {% if pool.scrub.repaired %}{% trans "Repaired" %}: {{ pool.scrub.repaired }} &nbsp; &nbsp; {% endif %}
    </p>
    {% endif %}
  </div>
{% endblock %}
