{% extends "wizard_base.html" %}
{% block dojango_header_extra %}
<script type="text/javascript">
    function toggle_service(obj) {
        obj.src = '/services/toggle/' + obj.name + '/';
        }
</script>
{% endblock %}
{% block content %}
<div dojoType="dijit.MenuBar" id="navMenu" style="height:56px;">

            <div dojoType="dijit.MenuBarItem" onClick="window.location='/'" class="menu_icon">
        <img src="/freenas/media/images/ui/system.png">
        <br />
                <div>
                    System 
                </div>
            </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/network/'" class="menu_icon">
        <img src="/freenas/media/images/ui/network.png">
        <br />
        <span>
            Network 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/storage/'" class="menu_icon dijitMenuItemSelected ">
        <img src="/freenas/media/images/ui/storage.png">
        <br />
        <span>
            Storage 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/sharing/'" class="menu_icon">
        <img src="/freenas/media/images/ui/sharing.png">
        <br />
        <span>
            Sharing
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/services/'" class="menu_icon">
        <img src="/freenas/media/images/ui/services.png">
        <br />
        <span>
            Services
        </span>
    </div>


    {% if user.is_authenticated %}
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/logout/'" class="menu_icon" style="float:right;">
        <img src="/freenas/media/images/ui/logout.png">
        <br />
        <span>
            Log Out 
        </span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/password_change/'" class="menu_icon" style="float:right;">
        <img src="/freenas/media/images/ui/account.png">
        <br />
        <span>
            Account 
        </span>
    </div>
    {% else %}

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/login/'" class="menu_icon" style="font-weight:bold;">
        <img src="/freenas/media/images/ui/login.png">
        <br />
        <span>
            Log In
        </span>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block dojango_content %}
{% if user.is_authenticated %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;float:left;" doLayout="false">
    <div dojoType="dijit.layout.ContentPane" title="Storage">
                  <table class="grid">
                <tbody>
                    <tr>
                        {% if mp_list %}
                        <h5>Active Volumes: <strong>{{ mp_list|length }}</strong></h5>
                        {% else %}
                        There are no active volumes.
                        {% endif %}
                    </tr>
                </tbody>
	            <thead class="ghead">
                    <td>Volume</td>
	            <td>Path</td>
	            <td>Available actions</td>
	        </thead>
                <tbody>
                {% for m in mp_list %}
                <tr class="{% cycle 'odd' 'even' %}" id="{{ m.id }}">
                    <td>
                        {{ m.mp_volume.vol_name }}
                    </td>
                    <td>
                        {{ m.mp_path }}
                    </td>
                    <td>
                        <button dojoType="dijit.form.Button" type="button" onClick="window.location='/storage/volumes/delete/{{ m.mp_volume.id }}/'">Delete Volume</button>
                        <button dojoType="dijit.form.Button" type="button" onClick="window.location='/storage/disks/{{ m.id }}/'"> View Disks</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No volumes defined</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                <div style="padding:12px;"><button dojoType="dijit.form.Button" type="button" onClick="window.location='/storage/wizard/'">Storage Wizard</button>
                </div>
    </div>
</div>

<div id="wiz" dojoType="dijit.Dialog" title="Storage Wizard"  dolayout="false">
        {% ifequal step0|add:1 step_count  %}
            <h3>Review & Save</h3>
                <h4>Step {{ step0|add:1 }}</h4>
        <table style="width:300px;">
        {% for label, list in wizard_data.lists %}
	{% if "0-" in label or "1-" in label %}
            <tr>
                <td class="label" style="width:120px;"><strong>{% if label == "0-volume_fstype" %}File System type{% else %}{% if label == "1-group_type" %}Group type{% else %}{% if label == "0-volume_disks" %}Disks{% else %}{% if label == "0-volume_name" %}Volume name{% endif %}{% endif %}{% endif %}{% endif %}</strong></td>
                <td class="descr" style="width:100px;">{% if label != "0-volume_disks" %}{% for data in list %}{{ data }}{% endfor %}{% else %}<ul>{% for dsk in list %}<li>{{ dsk }}</li>{% endfor %}</ul>{% endif %}</td>
            </tr>
	{% endif %}
        {% endfor %}
        </table>
        {% else %} 
            <h3>Easy Storage Setup</h3>
                <h4>Step {{ step0|add:1 }}</h4>
        {% endifequal %}
        <form action="." method="post">{% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
            <input type="hidden" name="{{ max_step_field }}" value="{{ max_step }}" />
                {{ previous_fields|safe }}
		{% if step0 > 0 %}
                <button style="padding:4px;margin-top:16px;" dojoType="dijit.form.Button" onClick="window.history.back();">
			&lt;&lt; Back
                </button>
		{% endif %}
                <button style="padding:4px;margin-top:16px;" dojoType="dijit.form.Button" type="submit">
                    {% ifequal step0|add:1 step_count  %}
                        Save
                    {% else %} 
                        Next &gt;&gt;
                    {% endifequal %}
                </button>
        </form>
</div>


{% else %}
    <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>
{% endif %}

{% endblock %}

