{% load i18n %}
<form dojoType="dijit.form.Form">
    <script type="dojo/event" event="onSubmit" args="e">
        formSubmit(this, e,  '{% url storage_wizard %}',
        function(){wizardcheckings();}, {progressbar: true});
    </script>
    <table>
        {% if form.non_field_errors %}
        <tr>
            <td colspan="2">
                {{ form.non_field_errors }}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td style="width:150px;">
                {% trans "Volume name" %}
            </td>
            <td>
                {{ form.volume_name.errors }}
                {{ form.volume_name }}
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Member disks" %}
            </td>
            <td>
            {{ form.volume_disks.errors }}
            <select dojoType="dojox.form.CheckedMultiSelect" id="wizarddisks" name="volume_disks" size="4" multiple="true">
                <script type="dojo/method" event="onClick" args="evt">
                    wizardcheckings(true);
                </script>
                {% for e in form.volume_disks.field.choices %}
                <option value="{{ e.0 }}" {% if e.0 in disks %}selected="selected"{% endif %}>{{ e.1 }}</option>
                {% empty %}
                {% endfor %}
            </select>
            </td>
        </tr>
        <tr id="fsopt">
            <td>
                {% trans "Filesystem type" %}
            </td>
            <td>
                {{ form.volume_fstype.errors }}
                <input type="radio" dojoType="dijit.form.RadioButton" name="volume_fstype" value="UFS" onClick="wizardcheckings(true);" {% if form.data.volume_fstype == "UFS" %}checked{%endif%}/> UFS<br />
                <input type="radio" dojoType="dijit.form.RadioButton" name="volume_fstype" value="ZFS" onClick="wizardcheckings(true);" {% if form.data.volume_fstype == "ZFS" %}checked{%endif%}/>
                ZFS
            </td>
        </tr>
        <tr id="zfssectorsize" style="display: none">
            <td>{% trans "Force 4096 bytes sector size" %}</td>
            <td>
                {{ form.force4khack.errors }}
                {{ form.force4khack }}
            </td>
        </tr>
        <tr id="grpopt" {% if disks and disks|length >= 2 %}{% else %}style="display:none;"{% endif %}>
            <td style="width:200px;">
                {% trans "Group type" %}
            </td>
            <td style="width:250px;">
                {{ form.group_type.errors }}
                <span id="grpmirror">
                    <input type="radio" dojoType="dijit.form.RadioButton" name="group_type" value="mirror" {% if form.data.group_type == "mirror" %}checked{%endif%} onClick="wizardcheckings();"/> mirror<br />
                </span>
                <span id="grpstripe">
                    <input type="radio" dojoType="dijit.form.RadioButton" name="group_type" value="stripe" {% if form.data.group_type == "stripe" %}checked{%endif%} onClick="wizardcheckings();"/> stripe<br/>
                </span>
                <span id="grpraid3">
                    <input type="radio" dojoType="dijit.form.RadioButton" name="group_type" value="raid3" {% if form.data.group_type == "raid3" %}checked{%endif%} onClick="wizardcheckings();"/> raid3<br />
                </span>
                <span id="grpraidz">
                    <input type="radio" dojoType="dijit.form.RadioButton" name="group_type" value="raidz" {% if form.data.group_type == "raidz" %}checked{%endif%} onClick="wizardcheckings();"/> RAID-Z<br />
                </span>
                <span id="grpraidz2">
                    <input type="radio" dojoType="dijit.form.RadioButton" name="group_type" value="raidz2" {% if form.data.group_type == "raidz2" %}checked{%endif%} onClick="wizardcheckings()> ;"/> RAID-Z2 </input>
                </span>
            </td>
        </tr>
        <tr id="zfsextra" style="display:none;">
            <td style="width:200px;">
                {% trans "ZFS Extra" %}
            </td>
            <td style="width:250px;" id="disks_unselected">
                <span id="lowlog" style="display:none;color:red;">{% trans "The use of only 1 log disk is highly discouraged" %}</span>
                <table>
                    <thead>
                        <tr>
                            <td>{% trans "Disk" %}</td>
                            <td>{% trans "None" %}</td>
                            <td>{% trans "Log" %}</td>
                            <td>{% trans "Cache" %}</td>
                            <td>{% trans "Spare" %}</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% if zfsextra %}
                        {% for disk, name, val in zfsextra %}
                        <tr>
                            <td>{{ disk }}</td>
                            <td><input dojoType="dijit.form.RadioButton" name="{{ name }}" value="none" {% if val == "none" %}checked{% endif %}/></td>
                            <td><input dojoType="dijit.form.RadioButton" name="{{ name }}" value="log" {% if val == "log" %}checked{% endif %}/></td>
                            <td><input dojoType="dijit.form.RadioButton" name="{{ name }}" value="cache" {% if val == "cache" %}checked{% endif %}/></td>
                            <td><input dojoType="dijit.form.RadioButton" name="{{ name }}" value="spare" {% if val == "spare" %}checked{% endif %}/></td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </td>
        </tr>
        <tr id="ufspath" {% if ufs %}{% else %}style="display:none;"{% endif %}>
            <td style="width:150px;"> {% trans "Path" %}</td>
            <td>
                {{ form.ufspath.errors }}
                {{ form.ufspath }}
            </td>
        </tr>
    </table>
        <button dojoType="dijit.form.Button" type="submit" class="submitform">
    <script type="dojo/method">
        wizardcheckings(true, true);
    </script>
    {% trans "Add Volume" %}<br />
    <b style="color: red">{% trans "Existing data will be cleared" %}</b>
        </button>
        <button dojoType="dijit.form.Button" type="button" class="cancelform">
            {% trans "Cancel" %}
            <script type="dojo/method" event="onClick" args="evt">
                cancelDialog(this);
            </script>
        </button>
</form>
