{% extends "base.html" %}
{% block dojango_header_extra %}
<script type="text/javascript">
    function toggle_service(obj) {
        obj.src = '/services/toggle/' + obj.name + '/';
        }
</script>
{% endblock %}
{% block content %}
<div dojoType="dijit.MenuBar" id="navMenu" style="height:56px;">

            <div dojoType="dijit.MenuBarItem" onClick="window.location='/'" class="menu_icon">
        <img src="/freenas/media/images/ui/system.png">
        <br />
                <div>
                    System 
                </div>
            </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/network/'" class="menu_icon">
        <img src="/freenas/media/images/ui/network.png">
        <br />
        <span>
            Network 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/storage/'" class="menu_icon dijitMenuItemSelected ">
        <img src="/freenas/media/images/ui/storage.png">
        <br />
        <span>
            Storage 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/sharing/'" class="menu_icon">
        <img src="/freenas/media/images/ui/sharing.png">
        <br />
        <span>
            Sharing
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/services/'" class="menu_icon">
        <img src="/freenas/media/images/ui/services.png">
        <br />
        <span>
            Services
        </span>
    </div>


    {% if user.is_authenticated %}
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/logout/'" class="menu_icon" style="float:right;">
        <img src="/freenas/media/images/ui/logout.png">
        <br />
        <span>
            Log Out 
        </span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/password_change/'" class="menu_icon" style="float:right;">
        <img src="/freenas/media/images/ui/account.png">
        <br />
        <span>
            Account 
        </span>
    </div>
    {% else %}

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/login/'" class="menu_icon" style="font-weight:bold;">
        <img src="/freenas/media/images/ui/login.png">
        <br />
        <span>
            Log In
        </span>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block dojango_content %}
{% if user.is_authenticated %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;padding-right:16px;" dolayout="false">
    <div dojoType="dijit.layout.ContentPane" title="Storage Wizard">
        {% ifequal step0|add:1 step_count  %}
            <h3>Review & Save</h3>
                <h4>Step {{ step0|add:1 }} of {{ step_count }}</h4>
        {% else %} 
            <h3>Easy Storage Setup</h3>
                <h4>Step {{ step0|add:1 }} of {{ step_count }}</h4>
        {% endifequal %}
        {% for label, data in wizard_data.items %}
        <table style="width:40%;">
            <tr>
                <td class="label" style="width:30%;"><strong>{{ label }}</strong></td>
                <td class="descr" style="width:70%;">{{ data }}</td>
            </tr>
        </table>
        {% endfor %}
        <form action="." method="post">{% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
            <input type="hidden" name="{{ max_step_field }}" value="{{ max_step }}" />
                {{ previous_fields|safe }}
<br />
{% ifequal step0|add:1 step_count  %}
    <table>
        <tr>
                <td><h4>NFS</h4></td>
                <td><h4>AFP</h4></td>
                <td><h4>CIFS</h4></td>
            </tr>
                <td>
                    <img class="srv" id="nfs_toggle" name="nfs_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "nfs" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img class="srv" id="afp_toggle" name="afp_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "afp" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img class="srv" id="cifs_toggle" name="cifs_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "cifs" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
            </tr>
        </table>
{% else %}
{% endifequal %}
                <button style="padding:4px;margin-top:16px;" dojoType="dijit.form.Button" type="submit">
                    {% ifequal step0|add:1 step_count  %}
                        Save
                    {% else %} 
                        Next &gt;&gt;
                    {% endifequal %}
                </button>
        </form>
            </div>
        </div>


{% else %}
    <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>
{% endif %}

{% endblock %}

