{% load i18n %}
<div id="gridContainer4" data-dojo-type="dijit.layout.ContentPane" doLayout="true">
<script type="dojo/method">

    var store = new dojo.data.ItemFileWriteStore({
        url: "{% url storage_zpool_status_json name=name %}",
        });

    var treeModel = new dijit.tree.ForestStoreModel({
        store: store,
        rootLabel: 'Pool',
        query: { 'type': 'root' },
        childrenAttrs: ['children']
    });

    var struc = [
        { field: "name", name: "Name", width: "auto" },
        { field: "status", name: "Status", width: "auto" },
        ];

    // create a new grid:
    var grid4 = new dojox.grid.TreeGrid({
        treeModel: treeModel,
        rowSelector: true,
        defaultOpen: true,
        structure: struc
        },
        document.createElement('div'));

    container = dojo.byId("gridContainer4");
    dojo.html._emptyNode(container);
    container.appendChild(grid4.domNode);
    grid4.startup();
</script>
</div>
