{% extends "base.html" %}
{% block dojango_content %}
{% if user.is_authenticated %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;" doLayout="false">
    <div dojoType="dijit.layout.TabContainer" title="Shares" nested="true" style="width:100%;" doLayout="false">
        <div dojoType="dijit.layout.ContentPane" title="Windows" {% if focus_form == "cifs" %} selected="true"{% endif %}>
            <table class="grid">
                <tbody>
                    <tr>
                        {% if cifs_share_list %}
                        <h5>Active Shares: <strong>{{ cifs_share_list|length }}</strong></h5>
                        {% else %}
                        There are no active Windows Shares.
                        {% endif %}
                    </tr>
                </tbody>
	            <thead class="ghead">
                    <td>Name</td>
	            <td>Comment</td>
	            <td>Path</td>
	        </thead>
                <tbody>
                {% for c in cifs_share_list %}
                <tr class="{% cycle 'odd' 'even' %}" id="{{ c.id }}">
                    <td>
                        {{ c.cifs_name }}
                    </td>
                    <td>
                        {{ c.cifs_comment }}
                    </td>
		    <td>
			{{ c.cifs_path.mp_path }}
		    </td>
                    <td>
                        <button dojoType="dijit.form.Button" type="button" onClick="window.location='/sharing/cifs/edit/{{ c.id }}/'">Edit</button>
                        <button dojoType="dijit.form.Button" type="button" onClick="window.location='/sharing/cifs/delete/{{ c.id }}/'">Delete</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No shares defined</td>
                </tr>
                {% endfor %}
            </tbody>
                </table>
                <p class="btn">
                <button dojoType="dijit.form.Button" type="button">
                    Add Windows Share
                <script type="dojo/method" event="onClick" args="evt">
                    dijit.byId("cifs").show();
                </script>
                </button>
                </p>
        </div>
        <div dojoType="dijit.layout.ContentPane" title="Apple" {% if focus_form == "afp" %} selected="true"{% endif %}> 
            <table class="grid">
                <tbody>
                    <tr>
                        {% if afp_share_list %}
                        <h5>Active Shares: <strong>{{ afp_share_list|length }}</strong></h5>
                        {% else %}
                        There are no active Apple Shares.
                        {% endif %}
                    </tr>
                </tbody>
	            <thead class="ghead">
                    <td>Name</td>
		            <td>Comment</td>
		        </thead>
                <tbody>
                {% for a in afp_share_list %}
                <tr class="{% cycle 'odd' 'even' %}" id="{{ a.id }}">
                    <td>
                        {{ a.afp_name }}
                    </td>
                    <td>
                        {{ a.afp_comment }}
                    </td>
                    <td>
                        <button dojoType="dijit.form.Button" type="button" onClick="window.location='/sharing/afp/edit/{{ a.id }}/'">Edit</button>
                        <button dojoType="dijit.form.Button" type="button" onClick="window.location='/sharing/afp/delete/{{ a.id }}/'">Delete</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No shares defined</td>
                </tr>
                {% endfor %}
            </tbody>
                </table>
                <p class="btn">

                <button dojoType="dijit.form.Button" type="button">
                    Add Apple Share
                <script type="dojo/method" event="onClick"   args="evt">
                    dijit.byId("afp").show();
                </script>
                </button>
                </p>
        </div>
        <div dojoType="dijit.layout.ContentPane" title="UNIX" {% if focus_form == "nfs" %} selected="true"{% endif %}>
            <table class="grid">
                <tbody>
                    <tr>
                        {% if nfs_share_list %}
                        <h5>Active Shares: <strong>{{ nfs_share_list|length }}</strong></h5>
                        {% else %}
                        There are no active UNIX Shares.
                        {% endif %}
                    </tr>
                </tbody>
	            <thead class="ghead">
		            <td>Mountpoint</td>
		            <td>Comment</td>
		            <td>Action</td>
		        </thead>
                <tbody>
                {% for n in nfs_share_list %}
                <tr class="{% cycle 'odd' 'even' %}" id="{{ n.id }}">
                    <td>
                        {{ n.nfs_path.mp_path }}
                    </td>
                    <td>
                        {{ n.nfs_comment }}
                    </td>
                    <td>
                        <button dojoType="dijit.form.Button" type="button" onClick="window.location='/sharing/nfs/edit/{{ n.id }}/'">Edit</button>
                        <button dojoType="dijit.form.Button" type="button" onClick="window.location='/sharing/nfs/delete/{{ n.id }}/'">Delete</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No shares defined</td>
                </tr>
                {% endfor %}
            </tbody>
                </table>
                <p class="btn">
                <button dojoType="dijit.form.Button" type="button">
                    Add UNIX Share
                <script type="dojo/method" event="onClick"   args="evt">
                    dijit.byId("nfs").show();
                </script>
                </button>
                </p>
        </div>
    </div>
</div>
<div id="cifs" dojoType="dijit.Dialog" closable="true"  title="Windows Share">
    <form action="/sharing/global/cifs/" method="post">{% csrf_token %}
        <table>
            {{ cifs }}
        </table>
        <button dojoType="dijit.form.Button" type="submit">Add Windows Share</button>
                <button dojoType="dijit.form.Button"type="button" onClick="window.location='/sharing/'">Cancel</button>
    </form>
 </div>

<div id="afp" dojoType="dijit.Dialog" closable="true" title="Apple Share">
    <form action="/sharing/global/afp/" method="post">{% csrf_token %}
        <table>
            {{ afp }}
        </table>
    <button dojoType="dijit.form.Button" type="submit">Add Apple Share</button>
                <button dojoType="dijit.form.Button"type="button" onClick="window.location='/sharing/'">Cancel</button>
    </form>
</div>

<div id="nfs" dojoType="dijit.Dialog" closable="true" title="Unix Share">
     <form action="/sharing/global/nfs/" method="post">{% csrf_token %}
        <table>
            {{ nfs }}
        </table>
        <button dojoType="dijit.form.Button" type="submit">Add Unix Share</button>
                <button dojoType="dijit.form.Button"type="button" onClick="window.location='/sharing/'">Cancel</button>
    </form>
</div>
{% else %}
    <p>Welcome. Please <a href="login/">log in</a>.</p>
{% endif %}

{% endblock %}

