{% extends "base.html" %}
{% block content %}
<div dojoType="dijit.MenuBar" id="navMenu" style="height:56px;">

            <div dojoType="dijit.MenuBarItem" onClick="window.location='/'" class="menu_icon">
        <img src="/freenas/media/images/ui/system.png">
        <br />
                <div>
                    System 
                </div>
            </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/network/'" class="menu_icon">
        <img src="/freenas/media/images/ui/network.png">
        <br />
        <span>
            Network 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/storage/'" class="menu_icon ">
        <img src="/freenas/media/images/ui/storage.png">
        <br />
        <span>
            Storage 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/sharing/'" class="menu_icon dijitMenuItemSelected">
        <img src="/freenas/media/images/ui/sharing.png">
        <br />
        <span>
            Sharing
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/services/'" class="menu_icon">
        <img src="/freenas/media/images/ui/services.png">
        <br />
        <span>
            Services
        </span>
    </div>


    {% if user.is_authenticated %}
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/logout/'" class="menu_icon" style="float:right;">
        <img src="/freenas/media/images/ui/logout.png">
        <br />
        <span>
            Log Out 
        </span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/password_change/'" class="menu_icon" style="float:right;">
        <img src="/freenas/media/images/ui/account.png">
        <br />
        <span>
            Account 
        </span>
    </div>
    {% else %}

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/login/'" class="menu_icon" style="font-weight:bold;">
        <img src="/freenas/media/images/ui/login.png">
        <br />
        <span>
            Log In
        </span>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block dojango_content %}
{% if user.is_authenticated %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;" doLayout="false">
    <div dojoType="dijit.layout.TabContainer" title="Shares" nested="true" style="width:100%;height:450px;">
        <div dojoType="dijit.layout.ContentPane" title="Windows">
            <table class="grid">
                <tbody>
                    <tr>
                        {% if cifs_share_list %}
                        <h5>Active Shares: <strong>{{ cifs_share_list|length }}</strong></h5>
                        {% else %}
                        There are no active Windows Shares.
                        {% endif %}
                    </tr>
                </tbody>
	            <thead class="ghead">
                    <td>Name</td>
	            <td>Comment</td>
	            <td>Path</td>
	        </thead>
                <tbody>
                {% for c in cifs_share_list %}
                <tr class="{% cycle 'odd' 'even' %}" id="{{ c.id }}">
                    <td>
                        {{ c.cifs_name }}
                    </td>
                    <td>
                        {{ c.cifs_comment }}
                    </td>
		    <td>
			{{ c.cifs_path.mp_path }}
		    </td>
                    <td>
                        <button dojoType="dijit.form.Button" type="button" onClick="window.location='/sharing/cifs/edit/{{ c.id }}/'">Edit</button>
                        <button dojoType="dijit.form.Button" type="button" onClick="window.location='/sharing/cifs/delete/{{ c.id }}/'">Delete</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No shares defined</td>
                </tr>
                {% endfor %}
            </tbody>
                </table>
                <p class="btn">
                <button dojoType="dijit.form.Button" type="button">
                    Add Windows Share
                <script type="dojo/method" event="onClick" args="evt">
                    dijit.byId("cifs_share").show();
                </script>
                </button>
                </p>
        </div>
        <div dojoType="dijit.layout.ContentPane" title="Apple">
            <table class="grid">
                <tbody>
                    <tr>
                        {% if afp_share_list %}
                        <h5>Active Shares: <strong>{{ afp_share_list|length }}</strong></h5>
                        {% else %}
                        There are no active Apple Shares.
                        {% endif %}
                    </tr>
                </tbody>
	            <thead class="ghead">
                    <td>Name</td>
		            <td>Comment</td>
		        </thead>
                <tbody>
                {% for a in afp_share_list %}
                <tr class="{% cycle 'odd' 'even' %}" id="{{ a.id }}">
                    <td>
                        {{ a.afp_name }}
                    </td>
                    <td>
                        {{ a.afp_comment }}
                    </td>
                    <td>
                        <button dojoType="dijit.form.Button" type="button" onClick="window.location='/sharing/afp/edit/{{ a.id }}/'">Edit</button>
                        <button dojoType="dijit.form.Button" type="button" onClick="window.location='/sharing/afp/delete/{{ a.id }}/'">Delete</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No shares defined</td>
                </tr>
                {% endfor %}
            </tbody>
                </table>
                <p class="btn">

                <button dojoType="dijit.form.Button" type="button">
                    Add Apple Share
                <script type="dojo/method" event="onClick"   args="evt">
                    dijit.byId("afp_share").show();
                </script>
                </button>
                </p>
        </div>
        <div dojoType="dijit.layout.ContentPane" title="UNIX">
            <table class="grid">
                <tbody>
                    <tr>
                        {% if nfs_share_list %}
                        <h5>Active Shares: <strong>{{ nfs_share_list|length }}</strong></h5>
                        {% else %}
                        There are no active UNIX Shares.
                        {% endif %}
                    </tr>
                </tbody>
	            <thead class="ghead">
		            <td>Mountpoint</td>
		            <td>Comment</td>
		            <td>Action</td>
		        </thead>
                <tbody>
                {% for n in nfs_share_list %}
                <tr class="{% cycle 'odd' 'even' %}" id="{{ n.id }}">
                    <td>
                        {{ n.nfs_path.mp_path }}
                    </td>
                    <td>
                        {{ n.nfs_comment }}
                    </td>
                    <td>
                        <button dojoType="dijit.form.Button" type="button" onClick="window.location='/sharing/nfs/edit/{{ n.id }}/'">Edit</button>
                        <button dojoType="dijit.form.Button" type="button" onClick="window.location='/sharing/nfs/delete/{{ n.id }}/'">Delete</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No shares defined</td>
                </tr>
                {% endfor %}
            </tbody>
                </table>
                <p class="btn">
                <button dojoType="dijit.form.Button" type="button">
                    Add UNIX Share
                <script type="dojo/method" event="onClick"   args="evt">
                    dijit.byId("nfs_share").show();
                </script>
                </button>
                </p>
        </div>
    </div>
</div>
<div id="cifs_share" dojoType="dijit.Dialog" closable="true"  title="Windows Share">
    <form action="save/cifs/" method="post">{% csrf_token %}
        <table>
            {{ cifs_share }}
        </table>
        <button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Add Windows Share</button>
    </form>
 </div>

<div id="afp_share" dojoType="dijit.Dialog" closable="true" title="Apple Share">
    <form action="save/afp/" method="post">{% csrf_token %}
        <table>
            {{ afp_share }}
        </table>
    <button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Add Apple Share</button>
    </form>
</div>

<div id="nfs_share" dojoType="dijit.Dialog" closable="true" title="Unix Share">
     <form action="save/nfs/" method="post">{% csrf_token %}
        <table>
            {{ nfs_share }}
        </table>
        <button style="margin-top:16px;" dojoType="dijit.form.Button" type="submit">Add Unix Share</button>
    </form>
</div>
{% else %}
    <p>Welcome. Please <a href="login/">log in</a>.</p>
{% endif %}

{% endblock %}

