{% extends "base.html" %}

{% block dojango_content %}
{% if user.is_authenticated %}
<form action="." method="post">{% csrf_token %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;height:380px;">
    <div dojoType="dijit.layout.ContentPane" title="Share Settings">
<table>
    <tr>
        <td>
            <strong>Name:</strong>
        </td>
        <td>
            {{ form.name }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Path:</strong>
        </td>
        <td>
            {{ form.path }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Comment:</strong>
        </td>
        <td>
            {{ form.comment }}
        </td>
    </tr>
</table>
<br />
</div>

    <div dojoType="dijit.layout.ContentPane" title="Windows">
        <div dojoType="dijit.layout.TabContainer" style="width:100%;height:200px;" nested="true">
            <div dojoType="dijit.layout.ContentPane" title="Settings">
<table>
    <tr>
        <td style="padding-right:25px;">
            <strong>Read-Only:</strong>
        </td>
        <td>
            {{ form.cifsro }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Browsable:</strong>
        </td>
        <td>
            {{ form.browsable }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Inherit Permissions:</strong>
        </td>
        <td>
            {{ form.inheritperms }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Recycle Bin:</strong>
        </td>
        <td>
            {{ form.recyclebin }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Hidden Files:</strong>
        </td>
        <td>
            {{ form.showhiddenfiles }}
        </td>
    </tr>
</table>
            </div>
            <div dojoType="dijit.layout.ContentPane" title="Advanced">
<table>
    <tr>
        <td style="padding-right:25px;">
            <strong>Hosts (allow):</strong>
        </td>
        <td>
            {{ form.hostsallow }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Hosts (deny):</strong>
        </td>
        <td>
            {{ form.hostsdeny }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Auxiliary Parameters:</strong>
        </td>
        <td>
            {{ form.auxsmbconf }}
        </td>
    </tr>
</table>
            </div>
        </div>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Apple">
        <div dojoType="dijit.layout.TabContainer" style="width:100%;height:200px;" nested="true">
            <div dojoType="dijit.layout.ContentPane" title="Settings">
<table>
    <tr>
        <td style="padding-right:25px;">
            <strong>All Root:</strong>
        </td>
        <td>
            {{ form.allroot }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>Authorized Network:</strong>
        </td>
        <td>
            {{ form.network }}
        </td>
    </tr>
    <tr>
        <td style="padding-right:25px;">
            <strong>All Directories:</strong>
        </td>
        <td>
            {{ form.alldir }}
        </td>
    </tr>
</table>
            </div>
            <div dojoType="dijit.layout.ContentPane" title="Advanced">
            </div>
        </div>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="UNIX">
        <div dojoType="dijit.layout.TabContainer" style="width:100%;height:200px;" nested="true">
            <div dojoType="dijit.layout.ContentPane" title="Settings">
            </div>
            <div dojoType="dijit.layout.ContentPane" title="Advanced">
            </div>
        </div>
    </div>

</div>
<button dojoType="dijit.form.Button" type="submit">Save Configuration</button>
</form>
{% else %}
    <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>
{% endif %}

{% endblock %}

