{% load i18n %}
            <table class="grid">
                <tbody>
                    <tr>
                        {% if nfs_share_list %}
                        <h5>{% trans "Active Shares" %}: <strong>{{ nfs_share_list|length }}</strong></h5>
                        {% else %}
                        {% trans "There are no active UNIX Shares." %}
                        {% endif %}
                    </tr>
                </tbody>
	            <thead class="ghead">
		            <td>{% trans "Mountpoint" %}</td>
		            <td>{% trans "Comment" %}</td>
		            <td>{% trans "Action" %}</td>
		        </thead>
                <tbody>
                {% for n in nfs_share_list %}
                <tr class="{% cycle 'odd' 'even' %}" id="{{ n.id }}">
                    <td>
                        {{ n.nfs_path }}
                    </td>
                    <td>
                        {{ n.nfs_comment }}
                    </td>
                    <td>
                        <button data-dojo-type="dijit.form.Button" type="button">
                            {% trans "Edit" %}
                        <script type="dojo/method" event="onClick" args="evt">
                        editObject('{% trans "Edit NFS Share"|force_escape %}', '{{ n.get_edit_url }}', [this,]);
                        </script>
                        </button>
                        <button data-dojo-type="dijit.form.Button" type="button">
                            {% trans "Delete" %}
                        <script type="dojo/method" event="onClick" args="evt">
                        editObject('{% trans "Delete NFS Share"|force_escape %}', '{{ n.get_delete_url }}', [this,]);
                        </script>
                        </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">{% trans "No shares defined" %}</td>
                </tr>
                {% endfor %}
            </tbody>
                </table>
                <p class="btn">
                    <button data-dojo-type="dijit.form.Button" type="button">
                        {% trans "Add UNIX Share" %}
                        <script type="dojo/method" event="onClick" args="evt">
                        editObject('{% trans "Add UNIX Share (NFS)"|force_escape %}', '{% url freeadmin_model_add app="sharing",model="NFS_Share" %}', [this,]);
                    </script>
                    </button>
                </p>
