{% load i18n %}
            <table class="grid">
                <tbody>
                    <tr>
                        {% if cifs_share_list %}
                        <h5>{% trans "Active Shares" %}: <strong>{{ cifs_share_list|length }}</strong></h5>
                        {% else %}
                        {% trans "There are no active Windows Shares." %}
                        {% endif %}
                    </tr>
                </tbody>
	            <thead class="ghead">
                    <td>{% trans "Name" %}</td>
	                <td>{% trans "Comment" %}</td>
	                <td>{% trans "Path" %}</td>
                    <td>{% trans "Available actions" %}</td>
	            </thead>
                <tbody>
                {% for c in cifs_share_list %}
                <tr class="{% cycle 'odd' 'even' %}" id="{{ c.id }}">
                    <td>
                        {{ c.cifs_name }}
                    </td>
                    <td>
                        {{ c.cifs_comment }}
                    </td>
		    <td>
			{{ c.cifs_path }}
		    </td>
                    <td>
                        <button data-dojo-type="dijit.form.Button" type="button">
                            {% trans "Edit" %}
                        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                        editObject('{% trans "Edit Windows Share"|force_escape|force_escape %}', '{{ c.get_edit_url }}', [this,]);
                        </script>
                        </button>
                        <button data-dojo-type="dijit.form.Button" type="button">
                            {% trans "Delete" %}
                        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                        editObject('{% trans "Delete Windows Share"|force_escape|force_escape %}', '{{ c.get_delete_url }}', [this,]);
                        </script>
                        </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">{% trans "No shares defined" %}</td>
                </tr>
                {% endfor %}
            </tbody>
                </table>
                <p class="btn">
                    <button data-dojo-type="dijit.form.Button" type="button">
                        {% trans "Add Windows Share" %}
                        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                        editObject('{% trans "Add Windows Share (CIFS)"|force_escape|force_escape %}', '{% url freeadmin_model_add app="sharing" model="CIFS_Share" %}', [this,]);
                    </script>
                    </button>
                </p>
