Source: truenas
Section: admin
Priority: optional
Maintainer: William Grzybowski <william@grzy.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.0
Homepage: http://www.truenas.com

Package: truenas
Architecture: all
Depends: collectd,
         docker-ce,
         glusterfs-server,
         inadyn,
         ladvd,
         libnginx-mod-http-uploadprogress,
         libvirt-daemon-system,
         man-db,
         manpages,
         mc,
         middlewared,
         net-tools,
         nfs-ganesha,
         nfs-ganesha-gluster,
         nginx,
         openssh-server,
         openvpn,
         proftpd,
         samba,
         scstadmin,
         snmpd,
         sudo,
         tftpd-hpa,
         tmux,
         truenas-webui,
         winbind,
         wireguard,
         zsh,
         ${misc:Depends}
Description: Main package for TrueNAS
 This package is supposed to hold all the dependencies required
 to build TrueNAS as well as set the correction version so other
 software can rely on.
