Source: truenas
Section: admin
Priority: optional
Maintainer: William Grzybowski <william@grzy.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.0
Homepage: http://www.truenas.com

Package: truenas
Architecture: all
Depends: acl,
         console-setup,
         containerd.io,
         cpuid,
# We need to bring in dnsmasq-base explicitly as that is used for internal/automatic bridge network in virt plugin
         dnsmasq-base,
         docker-buildx-plugin,
         docker-ce,
         docker-ce-cli,
         docker-compose-plugin,
         gdb,
         gssproxy,
         kdump-tools,
         keepalived,
         ifenslave,
         libnginx-mod-http-uploadprogress,
         libvirt-daemon-system,
         man-db,
         manpages,
         mc,
         middlewared,
         middlewared-docs,
         netcat-openbsd,
         nfs-common,
         nfs-kernel-server,
         net-tools,
         netdata-core,
         netdata-plugins-bash,
         netdata-plugins-python,
         nginx,
         nut,
         nut-snmp,
         openssh-server,
         proftpd,
         proftpd-mod-crypto,
         python3-midcli,
         qemu-system-x86,
         truenas-samba,
         truenas-sssd,
         snmpd,
         snmp,
         sudo,
# This is required for TPM support in VM plugin
         swtpm,
         swtpm-tools,
         systemd-coredump,
         tmux,
         truenas-binaries,
         truenas-webui,
         usrmerge,
         waagent,
# Wireguard needs to be fixed because it needs extra dependencies to build the module during install
# We should likely build the modules into the package and not use dkms
#        wireguard,
         zsh,
         ${misc:Depends}
Description: Main package for TrueNAS
 This package is supposed to hold all the dependencies required
 to build TrueNAS as well as set the correction version so other
 software can rely on.
