Source: truenas
Section: admin
Priority: optional
Maintainer: William Grzybowski <william@grzy.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.0
Homepage: http://www.truenas.com

Package: truenas
Architecture: all
Depends: docker-ce,
         glusterfs-server,
         libnginx-mod-http-uploadprogress,
         man-db,
         manpages,
         middlewared,
         net-tools,
         nfs-ganesha,
         nfs-ganesha-gluster,
         nginx,
         openssh-server,
         sudo,
         tmux,
         truenas-webui,
         ${misc:Depends}
Description: Main package for TrueNAS
 This package is supposed to hold all the dependencies required
 to build TrueNAS as well as set the correction version so other
 software can rely on.
