[Unit]
Description=Extract /conf/base
DefaultDependencies=no

Wants=systemd-remount-fs.service
After=systemd-remount-fs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=rm -rf /var/log
ExecStart=mkdir /var/log

[Install]
WantedBy=multi-user.target
