[Unit]
Description=Enable required cgroups for TrueNAS
DefaultDependencies=no
Before=middlewared.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/setup_cgroups
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
