[Unit]
Description=Execute TrueNAS custom pre-init tasks
DefaultDependencies=no

Before=network-pre.target

After=ix-zfs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=midclt call system.setup_cgroups
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
