[Unit]
Description=Update TrueNAS 12 to SCALE
DefaultDependencies=no

Before=network-pre.target

After=middlewared.service
Before=ix-etc.service
Before=ix-netif.service
Before=ix-preinit.service
Before=ix-syncdisks.service
Before=ix-zfs.service
Before=local-fs.target

ConditionPathExists=/data/freebsd-to-scale-update

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=300
ExecStart=midclt call -job update.freebsd_to_scale
StandardOutput=null

[Install]
WantedBy=multi-user.target
