[Unit]
Description=Setup TrueNAS Network
DefaultDependencies=no

Before=network-pre.target

After=middlewared.service systemd-modules-load.service
Before=local-fs.target
Conflicts=systemd-networkd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-midclt call etc.generate_checkpoint pre_interface_sync
ExecStart=-midclt -t 120 call interface.sync true
ExecStartPost=midclt call etc.generate_checkpoint interface_sync
StandardOutput=null

[Install]
WantedBy=multi-user.target
