[Unit]
Description=Execute TrueNAS custom post-init tasks

After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=midclt call core.notify_postinit
ExecStart=midclt call -job initshutdownscript.execute_init_tasks POSTINIT
StandardOutput=null
StandardError=null

[Install]
WantedBy=truenas.target
