[Unit]
Description=Execute TrueNAS custom post-init tasks

After=systemd-user-sessions.service plymouth-quit-wait.service getty-pre.target
After=rc-local.service

[Service]
Type=oneshot
ExecStart=midclt call core.notify_postinit
ExecStart=midclt call -job initshutdownscript.execute_init_tasks POSTINIT
StandardOutput=null
StandardError=null

[Install]
WantedBy=getty.target
