[Unit]
Description=Execute TrueNAS custom pre-init tasks
DefaultDependencies=no

Before=network-pre.target

After=ix-zfs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=midclt call -job initshutdownscript.execute_init_tasks PREINIT
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
