[Unit]
Description=Exec TrueNAS reboot tasks

Before=reboot.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=true
ExecStop=/bin/true
StandardOutput=null
StandardError=null
TimeoutStopSec=0

[Install]
WantedBy=multi-user.target
