[Unit]
Description=Sync Disk Cache Table
DefaultDependencies=no

After=middlewared.service
Before=ix-etc.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=midclt call --job true --job-print description disk.sync_all
StandardOutput=null

[Install]
WantedBy=multi-user.target
