[Unit]
Description=Exec TrueNAS shutdown tasks
DefaultDependencies=no

After=network.target
Before=middlewared.service

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=midclt call core.event_send system ADDED '{"id": "shutdown"}'
ExecStop=midclt call -job initshutdownscript.execute_init_tasks SHUTDOWN
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
