[Unit]
Description=Save SSH keys
After=ssh.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=midclt call ssh.save_keys

[Install]
WantedBy=multi-user.target
