[Unit]
Description=Sync Disk Cache Table
DefaultDependencies=no

After=systemd-modules-load.service local-fs.target middlewared.service
Before=ix-etc.service

[Service]
Type=oneshot
ExecStart=midclt call --job true --job-print description disk.sync_all
StandardOutput=null

[Install]
WantedBy=multi-user.target
