[Unit]
Description=Exec TrueNAS shutdown tasks

After=network.target middlewared.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=true
ExecStop=/usr/bin/ha_panic
ExecStop=/usr/local/bin/scst_util.sh stop-alua
ExecStop=midclt call core.event_send system.shutdown ADDED
ExecStop=midclt call --job initshutdownscript.execute_init_tasks SHUTDOWN
StandardOutput=null
StandardError=null
TimeoutStopSec=0

[Install]
WantedBy=multi-user.target
