[Unit]
Description=TrueNAS Update
DefaultDependencies=no

Before=middlewared.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=ix-update

[Install]
WantedBy=multi-user.target
