[Unit]
# vendor_service.py must run after network routes are set up.
After=ix-postinit.service


[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
ExecStart=/usr/bin/vendor_service
StandardOutput=null

[Install]
WantedBy=multi-user.target
