[Unit]
After=middlewared.service


[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=1200
ExecStart=/usr/bin/vendor_service
StandardOutput=null

[Install]
WantedBy=multi-user.target
