[Unit]
Description=Import ZFS pools
DefaultDependencies=no
After=middlewared.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=midclt call -job --job-print description pool.import_on_boot
StandardOutput=null

[Install]
WantedBy=multi-user.target
