#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	mkdir debian/truenas
	cp -aR data etc debian/truenas/

override_dh_installsystemd:
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=ix-boot-core
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=ix-cgroups
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=ix-etc
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=ix-freebsd-to-scale-update
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=ix-netif
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=ix-postinit
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=ix-preinit
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=ix-reboot
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=ix-reporting
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=ix-shutdown
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=ix-ssh-keys
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=ix-syncdisks
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=ix-vendor
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=ix-wait-on-disks
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=ix-zfs
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=snmp-agent
	dh_installsystemd --no-start -r --no-restart-after-upgrade --name=truenas
