<ul>
{% for alert in alerts %}
    <li>
        <input id="cbox_Alert_{{ alert.id }}" data-dojo-type="dijit.form.CheckBox" type="checkbox" value="{{ alert.id }}" onClick="alertDismiss" {% if not alert.dismissed %} checked{% endif %} />
        {% if alert.level == 'OK'%}
            <span style="color:green;font-weight:bold;">
            {% trans "OK" %}:
        {% else %}
            {% if alert.level == 'WARNING'%}
                <span style="color:goldenrod;font-weight:bold;">
                {% trans "WARNING" %}:
            {% else %}
                <span style="color:red;font-weight:bold;">
                {% trans "CRITICAL" %}:
            {% endif %}
        {% endif %}
        </span>
        {{ alert.datetime }} - {{ alert.formatted|safe }}
    </li>
{% empty %}
  <li>The system has no alerts</li>
{% endfor %}
</ul>
