{% load tz %}

<ul>
{% for alert in alerts %}
    <li>
        <input id="cbox_Alert_{{ forloop.counter }}" data-dojo-type="dijit.form.CheckBox" type="checkbox" value="{{ alert.id }}" onClick="alertDismiss" {% if not alert.dismissed %} checked{% endif %} />
        {% if alert.one_shot %}
            <span id="one_shot_Alert_{{ forloop.counter }}" role="presentation" class="dijitInline dijitIcon dijitTreeIcon AlertServiceIcon" data-dojo-attach-point="iconNode"></span>
        {% endif %}
        {% if alert.level == 'INFO'%}
            <span style="color:green;font-weight:bold;">
            {% trans "OK" %}:
        {% else %}
            {% if alert.level == 'WARNING'%}
                <span style="color:goldenrod;font-weight:bold;">
                {% trans "WARNING" %}:
            {% else %}
                <span style="color:red;font-weight:bold;">
                {{ alert.level }}
            {% endif %}
        {% endif %}
        </span>
        {{ alert.datetime|localtime }} -
        {% if show_node %}
            {{ alert.node }} -
        {% endif %}
        {{ alert.formatted|safe }}
        {% if alert.one_shot %}
            <div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'one_shot_Alert_{{ forloop.counter }}',position:['below']">
                This is a <b>one-shot</b> alert, it won't be dismissed automatically
            </div>
        {% endif %}
    </li>
{% empty %}
  <li>The system has no alerts</li>
{% endfor %}
</ul>
