
<input data-dojo-type="dijit.form.TextBox" data-dojo-props="name: '{{ name|force_escape }}', value: '{{ value|default_if_none:"" }}'" id="{{ id }}" />
<button data-dojo-type="dijit.form.Button" data-dojo-props="label: '{% trans "Browse"|force_escape|force_escape %}'">
    <script type="dojo/connect" data-dojo-event="onClick">
    cont = dojo.byId('{{ id }}_container');
    if(this.get('label') == '{% trans "Close"|force_escape|force_escape %}') {
        dojo.style(cont, 'display', 'none');
        this.set('label', '{% trans "Browse"|force_escape|force_escape %}');
    } else {
        dojo.style(cont, 'display', 'block');
        this.set('label', '{% trans "Close"|force_escape|force_escape %}');
    }
    </script>
</button>

<div id="{{ id }}_container" class="treecontainer" style="display: none">
    <div
        data-dojo-type="freeadmin.tree.JsonRestStore"
        data-dojo-props="target: '{% if dirsonly %}{% url system_dirbrowser path="/" %}{% else %}{% url system_filebrowser path="/" %}{% endif %}',
        labelAttribute: 'name'"
        data-dojo-id="{{ id }}_store">
    </div>
<!--
    <div data-dojo-type="freeadmin.tree.ForestStoreModel"
         data-dojo-id="{{ id }}_model"
         data-dojo-props="store: {{ id }}_store,
         query: {},
         rootId: 'items',
         rootLabel: '/mnt',
         childrenAttrs: 'children',
         deferItemLoadingUntilExpand: true">-->
    <div dojoType="freeadmin.tree.ForestStoreModel"
         jsId="{{ id }}_model"
         store="{{ id }}_store"
         query="{}"
         rootId="items"
         rootLabel="/mnt"
         childrenAttrs="children"
         deferItemLoadingUntilExpand="true">
    </div>
    <div id="{{ id }}_tree"
        data-dojo-type="freeadmin.tree.TreeLazy"
        data-dojo-props="model: {{ id }}_model, persist: false"
        style="height: 250px;">
        <script type="dojo/connect" data-dojo-event="onClick" data-dojo-args="obj, node, ev">
            if(node.item.path) {
                dojo.attr('{{ id }}', 'value', node.item.path);
            } else {
                dojo.attr('{{ id }}', 'value', node.get('label'));
            }
        </script>
    </div>
</div>
