{% load i18n freeadmin %}
<form data-dojo-type="dijit.form.Form" {% if form and form.is_multipart %}enctype="multipart/form-data" {% endif %}method="POST">
    <script type="dojo/event" data-dojo-event="onSubmit" data-dojo-args="e">
        {% block onSubmit %}
        doSubmit({
	    form: this,
	    event: e,
	    url: '{% block formpost %}{{ request.path }}{% endblock %}'
	    });
        return false;
        {% endblock %}
    </script>
<table class="form">
    {% block form %}
    {% csrf_token %}
    {% admin_form form %}
    {% endblock %}
</table>
    {% block buttons %}
    <button data-dojo-type="dojox.form.BusyButton" type="submit" data-dojo-props="type:'submit'" class="submitform">
        <script type="dojo/on" data-dojo-event="click">
           getForm(this).submit(); // Workaround bug in dojo 1.9.0
        </script>
        {% block oklabel %}{% trans "OK" %}{% endblock %}
    </button>
    {% if not inline %}
    <button data-dojo-type="dijit.form.Button"type="button">
        {% trans "Cancel" %}
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
            cancelDialog(this);
        </script>
    </button>
    {% endif %}
    {% with form.advanced_fields as advfields %}
    {% include "freeadmin/advanced_btn.html" %}
    {% endwith %}
    {% block extra_buttons %}{% endblock %}
    {% endblock %}
</form>
