<form data-dojo-type="dijit.form.Form">
<script type="dojo/event" data-dojo-event="onSubmit" data-dojo-args="e">
    {% block onsubmit %}
    formSubmit(this, e, '{{ request.path }}');
    {% endblock %}
</script>
<table>
{% if form %}
    {{ form }}
{% endif %}
    {% block message %}
    {% if related_num > 0 %}
    <tr>
        <td>{% blocktrans with related_num=related_num %}There are {{ related_num }} related entries that are going to be delete as well because depend on this{% endblocktrans %}:
            <ul>
                {% for name, objs in related.items %}
                    <li>{{ name }}: {% for obj in objs %}{{ obj }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td>{% trans "Are you sure you want to delete?" %}</td>
    </tr>
    {% endblock %}
    <tr>
        <td>
            <button class="submitform" data-dojo-type="dojox.form.BusyButton" data-dojo-props="type: 'submit'">
                {% trans "Yes" %}
            </button>
            <button data-dojo-type="dijit.form.Button" class="cancelform">
                {% trans "Cancel" %}
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    cancelDialog(this);
                </script>
            </button>
        </td>
    </tr>
</table>
</form>
