<div data-dojo-type="dijit.layout.BorderContainer" style="width:100%;height:100%" data-dojo-props="gutters: false, toggleSplitterOpen: true">

    <div id="gridDiv" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'center'">
    <script type="dojo/method">
require([
    "dojo/dom-style",
    "dojo/query",
    "dojo/request/xhr",
    "dojo/store/JsonRest",
    "dgrid/OnDemandGrid",
    "dgrid/Keyboard",
    "dgrid/Selection",
    "dojo/_base/declare",
    "dgrid/extensions/DijitRegistry",
    "dijit/registry",
    ], function(domStyle, query, xhr, JsonRest, Grid, Keyboard, Selection, declare, DijitRegistry, registry) {

    var columns;
    xhr.get('{{ structure_url }}', {
        sync: true,
        handleAs: 'text'
    }).then(function(data) {
        columns = eval('(' + data + ')');
    });

    var store = new JsonRest({
            target:"{% url api_dispatch_list api_name="v1.0" resource_name=resource_name %}",
        });

    var StandardGrid = declare([Grid, Selection, Keyboard]);
    grid = new StandardGrid({
        id: 'orderGrid',
        store: store,
        columns: columns,
        }, "gridDiv");
    grid.on(".dgrid-row:dblclick", function(evt) {
        var row = grid.row(evt);
        editObject('{% trans "Edit"|escapejs %}', '', [this, ]);
    });

    var selectionCheck = function(numrows) {
        if(numrows > 1 || numrows == 0) {
            query(".gridEdit").forEach(function(item, idx) {
                domStyle.set(item, "display", "none");
            });

            query(".gridDelete").forEach(function(item, idx) {
                domStyle.set(item, "display", "none");
            });
        } else {
            query(".gridEdit").forEach(function(item, idx) {
                domStyle.set(item, "display", "block");
            });

            query(".gridDelete").forEach(function(item, idx) {
                domStyle.set(item, "display", "block");
            });
        }
    };
    grid.on("dgrid-select, dgrid-deselect", function(evt) {
        selectionCheck(evt.rows.length);
    });
    //grid.select(1);
    selectionCheck(0);

});
</script>
    </div>
    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'bottom', splitter: true" style="border: 1px solid #ddd;background-color: white;height: 50px;" doLayout="false">
        <div class="gridEdit">
            <button data-dojo-type="dijit.form.Button" type="button">
                {% trans "Edit" %}
            <script type="dojo/method" event="onClick" args="evt">
                var mybtn = this;
                for (var i in grid.selection) {
                    grid.store.get(i).then(function(data) {
                        editObject('{% trans "Edit"|escapejs %}', data._edit_url, [mybtn,]);
                    });
                }
            </script>
            </button>
        </div>
        <div class="gridDelete left">
            <button data-dojo-type="dijit.form.Button" type="button">
                {% trans "Delete" %}
            <script type="dojo/method" event="onClick" args="evt">
                var mybtn = this;
                for (var i in grid.selection) {
                    grid.store.get(i).then(function(data) {
                        editObject('{% trans "Delete"|escapejs %}', data._delete_url, [mybtn,]);
                    });
                }
            </script>
            </button>
        </div>
    </div>
</div>
