{% load i18n freeadmin %}
<form dojoType="dijit.form.Form" encType="multipart/form-data">
<script type="dojo/event" event="onSubmit" args="e">
            formSubmit(this, e, '{% url freeadmin_model_edit app=app,model=model,oid=oid,mf=mf|default_if_none:"" %}{% if inline %}?inline=true{% endif %}');
</script>{% if inline and saved %}<span class="saved">{% trans "Your changes have been successfully updated!" %}</span>{% endif %}
<table> 
{% admin_form form %}
    <tr>
        <td>
            <button class="submitform" dojoType="dijit.form.Button" type="submit">
                <script type="dojo/method">
                        {{ extra_js }}
                </script>
                {% if inline %}
                {% trans "Save" %}
                {% else %}
                {% trans "OK" %}
                {% endif %}
                <script type="dojo/method" event="onClick" args="evt">
                    this.set('label', '{% trans "Please wait..."|force_escape %}');
                </script>
            </button>
            {% if not inline %}
            <button dojoType="dijit.form.Button" class="cancelform" onClick="cancelDialog(this);">{% trans "Cancel" %}</button>
            {% endif %}
        </td>
        <td align="right">
            {% if deletable == False %}
            <button dojoType="dijit.form.Button" >
                <script type="dojo/event" event="onClick" args="e">
                    try {
                        var form = getForm(this);
                        dojo.query('input[type=button],input[type=submit]', form.domNode).forEach(
                            function(inputElem){
                                 dijit.getEnclosingWidget(inputElem).set('disabled',true);
                             }
                          );
                    } catch(err) {}

                    var rnode = getDialog(this);
                    if(!rnode) rnode = dijit.byId("edit_dialog");
                    dojo.xhrGet( {
                        url: '{% url freeadmin_model_delete app=app,model=model,oid=oid %}',
                        handleAs: 'text',
                        load: function(data) { rnode.set('content', data); },
                     });
                </script>{% trans "Delete" %}</button>
            {% endif %}
            {% block buttons_extra %}
            {% endblock %}
        </td>
    </tr>
</table>
</form>
