{% load i18n freeadmin %}
<form data-dojo-type="dijit.form.Form" encType="multipart/form-data">
{% block post_form %}
<script type="dojo/event" data-dojo-event="onSubmit" data-dojo-args="e">
     //formSubmit(this, e, '{% url freeadmin_model_edit app=app,model=model,oid=oid,mf=mf|default_if_none:"" %}{% if inline %}?inline=true{% endif %}');
     doSubmit({
        form: this,
        event: e,
        url: '{% url freeadmin_model_edit app=app,model=model,oid=oid,mf=mf|default_if_none:"" %}{% if inline %}?inline=true{% endif %}'
     });
</script>
{% endblock %}
{% if inline and saved %}<span class="saved">{% trans "Your changes have been successfully updated!" %}</span>{% endif %}
<table>
    {% block form %}
{% admin_form form advanced_mode %}
    {% endblock %}
    {% block formset %}
    <tr><td colspan="2">
    {% for name, formset in formsets.items %}
    <table>
        <tr>
            <td colspan="2">
            Aliases
            {{ formset.management_form }}
            </td>
        </tr>
        {% for form in formset %}
        <table>
        {% admin_form form %}
        </table>
        {% endfor %}
        <tr>
            <td colspan="2">
            <a href="javascript:void(0);" onClick="addAlias(this, 'alias_set');">Add extra alias</a>
            </td>
        </tr>
    </table>
    {% endfor %}
    {% endblock %}
    {% block buttons %}
    <tr>
        <td colspan="2">
            <button class="submitform" data-dojo-type="dijit.form.Button" data-dojo-props="type:'submit'">
                <script type="dojo/method">
                        {{ extra_js }}
                </script>
                {% if inline %}
                {% trans "Save" %}
                {% else %}
                {% trans "OK" %}
                {% endif %}
            </button>
            {% if not inline %}
            <button data-dojo-type="dijit.form.Button" class="cancelform">
                {% trans "Cancel" %}
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    cancelDialog(this);
                </script>
            </button>
            {% endif %}
            {% if deletable == False %}
            <button data-dojo-type="dijit.form.Button" >
                <script type="dojo/event" data-dojo-event="onClick" data-dojo-args="e">
                    try {
                        var form = getForm(this);
                        dojo.query('input[type=button],input[type=submit]', form.domNode).forEach(
                            function(inputElem){
                                 dijit.getEnclosingWidget(inputElem).set('disabled',true);
                             }
                          );
                    } catch(err) {}

                    var rnode = getDialog(this);
                    if(!rnode) rnode = dijit.byId("edit_dialog");
                    dojo.xhrGet( {
                        url: '{% url freeadmin_model_delete app=app,model=model,oid=oid %}',
                        handleAs: 'text',
                        load: function(data) { rnode.set('content', data); },
                     });
                </script>{% trans "Delete" %}</button>
            {% endif %}
            {% with modeladmin.advanced_fields as advfields %}
            {% include "freeadmin/advanced_btn.html" %}
            {% endwith %}
            {% block buttons_extra %}
            {% endblock %}
        </td>
    </tr>
    {% endblock %}
</table>
</form>
