{% load i18n freeadmin %}
<form data-dojo-type="dijit.form.Form">
{% block post_form %}
<script type="dojo/event" data-dojo-event="onSubmit" data-dojo-args="e">
    //formSubmit(this, e, '{% url freeadmin_model_add app=app,model=model,mf=mf|default_if_none:"" %}');
    doSubmit({
       form: this,
       event: e,
       url: '{% url freeadmin_model_add app=app,model=model,mf=mf|default_if_none:"" %}'
    });
</script>
{% endblock %}
<table>
    {% admin_form form %}
    {% block formset %}
    {% for name, formset in formsets.items %}
    <tr>
        <td colspan="2">
            <table>
                {{ formset.management_form }}
                <tr>
                    <td colspan="2">
                    {{ formset.verbose_name }}
                    </td>
                </tr>
                {% for form in formset %}
                <tr>
                    <td colspan="2">
                        <table>
                            {% admin_form form %}
                        </table>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                    <a href="javascript:void(0);" onClick="add_formset(this, '{% url freeadmin_model_empty_formset app=app model=model %}', '{{ formset.prefix|escapejs }}');">Add extra {{ formset.verbose_name }}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {% endfor %}
    {% endblock %}
    <tr><td colspan="2">
        <button class="submitform" data-dojo-type="dojox.form.BusyButton" data-dojo-props="type: 'submit'">
            <script type="dojo/method">
                {{ extra_js }}
            </script>
            {% trans "OK" %}
        </button>
        <button data-dojo-type="dijit.form.Button" class="cancelform">
            {% trans "Cancel" %}
            <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                cancelDialog(this);
            </script>
        </button>
        {% with form.advanced_fields as advfields %}
        {% include "freeadmin/advanced_btn.html" %}
        {% endwith %}
    </td></tr>
</table>
</form>
