{% load i18n freeadmin %}
<form data-dojo-type="dijit.form.Form">
{% block post_form %}
<script type="dojo/event" data-dojo-event="onSubmit" data-dojo-args="e">
    //formSubmit(this, e, '{% url freeadmin_model_add app=app,model=model,mf=mf|default_if_none:"" %}');
    doSubmit({
       form: this,
       event: e,
       url: '{% url freeadmin_model_add app=app,model=model,mf=mf|default_if_none:"" %}'
    });
</script>
{% endblock %}
<table>
    {% admin_form form %}
    {% block formset %}
    <tr><td colspan="2">
    {% for name, formset in formsets.items %}
    <table>
        <tr>
            <td colspan="2">
            Aliases
            {{ formset.management_form }}
            </td>
        </tr>
        {% for form in formset %}
        <table>
            {% admin_form form %}
        </table>
        {% endfor %}
    <tr>
        <td colspan="2">
        <a href="javascript:void(0);" onClick="addAlias(this, 'alias_set');">Add extra alias</a>
        </td>
    </tr>
    </table>
    {% endfor %}
    {% endblock %}
    </td></tr>
<tr><td colspan="2">
    <button class="submitform" data-dojo-type="dijit.form.Button" data-dojo-props="type: 'submit'">
        <script type="dojo/method">
            {{ extra_js }}
        </script>
        {% trans "OK" %}
    </button>
    <button data-dojo-type="dijit.form.Button" class="cancelform">
        {% trans "Cancel" %}
        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
            cancelDialog(this);
        </script>
    </button>

        </td></tr>
</table>
</form>
