    <img src="{{ STATIC_URL }}images/ui/menu/help.png" class="helpIcon">
    <h2>{{ sw_version }}</h2>
    <div class="left">
    <div class="float24">
    <h3>{% trans "Support" %}</h3>
    <ul>
        <li>iXsystems hardware products come with a three year, Return-to-Depot, limited warranty. Our limited warranty includes 30-day operating system installation and configuration technical support on the originally tested and installed operating system.</li>
        <li>To open a ticket: <a href="http://support.ixsystems.com/index.php?/Tickets/Submit" target="_blank">http://support.ixsystems.com/index.php?/Tickets/Submit</a></li>
        <li>To visit the TrueNAS knowledge base: <a href="http://support.ixsystems.com/index.php?/Knowledgebase/List" target="_blank">http://support.ixsystems.com/index.php?/Knowledgebase/List</a></li>
        <li>Email support: <a href="mailto:support@iXsystems.com">support@iXsystems.com<a/></li>
    </ul>
    </div>

    <div class="clear"></div>
    </div>
