{% extends "base3.html" %}
{% load i18n %}

{% block dojango_header_extra %}
<link rel="stylesheet" href="/dojango/dojo-media/release/freenas-dojo-1.5.0/dojox/grid/resources/claroGrid.css" type="text/css" /> 
<script type="text/javascript" src="/media/lib/js/freeadmin.js"></script>
<script type="text/javascript" src="/media/lib/js/top.js"></script>
<script type="text/javascript">
var STORAGE_URL = '{% url storage_wizard %}';
dojo.addOnLoad(function(){
    Menu.urlInfo = '{% url system_info %}';
    Menu.urlSettings = '{% url system_settings %}';
    Menu.urlReporting = '{% url system_reporting %}';
    Menu.urlNetwork = '{% url network_home %}';
    Menu.urlSharing = '{% url sharing_home %}';
    Menu.urlServices = '{% url services_home %}';
    Menu.urlAccount = '{% url account_home %}';
    Menu.urlStorage = '{% url storage_home %}';
    Menu.urlISCSI = '{% url services_iscsi %}';

    Menu.openSystem();
});
</script>
{% endblock %}

{% block dojango_content %}
<div id="top_dialog" dojoType="dijit.Dialog" title="{% trans "Running Processes" %}" style="min-height:400px;">
    <pre class="ix" id="top_output">{% trans "Loading" %}...</pre>
</div>
<div id="log_dialog" dojoType="dijit.Dialog" title="{% trans "/var/log/messages" %}" style="min-height:400px;background-color:black;">
    <script type="dojo/method" event="onShow">
        document.getElementById('msgfull_output').innerHTML = '{% trans "Loading" %}...';
	t.stop();
	t.start();
        loadlog(true);
    </script>
    <pre class="ix" id="msgfull_output" style="max-height:400px;overflow-y:auto;border:none;word-wrap: break-word;">{% trans "Loading" %}...</pre>
</div>
<div dojoType="dijit.Dialog" id="rebootDialog" title="{% trans "Reboot the System" %}" >
    <h3>{% trans "Warning!" %}</h3>
    <p>{% trans "You are about to <strong>REBOOT</strong> the system, what would you like to do?" %}</p>
                <button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('rebootDialog').hide();">
                    {% trans "Cancel" %}
                </button>
                <button dojoType="dijit.form.Button" type="submit" onClick="window.location='/system/reboot/'">
                    {% trans "Reboot" %}
                </button>
</div>
             
<div dojoType="dijit.Dialog" id="shutdownDialog" title="{% trans "Shutdown the System" %}" >
    <h3>{% trans "Warning!" %}</h3>
    <p>{% trans "You are about to <strong>SHUTDOWN</strong> the system, what would you like to do?" %}</p>
                <button dojoType="dijit.form.Button" type="button"
                    onClick="dijit.byId('shutdownDialog').hide();">
                    {% trans "Cancel" %}
                </button>
                <button dojoType="dijit.form.Button" type="button" onClick="window.location='/system/shutdown/'">
                    {% trans "Shutdown" %}
                </button>
</div>

<div dojoType="dijit.Dialog" id="helpDialog" title="{% trans "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Help & Support" %}"  style="background:#fff;width:400px;">
    <img src="/freenas/media/images/ui/menu/help.png" style="float:left;position:relative;top:-36px;right:5px;">
    <div style="float:left;">
    <h3>{% trans "Forum" %}</h3>
    <ul>
        <li><a href="http://sourceforge.net/apps/phpbb/freenas/" title="FreeNAS Community Support Forum" target="_blank">{% trans "Community Forum" %}</a></li>
    </ul>
    </div>
    <div style="float:left;padding-left:36px;">
    <h3>{% trans "IRC (Chat)" %}</h3>
    <ul>
        <li><a href="http://webchat.freenode.net/?channels=freenas" target="_blank" title="#freenas on freenode">{% trans "#freenas on freenode" %}</a></li>
    </ul>
    </div>

    <div style="float:left;padding-left:24px;">
    <h3>{% trans "Mailing Lists" %}</h3>
    <ul>
        <li><a href="http://lists.sourceforge.net/mailman/listinfo/freenas-announce" title="FreeNAS Announce" target="_blank">{% trans "FreeNAS Announce" %}</a></li>
        <li><a href="http://lists.sourceforge.net/mailman/listinfo/freenas-commit" title="FreeNAS Commit" target="_blank">{% trans "FreeNAS Commit" %}</a></li>
        <li><a href="http://lists.sourceforge.net/mailman/listinfo/freenas-devel" title="FreeNAS Devel" target="_blank">{% trans "FreeNAS Devel" %}</a></li>
        <li><a href="http://lists.sourceforge.net/mailman/listinfo/freenas-testing" title="FreeNAS Testing" target="_blank">{% trans "FreeNAS Testing" %}</a></li>
    </ul>
    </div>
    <div style="float:left;padding-left:36px;">
    <h3>{% trans "Support Issues" %}</h3>
    <ul>
        <li><a href="http://support.freenas.org" title="FreeNAS Bug Tracker" target="_blank">{% trans "Bug Tracker" %}</a></li>
    </ul>
    </div>
    <br />
   </div>
{% endblock %}
