{% extends "base.html" %}
{% load i18n %}

{% block dojango_header_extra %}
<link rel="stylesheet" href="{{ DOJANGO.DOJOX_URL }}/grid/resources/claroGrid.css" type="text/css" />
<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/js/freeadmin.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/js/top.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/js/alert.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/js/shell.js"></script>
<script type="text/javascript">
var STORAGE_URL = '{% url storage_wizard %}';
dojo.addOnLoad(function(){
    Menu.urlInfo = '{% url system_info %}';
    Menu.urlSettings = '{% url system_settings %}';
    Menu.urlReporting = '{% url system_reporting %}';
    Menu.urlNetwork = '{% url network_home %}';
    Menu.urlSharing = '{% url sharing_home %}';
    Menu.urlServices = '{% url services_home %}';
    Menu.urlAccount = '{% url account_home %}';
    Menu.urlStorage = '{% url storage_home %}';
    Menu.urlISCSI = '{% url services_iscsi %}';
    Menu.urlCron = '{% url system_cronjobs %}';

    Menu.openSystem();
});
</script>
{% endblock %}

{% block dojango_content %}
{{ block.super }}
<div id="top_dialog" data-dojo-type="dijit.Dialog" data-dojo-props="title: '{% trans "Running Processes"|force_escape|force_escape %}'" style="min-height:400px;">
    <script type="dojo/method" data-dojo-event="onShow">
        ttop.stop();
        ttop.start();
    </script>
    <pre class="ix" id="top_output">{% trans "Loading..." %}</pre>
</div>
<div id="shell_dialog" data-dojo-type="dijit.Dialog" data-dojo-props="title: '{% trans "Shell"|force_escape|force_escape %}'" style="min-height:400px;background-color: black;">
    <script type="dojo/method" data-dojo-event="onShow">
        function handler(msg,value) {
            switch(msg) {
            case 'conn':
                //startMsgAnim('Tap for keyboard',800,false);
                break;
            case 'disc':
                //startMsgAnim('Disconnected',0,true);
                break;
            case 'curs':
                cy=value;
                //scroll(cy);
                break;
            }
        }
        try {
            _webshell.islocked=false;
            _webshell.update();
        } catch(e) {
            _webshell=new webshell("shell_output",80,24,handler);
        }
        document.onkeypress=_webshell.keypress;
        document.onkeydown=_webshell.keydown;
        //dojo.connect(dijit.byId("shell_dialog"), "hide", this, function(ev) { dojo.stopEvent(ev); return true; });
    </script>
    <script type="dojo/method" data-dojo-event="onHide" data-dojo-args="e">
        _webshell.islocked=true;
        document.onkeypress=null;
        document.onkeydown=null;
    </script>

    <pre class="ix" id="shell_output">{% trans "Loading..." %}</pre>
</div>
<div id="log_dialog" data-dojo-type="dijit.Dialog" dojo-data-props="title: '/var/log/messages'" style="min-height:400px;background-color:black;">
    <script type="dojo/method" data-dojo-event="onShow">
        document.getElementById('msgfull_output').innerHTML = '{% trans "Loading..."|force_escape|force_escape %}';
    t.stop();
    t.start();
    loadlog(true);
    </script>
    <pre class="ix" id="msgfull_output" style="max-height:400px;overflow-y:auto;border:none;word-wrap: break-word;">{% trans "Loading..." %}</pre>
    <input id="stopmsgrefresh" data-dojo-type="dijit.form.CheckBox" /><label for="stopmsgrefresh" style="color:white;">Stop refresh</label>
</div>
<div data-dojo-type="dijit.Dialog" id="rebootDialog" data-dojo-props="title: '{% trans "Reboot the System"|force_escape|force_escape %}'" >
    <h3>{% trans "Warning!" %}</h3>
    <p>{% trans "You are about to <strong>REBOOT</strong> the system, what would you like to do?" %}</p>
                <button data-dojo-type="dijit.form.Button" type="button">
                    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    dijit.byId('rebootDialog').hide();
                    </script>
                    {% trans "Cancel" %}
                </button>
                <button data-dojo-type="dijit.form.Button" type="button">
                    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    window.location='{% url system_reboot %}';
                    </script>
                    {% trans "Reboot" %}
                </button>
</div>

<div data-dojo-type="dijit.Dialog" id="shutdownDialog" data-dojo-props="title: '{% trans "Shutdown the System"|force_escape|force_escape %}'">
    <h3>{% trans "Warning!" %}</h3>
    <p>{% trans "You are about to <strong>SHUTDOWN</strong> the system, what would you like to do?" %}</p>
                <button data-dojo-type="dijit.form.Button" type="button">
                    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    dijit.byId('shutdownDialog').hide();
                    </script>
                    {% trans "Cancel" %}
                </button>
                <button data-dojo-type="dijit.form.Button" type="button">
                    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    window.location='{% url system_shutdown %}';
                    </script>
                    {% trans "Shutdown" %}
                </button>
</div>

<div data-dojo-type="dijit.Dialog" id="helpDialog" data-dojo-props="title: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Help & Support"|force_escape|force_escape %}'"  style="background:#fff;width:400px;">
    <img src="{{ STATIC_URL }}images/ui/menu/help.png" style="float:left;position:relative;top:-36px;right:5px;">
    <h2>{{ sw_version }}</h2>
    <div style="float:left;">
    <h3>{% trans "Forum" %}</h3>
    <ul>
        <li><a href="http://forums.freenas.org/" title="FreeNAS Community Support Forum" target="_blank">{% trans "Community Forum" %}</a></li>
    </ul>
    </div>
   
    <div style="float:left;padding-left:36px;">
    <h3>{% trans "IRC (Chat)" %}</h3>
    <ul>
        <li><a href="http://webchat.freenode.net/?channels=freenas" target="_blank" title="#freenas on freenode">{% trans "#freenas on freenode" %}</a></li>
    </ul>
    </div>
    <div style="float:left;padding-left:24px;">
    <h3>{% trans "Mailing Lists" %}</h3>
    <ul>
        <li><a href="http://lists.sourceforge.net/mailman/listinfo/freenas-announce" title="FreeNAS Announce" target="_blank">{% trans "FreeNAS Announce" %}</a></li>
        <li><a href="http://lists.sourceforge.net/mailman/listinfo/freenas-commit" title="FreeNAS Commit" target="_blank">{% trans "FreeNAS Commit" %}</a></li>
        <li><a href="http://lists.sourceforge.net/mailman/listinfo/freenas-devel" title="FreeNAS Devel" target="_blank">{% trans "FreeNAS Devel" %}</a></li>
        <li><a href="http://lists.sourceforge.net/mailman/listinfo/freenas-testing" title="FreeNAS Testing" target="_blank">{% trans "FreeNAS Testing" %}</a></li>
        <li><a href="https://lists.sourceforge.net/lists/listinfo/freenas-docs" title="FreeNAS Docs" target="_blank">{% trans "FreeNAS Docs" %}</a></li>
        <li><a href="https://lists.sourceforge.net/lists/listinfo/freenas-translations" title="FreeNAS Translations" target="_blank">{% trans "FreeNAS Translations" %}</a></li>
    </ul>
    </div>

    <div style="float:left;padding-left:24px;">
    <h3>{% trans "Support Issues" %}</h3>
    <ul>
        <li><a href="http://support.freenas.org" title="FreeNAS Bug Tracker" target="_blank">{% trans "Bug Tracker" %}</a></li>
    </ul>
    </div>

    <div style="float:left;padding-left:24px;">
    <h3>{% trans "Documentation" %}</h3>
    <ul>
        <li><a href="http://doc.freenas.org" target="_blank" title="FreeNAS Documentation">{% trans "FreeNAS Documentation" %}</a></li>
    </ul>
    </div>
    <div style="clear:both;"></div>

    <br />
   </div>
{% endblock %}
