{% extends "base.html" %}

{% block dojango_header_extra %}
<script type="text/javascript" src="{% url "javascript_catalog" %}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/js/freeadmin.js?cache={{ cache_hash }}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/js/license.js?cache={{ cache_hash }}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/js/top.js?cache={{ cache_hash }}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/js/alert.js?cache={{ cache_hash }}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/js/msg.js?cache={{ cache_hash }}"></script>
<script type="text/javascript">
menuSetURLs = function() {

    Menu.urlAccount = '{% url "account_home" %}';
    Menu.urlDirectoryService = '{% url "directoryservice_home" %}';
    Menu.urlISCSI = '{% url "sharing_home" %}';
    Menu.urlJails = '{% url "jails_home" %}';
    Menu.urlNetwork = '{% url "network_home" %}';
    Menu.urlPlugins = '{% url "plugins_home" %}';
    Menu.urlReporting = '{% url "system_reporting" %}';
    Menu.urlServices = '{% url "services_home" %}';
    Menu.urlSharing = '{% url "sharing_home" %}';
    Menu.urlStorage = '{% url "storage_home" %}';
    Menu.urlSupport = '{% url "support_home" %}';
    Menu.urlDocumentation = '{% url "documentation_home" %}';
    Menu.urlSystem = '{% url "system_home" %}';
    Menu.urlTasks = '{% url "tasks_home" %}';
    Menu.urlVM = '{% url "vm_home" %}';
    Menu.urlTree = '{% url "freeadmin_menu" %}';
    Menu.urlVcp = '{% url "vcp_home" %}';

}

{% if consolemsg %}msgEnabled = true;{% endif %}
wizardShow = {% if wizard %}true{% else %}false{% endif %};
wizardUrl = '{% url "system_initialwizard" %}';
middlewareTokenUrl = '{% url "freeadmin_middleware_token" %}';

</script>
{% endblock %}

{% block dojango_content %}
{{ block.super }}
<div id="top_dialog" data-dojo-type="dijit.Dialog" data-dojo-props="title: '{% trans "Running Processes"|force_escape|force_escape %}'">
    <script type="dojo/method" data-dojo-event="onShow">
        ttop.stop();
        ttop.start();
    </script>
    <pre class="ix" id="top_output">{% trans "Loading..." %}</pre>
</div>
<div id="shell_dialog_holder">
</div>
<div id="log_dialog" data-dojo-type="dijit.Dialog" dojo-data-props="title: '/var/log/messages'">
    <script type="dojo/method" data-dojo-event="onShow">
        document.getElementById('msgfull_output').innerHTML = '{% trans "Loading..."|force_escape|force_escape %}';
    _msg_t.stop();
    _msg_t.start();
    loadlog(true);
    </script>
    <pre class="ix" id="msgfull_output">{% trans "Loading..." %}</pre>
    <input id="stopmsgrefresh" data-dojo-type="dijit.form.CheckBox" /><label for="stopmsgrefresh">Stop refresh</label>
</div>

<div data-dojo-type="dijit.Dialog" id="helpDialog" data-dojo-props="title: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Help & Support"|force_escape|force_escape %}', href: '{% url "freeadmin_help" %}'">
</div>
{% endblock %}
