{% extends "base2.html" %}

{% block dojango_header_extra %}
<link rel="stylesheet" href="/dojango/dojo-media/release/freenas-dojo-1.5.0/dojox/grid/resources/claroGrid.css" type="text/css" /> 
<script type="text/javascript">

    dojo.require("dojo.data.ItemFileReadStore");
    dojo.require("dojo.data.ItemFileWriteStore");
    dojo.require("dojo.parser");
    dojo.require("dojo.dnd.Moveable");
    dojo.require("dijit.layout.BorderContainer");
    dojo.require("dijit.layout.AccordionContainer");
    dojo.require("dijit.layout.TabContainer");
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dijit.Tree");
    dojo.require("dijit.tree.dndSource");
    dojo.require("dojox.grid.DataGrid");
    dojo.require("dojox.data.JsonRestStore");

    dojo.addOnLoad(function() {
           dojo.parser.parse(document.body);
           openSystem();
    });

    function itemAccept(node, source, position){
        var item = dijit.getEnclosingWidget(node).item;
        if (item && item.children){
                return true;
        }
        return false;
    }

    wizardcheckings = function() {
        var d = dijit.byId("wizarddisks").getSelected();

        var ufs = dojo.query("#fsopt input")[0].checked;
        var zfs = dojo.query("#fsopt input")[1].checked;
        if(d.length >= 2) {
            dojo.style("grpopt", "display", "");
        } else {
            dojo.style("grpopt", "display", "none");
        }

        if(d.length >= 3 && zfs) {
                dojo.style("grpraidz", "display", "block");
        } else {
                dojo.style("grpraidz", "display", "none");
        }
        if(d.length >= 4 && zfs) {
                dojo.style("grpraidz2", "display", "block");
        } else {
                dojo.style("grpraidz2", "display", "none");
        }
        if(ufs && d.length-1 >= 2 && (((d.length-2)&(d.length-1)) == 0)) {
            if(ufs)
                dojo.style("grpraid3", "display", "block");
        } else {
            dojo.style("grpraid3", "display", "none");
        }

    }

    addObject = function(name, url) {
        dialog = new dijit.Dialog({ 
            id: 'add_dialog',
            title: name, 
            href: url, 
            parseOnLoad: true,
            closable: true, 
            style: "width: 650px;min-height:400px;max-height:600px;background-color:white;overflow:auto;",
            onHide: function() { this.destroyRecursive() },
        });
        dialog.show();
    };

    editObject = function(name, url, extra) {
        dialog = new dijit.Dialog({ 
            id: 'edit_dialog',
            title: name, 
            href: url, 
            parseOnLoad: true,
            closable: true, 
            style: "width: 650px;min-height:400px;max-height:600px;background-color:white;overflow:auto;",
            onHide: function() { 
                this.destroyRecursive();
                if(extra) {
                    //var id = extra['app']+"_"+extra['model'];
                }
            },
        });
        dialog.show();
    };

    viewModel = function(name, url) {
        var p = dijit.byId("content");
        var c = p.getChildren();
        for(var i=0; i<c.length; i++){
            if(c[i].title == name){
                p.selectChild(c[i]);
                return;
            }
        }
        var pane = new dijit.layout.ContentPane({ 
            href: url, 
            title: name, 
            closable: true,
            parseOnLoad: true,
        });
        p.addChild(pane);
        p.selectChild(pane);
    }
</script>
{% endblock %}

{% block dojango_content %}

<div style="width:20%;float:left;">
    <div dojoType="dojo.data.ItemFileWriteStore" jsId="continentStore" url="{% url freeadmin_menu %}">
    </div>
    <div dojoType="dijit.tree.ForestStoreModel" jsId="continentModel" store="continentStore"
        query="{type:'app'}" rootId="continentRoot" rootLabel="Continents"
        childrenAttrs="children" showRoot="false">
    </div>
    <div dojoType="dijit.Tree" id="mytree" model="continentModel" openOnClick="true" showRoot="false" dndController="dijit.tree.dndSource" checkItemAcceptance="itemAccept">
            <script type="dojo/method" event="onClick" args="item">
                var p = dijit.byId("content");
                
            if(item.type && item.type == 'object') {
                addObject(item.name, item.view);
            } else if(item.type && item.type == 'volumewizard') {
                dialog = new dijit.Dialog({ 
                    id: 'wizard_dialog',
                    title: 'Wizard', 
                    href: '{% url storage_wizard %}', 
                    parseOnLoad: true,
                    closable: true, 
                    style: "max-width: 650px;min-height:400px;max-height:600px;background-color:  white;overflow:auto;",
                    onHide: function() { this.destroyRecursive() },
                });
                dialog.show();
            } else if(item.type && item.type == 'editobject') {
                editObject(item.name, item.view);
            } else if(item.type && item.type == 'openstorage') {
                //  get the children and make sure we haven't opened this yet.
                var c = p.getChildren();
                for(var i=0; i<c.length; i++){
                    if(c[i].title == 'Storage'){
                        p.selectChild(c[i]);
                        return;
                    }
                }
                var pane = new dijit.layout.ContentPane({ 
                    href: item.view, 
                    title: 'Storage', 
                    closable: true,
                    parseOnLoad: true,
                });
                p.addChild(pane);
                p.selectChild(pane);
            } else if(item.type && item.type == 'viewmodel') {
                //  get the children and make sure we haven't opened this yet.
                var c = p.getChildren();
                for(var i=0; i<c.length; i++){
                    if(c[i].title == item.name){
                        p.selectChild(c[i]);
                        return;
                    }
                }
                var pane = new dijit.layout.ContentPane({ 
                    href: item.view, 
                    title: item.name, 
                    closable: true,
                    parseOnLoad: true,
                });
                p.addChild(pane);
                p.selectChild(pane);
            } else {
                //  get the children and make sure we haven't opened this yet.
                var c = p.getChildren();
                for(var i=0; i<c.length; i++){
                    if(c[i].title == item.name){
                        p.selectChild(c[i]);
                        return;
                    }
                }
                var pane = new dijit.layout.ContentPane({ 
                    href: item.view, 
                    title: item.name, 
                    closable: true,
                    parseOnLoad: true,
                });
                p.addChild(pane);
                p.selectChild(pane);
            }
    
            </script>
    </div>
</div>

<div id="mytab" style="float:left;width:79%;">
    <div dojoType="dijit.layout.TabContainer" style="width: 100%; height: 600px;"
        tabStrip="true" id="content">
    </div>
</div>

{% endblock %}
