{% extends "base3.html" %}

{% block dojango_header_extra %}
<link rel="stylesheet" href="/dojango/dojo-media/release/freenas-dojo-1.5.0/dojox/grid/resources/claroGrid.css" type="text/css" /> 
<script type="text/javascript">

    dojo.require("dojo.data.ItemFileReadStore");
    dojo.require("dojo.data.ItemFileWriteStore");
    dojo.require("dijit.Tree");
    dojo.require("dojo.dnd.Moveable");
    //dojo.require("dijit.tree.dndSource");
    dojo.require("dojox.grid.DataGrid");
    dojo.require("dojox.data.JsonRestStore");
    dojo.require("dojo.NodeList-traverse");
    dojo.require("dojo.io.iframe");
    dojo.require("dojox.validate.regexp");

    dojo.addOnLoad(function() {

        dojo.declare("my.Tree", dijit.Tree, {  
           
            _expandNode: function( node, recursive){
                if(node._expandNodeDeferred && !recursive){
                    return node._expandNodeDeferred;    // dojo.Deferred
                }
                
                //item = node.item;
                //alert("doing ya");
                //if (item._loadObject && !node._loadObjectFunction) {
                //    node._loadObjectFunction = item._loadObject;
                //}
                return this.inherited(arguments);
            }, 
            reload: function () {

                this.model.store.close();
                path = this.get('path');
                
                if (this.rootNode) {
                    this.rootNode.destroyRecursive();
                }
            
                this.rootNode.state = "UNCHECKED";
              
                this.model.constructor(this.model);
                
                this.postMixInProperties();
                this._load();
                this.set('path', path).then(
                        dojo.hitch(this, function() { 
                            this.focusNode(this.get('selectedNode')); 
                        } 
                ));

            } 
            
        });

        var store = new dojo.data.ItemFileReadStore({
            url: "/admin/menu.json",
            urlPreventCache: true, 
            clearOnClose: true,
        });

        var treeModel = new dijit.tree.ForestStoreModel({
            store: store,
            query: {
                "type": "app"
            },
            rootId: "root",
            rootLabel: "FreeNAS",
            childrenAttrs: ["children"]
        });

        geticons = function(item,opened) {

            if(item.icon) return item.icon;

            var name2icon = {
		"System" : "SystemIcon",
		"Global Configuration" : "SettingsIcon",
		"Reboot" : "RebootIcon",
		"Shutdown" : "ShutdownIcon",
		"Account" : "AccountIcon",
		"Storage" : "StorageIcon",
		"Network" : "NetworkIcon",
		"Sharing" : "SharingIcon",
		"Services" : "ServicesIcon",
		"Display System Processes" : "TopIcon",
	    }
	    if (name2icon[item.name] != undefined)
                return name2icon[item.name];
            return (!item || this.model.mayHaveChildren(item)) ? (opened ? "dijitFolderOpened" : "dijitFolderClosed") : "dijitLeaf";
        };

        treeclick = function(item) {
            var p = dijit.byId("content");
                
            if(item.type && item.type == 'object') {
                var data = dojo.query(".data_"+item.app_name+"_"+item.model);
                if(data) {
                    widgets = [];
                    data.forEach(function(item, idx) {
                        widget = dijit.getEnclosingWidget(item);
                        if(widget) {
                            widgets.push(widget);
                        }
                    });
                    addObject(item.name, item.view, widgets);
                } else
                    addObject(item.name, item.view);
            } else if(item.type && item.type == 'volumewizard') {
                var data = dojo.query(".data_"+item.app_name+"_"+item.model);
                if(data) {
                    widgets = [];
                    data.forEach(function(item, idx) {
                        widget = dijit.getEnclosingWidget(item);
                        if(widget) {
                            widgets.push(widget);
                        }
                    });
                    volumeWizard('Wizard', '{% url storage_wizard %}', widgets);
                } else 
                    volumeWizard('Wizard', '{% url storage_wizard %}');
            } else if(item.type && item.type == 'editobject') {
                var data = dojo.query(".data_"+item.app_name+"_"+item.model);
                if(data) {
                    widgets = [];
                    data.forEach(function(item, idx) {
                        widget = dijit.getEnclosingWidget(item);
                        if(widget) {
                            widgets.push(widget);
                        }
                    });
                    editObject(item.name, item.view, widgets);
                } else
                    editObject(item.name, item.view);
            } else if(item.type && item.type == 'viewlagg') {
                openNetwork('LAGG');
            } else if(item.type && item.type == 'viewinterfaces') {
                openNetwork('Interfaces');
            } else if(item.type && item.type == 'viewvlans') {
                openNetwork('VLAN');
            } else if(item.type && item.type == 'viewsr') {
                openNetwork('Static Routes');
            } else if(item.type && item.type == 'changepass') {
                openAccount('Change Password');
            } else if(item.type && item.type == 'changeadmin') {
                openAccount('Change Admin User');
            } else if(item.type && item.type == 'viewusers') {
                openAccount('Users');
            } else if(item.type && item.type == 'viewgroups') {
                openAccount('Groups');
            } else if(item.type && item.type == 'logout') {
                window.location='/account/logout/';
            } else if(item.name == 'Display System Processes') {
                    _InitTopOutput();
                    dijit.byId("top_dialog").show();
            } else if(item.name == 'Reboot') {
                    dijit.byId("rebootDialog").show();
            } else if(item.name == 'Shutdown') {
                    dijit.byId("shutdownDialog").show();
            } else if(item.type && item.type == 'openstorage') {
                //  get the children and make sure we haven't opened this yet.
                var c = p.getChildren();
                for(var i=0; i<c.length; i++){
                    if(c[i].title == 'Storage'){
                        p.selectChild(c[i]);
                        return;
                    }
                }
                var pane = new dijit.layout.ContentPane({ 
                    href: item.view, 
                    title: 'Storage', 
                    closable: true,
                    parseOnLoad: true,
                });
                dojo.addClass(pane.domNode, ["objrefresh","data_"+item.app_name+"_"+item.model] );
                p.addChild(pane);
                p.selectChild(pane);
            } else if(item.type && item.type == 'viewmodel') {
                //  get the children and make sure we haven't opened this yet.
                var c = p.getChildren();
                for(var i=0; i<c.length; i++){
                    if(c[i].title == item.name){
                        p.selectChild(c[i]);
                        return;
                    }
                }
                var pane = new dijit.layout.ContentPane({ 
                    id: "data_"+item.app_name+"_"+item.model,
                    href: item.view, 
                    title: item.name, 
                    closable: true,
                    refreshOnShow: true,
                    parseOnLoad: true,
                });
                p.addChild(pane);
                dojo.addClass(pane.domNode, ["objrefresh","data_"+item.app_name+"_"+item.model] );
                p.selectChild(pane);
            } else {
                //  get the children and make sure we haven't opened this yet.
                var c = p.getChildren();
                for(var i=0; i<c.length; i++){
                    if(c[i].title == item.name){
                        p.selectChild(c[i]);
                        return;
                    }
                }
                var pane = new dijit.layout.ContentPane({ 
                    href: item.view, 
                    title: item.name, 
                    closable: true,
                    parseOnLoad: true,
                });
                p.addChild(pane);
                p.selectChild(pane);
            }

        };

        mytree = new my.Tree({
            id: "mytree",
            model: treeModel,
            showRoot: false,
            onClick: treeclick,
            onLoad: function() { 
                var fadeArgs = {
                   node: "mytree",
                 };
                dojo.fadeIn(fadeArgs).play();
            },
            openOnClick: true,
            getIconClass: geticons,
        }
        );//.placeAt(dijit.byId("menupane"));
        dijit.byId("menupane").set('content', mytree);

        openSystem();
   	//dojo.parser.parse(dojo.query("#dialogsmain"));

    });


    var canceled = false;

    function itemAccept(node, source, position){
        var item = dijit.getEnclosingWidget(node).item;
        if (item && item.children){
                return true;
        }
        return false;
    }

    toggleEmail = function(c) {

        var toset;
        var box = dijit.byId("id_em_smtp");
        if(box.attr("value")==false) {
            toset = true;
        } else{
            toset = false;
        }
        dijit.byId("id_em_pass1").set('disabled', toset);
        dijit.byId("id_em_pass2").attr("disabled", toset);
        dijit.byId("id_em_user").attr("disabled", toset);

    }

    formSubmit = function(item, e, url, callback) {
        dojo.stopEvent(e); // prevent the default submit
        var qry = dojo.query('.saved', item.domNode)[0];
        if(qry) dojo.style(qry, 'display', 'none');

        dojo.query('input[type=button],input[type=submit]', item.domNode).forEach(
          function(inputElem){
               dijit.getEnclosingWidget(inputElem).set('disabled',true);
           }
        );
        //var qry = dojo.query('.submitform', item.domNode)[0];
        //dijit.byNode(qry).set('disabled', true);
        //var qry = dojo.query('.cancelform', item.domNode);
        //if(qry.length>0) dijit.byNode(qry[0]).set('disabled', true);

        var rnode = dijit.getEnclosingWidget(item.domNode.parentNode);
        if(!rnode) rnode = dijit.byId("edit_dialog");

        var newData = item.get("value");
        dojo.xhrPost( {
            url: url,
            content: newData,
            handleAs: 'text',
            load: function(data) { 

                try {
                var json = dojo.fromJson(data);
                    rnode.hide();

                    dojo.style("successmsg", "opacity", "0");
                    dijit.byId("successmsg").set('label', json.message);
                    dojo.fadeIn({ node: "successmsg" }).play();
                } catch(err) {
                    rnode.set('content', data); 
                    if(callback) callback();
                    var qry = dojo.query('#success', rnode.domNode);
                    if(qry.length>0)
                        dojo.fadeOut({node: rnode, onEnd: function() { rnode.hide(); }}).play();
                }
            },
            error: function(data) { 
                    dojo.style("successmsg", "opacity", "0");
                    dijit.byId("successmsg").set('label', 'Some error ocurred!');
                    dojo.fadeIn({ node: "successmsg" }).play();
             }
         });

    }

    wizardcheckings = function() {

        if(!dijit.byId("wizarddisks")) return;
        var d = dijit.byId("wizarddisks").getSelected();

        var ufs = dojo.query("#fsopt input")[0].checked;
        var zfs = dojo.query("#fsopt input")[1].checked;
        if(d.length >= 2) {
            dojo.style("grpopt", "display", "");
        } else {
            dojo.style("grpopt", "display", "none");
        }

        if(d.length >= 3 && zfs) {
                dojo.style("grpraidz", "display", "block");
        } else {
                dojo.style("grpraidz", "display", "none");
        }
        if(d.length >= 4 && zfs) {
                dojo.style("grpraidz2", "display", "block");
        } else {
                dojo.style("grpraidz2", "display", "none");
        }
        if(ufs && d.length-1 >= 2 && (((d.length-2)&(d.length-1)) == 0)) {
            if(ufs)
                dojo.style("grpraid3", "display", "block");
        } else {
            dojo.style("grpraid3", "display", "none");
        }

    }

    getDialog = function(from) {

        var turn = from;
        while(1) {
            turn = dijit.getEnclosingWidget(turn.domNode.parentNode);
            if(turn.isInstanceOf(dijit.Dialog)) break;
        }
        return turn;
    
    };

    cancelDialog = function(from) {
    
        var dialog = getDialog(from);
        canceled = true;
        dialog.hide();

    };

    addObject = function(name, url, nodes) {
        canceled = false;
        dialog = new dijit.Dialog({ 
            id: 'add_dialog',
            title: name, 
            href: url, 
            parseOnLoad: true,
            closable: true, 
            style: "max-width: 75%;max-height:70%;background-color:white;overflow:auto;",
            onHide: function() { 
                this.destroyRecursive();
                refreshTabs(nodes);
            },
        });
        dialog.show();
    };

    refreshTabs = function(nodes) {
        if(nodes && canceled == false) {
            var fadeArgs = {
               node: "mytree",
               onEnd: function() { dijit.byId("mytree").reload(); }
             };
            dojo.fadeOut(fadeArgs).play();
            dojo.forEach(nodes, function(entry, i) {
                if(entry.isInstanceOf(dijit.layout.ContentPane)) {
                    entry.refresh();
                    var par = dijit.getEnclosingWidget(entry.domNode.parentNode);
                    par.selectChild(entry);
                    var par2 = dijit.getEnclosingWidget(par.domNode.parentNode);
                    if(par2 && par2.isInstanceOf(dijit.layout.ContentPane))
                        dijit.byId("content").selectChild(par2);
                } else {
                    var par = dojo.query(entry.domNode).parents(".objrefresh").first()[0];
                    var cp = dijit.getEnclosingWidget(par);
                    if(cp) cp.refresh();
                }
            });

        }
    }

    editObject = function(name, url, nodes) {
        canceled = false;
        dialog = new dijit.Dialog({ 
            id: 'edit_dialog',
            title: name, 
            href: url, 
            parseOnLoad: true,
            closable: true, 
            style: "max-width: 75%;max-height:70%;background-color:white;overflow:auto;",
            onHide: function() { 
                this.destroyRecursive();
                refreshTabs(nodes);
            },
        });
        dialog.show();
    };

    volumeWizard = function(name, url, nodes) {
         dialog = new dijit.Dialog({ 
             id: 'wizard_dialog',
             title: 'Wizard', 
             href: '{% url storage_wizard %}', 
             parseOnLoad: true,
             closable: true, 
             style: "max-width: 650px;min-height:200px;max-height:500px;background-color:white;overflow:auto;",
             onHide: function() { 
                this.destroyRecursive() 
                refreshTabs(nodes);
             },
         });
         dialog.show();
    }

    viewModel = function(name, url) {
        var p = dijit.byId("content");
        var c = p.getChildren();
        for(var i=0; i<c.length; i++){
            if(c[i].title == name){
                p.selectChild(c[i]);
                return;
            }
        }
        var pane = new dijit.layout.ContentPane({ 
            href: url, 
            title: name, 
            closable: true,
            parseOnLoad: true,
            refreshOnShow: true,
        });
        p.addChild(pane);
        p.selectChild(pane);
    }


</script>
<script type="text/javascript" src="/media/lib/js/top.js"></script>
{% endblock %}

{% block dojango_content %}
<div id="top_dialog" dojoType="dijit.Dialog" title="Running Processes" style="min-height:400px;">
    <pre class="ix" id="top_output">Loading...</pre>
</div>
<div dojoType="dijit.Dialog" id="rebootDialog" title="Reboot the System" >
    <h3>Warning!</h3>
    <p>You are about to <strong>REBOOT</strong> the system, what would you like to do?</p>
                <button dojoType="dijit.form.Button" type="submit" onClick="window.location='/system/reboot/'">
                    Reboot
                </button>
                <button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('rebootDialog').hide();">
                    Cancel
                </button>
</div>
             
<div dojoType="dijit.Dialog" id="shutdownDialog" title="Shutdown the System" >
    <h3>Warning!</h3>
    <p>You are about to <strong>SHUTDOWN</strong> the system, what would you like to do?</p>
                <button dojoType="dijit.form.Button" type="submit" onClick="window.location='/system/shutdown/'">
                    Shutdown
                </button>
                <button dojoType="dijit.form.Button" type="button"
                    onClick="dijit.byId('shutdownDialog').hide();">
                    Cancel
                </button>
</div>
{% endblock %}
