#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[en_US]=
Comment=
Exec=pc-softwaremanager
Icon=/usr/local/share/pcbsd/icons/appcafe.png
StartupNotify=true
Type=Application
Name=AppCafe
Name[ca]=AppCafe
Name[da]=AppCafe
Name[en_GB]=AppCafe
Name[en_US]=AppCafe
Name[en_ZA]=AppCafe
Name[es]=AppCafe
Name[fr]=AppCafé
Name[fr_CA]=AppCafé
Name[hr]=AppCafe
Name[hu]=AppCafé
Name[id]=AppCafe
Name[it]=AppCafe
Name[nl]=AppCafe
Name[pl]=AppCafe
Name[pt_BR]=AppCafe
Name[ru]=Кафе приложений
Name[tr]=AppCafe
Name[uk]=Кафе додатків
GenericName=Software Manager
GenericName[en_US]=Software Manager
GenericName[fr_CA]=Gestionnaire de programmes
