[Desktop Entry]
Exec=/usr/local/share/pcbsd/scripts/openhandbook.sh
GenericName[en_US]=
GenericName=
Icon=/usr/local/share/pcbsd/icons/pcbsd-handbook.png
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Name=PC-BSD Handbook
Name[ca]=Llibreta de PC-BSD
Name[da]=PC-BSD håndbog
Name[de]=Das PC-BSD-Handbuch
Name[en_GB]=PC-BSD Handbook
Name[en_US]=PC-BSD Handbook
Name[en_ZA]=PC-BSD Handbook
Name[es]=Manual de PC-BSD
Name[fr]=Handbook PC-BSD
Name[fr_CA]=Manuel de PC-BSD
Name[hr]=PC-BSD Priručnik
Name[hu]=PC–BSD-kézikönyv
Name[id]=Buku Panduan PC-BSD
Name[it]=Manuale PC-BSD
Name[ja]=PC-BSD ハンドブック
Name[nl]=PC-BSD Handboek
Name[pl]=podręcznik PC-BSD
Name[pt_BR]=Manual do usuário do PC-BSD
Name[ru]=Справочник пользователя PC-BSD
Name[sk]=PC-BSD príručka
Name[sl]=Priročnik za PC-BSD
Name[tr]=PC-BSD El Kitabı
Name[uk]=Керівництво користувача PC-BSD
Name[zh_CN]=PC-BSD 使用手册
Name[zh_TW]=PC-BSD手冊
