#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[en_US]=
Comment=
Exec=pc-controlpanel
Icon=/usr/local/share/pcbsd/pc-controlpanel/icons/pc-controlpanel.png
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Name=PC-BSD Control Panel
Name[ar]=PC-BSD إعدادات النظام
Name[be@latin]=PC-BSD Systemnyja nałady
Name[be]=PC-BSD Сістэмныя настаўленні
Name[bg]=PC-BSD Системни настройки
Name[bn]=PC-BSD সিস্টেম সেটিংস
Name[bn_IN]=PC-BSD সিস্টেম সংক্রান্ত বৈশিষ্ট্য
Name[br]=PC-BSD Dibarzhoù ar reizhiad
Name[ca@valencia]=PC-BSD Arranjament del sistema
Name[ca]=Tauler de control PC-BSD
Name[cs]=PC-BSD Nastavení systému
Name[csb]=PC-BSD Systemòwé ùstôwë
Name[da]=PC-BSD kontrolpanel
Name[de]=PC-BSD Systemeinstellungen
Name[el]=PC-BSD Ρυθμίσεις συστήματος
Name[en_GB]=PC-BSD Control Panel
Name[en_ZA]=PC-BSD Control Panel
Name[eo]=PC-BSD Sistema agordo
Name[es]=Panel de Control PC-BSD
Name[et]=PC-BSD Süsteemi seadistused
Name[eu]=PC-BSD Sistemaren ezarpenak
Name[fa]=PC-BSD تنظیمات سیستم
Name[fi]=PC-BSD Järjestelmän asetukset
Name[fr]=Panneau de contrôle PC-BSD
Name[fr_CA]=Panneau de contrôle PC-BSD
Name[fy]=PC-BSD Systeemynstellings
Name[ga]=PC-BSD Socruithe an Chórais
Name[gl]=PC-BSD Configuración do sistema
Name[gu]=PC-BSD સિસ્ટમ ગોઠવણીઓ
Name[he]=PC-BSD הגדרות מערכת
Name[hi]=PC-BSD तंत्र विन्यास
Name[hne]=PC-BSD तंत्र सेटिंग
Name[hr]=PC-BSD Upravljačka ploča
Name[hu]=PC–BSD-vezérlőpult
Name[id]=Panel Kontrol PC-BSD
Name[is]=PC-BSD Kerfisstillingar
Name[it]=Pannello di Controllo PC-BSD
Name[ja]=PC-BSD KDE システム設定
Name[kk]=PC-BSD Жүйе параметрлері
Name[km]=PC-BSD ការ​កំណត់​ប្រព័ន្ធ​
Name[kn]=PC-BSD ವ್ಯವಸ್ಥೆಯ ಸಂಯೋಜನೆಗಳು
Name[ko]=PC-BSD 시스템 설정
Name[ku]=PC-BSD Mîhengên Pergalê
Name[lt]=PC-BSD Sistemos nustatymai
Name[lv]=PC-BSD Sistēmas iestatījumi
Name[mai]=PC-BSD तंत्र बिन्यास
Name[mk]=PC-BSD Системски поставувања
Name[ml]=PC-BSD സിസ്റ്റം സജ്ജീകരണങ്ങള്‍
Name[mr]=PC-BSD प्रणाली संयोजना
Name[nb]=PC-BSD Systemoppsett
Name[nds]=PC-BSD Systeeminstellen
Name[ne]=PC-BSD प्रणाली सेटिङ
Name[nl]=PC-BSD Controle Paneel
Name[nn]=PC-BSD Systemoppsett
Name[oc]=PC-BSD Configuracion del sistèma
Name[or]=PC-BSD ତନ୍ତ୍ର ବିନ୍ୟାସ
Name[pa]=PC-BSD ਸਿਸਟਮ ਸੈਟਿੰਗ
Name[pl]=PC-BSD - panel sterowania
Name[pt]=PC-BSD Configuração do Sistema
Name[pt_BR]=Painel de Controle do PC-BSD
Name[ro]=PC-BSD Configurări de sistem
Name[ru]=Панель управления PC-BSD
Name[se]=PC-BSD Vuogádatheivehusat
Name[si]=PC-BSD පද්ධති සැකසුම්
Name[sk]=PC-BSD Ovládací panel
Name[sl]=PC-BSD Sistemske nastavitve
Name[sr@ijekavian]=PC-BSD Системске поставке
Name[sr@ijekavianlatin]=PC-BSD Sistemske postavke
Name[sr@latin]=PC-BSD Sistemske postavke
Name[sr]=PC-BSD Системске поставке
Name[sv]=PC-BSD Systeminställningar
Name[ta]=PC-BSD System Settings
Name[te]=PC-BSD సిస్టమ్ అమర్పులు
Name[tg]=PC-BSD Танзимотҳои система
Name[th]=PC-BSD ตั้งค่าระบบ
Name[tr]=PC-BSD Kontrol Merkezi
Name[uk]=Панель керування PC-BSD
Name[uz@cyrillic]=PC-BSD Тизим мосламалари
Name[uz]=PC-BSD Tizim moslamalari
Name[wa]=PC-BSD Apontiaedjes do sistinme
Name[zh_CN]=PC-BSD 系统设置
Name[zh_TW]=PC-BSD 系統設定
GenericName=PC-BSD Control Panel
GenericName[ar]=PC-BSD إعدادات النظام
GenericName[be@latin]=PC-BSD Systemnyja nałady
GenericName[bg]=PC-BSD Системни настройки
GenericName[bn]=PC-BSD সিস্টেম সেটিংস
GenericName[bn_IN]=PC-BSD সিস্টেম সংক্রান্ত বৈশিষ্ট্য
GenericName[ca@valencia]=PC-BSD Arranjament del sistema
GenericName[ca]=Tauler de control PC-BSD
GenericName[cs]=PC-BSD Nastavení systému
GenericName[csb]=PC-BSD Systemòwé ùstôwë
GenericName[da]=PC-BSD kontrolpanel
GenericName[de]=PC-BSD Systemeinstellungen
GenericName[el]=PC-BSD Ρυθμίσεις συστήματος
GenericName[en_GB]=PC-BSD Control Panel
GenericName[en_ZA]=PC-BSD Control Panel
GenericName[eo]=PC-BSD Sistema agordo
GenericName[es]=Panel de Control PC-BSD
GenericName[et]=PC-BSD Süsteemi seadistused
GenericName[eu]=PC-BSD Sistemaren ezarpenak
GenericName[fi]=PC-BSD Järjestelmän asetukset
GenericName[fr]=Panneau de contrôle PC-BSD
GenericName[fr_CA]=Panneau de contrôle PC-BSD
GenericName[fy]=PC-BSD Systeemynstellings
GenericName[ga]=PC-BSD Socruithe an Chórais
GenericName[gl]=PC-BSD Configuración do sistema
GenericName[gu]=PC-BSD સિસ્ટમ ગોઠવણીઓ
GenericName[he]=PC-BSD הגדרות מערכת
GenericName[hi]=PC-BSD तंत्र विन्यास
GenericName[hne]=PC-BSD तंत्र सेटिंग
GenericName[hr]=PC-BSD Upravljačka ploča
GenericName[hu]=PC–BSD-vezérlőpult
GenericName[id]=Panel Kontrol PC-BSD
GenericName[is]=PC-BSD Kerfisstillingar
GenericName[it]=Pannello di Controllo PC-BSD
GenericName[ja]=PC-BSD システム設定
GenericName[kk]=PC-BSD Жүйе параметрлері
GenericName[km]=PC-BSD ការ​កំណត់​ប្រព័ន្ធ​
GenericName[kn]=PC-BSD ವ್ಯವಸ್ಥೆಯ ಸಂಯೋಜನೆಗಳು
GenericName[ko]=PC-BSD 시스템 설정
GenericName[ku]=PC-BSD Mîhengên Pergalê
GenericName[lt]=PC-BSD Sistemos nustatymai
GenericName[lv]=PC-BSD Sistēmas iestatījumi
GenericName[mai]=PC-BSD तंत्र बिन्यास
GenericName[mk]=PC-BSD Системски поставувања
GenericName[ml]=PC-BSD സിസ്റ്റം സജ്ജീകരണങ്ങള്‍
GenericName[mr]=PC-BSD प्रणाली संयोजना
GenericName[nb]=PC-BSD Systeminnstillinger
GenericName[nds]=PC-BSD Systeeminstellen
GenericName[nl]=PC-BSD Controle Paneel
GenericName[nn]=PC-BSD Systemoppsett
GenericName[oc]=PC-BSD Configuracion del sistèma
GenericName[or]=PC-BSD ତନ୍ତ୍ର ବିନ୍ୟାସ
GenericName[pa]=PC-BSD ਸਿਸਟਮ ਸੈਟਿੰਗ
GenericName[pl]=PC-BSD - panel sterowania
GenericName[pt]=PC-BSD Configuração do Sistema
GenericName[pt_BR]=Painel de Controle do PC-BSD
GenericName[ro]=PC-BSD Configurări de sistem
GenericName[ru]=Панель управления PC-BSD
GenericName[se]=PC-BSD Vuogádatheivehusat
GenericName[si]=PC-BSD පද්ධති සැකසුම්
GenericName[sk]=PC-BSD Ovládací panel
GenericName[sl]=PC-BSD Sistemske nastavitve
GenericName[sr@ijekavian]=PC-BSD Системске поставке
GenericName[sr@ijekavianlatin]=PC-BSD Sistemske postavke
GenericName[sr@latin]=PC-BSD Sistemske postavke
GenericName[sr]=PC-BSD Системске поставке
GenericName[sv]=PC-BSD Systeminställningar
GenericName[ta]=PC-BSD System Settings
GenericName[te]=PC-BSD సిస్టమ్ అమర్పులు
GenericName[tg]=PC-BSD Танзимотҳои система
GenericName[th]=PC-BSD ตั้งค่าระบบ
GenericName[tr]=PC-BSD Kontrol Merkezi
GenericName[uk]=Панель керування PC-BSD
GenericName[uz@cyrillic]=PC-BSD Тизим мосламалари
GenericName[uz]=PC-BSD Tizim moslamalari
GenericName[wa]=PC-BSD Apontiaedjes do sistinme
GenericName[zh_CN]=PC-BSD 系统设置
GenericName[zh_TW]=PC-BSD 系統設定
