{% extends "freeadmin/generic_form.html" %}
{% block form %}
    NIC: {{ interface_name }}
{{ block.super }}
    <tr id="inline-alias">
    <td colspan="2">
        <table>
            {{ formset.management_form }}
            <tr>
                <td colspan="2">
                <input data-dojo-type="dijit.form.TextBox" type="hidden" name="{{ name }}-__all__" />
                </td>
            </tr>
            {% for form in formset %}
            <tr>
                <td colspan="2">
                    <table>
                        {{ form }}
                    </table>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2">
                <a href="javascript:void(0);" onClick="add_formset(this, '{% url 'network_empty_alias_formset' %}', 'form');">{% trans "Add address" %}</a>
                </td>
            </tr>
        </table>
    </td>
</tr>
{% endblock %}