<div data-dojo-type="dijit.layout.TabContainer" data-dojo-props="nested:true, doLayout:true" id="tab_networksettings">
  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Global Configuration"|force_escape|force_escape %}'
  {% if focus_form == "network.GlobalConfiguration" %}, selected: true{% endif %},
  href: '{% url "freeadmin_network_globalconfiguration_edit" oid=globalconf %}?inline=true',
  doLayout: false,
  refreshOnShow: true" class="objrefresh data_network_GlobalConfiguration" tab="network.GlobalConfiguration" id="tab_GlobalConfiguration">
  </div>
  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Interfaces"|force_escape|force_escape %}'
  {% if focus_form == "network.Interfaces.View" %}, selected: true{% endif %},
  href: '{% url "freeadmin_network_interfaces_datagrid" %}',
  refreshOnShow: true" class="objrefresh data_network_Interfaces" tab="network.Interfaces.View" id="tab_Interfaces">
  </div>
  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Link Aggregation"|force_escape|force_escape %}'
  {% if focus_form == "network.LAGGInterfaceMembers.View" %}, selected: true{% endif %},
  href: '{% url "freeadmin_network_lagginterface_datagrid" %}',
  refreshOnShow: true" class="objrefresh data_network_LAGGInterface" tab="network.LAGGInterfaceMembers.View" id="tab_LAGGInterfaceMembers">
  </div>
  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Network Summary"|force_escape|force_escape %}'
  {% if focus_form == "network.NetworkSummary" %}, selected: true{% endif %},
  href: '{% url "network_summary" %}',
  refreshOnShow: true" class="objrefresh" tab="network.NetworkSummary" id="tab_NetworkSummary">
  </div>
  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Static Routes"|force_escape|force_escape %}'
  {% if focus_form == "network.StaticRoute.View" %}, selected: true{% endif %},
  href: '{% url "freeadmin_network_staticroute_datagrid" %}',
  refreshOnShow: true" class="objrefresh data_network_StaticRoute" tab="network.StaticRoute.View" id="StaticRoute">
  </div>
  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "VLAN"|force_escape|force_escape %}'
  {% if focus_form == "network.VLAN.View" %}, selected: true{% endif %},
  href: '{% url "freeadmin_network_vlan_datagrid" %}',
  refreshOnShow: true" class="objrefresh data_network_VLAN" tab="network.VLAN.View" id="tab_VLAN">
  </div>
{% for tab in hook_tabs %}
  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{{ tab.name|escapejs }}'
  {% if focus_form == tab.focus %}, selected: true{% endif %},
  href: '{{ tab.url }}',
  refreshOnShow: true" class="objrefresh data_network_{{ tab.name }}" tab="{{ tab.focus }}" id="tab_{{ tab.name }}">
  </div>
{% endfor %}
</div>
