    <div dojoType="dijit.layout.TabContainer" title="Network Settings" nested="true" doLayout="false" id="tab_networksettings">
        <div dojoType="dijit.layout.ContentPane" title="Interfaces"{% if focus_form == "Interfaces" %} selected="true"{% endif %} href="{% url network_interface %}", class="objrefresh data_network_Interfaces" refreshOnShow="true">
        </div>
        <div dojoType="dijit.layout.ContentPane" title="VLAN"{% if focus_form == "VLAN" %} selected="true"{% endif %} href="{% url network_vlan %}" class="objrefresh data_network_VLAN" refreshOnShow="true">
        </div>

        <div dojoType="dijit.layout.ContentPane" title="LAGG"{% if focus_form == "LAGG" %} selected="true"{% endif %} href="{% url network_lagg %}" class="objrefresh data_network_LAGGInterface" refreshOnShow="true">
        </div>

        <div dojoType="dijit.layout.ContentPane" title="Static Routes"{% if focus_form == "Static Routes" %} selected="true"{% endif %} href="{% url network_staticroute %}" class="objrefresh data_network_StaticRoute" refreshOnShow="true">
        </div>
    </div>
