{% extends "freeadmin/generic_form.html" %}
{% block form %}
{% if form.initial_fail %}
  <tr>
    <td colspan="2"><span style="color: red;">{% trans "WARNING! Failed to query IPMI data, standby node is down." %}</span></td>
  </tr>
{% endif %}
{{ block.super }}
{% endblock %}
{% block extra_buttons %}
  <button id="btn_IPMI_Identify" data-dojo-type="dijit.form.Button" type="button">
    {% trans "Identify Light" %}
    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
      editObject('{% trans "IPMI Identify"|escapejs %}', '{% url "network_ipmi_identify" %}');
    </script>
  </button>
{% endblock %}
