{% load i18n %}
<table class="grid">
    <thead class="header">
        <tr>
            <td>{% trans "Physical Interface" %}</td>
            <td>{% trans "Ordering Priority" %}</td>
            <td>{% trans "Startup option" %}</td>
            <td>{% trans "Action" %}</td>
        </tr>
    </thead>
    {% for nic in laggmembers %}
    <tr class="{% cycle 'odd' 'even' %}" id="{{ nic.id }}">
	<td>{{ nic.lagg_physnic }}</td>
	<td>{{ nic.lagg_ordernum }}</td>
	<td>{{ nic.lagg_deviceoptions }}</td>
	<td>
            <button dojoType="dijit.form.Button" type="button" onClick="editObject('{% trans "Edit Interface" %}', '{% url freeadmin_model_edit app='network',model='LAGGInterfaceMembers',oid=nic.id %}?deletable=false', [this,]);">{% trans "Edit" %}</button>
	    <!-- <button dojoType="dijit.form.Button" type="button" onClick="window.location='/network/laggint/delete/{{ nic.id }}/'">Delete</button> -->
	</td>
    </tr>
        {% empty %}
    <tr>
        <td colspan="4">{% trans "No LAGG interface defined" %}</td>
    </tr>
    {% endfor %}
</table>
