{% extends "base.html" %}
{% block dojango_content %}
{% if user.is_authenticated %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;" dolayout="false">
    <div dojoType="dijit.layout.ContentPane" title="Edit LAGG">
        <form action="/network/lagg/edit/{{ object.id }}/" method="post">{% csrf_token %}
            <table>
                {{ form }}
            </table>
            <button dojoType="dijit.form.Button" type="submit">Save Changes</button>
                <button dojoType="dijit.form.Button" onClick="window.history.back();">
			        Back
                </button>
    </div>
</div>
{% else %}
    <p>Welcome. Please <a href="/account/login/">log in</a>.</p>
{% endif %}

{% endblock %}

