<table class="grid">
    <thead class="header">
            <td>Physical Interface</td>
            <td>Ordering Priority</td>
	    <td>Startup option</td>
	    <td>Action</td>
    </thead>
    {% for nic in laggmembers %}
    <tr class="{% cycle 'odd' 'even' %}" id="{{ nic.id }}">
	<td>{{ nic.lagg_physnic }}</td>
	<td>{{ nic.lagg_ordernum }}</td>
	<td>{{ nic.lagg_deviceoptions }}</td>
	<td>
        <button dojoType="dijit.form.Button" type="button" onClick="editObject('Edit Interface', '{% url freeadmin_model_edit app='network',model='LAGGInterfaceMembers',oid=nic.id %}?deletable=false', [this,]);">Edit</button>
	    <!-- <button dojoType="dijit.form.Button" type="button" onClick="window.location='/network/laggint/delete/{{ nic.id }}/'">Delete</button> -->
	</td>
    </tr>
        {% empty %}
    <tr>
	<td colspan="4">No LAGG interface defined</td>
    </tr>
    {% endfor %}
</table>
