{% extends "base.html" %}
{% block content %}
<div dojoType="dijit.MenuBar" id="navMenu">
            <div dojoType="dijit.MenuBarItem" onClick="window.location='/'">
                <div>
                    System 
                </div>
            </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/network/'" class=" dijitMenuItemSelected ">
        <span>
            Network 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/storage/'">
        <span>
            Storage 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/sharing/'">
        <span>
            Sharing
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/services/'">
        <span>
            Services
        </span>
    </div>
{% if user.is_authenticated %}
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/logout/'" style="position:relative;float:right;font-weight:bold;">
        <span>
            Log Out 
        </span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/password_change/'">
        <span>
            Account 
        </span>
    </div>
    {% else %}

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/login/'" style="position:relative;float:right;font-weight:bold;">
        <span>
            Log In
        </span>
    </div>
</div>
    {% endif %}
{% endblock %}
{% block dojango_content %}
<script type="text/javascript">
    var delDlg;
        dojo.addOnLoad(function() {
            delDlg = new dijit.Dialog({
title: "Delete {{ object.sr_destination }}",
                style: "width: 300px",
                });
        });
    function showDelDlg() {
    // set the content of the dialog:
        delDlg.attr('content', '<form method="post"><p>Are you sure you want to delete <strong>static route</strong> {{ object.sr_destination }}?</p><button dojoType="dijit.form.Button" type="submit">Delete</button><button dojoType="dijit.form.Button"type="button" onClick="history.back();">Cancel</button>');
    delDlg.show();
    }
    dojo.addOnLoad(showDelDlg);
</script>

{% endblock %}

