{% load i18n %}
    <table class="grid">
        <thead class="header">
	    <tr>
                <td>{% trans "Destination" %}</td>
                <td>{% trans "Gateway" %}</td>
                <td>{% trans "Description" %}</td>
                <td>{% trans "Actions" %}</td>
	    </tr>
	        </thead>
        {% for i in sr_list %}
            <tr class="{% cycle 'odd' 'even' %}" id="{{ i.id }}">
                <td>{{ i.sr_destination }}</td>
                <td>{{ i.sr_gateway }}</td>
                <td>{{ i.sr_description }}</td>
                <td>
                <button data-dojo-type="dijit.form.Button" type="button">
                    {% trans "Edit" %}
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    editObject('{% trans "Edit Static Route"|force_escape|force_escape %}', '{% url freeadmin_model_edit app="network",model="StaticRoute",oid=i.id %}', [this,]);
                </script>
                </button>
                <button data-dojo-type="dijit.form.Button" type="button">
                    {% trans "Delete" %}
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    editObject('{% trans "Delete Static Route"|force_escape|force_escape %}', '{% url freeadmin_model_delete app="network",model="StaticRoute",oid=i.id %}', [this,]);
                </script>
                </button>
                </td>
            </tr>
	        {% empty %}
            <tr>
                <td colspan="4">{% trans "No static route defined" %}</td>
            </tr>
        {% endfor %}
    </table>

    <button id="sr_button" data-dojo-type="dijit.form.Button" type="button">
        {% trans "Add Static Route" %}
    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
        addObject('{% trans "Add Static Route"|force_escape|force_escape %}', '{% url freeadmin_model_add app="network",model="StaticRoute" %}', [this,]);
    </script>
    </button>
