{% extends "base.html" %}
{% block dojango_content %}
<script type="text/javascript">
    var delDlg;
        dojo.addOnLoad(function() {
            delDlg = new dijit.Dialog({
title: "Delete {{ object.sr_destination }}",
                style: "width: 300px",
                });
        });
    function showDelDlg() {
    // set the content of the dialog:
        delDlg.attr('content', '<form method="post"><p>Are you sure you want to delete <strong>static route</strong> {{ object.sr_destination }}?</p><button dojoType="dijit.form.Button" type="submit">Delete</button><button dojoType="dijit.form.Button"type="button" onClick="history.back();">Cancel</button>');
    delDlg.show();
    }
    dojo.addOnLoad(showDelDlg);
</script>

{% endblock %}

