
      <table class="grid" style="width: 300px;">
	      <thead class="header">
	  <tr>
              <td>{% trans "Name" %}</td>
              <td>{% trans "IPv4 Address" %}</td>
              <td>{% trans "IPv6 Address" %}</td>
	  </tr>
	      </thead>
          {% for name, iface in ifaces.items %}
          {% if iface.v4 or iface.v6 %}
          <tr class="{% cycle 'odd' 'even' %}">
              <td>{{ name }}</td>
              <td>{% for i in iface.v4 %}{{ i.inet }}/{{ i.netmask }}{% if not forloop.last %}<br />{% endif %}{% endfor %}</td>
              <td>{% for i in iface.v6 %}{{ i.addr }}/{{ i.prefixlen }}{% if not forloop.last %}<br />{% endif %}{% endfor %}</td>
          </tr>
          {% endif %}
          {% empty %}
          <tr>
              <td colspan="9">{% trans "No interfaces defined" %}</td>
          </tr>
          {% endfor %}

	      <thead class="header">
	  <tr>
              <td colspan="3">{% trans "Nameserver" %}</td>
	  </tr>
	     </thead>
          {% for ns in nss %}
          <tr class="{% cycle 'odd' 'even' %}">
              <td colspan="3">{{ ns }}</td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="3">{% trans "No nameserver defined" %}</td>
          </tr>
          {% endfor %}

	      <thead class="header">
	  <tr>
              <td colspan="3">{% trans "Default route" %}</td>
	  </tr>
	     </thead>
             {% if default %}
          <tr class="{% cycle 'odd' 'even' %}">
              <td colspan="3">{% for def in default %}{{ def }}{% if not forloop.last %}<br />{% endif %}{% endfor %}</td>
          </tr>
          {% else %}
          <tr>
              <td colspan="3">{% trans "No default route defined" %}</td>
          </tr>
          {% endif %}
      </table>
