{% load i18n %}
     <table class="grid">
           <thead class="header">
       	<tr>
            <td>{% trans "Virtual Interface" %}</td>
            <td>{% trans "Physical Interface" %}</td>
            <td>{% trans "VLAN Tag" %}</td>
            <td>{% trans "Description" %}</td>
       	</tr>
               </thead>
       {% for v in vlan_list %}
       <tr class="{% cycle 'odd' 'even' %}" id="{{ v.id }}">
           <td>{{ v.vlan_vint }}</td>
           <td>{{ v.vlan_pint }}</td>
           <td>{{ v.vlan_tag }}</td>
           <td>{{ v.vlan_description }}</td>
           <td>
               <button dojoType="dijit.form.Button" type="button">
                   {% trans "Edit" %}
               <script type="dojo/method" event="onClick" args="evt">
                   editObject('{% trans "Edit VLAN" %}', '{% url freeadmin_model_edit app="network",model="VLAN",oid=v.id %}', [this,]);
               </script>
               </button>
               <button dojoType="dijit.form.Button" type="button">
                   {% trans "Delete" %}
               <script type="dojo/method" event="onClick" args="evt">
                   editObject('{% trans "Delete VLAN" %}', '{% url freeadmin_model_delete app="network",model="VLAN",oid=v.id %}', [this,]);
               </script>
               </button>
           </td>
       </tr>
       {% empty %}
       <tr>
           <td colspan="4">{% trans "No VLAN defined" %}</td>
       </tr>
       {% endfor %}
       </table>
       <p class="btn">
           <button id="vlan_button" dojoType="dijit.form.Button" type="button">
               {% trans "Add VLAN Interface" %}
               <script type="dojo/method" event="onClick" args="evt">
                   addObject('{% trans "Add VLAN Interface" %}', '{% url freeadmin_model_add app="network",model="VLAN" %}', [this,]);
           </script>
           </button>
           </p>
