Source: middlewared
Section: admin
Priority: optional
Maintainer: William Grzybowski <william@grzy.org>
Build-Depends: alembic,
               debhelper-compat (= 12),
               dh-python,
               migrate113,
               migrate93,
               python3-acme,
               python3-aiodocker,
               python3-aiohttp,
               python3-aiohttp-wsgi,
               python3-aiorwlock,
               python3-all,
               python3-apt,
               python3-asyncssh,
               python3-babel,
               python3-bidict,
               python3-boto3,
               python3-catalog-validation,
               python3-certbot-dns-cloudflare,
               python3-certbot-dns-digitalocean,
               python3-certbot-dns-google,
               python3-certbot-dns-ovh,
               python3-croniter,
               python3-crypto,
               python3-dnspython,
               python3-fastentrypoints,
               python3-fenced,
               python3-flask,
               python3-git,
               python3-glustercli,
               python3-google-auth,
               python3-googleapi (>= 1.12.5),
               python3-html2text,
               python3-influxdb,
               python3-josepy,
               python3-kubernetes-asyncio,
               python3-ldap,
               python3-libvirt,
               python3-libzfs,
               python3-licenselib,
               python3-lockfile,
               python3-mako,
               python3-markdown,
               python3-markdown2,
               python3-netifaces,
               python3-netsnmpagent,
               python3-ntplib,
               python3-onedrivesdk,
               python3-packaging,
               python3-passlib,
               python3-prctl,
               python3-psutil,
               python3-pybonjour,
               python3-pydevd,
               python3-pykmip,
               python3-pyotp,
               python3-pyroute2,
               python3-pysnmp4,
               python3-pystemd,
               python3-pyudev,
               python3-pyvmomi,
               python3-remote-pdb,
               python3-requests-oauthlib,
               python3-sentry-sdk,
               python3-setproctitle,
               python3-setuptools,
               python3-sgio,
               python3-simplejson,
               python3-systemd,
               python3-ws4py,
               python3-zeroconf,
               python3-zettarepl,
               truenas-samba,
               truenas-files
Standards-Version: 4.4.0
Homepage: https://github.com/freenas/freenas

Package: middlewared
Architecture: all
Depends: alembic,
         apache2,
         avahi-daemon,
         bsd-mailx,
         collectd-core,
         cryptsetup,
         cpu-checker,
         ethtool,
         gawk,
         gdisk,
         hdparm,
         iftop,
         iscsi-scst,
         ipmitool,
         jq,
         k3s,
         krb5-user,
         libapache2-mpm-itk,
         libpam-krb5,
         libpam-oath,
         lm-sensors,
         lshw,
         lsof,
         mdadm,
         migrate113,
         migrate93,
         mtree-netbsd,
         novnc,
         ntfs-3g,
         ntp,
         nut,
         nvidia-container-runtime,
         openresolv,
         parted,
         python3-acme,
         python3-aiodocker,
         python3-aiohttp,
         python3-aiohttp-wsgi,
         python3-aiorwlock,
         python3-apt,
         python3-asyncssh,
         python3-bidict,
         python3-boto3,
         python3-catalog-validation,
         python3-certbot-dns-cloudflare,
         python3-certbot-dns-digitalocean,
         python3-certbot-dns-google,
         python3-certbot-dns-ovh,
         python3-croniter,
         python3-crypto,
         python3-dnspython,
         python3-fenced,
         python3-flask,
         python3-glustercli,
         python3-google-auth,
         python3-googleapi (>= 1.12.5),
         python3-html2text,
         python3-influxdb,
         python3-josepy,
         python3-kubernetes-asyncio,
         python3-git,
         python3-ldap,
         python3-libvirt,
         python3-libzfs,
         python3-licenselib,
         python3-lockfile,
         python3-mako,
         python3-markdown,
         python3-markdown2,
         python3-netifaces,
         python3-netsnmpagent,
         python3-ntplib,
         python3-onedrivesdk,
         python3-packaging,
         python3-passlib,
         python3-prctl,
         python3-psutil,
         python3-pydevd,
         python3-pykmip,
         python3-pyotp,
         python3-pyroute2,
         python3-pysnmp4,
         python3-pystemd,
         python3-pyudev,
         python3-pyvmomi,
         python3-remote-pdb,
         python3-requests-oauthlib,
         python3-sentry-sdk,
         python3-setproctitle,
         python3-sgio,
         python3-simplejson,
         python3-systemd,
         python3-ws4py,
         python3-zeroconf,
         python3-zettarepl,
         rclone,
         rrdcached,
         rrdtool,
         rsync,
         truenas-samba,
         scst,
         scstadmin,
         sedutil,
         setserial,
         sg3-utils,
         smartmontools,
         sockstat,
         squashfs-tools,
         sqlite3,
         spice-html5,
         swagger-ui-dist,
         syslog-ng,
         tcpdump,
         truenas-files,
         zectl,
         ${misc:Depends},
         ${python3:Depends}
Description: Middleware daemon for TrueNAS
 This package provides the middlewared daemon which is the central
 daemon of TrueNAS, responsible for the operating system management
 with WebSocket and REST APIs.
