Source: middlewared
Section: admin
Priority: optional
Maintainer: William Grzybowski <william@grzy.org>
Build-Depends: alembic,
               debhelper-compat (= 12),
               dh-python,
               pybuild-plugin-pyproject,
               python3-acme,
               python3-aiohttp,
               python3-aiorwlock,
               python3-all,
               python3-apps-validation,
               python3-asyncssh,
               python3-aws-requests-auth,
               python3-boto3,
               python3-certbot-dns-cloudflare,
               python3-certbot-dns-digitalocean,
               python3-certbot-dns-google,
               python3-certbot-dns-ovh,
               python3-croniter,
               python3-cryptit,
               python3-dnspython,
               python3-docker,
               python3-email-validator,
               python3-fenced,
               python3-google-auth,
               python3-googleapi (>= 1.12.5),
               python3-gssapi,
               python3-html2text,
               python3-humanize,
               python3-influxdb,
               python3-ixdiagnose,
               python3-ixhardware,
               python3-jeepney,
               python3-josepy,
               python3-ldap,
               python3-libvirt,
               python3-libzfs,
               python3-licenselib,
               python3-mako,
               python3-markdown,
               python3-netsnmpagent,
               python3-packaging,
               python3-pampy,
               python3-pydantic,
               python3-pyinotify,
               python3-pykmip,
               python3-pyotp,
               python3-pyroute2,
               python3-pysnmp4,
               python3-pyudev,
               python3-pyvmomi,
               python3-remote-pdb,
               python3-setproctitle,
               python3-setuptools,
               python3-sg3,
               python3-sgio,
               python3-truenas-api-client,
               python3-truenas-connect-utils,
               python3-truenas-crypto-utils,
               python3-truenas-pylibvirt,
               python3-truenas-pynetif,
               python3-truenas-pyos,
               python3-truenas-pyscstadmin,
               python3-truenas-spdk,
               python3-truenas-verify,
               python3-websocket,
               python3-zeroconf,
               python3-zettarepl,
               rclone,
               sqlite3,
               truenas-samba,
               truenas-sssd,
               truenas-files
Standards-Version: 4.4.0
Homepage: https://github.com/truenas/middleware

Package: middlewared
Architecture: all
Depends: alembic,
         avahi-daemon,
         bsd-mailx,
         chrony,
         cryptsetup,
         cpu-checker,
         ethtool,
         gawk,
         gdisk,
         hdparm,
         iscsi-scst,
         iso-codes,
         ipmitool,
         jq,
         krb5-user,
         libdbd-sqlite3,
         libpam-krb5,
         libpam-oath,
         libsasl2-modules-gssapi-mit,
         lm-sensors,
         lsof,
         mdadm,
         openresolv,
         ovmf,
         parted,
         python3-acme,
         python3-aiohttp,
         python3-aiorwlock,
         python3-apps-validation,
         python3-asyncssh,
         python3-aws-requests-auth,
         python3-boto3,
         python3-certbot-dns-cloudflare,
         python3-certbot-dns-digitalocean,
         python3-certbot-dns-google,
         python3-certbot-dns-ovh,
         python3-croniter,
         python3-cryptit,
         python3-dnspython,
         python3-docker,
         python3-email-validator,
         python3-fenced,
         python3-google-auth,
         python3-googleapi (>= 1.12.5),
         python3-gssapi,
         python3-html2text,
         python3-humanize,
         python3-influxdb,
         python3-jeepney,
         python3-josepy,
         python3-ixdiagnose,
         python3-ixhardware,
         python3-ldap,
         python3-libvirt,
         python3-libzfs,
         python3-licenselib,
         python3-mako,
         python3-markdown,
         python3-netsnmpagent,
         python3-packaging,
         python3-pampy,
         python3-pydantic,
         python3-pyinotify,
         python3-pykmip,
         python3-pyotp,
         python3-pyroute2,
         python3-pysnmp4,
         python3-pyudev,
         python3-pyvmomi,
         python3-remote-pdb,
         python3-setproctitle,
         python3-sg3,
         python3-sgio,
         python3-truenas-api-client,
         python3-truenas-connect-utils,
         python3-truenas-crypto-utils,
         python3-truenas-pylibvirt,
         python3-truenas-pynetif,
         python3-truenas-pyos,
         python3-truenas-pyscstadmin,
         python3-truenas-spdk,
         python3-truenas-verify,
         python3-websocket,
         python3-zeroconf,
         python3-zettarepl,
         qemu-system-modules-spice,
         qemu-utils,
         rclone,
         restic,
         rsync,
         truenas-samba,
         truenas-sssd,
         scst,
         scstadmin,
         sedutil,
         setserial,
         sg3-utils,
         smartmontools,
         squashfs-tools,
         sqlite3,
         spice-html5,
         syslog-ng-core,
         syslog-ng-mod-sql,
         tcpdump,
         truenas-files,
         zectl,
         ${misc:Depends},
         ${python3:Depends}
Description: Middleware daemon for TrueNAS
 This package provides the middlewared daemon which is the central
 daemon of TrueNAS, responsible for the operating system management
 with WebSocket and REST APIs.
