[Unit]
Description=TrueNAS Middleware
DefaultDependencies=no

Before=network-pre.target
Wants=network-pre.target

Wants=systemd-modules-load.service local-fs.target
After=systemd-modules-load.service local-fs.target

[Service]
Type=notify
ExecStart=/usr/bin/middlewared --log-handler=file -o /usr/local/lib/middlewared_truenas
TimeoutStartSec=240
Restart=on-failure

[Install]
WantedBy=multi-user.target
