#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	sh -c "\
		mkdir -p debian/truenas-files/etc; \
		cp -a lib debian/truenas-files/; \
		cp -a usr debian/truenas-files/; \
		mkdir -p debian/truenas-files/etc; \
		cp -a etc/default debian/truenas-files/etc/; \
		cp -a etc/sysctl.d debian/truenas-files/etc/; \
		cp etc/find* debian/truenas-files/etc/; \
		cp -a etc/grub.d debian/truenas-files/etc/; \
		cp -a etc/initramfs-tools debian/truenas-files/etc/; \
		cp etc/iso_3166_2_countries.csv debian/truenas-files/etc/; \
		cp -a etc/logrotate.d debian/truenas-files/etc/; \
		cp etc/netcli debian/truenas-files/etc/; \
		cp etc/nsswitch.conf debian/truenas-files/etc/; \
		cp -a etc/syslog-ng debian/truenas-files/etc/; \
		cp -a etc/systemd debian/truenas-files/etc/; \
		cp -a root debian/truenas-files/home/admin; \
		mkdir debian/truenas-files/home/admin/.ssh; \
		chmod -R 700 debian/truenas-files/home/admin; \
		chown -R 950:950 debian/truenas-files/home/admin; \
		cp -a root debian/truenas-files/; \
		mkdir -p debian/truenas-files/conf/base/etc; \
	"

override_dh_shlibdeps:

override_dh_usrlocal:
