#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	sh -c "\
		mkdir -p debian/truenas-files/etc; \
		cp -a usr debian/truenas-files/; \
		rm -rf debian/truenas-files/usr/local/bin.freebsd/; \
		rm -rf debian/truenas-files/usr/local/sbin.freebsd/; \
		mkdir -p debian/truenas-files/etc; \
		cp -a etc/default debian/truenas-files/etc/; \
		mkdir -p debian/truenas-files/usr/share/truenas; \
		cp -a root debian/truenas-files/usr/share/truenas/; \
		cp etc/find* debian/truenas-files/etc/; \
		cp -a etc/grub.d debian/truenas-files/etc/; \
		cp etc/iso_3166_2_countries.csv debian/truenas-files/etc/; \
		cp -a etc/logrotate.d debian/truenas-files/etc/; \
		cp etc/netcli debian/truenas-files/etc/; \
		cp -a etc/syslog-ng debian/truenas-files/etc/; \
		cp -a etc/systemd debian/truenas-files/etc/; \
		cp -a usr/lib/systemd debian/truenas-files/usr/lib/; \
		mkdir -p debian/truenas-files/conf/base/etc; \
	"

override_dh_shlibdeps:

override_dh_usrlocal:
