#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	# NOTE: Once we update to Trixie or have ipmi-tool after version
	# 1.8.19-4 (current Bookworm) we can stop downloading
	# enterprise-numbers.txt from IANA during package build.
	sh -c "\
		mkdir -p debian/truenas-files/etc; \
		cp -a etc debian/truenas-files/; \
		cp -a lib debian/truenas-files/; \
		cp -a usr debian/truenas-files/; \
		mkdir debian/truenas-files/home; \
		cp -a root debian/truenas-files/home/truenas_admin; \
		chmod 700 debian/truenas-files/home/truenas_admin; \
		chown -R 950:950 debian/truenas-files/home/truenas_admin; \
		cp -a root debian/truenas-files/; \
		chmod 700 debian/truenas-files/root; \
		mkdir -p debian/truenas-files/conf/base/etc; \
		mkdir -p debian/truenas-files/usr/share/misc; \
	"

override_dh_fixperms:
	# By default dh_fixperms will set ownership to root:root
	# Exclude the truenas_admin home directory from the ownership change
	dh_fixperms --exclude debian/truenas-files/home/truenas_admin

override_dh_shlibdeps:

override_dh_usrlocal:
