# KDE Desktop Entry
[Desktop Entry]
X-KDE-Library=kwin3_nitrogen
Name=Nitrogen
Name[af]=Nitrogen
Name[ar]=نتروجين
Name[bg]=Nitrogen
Name[ca]=Nitrogen
Name[da]=Nitrogen
Name[de]=Nitrogen
Name[el]=Nitrogen
Name[en_GB]=Nitrogen
Name[en_ZA]=Nitrogen
Name[es]=Nitrogen
Name[fa]=Nitrogen
Name[fr]=Nitrogen
Name[fr_CA]=Nitrogen
Name[hr]=Nitrogen
Name[hu]=Nitrogen
Name[id]=Nitrogen
Name[it]=Nitrogen
Name[ja]=Nitrogen
Name[nl]=Nitrogen
Name[pl]=Nitrogen
Name[pt_BR]=Nitrogen
Name[ru]=Nitrogen
Name[sk]=Nitrogen
Name[sl]=Nitrogen
Name[tr]=Nitrogen
Name[uk]=Nitrogen
Name[x-test]=xxNitrogenxx
Name[zh_CN]=Nitrogen
Name[zh_TW]=Nitrogen
