[Desktop Entry]
Exec=amor
Icon=amor
Type=Application
X-DocPath=amor/index.html
Terminal=false
X-DBUS-StartupType=Unique
Categories=Game;Qt;KDE;
Name=AMOR
Name[af]=Amor
Name[be]=AMOR
Name[bg]=Amor
Name[bn]=আমোর
Name[br]=AMOR
Name[ca@valencia]=AMOR
Name[ca]=AMOR
Name[cs]=AMOR
Name[cy]=AMOR
Name[da]=AMOR
Name[de]=AMOR
Name[el]=AMOR
Name[en_GB]=AMOR
Name[en_ZA]=AMOR
Name[eo]=AMOR
Name[es]=AMOR
Name[et]=AMOR
Name[eu]=AMOR
Name[fi]=Amor
Name[fr]=Amor
Name[fr_CA]=AMOR
Name[ga]=AMOR
Name[gl]=AMOR
Name[he]=AMOR
Name[hne]=एमोर
Name[hr]=AMOR
Name[hu]=AMOR
Name[id]=AMOR
Name[is]=AMOR
Name[it]=AMOR
Name[ja]=AMOR
Name[kk]=AMOR
Name[km]=AMOR
Name[ko]=AMOR
Name[lt]=AMOR
Name[lv]=AMOR
Name[mk]=AMOR 
Name[ml]=അമോര്‍
Name[ms]=AMOR
Name[nb]=AMOR
Name[nds]=AMOR
Name[ne]=AMOR
Name[nl]=AMOR
Name[nn]=AMOR
Name[pa]=ਅਮੋਰ
Name[pl]=AMOR
Name[pt]=AMOR
Name[pt_BR]=AMOR
Name[ro]=AMOR
Name[ru]=AMOR
Name[sk]=AMOR
Name[sl]=AMOR
Name[sr@ijekavian]=Амор
Name[sr@ijekavianlatin]=Amor
Name[sr@latin]=Amor
Name[sr]=Амор
Name[sv]=Amor
Name[ta]= AMOR
Name[tg]=AMOR
Name[th]=AMOR
Name[tr]=Amor
Name[uk]=AMOR
Name[uz@cyrillic]=AMOR
Name[uz]=AMOR
Name[wa]=AMOR
Name[x-test]=xxAMORxx
Name[xh]=AMOR
Name[zh_CN]=阿莫(AMOR)
Name[zh_TW]=AMOR
GenericName=On-Screen Creature
GenericName[be]=Экранная жывёла
GenericName[bg]=Усмивка за работното място
GenericName[bn]=পর্দায় বসবাসকারী জন্তু
GenericName[ca@valencia]=Criatura a la pantalla
GenericName[ca]=Criatura a la pantalla
GenericName[cs]=Příšerka na obrazovce
GenericName[cy]=Creadur Ar-Sgrin
GenericName[da]=Skærmbillede
GenericName[de]=Maskottchen für die Arbeitsfläche
GenericName[el]=Πλάσμα στην οθόνη
GenericName[en_GB]=On-Screen Creature
GenericName[en_ZA]=On-Screen Creature
GenericName[eo]=Enekrana vivaĵo
GenericName[es]=Creature en ventana
GenericName[et]=Elajas töölaual
GenericName[eu]=Pantailako gizakia
GenericName[fa]=ایجاد‌کنندۀ روی پرده
GenericName[fi]=Näytönolento
GenericName[fr]=Créature sur l'écran
GenericName[fr_CA]=Créature à l'écran
GenericName[ga]=Créatúr ar do scáileán
GenericName[gl]=Unha molesta criatura do escritorio
GenericName[he]=יצור מסכי 
GenericName[hne]=ओन स्क्रीन कैप्चर
GenericName[hr]=Beštija na vašem zaslonu
GenericName[hu]=Animált figurák
GenericName[id]=Makhluk Pada Layar
GenericName[is]=Skjámyndataka
GenericName[it]=Creatura sullo schermo
GenericName[ja]=画面上の生物
GenericName[kk]=Экрандағы мақұлық
GenericName[km]=ការច្នៃ​ប្រឌិត​លើ​អេក្រង់
GenericName[ko]=화면 위 생명체
GenericName[lv]=Ekrāna dzīvnieks
GenericName[mk]=Креатура на екранот
GenericName[ml]=സ്ക്രീന്‍ ജന്തു
GenericName[ms]=Makhluk di atas Skrin
GenericName[nb]=Vesen på skjermen
GenericName[nds]=Schriefdisch-Maskottje
GenericName[ne]=पर्दा क्रिएचर
GenericName[nl]=OP het scherm maken
GenericName[nn]=Skjermvesen
GenericName[pl]=Obiekt ekranowy
GenericName[pt]=Criatura no Ecrã
GenericName[pt_BR]=Criatura na tela
GenericName[ro]=Creatură pe ecran
GenericName[ru]=Создание на экране
GenericName[sk]=Stvorenie na obrazovke
GenericName[sl]=Zaslonska živalca
GenericName[sr@ijekavian]=Створење на екрану
GenericName[sr@ijekavianlatin]=Stvorenje na ekranu
GenericName[sr@latin]=Stvorenje na ekranu
GenericName[sr]=Створење на екрану
GenericName[sv]=Varelse på skärmen
GenericName[ta]=திரையில் உருவாக்கி
GenericName[tg]=Махлуқи экран
GenericName[th]=โปรแกรมจับภาพหน้าจอ
GenericName[tr]=Ekranda Gezinen Yaratık
GenericName[uk]=Створення на екрані
GenericName[x-test]=xxOn-Screen Creaturexx
GenericName[zh_CN]=屏幕生物
GenericName[zh_TW]=畫面擷取程式
