[Desktop Entry]
Exec=kcmshell4 kcmgtk4
Terminal=false
Icon=kcmgtk.png

Encoding=UTF-8
X-Keywords=kcmgtk,gtk,style,font,theme


Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_gtk4
X-KDE-ParentApp=kcontrol
Categories=Settings;Qt;KDE;X-KDE-settings-looknfeel;
X-KDE-System-Settings-Parent-Category=workspace-appearance-and-behavior
Name=GTK Styles and Fonts
Name[ca]=Estils i fonts GTK
Name[da]=GTK stil og fonte
Name[de]=GTK-Stile und Schriftarten
Name[en_GB]=GTK Styles and Fonts
Name[en_ZA]=GTK Styles and Fonts
Name[es]=Estilos y fuentes GTK
Name[fr]=Styles et Polices GTK
Name[fr_CA]=Styles et polices GTK
Name[hr]=GTK stilovi i fontovi
Name[id]=Tampilan dan Huruf GTK
Name[it]=Stili e caratteri GTK
Name[nl]=GTK Styles and Lettertypen
Name[pl]=Style i fonty GTK
Name[pt_BR]=Fontes e estilos do GTK
Name[ru]=GTK стили и шрифты
Name[tr]=GTK Stil ve Yazıtipleri
Name[uk]=GTK стилі та шрифти
Comment=Control the style and fonts used by GTK applications
Comment[ca]=Controleu l'estil i les fonts emprades per les aplicacions GTK
Comment[da]=Indstil hvordan GTK programmer bruger stil og fonte
Comment[de]=Einstellung der Stile und Schriftarten in GTK-Anwendungen
Comment[en_GB]=Control the style and fonts used by GTK applications
Comment[en_ZA]=Control the style and fonts used by GTK applications
Comment[es]=Controla el estilo y fuentes usadas por aplicaciones GTK
Comment[fr]=Détermine le style et les polices utilisés par les applications GTK
Comment[fr_CA]=Contrôle le style et les polices utilisées par les applications GTK
Comment[hr]=Upravljanje stilovima i fontovima koje koriste GTK aplikacije
Comment[id]=Mengatur tampilan dan huruf yang digunakan oleh aplikasi GTK
Comment[it]=Configura stili e caratteri usati dalle applicazioni GTK
Comment[nl]=Beheer de stijl en lettertypen gebruikt door GTK programma's
Comment[pl]=Kotrola stylów i czcionek aplikacji używających GTK
Comment[pt_BR]=Controla as fontes e os estilos usados em aplicações GTK
Comment[ru]=Управление стилями и шрифтами, используемые в приложениях GTK
Comment[tr]=GTK uygulamalarının stil ve yazıtiplerini KDE görünümlü yapar
Comment[uk]=Управління стилями та шрифтами, які використовують GTK додатки
