<div *ngIf="error" [style.color]="'red'" [innerHTML]="error"></div>
<div [ngBusy]="busy">
  <div class="row">
    <div class="col-md-2" [style.paddingBottom]="'15px'">
      <input [(ngModel)]="name" class="form-control" placeholder="Name" required/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <ba-card title="Data Disk Groups (vdevs)">
        <app-vdev *ngFor="let vdev of vdevs.data" [group]="'data'" [manager]="this"></app-vdev>
        <button class="btn btn-primary" (click)="addVdev('data')">add</button>
      </ba-card>
      <ba-card title="Cache Disk Groups (L2ARC vdevs)">
        <app-vdev *ngFor="let vdev of vdevs.cache" [group]="'cache'" [manager]="this"></app-vdev>
        <button class="btn btn-primary" (click)="addVdev('cache')"> add </button>
      </ba-card>
      <ba-card title="Log Disk Groups (ZIL vdevs)">
        <app-vdev *ngFor="let vdev of vdevs.log" [group]="'log'" [manager]="this"></app-vdev>
        <button class="btn btn-primary" (click)="addVdev('log')">add</button>
      </ba-card>
    </div>
    <div class="col-md-3">
      <ba-card title="Disks">
        <p>Drag and drop disks to disks groups</p>
        <div #disksdnd [dragula]='"pool-vdev"' [style.minHeight]="'200px'" [style.width]="'200px'">
          <app-disk *ngFor="let disk of disks" [data]="disk"></app-disk>
        </div>
      </ba-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    <button class="btn btn-primary" (click)="doSubmit()">Create</button>
    </div>
  </div>
</div>
