{% extends "base.html" %}

{% block dojango_header_extra %}
<script type="text/javascript">
    function toggle_service(obj) {
        obj.src = '/services/toggle/' + obj.name + '/' + Date();
    }
</script>
{% endblock %}

{% block content %}
<div dojoType="dijit.MenuBar" id="navMenu" style="height:56px;">

            <div dojoType="dijit.MenuBarItem" onClick="window.location='/'" class="menu_icon">
        <img src="/freenas/media/images/ui/system.png">
        <br />
                <div>
                    System 
                </div>
            </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/network/'" class="menu_icon">
        <img src="/freenas/media/images/ui/network.png">
        <br />
        <span>
            Network 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/storage/'" class="menu_icon ">
        <img src="/freenas/media/images/ui/storage.png">
        <br />
        <span>
            Storage 
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/sharing/'" class="menu_icon">
        <img src="/freenas/media/images/ui/sharing.png">
        <br />
        <span>
            Sharing
        </span>
    </div>

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/services/'" class="menu_icon dijitMenuItemSelected">
        <img src="/freenas/media/images/ui/services.png">
        <br />
        <span>
            Services
        </span>
    </div>


    {% if user.is_authenticated %}
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/logout/'" class="menu_icon" style="float:right;">
        <img src="/freenas/media/images/ui/logout.png">
        <br />
        <span>
            Log Out 
        </span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/password_change/'" class="menu_icon" style="float:right;">
        <img src="/freenas/media/images/ui/account.png">
        <br />
        <span>
            Account 
        </span>
    </div>
    {% else %}

    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/login/'" class="menu_icon" style="font-weight:bold;">
        <img src="/freenas/media/images/ui/login.png">
        <br />
        <span>
            Log In
        </span>
    </div>
    {% endif %}
{% endblock %}

{% block dojango_content %}
{% if user.is_authenticated %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;" dolayout="false">
    <div dojoType="dijit.layout.ContentPane" title="Services">
        <table class="srv">
            <tr>
                <td>
                    <strong>Windows Shares</strong>
                </td>
                <td>
		    <img id="cifs_toggle" name="cifs_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "cifs" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img id="cifs_settings" src="/freenas/media/images/ui/settings.png" onClick="dijit.byId('cifs').show();" title="CIFS Settings">
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Apple Shares</strong>
                </td>
                <td>
		    <img id="afp_toggle" name="afp_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "afp" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img id="afp_settings" src="/freenas/media/images/ui/settings.png" onClick="dijit.byId('afp').show();" title="AFP Settings">
                </td>
            </tr>
            <tr>
                <td>
                    <strong>UNIX Shares</strong>
                </td>
                <td>
		            <img id="nfs_toggle" name="nfs_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "nfs" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img id="nfs_settings" src="/freenas/media/images/ui/settings.png" onClick="dijit.byId('nfs').show();" title="NFS Settings">
                </td>
            </tr>
          <!--  <tr>
                <td>
                    <strong>Unison - Replication</strong>
                </td>
                <td>
		    <img id="unison_toggle" name="unison_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "unison" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img id="unison_settings" src="/freenas/media/images/ui/settings.png" onClick="dijit.byId('unison').show();" title="Unison Settings">
                </td>
            </tr>
            -->
           <tr>
                <td>
                    <strong>iSCSI</strong>
                </td>
                <td>
		    <img id="iscsitarget_toggle" name="iscsitarget_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "iscsitarget" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img id="iscsitarget_settings" src="/freenas/media/images/ui/settings.png" onClick="dijit.byId('iscsitarget').show();" title="ISCSI Settings">
                </td>
            </tr>
          
           <!-- <tr>
                <td>
                    <strong>Dynamic DNS</strong>
                </td>
                <td>
		    <img id="dyndns_toggle" name="dyndns_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "dyndns" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img id="dyndns_settings" src="/freenas/media/images/ui/settings.png" onClick="dijit.byId('dyndns').show();" title="Dynamic DNS Settings">
                </td>
            </tr>
            -->
           <tr>
                <td>
                    <strong>SNMP</strong>
                </td>
                <td>
		    <img id="snmp_toggle" name="snmp_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "snmp" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img id="snmp_settings" src="/freenas/media/images/ui/settings.png" onClick="dijit.byId('snmp').show();" title="SNMP Settings">
                </td>
            </tr> 
          <!--  <tr>
                <td>
                    <strong>UPS</strong>
                </td>
                <td>
		    <img id="ups_toggle" name="ups_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "ups" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img id="ups_settings" src="/freenas/media/images/ui/settings.png" onClick="dijit.byId('ups').show();" title="UPS Settings">
                </td>
            </tr>
            -->
          <!--  <tr>
                <td>
                    <strong>Bit Torrent</strong>
                </td>
                <td>
		    <img id="bt_toggle" name="bt_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "bt" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img id="bt_settings" src="/freenas/media/images/ui/settings.png" onClick="dijit.byId('bt').show();" title="Bit Torrent Settings">
                </td>
            </tr>
            -->
         <!--   <tr>
                <td>
                    <strong>Web Server</strong>
                </td>
                <td>
		    <img id="httpd_toggle" name="httpd_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "httpd" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img id="httpd_settings" src="/freenas/media/images/ui/settings.png" onClick="dijit.byId('httpd').show();" title="Web Server Settings">
                </td>
            </tr>
            -->
            <tr>
                <td>
                    <strong>FTP</strong>
                </td>
                <td>
		    <img id="ftp_toggle" name="ftp_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "ftp" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img id="ftp_settings" src="/freenas/media/images/ui/settings.png" onClick="dijit.byId('ftp').show();" title="FTP Settings">
                </td>
            </tr>
            <tr>
                <td>
                    <strong>TFTP</strong>
                </td>
                <td>
		    <img id="tftp_toggle" name="tftp_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "tftp" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img id="tftp_settings" src="/freenas/media/images/ui/settings.png" onClick="dijit.byId('tftp').show();" title="TFTP Settings">
                </td>
            </tr>
            <tr>
                <td>
                    <strong>SSH</strong>
                </td>
                <td>
		    <img id="ssh_toggle" name="ssh_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "ssh" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img id="ssh_settings" src="/freenas/media/images/ui/settings.png" onClick="dijit.byId('ssh').show();" title="SSH Settings">
                </td>
            </tr>
          <!--  <tr>
                <td>
                    <strong>Active Directory</strong>
                </td>
                <td>
		    <img id="ad_toggle" name="ad_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "ad" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img id="ad_settings" src="/freenas/media/images/ui/settings.png" onClick="dijit.byId('ad').show();" title="Active Directory Settings">
                </td>
            </tr>
            -->
<!--
            <tr>
                <td>
                    <strong>LDAP</strong>
                </td>
                <td>
		    <img id="ldap_toggle" name="ldap_toggle" src="/freenas/media/images/ui/{% for s  in srv %}{% if s.srv_service == "ldap" %}{% if s.srv_enable %}on{% else %}off{% endif %}{% endif %}{% endfor %}.png" onClick="toggle_service(this)">
                </td>
                <td>
                    <img id="ldap_settings" src="/freenas/media/images/ui/settings.png" onClick="dijit.byId('ldap').show();" title="LDAP Settings">
                </td>
            </tr>
            -->
        </table>
</div>
<div id="cifs" dojoType="dijit.Dialog" title="Windows - CIFS/SAMBA Shares">
<form action="/services/" method="post">{% csrf_token %}
                    <table>
                        {{ cifs.errors }}
                        {{ cifs }}
                                   </table>
<button dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('cifs').hide();">
    Cancel
</button>

</form>
    </div>
<div id="afp" dojoType="dijit.Dialog" title="Apple - AFP Shares">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ afp.errors }}
                {{ afp }}
            </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('afp').hide();">
    Cancel
</button>
</form>
        </div>
          
<div id="nfs" dojoType="dijit.Dialog" title="UNIX - NFS Shares">
<form action="/services/" method="post">{% csrf_token %}
     <table>
         {{ nfs.errors }}
         {{ nfs }}
                     </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('nfs').hide();">
    Cancel
</button>
</form>
        </div>


<div id="unison" dojoType="dijit.Dialog" title="Unison - File Replication">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ unison.errors }}
                {{ unison }}

                        </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('unison').hide();">
    Cancel
</button>
</form>
</div>
<div id="iscsitarget" dojoType="dijit.Dialog" title="iSCSI">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ iscsitarget.errors }}
                {{ iscsitarget }}
        
                         </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('iscsitarget').hide();">
    Cancel
</button>
</form>
</div>
<div id="dyndns" dojoType="dijit.Dialog" title="Dynamic DNS">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ dynamicdns.errors }}
                {{ dynamicdns }}

                         </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('dyndns').hide();">
    Cancel
</button>
</form>
</div>

<div id="snmp" dojoType="dijit.Dialog" title="SNMP">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ snmp.errors }}
                {{ snmp }}

                         </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('snmp').hide();">
    Cancel
</button>
</form>
</div>

<div id="ups" dojoType="dijit.Dialog" title="UPS">
<form action="/services/" method="post">{% csrf_token %}
   <table>
       {{ ups.errors }}
       {{ ups }}

                         </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('ups').hide();">
    Cancel
</button>
</form>
</div>

<div id="bt" dojoType="dijit.Dialog" title="Bit Torrent">
<form action="/services/" method="post">{% csrf_token %}
  <table>
      {{ bittorrent.errors }}
      {{ bittorrent }}

                        </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('bt').hide();">
    Cancel
</button>
</form>
</div>

<div id="httpd" dojoType="dijit.Dialog" title="Web Server">
<form action="/services/" method="post">{% csrf_token %}
          <table>
              {{ webserver.errors }}
              {{ webserver }}
    
                        </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('httpd').hide();">
    Cancel
</button>
</form>
</div>


<div id="ftp" dojoType="dijit.Dialog" title="FTP">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ ftp.errors }}
                {{ ftp }}
            </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('ftp').hide();">
    Cancel
</button>
</form>
</div>

<div id="tftp" dojoType="dijit.Dialog" title="TFTP">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ tftp.errors }}
                {{ tftp }}
              </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('tftp').hide();">
    Cancel
</button>
</form>
</div>

<div id="ssh" dojoType="dijit.Dialog" title="SSH">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ ssh.errors }}
                {{ ssh }}
  
                          </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('ssh').hide();">
    Cancel
</button>
</form>
</div>

<div id="ad" dojoType="dijit.Dialog" title="Active Directory">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ activedirectory.errors }}
                {{ activedirectory }}
  
                          </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('ad').hide();">
    Cancel
</button>
</form>
</div>

<div id="ldap" dojoType="dijit.Dialog" title="LDAP">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ ldap.errors }}
                {{ ldap }}
  
                          </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('ldap').hide();">
    Cancel
</button>
</form>
</div>
<br />
</div>
{% else %}
    <p>Welcome. Please <a href="/login/">log in</a>.</p>
{% endif %}

{% endblock %}

