{% extends "base.html" %}

{% block dojango_header_extra %}
<script type="text/javascript">
    dojo.addOnLoad(function() {
            rebootDlg = dijit.byId("rebootDialog");
            dojo.connect(dijit.byId("reboot_button"), "onClick", rebootDlg, "show");
            });
    dojo.addOnLoad(function() {
            shutdownDlg = dijit.byId("shutdownDialog");
            dojo.connect(dijit.byId("shutdown_button"), "onClick", shutdownDlg, "show");
            });
    function toggle_service(obj) {
        window.location = '/services/toggle/' + obj.name + '/';
    }
</script>
{% endblock %}

{% block content %}
<div style="float:left;">
    <h1>Services</h1>
</div>

{% endblock %}



{% block dojango_content %}
{% if user.is_authenticated %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;" dolayout="false">
    <div dojoType="dijit.layout.ContentPane" title="Services">
        <table>
            <tr>
                <td>
                    <strong>Windows Shares</strong>
                </td>
                <td>
                    <input id="cifs_toggle" name="cifs_toggle" dojoType="dijit.form.CheckBox" checked="{% for s in srv %}{% if s.srv_service == "cifs" %}{{ s.srv_enable }}{% endif %}{% endfor %}" onChange="toggle_service(this)">
                </td>
                <td>
                    <button id="cifs_settings" dojoType="dijit.form.Button" type="button">
                        Settings
                    <script type="dojo/method" event="onClick" args="evt">
                        dijit.byId("cifs").show();
                    </script>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Apple Shares</strong>
                </td>
                <td>
                    <input id="afp_toggle" name="afp_toggle" dojoType="dijit.form.CheckBox" checked="{% for s  in srv %}{% if s.srv_service == "afp" %}{{ s.srv_enable }}{% endif %}{% endfor %}" onChange="toggle_service(this)">
                </td>
                <td>
                    <button id="afp_settings" dojoType="dijit.form.Button" type="button">
                        Settings
                    <script type="dojo/method" event="onClick" args="evt">
                        dijit.byId("afp").show();
                    </script>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>UNIX Shares</strong>
                </td>
                <td>
                    <input id="nfs_toggle" name="nfs_toggle" dojoType="dijit.form.CheckBox" checked="{% for s  in srv %}{% if s.srv_service == "nfs" %}{{ s.srv_enable }}{% endif %}{% endfor %}" onChange="toggle_service(this)">
                </td>
                <td>
                    <button id="nfs_settings" dojoType="dijit.form.Button" type="button">
                        Settings
                    <script type="dojo/method" event="onClick" args="evt">
                        dijit.byId("nfs").show();
                    </script>
                    </button>
                </td>
            </tr>
          <!--  <tr>
                <td>
                    <strong>Unison - Replication</strong>
                </td>
                <td>
                    <input id="unison_toggle" name="unison_toggle" dojoType="dijit.form.CheckBox" checked="{% for s  in srv %}{% if s.srv_service == "unison" %}{{ s.srv_enable }}{% endif %}{% endfor %}" onChange="toggle_service(this)">
                </td>
                <td>
                    <button id="unison_settings" dojoType="dijit.form.Button" type="button">
                        Settings
                    <script type="dojo/method" event="onClick" args="evt">
                        dijit.byId("unison").show();
                    </script>
                    </button>
                </td>
            </tr>
            -->
           <!-- <tr>
                <td>
                    <strong>iSCSI</strong>
                </td>
                <td>
                    <input id="iscsi_toggle" name="iscsi_toggle" dojoType="dijit.form.CheckBox" checked="{% for s  in srv %}{% if s.srv_service == "iscsi" %}{{ s.srv_enable }}{% endif %}{% endfor %}">
                </td>
                <td>
                    <button id="iscsi_settings" dojoType="dijit.form.Button" type="button">
                        Settings
                    <script type="dojo/method" event="onClick" args="evt">
                        dijit.byId("iscsi").show();
                    </script>
                    </button>
                </td>
            </tr>
            -->
           <!-- <tr>
                <td>
                    <strong>Dynamic DNS</strong>
                </td>
                <td>
                    <input id="dyndns_toggle" name="dyndns_toggle" dojoType="dijit.form.CheckBox" checked="{% for s  in srv %}{% if s.srv_service == "dyndns" %}{{ s.srv_enable }}{% endif %}{% endfor %}" onChange="toggle_service(this)">
                </td>
                <td>
                    <button id="dyndns_settings" dojoType="dijit.form.Button" type="button">
                        Settings
                    <script type="dojo/method" event="onClick" args="evt">
                        dijit.byId("dyndns").show();
                    </script>
                    </button>
                </td>
            </tr>
            -->
           <tr>
                <td>
                    <strong>SNMP</strong>
                </td>
                <td>
                    <input id="snmp_toggle" name="snmp_toggle" dojoType="dijit.form.CheckBox" checked="{% for s  in srv %}{% if s.srv_service == "snmp" %}{{ s.srv_enable }}{% endif %}{% endfor %}" onChange="toggle_service(this)">
                </td>
                <td>
                    <button id="snmp_settings" dojoType="dijit.form.Button" type="button">
                        Settings
                    <script type="dojo/method" event="onClick" args="evt">
                        dijit.byId("snmp").show();
                    </script>
                    </button>
                </td>
            </tr> 
          <!--  <tr>
                <td>
                    <strong>UPS</strong>
                </td>
                <td>
                    <input id="ups_toggle" name="ups_toggle" dojoType="dijit.form.CheckBox" checked="{% for s  in srv %}{% if s.srv_service == "ups" %}{{ s.srv_enable }}{% endif %}{% endfor %}" onChange="toggle_service(this)">
                </td>
                <td>
                    <button id="ups_settings" dojoType="dijit.form.Button" type="button">
                        Settings
                    <script type="dojo/method" event="onClick" args="evt">
                        dijit.byId("ups").show();
                    </script>
                    </button>
                </td>
            </tr>
            -->
          <!--  <tr>
                <td>
                    <strong>Bit Torrent</strong>
                </td>
                <td>
                    <input id="bt_toggle" name="bt_toggle" dojoType="dijit.form.CheckBox" checked="{% for s  in srv %}{% if s.srv_service == "bt" %}{{ s.srv_enable }}{% endif %}{% endfor %}" onChange="toggle_service(this)">
                </td>
                <td>
                    <button id="bt_settings" dojoType="dijit.form.Button" type="button">
                        Settings
                    <script type="dojo/method" event="onClick" args="evt">
                        dijit.byId("bt").show();
                    </script>
                    </button>
                </td>
            </tr>
            -->
         <!--   <tr>
                <td>
                    <strong>Web Server</strong>
                </td>
                <td>
                    <input id="httpd_toggle" name="httpd_toggle" dojoType="dijit.form.CheckBox" checked="{% for s  in srv %}{% if s.srv_service == "httpd" %}{{ s.srv_enable }}{% endif %}{% endfor %}" onChange="toggle_service(this)">
                </td>
                <td>
                    <button id="httpd_settings" dojoType="dijit.form.Button" type="button">
                        Settings
                    <script type="dojo/method" event="onClick" args="evt">
                        dijit.byId("httpd").show();
                    </script>
                    </button>
                </td>
            </tr>
            -->
            <tr>
                <td>
                    <strong>FTP</strong>
                </td>
                <td>
                    <input id="ftp_toggle" name="ftp_toggle" dojoType="dijit.form.CheckBox" checked="{% for s  in srv %}{% if s.srv_service == "ftp" %}{{ s.srv_enable }}{% endif %}{% endfor %}" onChange="toggle_service(this)">
                </td>
                <td>
                    <button id="ftp_settings" dojoType="dijit.form.Button" type="button">
                        Settings
                    <script type="dojo/method" event="onClick" args="evt">
                        dijit.byId("ftp").show();
                    </script>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>TFTP</strong>
                </td>
                <td>
                    <input id="tftp_toggle" name="tftp_toggle" dojoType="dijit.form.CheckBox" checked="{% for s  in srv %}{% if s.srv_service == "tftp" %}{{ s.srv_enable }}{% endif %}{% endfor %}" onChange="toggle_service(this)">
                </td>
                <td>
                    <button id="tftp_settings" dojoType="dijit.form.Button" type="button">
                        Settings
                    <script type="dojo/method" event="onClick" args="evt">
                        dijit.byId("tftp").show();
                    </script>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>SSH</strong>
                </td>
                <td>
                    <input id="ssh_toggle" name="ssh_toggle" dojoType="dijit.form.CheckBox" checked="{% for s  in srv %}{% if s.srv_service == "ssh" %}{{ s.srv_enable }}{% endif %}{% endfor %}" onChange="toggle_service(this)">
                </td>
                <td>
                    <button id="ssh_settings" dojoType="dijit.form.Button" type="button">
                        Settings
                    <script type="dojo/method" event="onClick" args="evt">
                        dijit.byId("ssh").show();
                    </script>
                    </button>
                </td>
            </tr>
          <!--  <tr>
                <td>
                    <strong>Active Directory</strong>
                </td>
                <td>
                    <input id="ad_toggle" name="ad_toggle" dojoType="dijit.form.CheckBox" checked="{% for s  in srv %}{% if s.srv_service == "ad" %}{{ s.srv_enable }}{% endif %}{% endfor %}" onChange="toggle_service(this)">
                </td>
                <td>
                    <button id="ad_settings" dojoType="dijit.form.Button" type="button">
                        Settings
                    <script type="dojo/method" event="onClick" args="evt">
                        dijit.byId("ad").show();
                    </script>
                    </button>
                </td>
            </tr>
            -->
          <!--  <tr>
                <td>
                    <strong>LDAP</strong>
                </td>
                <td>
                    <input id="ldap_toggle" name="ldap_toggle" dojoType="dijit.form.CheckBox" checked="{% for s  in srv %}{% if s.srv_service == "ldap" %}{{ s.srv_enable }}{% endif %}{% endfor %}" onChange="toggle_service(this)">
                </td>
                -->
                <td>
                    <button id="ldap_settings" dojoType="dijit.form.Button" type="button">
                        Settings
                    <script type="dojo/method" event="onClick" args="evt">
                        dijit.byId("ldap").show();
                    </script>
                    </button>
                </td>
            </tr>
        </table>
</div>
<div id="cifs" dojoType="dijit.Dialog" title="Windows - CIFS/SAMBA Shares">
<form action="/services/" method="post">{% csrf_token %}
                    <table>
                        {{ cifs.errors }}
                        {{ cifs }}
                                   </table>
<button dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('cifs').hide();">
    Cancel
</button>

</form>
    </div>
<div id="afp" dojoType="dijit.Dialog" title="Apple - AFP Shares">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ afp.errors }}
                {{ afp }}
            </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('afp').hide();">
    Cancel
</button>
</form>
        </div>
          
<div id="nfs" dojoType="dijit.Dialog" title="UNIX - NFS Shares">
<form action="/services/" method="post">{% csrf_token %}
     <table>
         {{ nfs.errors }}
         {{ nfs }}
                     </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('nfs').hide();">
    Cancel
</button>
</form>
        </div>


<div id="unison" dojoType="dijit.Dialog" title="Unison - File Replication">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ unison.errors }}
                {{ unison }}

                        </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('unison').hide();">
    Cancel
</button>
</form>
</div>
<div id="iscsi" dojoType="dijit.Dialog" title="iSCSI">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ iscsi.errors }}
                {{ iscsi }}
        
                         </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('iscsi').hide();">
    Cancel
</button>
</form>
</div>
<div id="dyndns" dojoType="dijit.Dialog" title="Dynamic DNS">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ dynamicdns.errors }}
                {{ dynamicdns }}

                         </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('dyndns').hide();">
    Cancel
</button>
</form>
</div>

<div id="snmp" dojoType="dijit.Dialog" title="SNMP">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ snmp.errors }}
                {{ snmp }}

                         </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('snmp').hide();">
    Cancel
</button>
</form>
</div>

<div id="ups" dojoType="dijit.Dialog" title="UPS">
<form action="/services/" method="post">{% csrf_token %}
   <table>
       {{ ups.errors }}
       {{ ups }}

                         </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('ups').hide();">
    Cancel
</button>
</form>
</div>

<div id="bt" dojoType="dijit.Dialog" title="Bit Torrent">
<form action="/services/" method="post">{% csrf_token %}
  <table>
      {{ bittorrent.errors }}
      {{ bittorrent }}

                        </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('bt').hide();">
    Cancel
</button>
</form>
</div>

<div id="httpd" dojoType="dijit.Dialog" title="Web Server">
<form action="/services/" method="post">{% csrf_token %}
          <table>
              {{ webserver.errors }}
              {{ webserver }}
    
                        </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('httpd').hide();">
    Cancel
</button>
</form>
</div>


<div id="ftp" dojoType="dijit.Dialog" title="FTP">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ ftp.errors }}
                {{ ftp }}
            </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('ftp').hide();">
    Cancel
</button>
</form>
</div>

<div id="tftp" dojoType="dijit.Dialog" title="TFTP">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ tftp.errors }}
                {{ tftp }}
              </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('tftp').hide();">
    Cancel
</button>
</form>
</div>

<div id="ssh" dojoType="dijit.Dialog" title="SSH">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ ssh.errors }}
                {{ ssh }}
  
                          </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('ssh').hide();">
    Cancel
</button>
</form>
</div>

<div id="ad" dojoType="dijit.Dialog" title="Active Directory">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ activedirectory.errors }}
                {{ activedirectory }}
  
                          </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('ad').hide();">
    Cancel
</button>
</form>
</div>

<div id="ldap" dojoType="dijit.Dialog" title="LDAP">
<form action="/services/" method="post">{% csrf_token %}
            <table>
                {{ ldap.errors }}
                {{ ldap }}
  
                          </table>
<button  dojoType="dijit.form.Button" type="submit">Save Configuration</button>
<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('ldap').hide();">
    Cancel
</button>
</form>
</div>
<br />
</div>
{% else %}
    <p>Welcome. Please <a href="/login/">log in</a>.</p>
{% endif %}

{% endblock %}

