<ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12 col-md-12">
  <div [ngBusy]="[busy, busy2]">
    <div class="row form-group">
      <div class="col-md-6">
        <ba-checkbox [(ngModel)]="autoCheck" type="checkbox" id="autocheck" [label]="'Automatically check for new updates'" [ngModelOptions]="{standalone: true}"
          (change)="toggleAutoCheck()"></ba-checkbox>
      </div>
      <div class="col-md-6">
        <select class="form-control" [(ngModel)]="train">
        <option *ngFor="let train of trains" [value]="train.name">{{ train.name }}</option>
      </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" (click)="check()" [disabled]="status == 'REBOOT_REQUIRED'">Check Now</button>
        <button class="btn btn-primary" (click)="update()" [disabled]="status != 'AVAILABLE' && !updating">Update and Reboot</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="status == 'REBOOT_REQUIRED'">
          An update has already been applied. Please reboot.
        </div>
        <table *ngIf="status == 'AVAILABLE' && !updating" class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Operation</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of packages">
              <td>{{ p.operation }}</td>
              <td>{{ p.name }}</td>
            </tr>
            <tr *ngIf="packages.length == 0">
              <td>No update has been found</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="updated">
          Update is complete, reboot the machine yourself because I'm tired!
        </div>
        <div *ngIf="error">
          {{ error }}
        </div>
      </div>
    </div>
  </div>
</ba-card>
<ba-job [title]="'Update'" [showCloseButton]="false" (progress)="onProgress($event)" (failure)="onFailure($event)" (success)="onSuccess($event)"></ba-job>