* {
    outline: none !important;
}


/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
body, html { overflow:hidden; width:100%; height:100%; margin:0; padding:0; }

#page-header {
    height:72px;
    background: #464C53 url("../images/headerbg.png") repeat-x;
}
#footer {
    height:80px;
    background: #464C53 url("../images/footerbg.png") repeat-x;
}

#fntree, #menupane {
     width:272px;
     background-color:white;
}

#menupane {
     border-right:1px solid #ccc;
     margin-top:6px;
     border-top:1px solid #ccc;
     margin-left:5px;
     border-left:1px solid #ccc;
     margin-bottom:6px;
     border-bottom:1px solid #ccc;
}

#main {
    overflow:auto;
    padding-bottom: 150px;
}  /* must be same height as the footer */

#wrap {
    min-height: 100%;
}

#toolbar {
	height: 30px;
	padding-right: 140px;
	overflow: hidden;
	line-height: 30px;
	font-size: 9px;
	color: #ffffff;
}

#menu {
    position:relative;
    width:100%;
    border:0 !important;
    margin:0 0 0 0;
    padding:0;
}

#interLayout {
    width:272px;
    height:100%;
}

#outerLayout {
    width:100%;
    height:100%;
}

#topLayout {
    height:125px;
    overflow:hidden;
}

#footer {
    width:100%;
}

#footerPane {
    color:#ccc;
    margin-left:10px;
    margin-top:35px;
    width:225px;
    overflow:hidden;
}

#footerLayout {
    height:80px;
    width:100%;
    padding-bottom:0px;
}

#footerLogo {
    width:125px;
    overflow:hidden;
}

#footerLogo img {
    padding-right:10px;
}

#footerMessages {
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:80%;
    overflow:hidden;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}
.selector {
    width: 400px;
}
.select-available {
    width:38%;
    float:left;
}
.select-available select {
    width:100%;
}
.select-options {
    text-align:center;
    width:7%;
    position:relative;
    float:left;
}
.select-selected {
    width:38%;
    float:left;
}
.select-buttons {
    padding-top: 10px;
    width:16%;
    float:left;
}
.select-selected select {
    width:100%;
}
