body.iXpage { background:#eceff0;}
#page-header { height:72px;background: #464C53 url("../images/headerbg.png") repeat-x;}
#footer { 
    height:80px;
    background: #464C53 url("../images/footerbg.png") repeat-x; 
} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
body, html { overflow:hidden; width:100%; height:100%; margin:0; padding:0; }
#main {overflow:auto;
        padding-bottom: 150px;}  /* must be same height as the footer */


#wrap {min-height: 100%;}

#toolbar {
	height: 30px;
	padding-right: 140px;
	overflow: hidden;
	line-height: 30px;
	font-size: 9px;
	color: #ffffff;
}

#menu {	
    position:relative;
    width:100%;
    border:0 !important;
    margin:0 0 0 0;
    padding:0;

}
.selector { width: 600px; float:left; }

.select-available { width:45%; float:left; }
.select-available select { width:100%; }
.select-options { text-align:center;width:5%;position:relative;top:-26px;float:left; }
.select-selected { width:45%; float:left; }
.select-selected select { width:100%; }
#fntree,#menupane { width:272px; background-color:white;}
#menupane { border-right:1px solid #ccc; margin-top:6px;border-top:1px solid #ccc;margin-left:5px;border-left:1px solid #ccc;margin-bottom:6px;border-bottom:1px solid #ccc;}
.nohover {
background-image: none;
background-color: none;
border: none;
}
