{% macro nav() -%}
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Tests</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/events">Events</a></li>
            <li><a href="/rpc">RPC</a></li>
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/term">Terminal</a></li>
            <li><a href="/stats">Stats</a></li>
        </ul>
    </div>
</nav>
{%- endmacro %}