#!/bin/sh
datadir=$1
cmd=$2
driverdir=$(dirname $0)
dbdir=${datadir}/freenas.db
mongod=/usr/local/bin/mongod
pidfile=${dbdir}/mongod.lock


case ${cmd} in
    init)
        mkdir ${dbdir}
        chown mongodb ${dbdir}
        ;;

    start)
        ${mongod} --config ${driverdir}/mongod.conf --fork --logpath ${dbdir}/mongod.log --quiet --dbpath ${dbdir}
        ;;

    stop)
        kill `cat ${pidfile}`
        ;;

    defragment)
        ;;

    *)
        echo "Unknown command"
        exit 1
        ;;
esac
