{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div dojoType="dijit.layout.TabContainer" style="width:100%;height:400px;">
        <div dojoType="dijit.layout.ContentPane" title="Command Scripts">

    <form action="." method="post">
<table>
    <tr><td>
        {{ form.as_table }}
        <br />
</tr></td>
</table>
        <input type="submit" value="Save" />
    </form>
</div></div>
          {% else %}
                  <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>

{% endif %}
                          {% endblock %}
