{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
    <div dojoType="dijit.layout.TabContainer" style="width:100%;height:400px;">
                <div dojoType="dijit.layout.ContentPane" title="Cron Job Settings">

    <form action="." method="post" id="cronjob">
<table>
    <tr>
        <td style="padding-right:25px;">
            <strong>Enable Cron:</strong>
        </td>
        <td>
            {{ form.togglecron }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Command:</strong>
        </td>
        <td>
            {{ form.croncommand }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Who:</strong>
        </td>
        <td>
            {{ form.cronwho }}
        </td>
    </tr>
    <tr>
        <td valign="top">
            <strong>Description:</strong>
        </td>
        <td>
            {{ form.description }}
            <br /><br />
        </td>
    </tr>
</table>

        </div>
                <div dojoType="dijit.layout.ContentPane" title="Frequency">

<table>
    <tr>
        <td>
            <strong>Minutes:</strong>
        </td>
        <td style="padding-left:25px;">
            <strong>Hours:</strong>
        </td>
        <td style="padding-left:25px;">
            <strong>Days:</strong>
        </td>
        <td style="padding-left:25px;">
            <strong>Months:</strong>
        </td>
        <td style="padding-left:25px;">
            <strong>Weekdays:</strong>
        </td>
    </tr>
        <tr>
        <td>
            {{ form.ToggleMinutes }}
            <br />
            {{ form.Minutes1 }}
            {{ form.Minutes2 }}
            {{ form.Minutes3 }}
            {{ form.Minutes4 }}
        </td>
        <td style="padding-left:25px;">
            {{ form.ToggleHours }}
            <br />
            {{ form.Hours1 }}
            {{ form.Hours2 }}
        </td>
        <td style="padding-left:25px;">
            {{ form.ToggleDays }}
            <br />
            {{ form.Days1 }}
            {{ form.Days2 }}
        </td>
        <td style="padding-left:25px;">
            {{ form.ToggleMonths }}
            <br />
            {{ form.Months }}
        </td>
        <td style="padding-left:25px;" valign="top">
            {{ form.ToggleWeekdays }}
            <br />
            {{ form.Weekdays }}
        </td>
    </tr>
</table>
        </div>
    </div>
</div>

        <button dojoType="dijit.form.Button" type="submit">Add</button>
    </form>
          {% else %}
                  <p>Welcome. Please <a href="/freenas/login/">log in</a>.</p>

{% endif %}
                          {% endblock %}
