{% load i18n %}
<table class="grid">
     <thead class="ghead">
         <td>{% trans "ID" %}</td>
         <td>{% trans "Group" %}</td>
         <td>{% trans "Members" %}</td>
         <td>{% trans "Modify" %}</td>
         <td>{% trans "Remove" %}</td>
     </thead>
     <tbody>
	{% for g in bsdgroup_list %}
	<tr class="{% cycle 'odd' 'even' %}">
	    <td>
		{{ g.bsdgrp_gid }}
	    </td>
	    <td>
		{{ g.bsdgrp_group }}
	    </td>
	    <td>
		<button dojoType="dijit.form.Button" type="button"
                    onClick="editObject('{% trans "Members" %}', '{% url account_bsdgroup_members object_id=g.id %}', [this,]);">{% trans "Members" %}</button>
	    </td>
	    <td>
		{% if not g.bsdgrp_builtin %}
                <button dojoType="dijit.form.Button" type="button" onClick="editObject('{% trans "Modify Group" %}', '{% url freeadmin_model_edit app='account',model='bsdGroups',oid=g.id %}?deletable=false', [this,]);">{% trans "Modify Group" %}</button>
		{% endif %}
	    </td>
	    <td>
		{% if not g.bsdgrp_builtin %}
                <button dojoType="dijit.form.Button" type="button" onClick="editObject('Delete Group', '{% url freeadmin_model_delete app='account',model='bsdGroups',oid=g.id %}', [this,]);">{% trans "Delete Group" %}</button>
		{% endif %}
	    </td>
	</tr>
	{% empty %}
	<tr>
	    <td colspan="5">
                <h5>{% trans "There are no user defined groups." %}</h5>
	    </td>
	</tr>
	{% endfor %}
	<tr>
	    <td colspan="5">
                <div style="padding:12px;"><button dojoType="dijit.form.Button" type="button" onClick="addObject('{% trans "Add New Group" %}', '{% url freeadmin_model_add app="account",model="bsdGroups" %}', [this,]);">{% trans "Add New Group" %}</button></div>
	    </td>
	</tr>
    </tbody>
    <thead class="ghead">
        <td>{% trans "ID" %}</td>
        <td>{% trans "Group" %}</td>
        <td colspan="3">{% trans "Members" %}</td>
     </thead>
     <tbody>
	{% for g in bsdgroup_list_builtin %}
	<tr class="{% cycle 'odd' 'even' %}">
	    <td>
		{{ g.bsdgrp_gid }}
	    </td>
	    <td>
		{{ g.bsdgrp_group }}
	    </td>
	    <td>
                <button dojoType="dijit.form.Button" type="button" onClick="editObject('{% trans "Members" %}', '{% url account_bsdgroup_members object_id=g.id %}');">{% trans "Members" %}</button>
	    </td>
	    <td>
		{% if not g.bsdgrp_builtin %}
                <button dojoType="dijit.form.Button" type="button" onClick="editObject('{% trans "Modify Group" %}', '{% url freeadmin_model_edit app='account',model='bsdGroups',oid=g.id %}?deletable=false', [this,]);">{% trans "Modify Group" %}</button>
		{% endif %}
	    </td>
	    <td>
		{% if not g.bsdgrp_builtin %}
                <button dojoType="dijit.form.Button" type="button" onClick="editObject('{% trans "Delete Group" %}', '{% url freeadmin_model_delete app='account',model='bsdGroups',oid=g.id %}', [this,]);">{% trans "Delete Group" %}</button>
		{% endif %}
	    </td>
	</tr>
	{% endfor %}
    </tbody>
</table>
