{% load i18n %}
<form data-dojo-type="dijit.form.Form">
<script type="dojo/event" event="onSubmit" args="e">
    formSubmit(this, e, '{{ url }}');
</script>
    <table>
        {{ form }}
    </table>
    <button class="submitform" data-dojo-type="dijit.form.Button" type="submit">
        {% trans "OK" %}
        <script type="dojo/method" event="onClick" args="evt">
            this.set('label', '{% trans "Please wait..."|force_escape %}');
        </script>
    </button>
    <button data-dojo-type="dijit.form.Button" onClick="cancelDialog(this);">{% trans "Cancel" %}</button>
</form>
