{% load i18n %}
<table class="grid">
     <thead class="ghead">
         <td>{% trans "ID" %}</td>
         <td>{% trans "Group" %}</td>
         <td>{% trans "Members" %}</td>
         <td>{% trans "Modify" %}</td>
         <td>{% trans "Remove" %}</td>
     </thead>
     <tbody>
	{% for g in bsdgroup_list %}
	<tr class="{% cycle 'odd' 'even' %}">
	    <td>
		{{ g.bsdgrp_gid }}
	    </td>
	    <td>
		{{ g.bsdgrp_group }}
	    </td>
	    <td>
                <button data-dojo-type="dijit.form.Button" type="button">
                    {% trans "Members" %}
                    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                        editObject('{% trans "Members"|force_escape|force_escape %}', '{% url account_bsdgroup_members object_id=g.id %}', [this,]);
                    </script>
                </button>
	    </td>
	    <td>
		{% if not g.bsdgrp_builtin %}
                <button data-dojo-type="dijit.form.Button" type="button">
                    {% trans "Modify Group" %}
                    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                        editObject('{% trans "Modify Group"|force_escape|force_escape %}', '{{ g.get_edit_url }}?deletable=false', [this,]);
                    </script>
                </button>
		{% endif %}
	    </td>
	    <td>
		{% if not g.bsdgrp_builtin %}
                <button data-dojo-type="dijit.form.Button" type="button">
                    {% trans "Delete Group" %}
                    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                        editObject('{% trans "Delete Group"|force_escape|force_escape %}', '{{ g.get_delete_url }}', [this,]);
                    </script>
                </button>
		{% endif %}
	    </td>
	</tr>
	{% empty %}
	<tr>
	    <td colspan="5">
                <h5>{% trans "There are no user defined groups." %}</h5>
	    </td>
	</tr>
	{% endfor %}
	<tr>
	    <td colspan="5">
                <div style="padding:12px;">
                    <button data-dojo-type="dijit.form.Button" type="button">
                        {% trans "Add New Group" %}
                        <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                            editObject('{% trans "Add New Group"|force_escape|force_escape %}', '{% url freeadmin_model_add app="account",model="bsdGroups" %}', [this,]);
                        </script>
                    </button>
                </div>
	    </td>
	</tr>
    </tbody>
    <thead class="ghead">
        <td>{% trans "ID" %}</td>
        <td>{% trans "Group" %}</td>
        <td colspan="3">{% trans "Members" %}</td>
     </thead>
     <tbody>
	{% for g in bsdgroup_list_builtin %}
	<tr class="{% cycle 'odd' 'even' %}">
	    <td>
		{{ g.bsdgrp_gid }}
	    </td>
	    <td>
		{{ g.bsdgrp_group }}
	    </td>
	    <td colspan="3">
                <button data-dojo-type="dijit.form.Button" type="button">
                    {% trans "Members" %}
                    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                        editObject('{% trans "Members"|force_escape|force_escape %}', '{% url account_bsdgroup_members object_id=g.id %}');
                    </script>
                </button>
	    </td>
	</tr>
	{% endfor %}
    </tbody>
</table>
