{% load i18n %}
<table class="grid">
    <thead class="ghead">
        <td>{% trans "ID" %}</td>
        <td>{% trans "Username" %}</td>
        <td>{% trans "Group" %}</td>
        <td>{% trans "Home" %}</td>
        <td>{% trans "Shell" %}</td>
        <td>{% trans "Password" %}</td>
        <td>{% trans "Modify" %}</td>
        <td>{% trans "Remove" %}</td>
    </thead>
    <tbody>
	{% for u in bsduser_list %}
	<tr class="{% cycle 'odd' 'even' %}">
	    <td>
		{{ u.bsdusr_uid }}
	    </td>
	    <td>
		{{ u.bsdusr_username }}
	    </td>
	    <td>
		{{ u.bsdusr_group.bsdgrp_group }}
	    </td>
	    <td>
		{{ u.bsdusr_home }}
	    </td>
	    <td>
		{{ u.bsdusr_shell }}
	    </td>
	    <td>
                <button dojoType="dijit.form.Button" type="button">
                    {% trans "Change Password" %}
                    <script type="dojo/method" event="onClick" args="evt">
                        editObject('{% trans "Change Password"|force_escape %}', '{% url freeadmin_model_edit app="account",model="bsdUsers",oid=u.id,mf="bsdUserPasswordForm" %}?deletable=false', [this,]);
                    </script>
                </button>
	    </td>
	    <td>
		{% if not u.bsdusr_builtin %}
                <button dojoType="dijit.form.Button" type="button">
                    {% trans "Modify User" %}
                    <script type="dojo/method" event="onClick" args="evt">
                        editObject('{% trans "Modify User"|force_escape %}', '{% url freeadmin_model_edit app="account",model="bsdUsers",oid=u.id %}?deletable=false', [this,]);
                    </script>
                </button>
                <button dojoType="dijit.form.Button" type="button">
                    {% trans "Auxiliary Groups" %}
                    <script type="dojo/method" event="onClick" args="evt">
                        editObject('{% trans "Modify User"|force_escape %}', '{% url account_bsduser_groups object_id=u.id %}', [this,]);
                    </script>
                </button>
		{% endif %}
	    </td>
	    <td>
		{% if not u.bsdusr_builtin %}
                <button dojoType="dijit.form.Button" type="button">
                    {% trans "Remove User" %}
                    <script type="dojo/method" event="onClick" args="evt">
                        editObject('{% trans "Delete User"|force_escape %}', '{% url freeadmin_model_delete app='account',model='bsdUsers',oid=u.id %}', [this,]);
                    </script>
                </button>
		{% endif %}
	    </td>
	</tr>
	{% empty %}
	<tr>
	    <td colspan="8">No users defined</td>
	</tr>
	{% endfor %}
	<tr>
	    <td colspan="8">
                <div style="padding:12px;">
                    <button dojoType="dijit.form.Button" type="button">
                        {% trans "Add New User" %}
                        <script type="dojo/method" event="onClick" args="evt">
                            addObject('{% trans "Add New User"|force_escape %}', '{% url freeadmin_model_add app="account",model="bsdUsers" %}', [this,]);
                        </script>
                    </button>
                </div>
	    </td>
	</tr>
    </tbody>
    <thead class="ghead">
        <td>{% trans "ID" %}</td>
        <td>{% trans "Username" %}</td>
        <td>{% trans "Group" %}</td>
        <td>{% trans "Home" %}</td>
        <td>{% trans "Shell" %}</td>
        <td>{% trans "Password" %}</td>
        <td colspan="2">{% trans "E-mail" %}</td>
    </thead>
    <tbody>
	{% for u in bsduser_list_builtin %}
	<tr class="{% cycle 'odd' 'even' %}">
	    <td>
		{{ u.bsdusr_uid }}
	    </td>
	    <td>
		{{ u.bsdusr_username }}
	    </td>
	    <td>
		{{ u.bsdusr_group.bsdgrp_group }}
	    </td>
	    <td>
		{{ u.bsdusr_home }}
	    </td>
	    <td>
		{{ u.bsdusr_shell }}
	    </td>
	    <td>
                <button dojoType="dijit.form.Button" type="button">
                    {% trans "Change Password" %}
                    <script type="dojo/method" event="onClick" args="evt">
                        editObject('{% trans "Change Password"|force_escape %}', '{% url freeadmin_model_edit app="account",model="bsdUsers",oid=u.id,mf="bsdUserPasswordForm" %}?deletable=false', [this,]);
                    </script>
                </button>
	    </td>
	    <td>
                <button dojoType="dijit.form.Button" type="button">
                    {% trans "Change E-mail" %}
                    <script type="dojo/method" event="onClick" args="evt">
                        editObject('{% trans "Change E-mail"|force_escape %}', '{% url freeadmin_model_edit app="account",model="bsdUsers",oid=u.id,mf="bsdUserEmailForm" %}?deletable=false', [this,]);
                    </script>
                </button>
	    </td>
	    <td>
		{% if not u.bsdusr_builtin %}
                <button dojoType="dijit.form.Button" type="button">
                    {% trans "Modify User" %}
                    <script type="dojo/method" event="onClick" args="evt">
                        editObject('{% trans "Modify User"|force_escape %}', '{% url freeadmin_model_edit app="account",model="bsdUsers",oid=u.id %}?deletable=false', [this,]);
                    </script>
                </button>
                <button dojoType="dijit.form.Button" type="button">
                    {% trans "Auxiliary Groups" %}
                    <script type="dojo/method" event="onClick" args="evt">
                        editObject('{% trans "Modify User"|force_escape %}', '{% url account_bsduser_groups object_id=u.id %}', [this,]);
                    </script>
                </button>
		{% endif %}
	    </td>
	    <td>
		{% if not u.bsdusr_builtin %}
                <button dojoType="dijit.form.Button" type="button">
                    {% trans "Remove User" %}
                    <script type="dojo/method" event="onClick" args="evt">
                        editObject('{% trans "Remove User"|force_escape %}', '{% url freeadmin_model_delete app='account',model='bsdUsers',oid=u.id %}', [this,]);
                    </script>
                </button>
		{% endif %}
	    </td>
	</tr>
	{% empty %}
	<tr>
            <td colspan="8">{% trans "No users defined" %}</td>
	</tr>
	{% endfor %}
    </tbody>
</table>
