{% load i18n %}
<table class="grid">
    <thead class="ghead">
        <td>{% trans "ID" %}</td>
        <td>{% trans "Username" %}</td>
        <td>{% trans "Group" %}</td>
        <td>{% trans "Home" %}</td>
        <td>{% trans "Shell" %}</td>
        <td>{% trans "Password" %}</td>
        <td>{% trans "Modify" %}</td>
        <td>{% trans "Remove" %}</td>
    </thead>
    <tbody>
	{% for u in bsduser_list %}
	<tr class="{% cycle 'odd' 'even' %}">
	    <td>
		{{ u.bsdusr_uid }}
	    </td>
	    <td>
		{{ u.bsdusr_username }}
	    </td>
	    <td>
		{{ u.bsdusr_group.bsdgrp_group }}
	    </td>
	    <td>
		{{ u.bsdusr_home }}
	    </td>
	    <td>
		{{ u.bsdusr_shell }}
	    </td>
	    <td>
		<button dojoType="dijit.form.Button" type="button"
                    onClick="editObject('{% trans "Change Password" %}', '{% url freeadmin_model_edit app="account",model="bsdUsers",oid=u.id,mf="bsdUserPasswordForm" %}?deletable=false', [this,]);">{% trans "Change Password" %}</button>
	    </td>
	    <td>
		{% if not u.bsdusr_builtin %}
                <button dojoType="dijit.form.Button" type="button" onClick="editObject('{% trans "Modify User" %}', '{% url freeadmin_model_edit app="account",model="bsdUsers",oid=u.id %}?deletable=false', [this,]);">{% trans "Modify User" %}</button>
                <button dojoType="dijit.form.Button" type="button" onClick="editObject('{% trans "Modify User" %}', '{% url account_bsduser_groups object_id=u.id %}', [this,]);">{% trans "Auxiliary Groups" %}</button>
		{% endif %}
	    </td>
	    <td>
		{% if not u.bsdusr_builtin %}
                <button dojoType="dijit.form.Button" type="button" onClick="editObject('{% trans "Delete User" %}', '{% url freeadmin_model_delete app='account',model='bsdUsers',oid=u.id %}', [this,]);">{% trans "Remove User" %}</button>
		{% endif %}
	    </td>
	</tr>
	{% empty %}
	<tr>
	    <td colspan="8">No users defined</td>
	</tr>
	{% endfor %}
	<tr>
	    <td colspan="8">
                <div style="padding:12px;"><button dojoType="dijit.form.Button" type="button" onClick="addObject('{% trans "Add New User" %}', '{% url freeadmin_model_add app="account",model="bsdUsers" %}', [this,]);">{% trans "Add New User" %}</button></div>
	    </td>
	</tr>
    </tbody>
    <thead class="ghead">
        <td>{% trans "ID" %}</td>
        <td>{% trans "Username" %}</td>
        <td>{% trans "Group" %}</td>
        <td>{% trans "Home" %}</td>
        <td>{% trans "Shell" %}</td>
        <td colspan="3">{% trans "Password" %}</td>
    </thead>
    <tbody>
	{% for u in bsduser_list_builtin %}
	<tr class="{% cycle 'odd' 'even' %}">
	    <td>
		{{ u.bsdusr_uid }}
	    </td>
	    <td>
		{{ u.bsdusr_username }}
	    </td>
	    <td>
		{{ u.bsdusr_group.bsdgrp_group }}
	    </td>
	    <td>
		{{ u.bsdusr_home }}
	    </td>
	    <td>
		{{ u.bsdusr_shell }}
	    </td>
	    <td>
                <button dojoType="dijit.form.Button" type="button" onClick="editObject('{% trans "Change Password" %}', '{% url freeadmin_model_edit app="account",model="bsdUsers",oid=u.id,mf="bsdUserPasswordForm" %}?deletable=false', [this,]);">{% trans "Change Password" %}</button>
	    </td>
	    <td>
		{% if not u.bsdusr_builtin %}
                <button dojoType="dijit.form.Button" type="button" onClick="editObject('{% trans "Modify User" %}', '{% url freeadmin_model_edit app="account",model="bsdUsers",oid=u.id %}?deletable=false', [this,]);">{% trans "Modify User" %}</button>
                <button dojoType="dijit.form.Button" type="button" onClick="editObject('{% trans "Modify User" %}', '{% url account_bsduser_groups object_id=u.id %}', [this,]);">{% trans "Auxiliary Groups" %}</button>
		{% endif %}
	    </td>
	    <td>
		{% if not u.bsdusr_builtin %}
                <button dojoType="dijit.form.Button" type="button" onClick="editObject('{% trans "Remove User" %}', '{% url freeadmin_model_delete app='account',model='bsdUsers',oid=u.id %}', [this,]);">{% trans "Remove User" %}</button>
		{% endif %}
	    </td>
	</tr>
	{% empty %}
	<tr>
            <td colspan="8">{% trans "No users defined" %}</td>
	</tr>
	{% endfor %}
    </tbody>
</table>
