{% load i18n %}
<div data-dojo-type="dijit.layout.TabContainer" title="{% trans "My Account" %}"  nested="true" style="width:100%;" doLayout="true" id="tab_account">
        
    <div data-dojo-type="dijit.layout.ContentPane" title="{% trans "Change Admin User" %}" tab="account.ChangeAdmin" {% if focus_form == "account.ChangeAdmin" %} selected="true"{% endif %} href="{% url account_changeform %}" class="objrefresh">
        </div>

        <div data-dojo-type="dijit.layout.ContentPane" title="{% trans "Change Password" %}" tab="account.ChangePass" {% if focus_form == "account.ChangePass" %} selected="true"{% endif %} href="{% url account_passform %}" class="objrefresh">
        </div>

        <div data-dojo-type="dijit.layout.ContentPane" title="{% trans "Groups" %}" tab="account.bsdGroups.View" {% if focus_form == "account.bsdGroups.View" %}selected="true"{% endif %} class="objrefresh data_account_bsdGroups" href="{% url account_bsdgroup %}" style="overflow-y:scroll;" refreshOnShow="true">
        </div>

        <div data-dojo-type="dijit.layout.ContentPane" title="{% trans "Users" %}" tab="account.bsdUsers.View" {% if focus_form == "account.bsdUsers.View" %}selected="true"{% endif %} class="objrefresh data_account_bsdUsers" href="{% url account_bsduser %}" style="overflow-y:scroll;" refreshOnShow="true">
        </div>

    </div>
