{% load i18n %}
<div data-dojo-type="dijit.layout.TabContainer" data-dojo-props="title: '{% trans "My Account"|force_escape|force_escape %}', nested: true, doLayout: true" style="width:100%;" id="tab_account">
    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Change Admin User"|force_escape|force_escape %}'
    {% if focus_form == "account.ChangeAdmin" %}, selected: true{% endif %},
    href: '{% url account_changeform %}'" class="objrefresh" tab="account.ChangeAdmin">
    </div>

    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Change Password"|force_escape|force_escape %}'
    {% if focus_form == "account.ChangePass" %}, selected: true{% endif %},
    href: '{% url account_passform %}'" class="objrefresh" tab="account.ChangePass">
    </div>

    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Groups"|force_escape|force_escape %}'
    {% if focus_form == "account.bsdGroups.View" %}, selected: true{% endif %},
    href: '{% url account_bsdgroup %}',
    refreshOnShow: true" class="objrefresh data_account_bsdGroups" style="overflow-y:scroll;" tab="account.bsdGroups.View">
    </div>

    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: '{% trans "Users"|force_escape|force_escape %}'
    {% if focus_form == "account.bsdUsers.View" %}, selected: true{% endif %},
    href: '{% url account_bsduser %}',
    refreshOnShow: true" class="objrefresh data_account_bsdUsers" style="overflow-y:scroll;" tab="account.bsdUsers.View">
    </div>

</div>
