
<form data-dojo-type="dijit.form.Form">
<script type="dojo/event" data-dojo-event="onSubmit" data-dojo-args="e">
    formSubmit(this, e, '{% url account_passform %}');
</script>
    <table class="config">
        {% for field in passform %}
        <tr>
            <td>
                <label for="{{ field.auto_id }}_label">
                    {% if field.field.required %}
                        <span class="required">{{ field.label }}</span>
                    {% else %}
                        {{ field.label }}
                    {% endif %}
                </label>
            </td>
            <td>
                {{ field }}
                {{ field.errors }}
            </td>
        </tr>
    {% endfor %}
    </table>
    <button style="margin-top:16px;" data-dojo-type="dijit.form.Button" type="submit" data-dojo-props="type:'submit'" class="submitform" >
        {% trans "Change Admin Password" %}
         <script type="dojo/method" event="onClick" args="evt">
             dojo.attr(this.domNode, "oldlabel", this.get('label'));
             this.set('label', '{% trans "Please wait..."|force_escape|force_escape %}');
         </script>
    </button>
</form>
