{% extends "freeadmin/generic_form.html" %}
{% block form %}

<div data-dojo-type="freeadmin/Progress" style="width: 300px" data-dojo-id="importProgress" data-dojo-props="mode: 'import', poolUrl: '{% url 'certificate_progress' %}', importProgress: true">
    <script type="dojo/method" data-dojo-event="onFinished">

    submitCertificateForm('btn_cert_create');

    </script>
</div>

{% endblock %}

{% block onSubmit %}
doSubmit({
    form: this,
    event: e,
    url: '{{ certificate_url }}'
});
{% endblock %}

{% block buttons %}
    <button id="btn_cert_create" style="display: none;" data-dojo-type="dijit.form.Button" type="submit" data-dojo-props="type:'submit'" class="submitform">
        {% trans "OK" %}
    </button>

{% endblock %}
