<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="system-menu" label="System">
  <item label="PC-BSD Control Panel">
    <action name="Execute">
      <command>pc-controlpanel</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
     </action>  
   </item>
   <item label="AppCafe">
    <action name="Execute">
      <command>appcafe</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
     </action>  
   </item>
   <item label="PC-BSD Handbook">
    <action name="Execute">
      <command>/usr/local/share/pcbsd/scripts/openhandbook.sh</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
     </action>  
   </item>
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <menu id="system-menu"/>
  <separator />
  <item label="xterm">
    <action name="Execute">
      <command>xterm</command>
    </action>
  </item>
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
